[2019-04-23 09:08] siamaksade opened #4 "List pipelines"
Add a command to list pipelines. For each pipeline, the following details should be displayed in addition to the pipeline details:
* Last pipeline-run name
* Last pipeline-run time started
* Last pipeline-run duration
* Last pipeline-run status

[2019-04-23 09:12] siamaksade opened #5 "Display pipeline-run logs"
Add a command to display pipeline runs for a specified pipeline.

**Inputs (Required):** pipeline-run name
**Input (Optional):** task name
**Output:** show logs from the pipeline-run. If the task name is specified, then only logs from that specific task are displayed

It should also be possible to follow logs in real time

[2019-04-23 09:13] siamaksade opened #6 "Display pipeline details"
Add a command to display the details of a pipeline

**Input:** pipeline name
**Output:** pipeline details and list of last 10 pipeline-runs

The pipeline details include:
* Name
* Resources
* Task names inlined

For each pipeline-run the following details should be printed:
* Name
* Time started
* Duration
* Status (Succeeded, Failed, Cancelled, Running, Paused etc)

[2019-04-23 09:16] siamaksade opened #7 "List pipeline runs"
**Input (Required):** pipeline name
**Output:** list of pipeline-runs for the given pipeline. For each pipeline-run the following details should be printed:
* Name
* Time started
* Duration
* Status (Succeeded, Failed, Cancelled, Running, Paused etc)

[2019-04-23 09:17] siamaksade opened #8 "Display pipeline run details"
**Input (Required):** name of the pipeline-run

**Output:** pipeline-run details and relevant logs

* Name
* Resources
* Tasks and their status
* Pipeline-run total status
* Time started
* Duration
* What triggered the pipeline (in case of git trigger, git commit associated with the pipeline)
* Status

If the pipeline has fail, the reason for failure should be displayed

[2019-04-23 09:19] siamaksade opened #9 "Trigger pipeline"
**Input (Required):** pipeline name

**Input:** pipeline resources (infer values when possible e.g. git from current dir)

**Input:** pipeline parameters

**Output:** create a pipeline-run and the resources and print the name of the pipeline-run

Ideally, it should be possible to run a minimal command like `tkn trigger foo-pipeline` in order to trigger a pipeline with resources being populated aut

[2019-04-23 09:20] siamaksade opened #10 "Display task run logs"
**Input (Required):** task-run name

**Output:** show logs from all the steps in the task-run

Follow mode to show and follow logs in real time

Similar to #5

[2019-04-23 09:21] siamaksade opened #11 "List tasks"
Add a command to list tasks

[2019-04-23 09:28] siamaksade opened #12 "Cancel pipeline run"
**Input (Required):** pipeline-run name

**Output:** cancel the running pipeline-run

[2019-04-23 09:30] siamaksade opened #13 "Cancel task run"
**Input (Required):** task-run name

**Output:** Cancel the running task-run

[2019-04-24 06:13] sthaha commented on #4
/assign @sthaha

[2019-04-24 07:01] vdemeester commented on #4
/assign @sthaha

[2019-05-07 12:03] #7 closed

[2019-05-12 15:44] vdemeester opened #21 "Use `clientcmd` for k8s common flags (default namespace)"
[`clientcmd`](https://godoc.org/k8s.io/client-go/tools/clientcmd) from k8s and [`cli-runtime`](https://godoc.org/k8s.io/cli-runtime) hold some useful helpers to define common flags and create clients from them easily.

An example would be to use `clientcmd.NewNonInteractiveDeferredLoadingClientConfig`. The main goal for this is to make sure we get the *current* context and thus the correct default

[2019-05-12 15:46] vdemeester opened #22 "`tkn` should fail in case of invalid subcommands"
When a subcommand is invalid **but** have a flag (here `-n`) it should still fail, but it currently does not.

# Expected Behavior

[code]

# Actual Behavior

[code]

[2019-05-13 15:51] vdemeester commented on #4
#20 is merge, we can close this one
/close

[2019-05-13 15:51] #4 closed

[2019-05-14 05:28] hrishin opened #25 "[refactor] Improve list pipelinerun command"
At present, the tests for list pipelinerun command are hard to understand. Also, it should to use the new packages and some tets utils in order to bring consistency with other list commands.

[2019-05-14 15:00] vdemeester commented on #25
/assign @hrishin

[2019-05-15 07:08] #11 closed

[2019-05-15 19:14] #25 closed

[2019-05-17 09:40] hrishin opened #31 "Auto completion support for the zsh shell"
# Expected Behavior
Add `zsh shell` support for `tkn completion SHELL` command.
[code]
# Actual Behavior
At this moment `tkn completion SHELL` supports `bash shell`.

[2019-05-17 10:15] hrishin opened #32 "completion command help message formatting"
# Expected Behavior
`tkn completion -h` should display help message like
[code]

# Actual Behavior
It shows output somewhat like following

[code]

[2019-05-17 12:05] #32 closed

[2019-05-17 14:38] vdemeester commented on #5
/close

[2019-05-17 14:38] #5 closed

[2019-05-18 15:51] #21 closed

[2019-05-20 09:57] hrishin opened #35 "Command name and description inconsistency"
The command name is inconsistent for a `pipelinerun` instance. It should be in singular form.

# Expected Behavior
[code]

# Actual Behavior
[code]

[2019-05-20 10:15] #35 closed

[2019-05-21 14:52] ndeloof commented on #22
Built from master (9c9cf45286ea294d51e5d62e4b5ae21cc44a4fd5) and an invalid subcommand (with or without flag) don't return a failure status

[code]

[2019-05-27 12:13] chmouel opened #38 "RFE: Interactive prompt when asking for choices"
It would be nice when asking for multiple choices unless overriden by a CLI switch to have an interactive prompt like the for example the way `jenkinx-x/jx` is doing.

This is the library used here :

https://github.com/AlecAivazis/survey

An example of multiple choices :

![image](https://user-images.githubusercontent.com/98980/58419012-b3631200-8089-11e9-97fe-6b7dfa8d016d.png)

In practice this

[2019-05-27 12:29] chmouel commented on #31
/assign

Related :

https://github.com/tektoncd/cli/blob/92d202682b87f8d92e2f7ecb502c3c78823dcaed/pkg/cmd/completion/completion.go#L46-L56

Trying to enable it with :

[code]

and then inspect the generation from `tkn completion zsh` it seems that the completion generated is supposed to go in your [fpath](http://zsh.sourceforge.net/Doc/Release/Functions.html) and cannot be evaluated directly. If I

[2019-05-27 12:31] chmouel commented on #31
/kind  enhancement

[2019-05-27 12:37] chmouel commented on #31
Reading a bit more about this, kubectl is even sneakier, they won't use any of the stuff from cobra GenZSH completion they are doing it via the `bashcominit` bash completion to zsh  extension, probably because it predate the support of zsh completion in cobra :

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/completion/completion.go#L302

[2019-05-27 13:28] vdemeester commented on #31
/close

[2019-05-27 13:28] #31 closed

[2019-05-27 13:40] chmouel commented on #22
Just to add a bit more info, from master as of today, I am getting :

[code]

but when the kubeConfiguration is set properly it would exit 0 when it should have been 1

[2019-05-27 13:40] chmouel commented on #22
/assign

[2019-05-28 08:22] piyush-garg commented on #8
/assign

[2019-05-28 08:24] pradeepitm12 commented on #6
/assign

[2019-05-28 11:28] siamaksade opened #45 "Add to the Krew plugin index"
[Krew](https://github.com/kubernetes-sigs/krew/) is the plugin manager for `kubectl`. Tekton CLI should be added to the Krew plugin index to make it easy to discover and install it:
https://github.com/kubernetes-sigs/krew-index

[code]

[2019-05-28 13:27] #8 closed

[2019-05-28 13:31] piyush-garg opened #46 "Use go template for output"
In the pipeline describe and pipeline run describe, we are defining constants and using them later for the table header and body while printing the output.

1. https://github.com/tektoncd/cli/blob/8ef40b2e99647e261d4dc6f3ac6ac3a2306de72f/pkg/cmd/pipeline/describe.go#L31
2. https://github.com/tektoncd/cli/blob/8ef40b2e99647e261d4dc6f3ac6ac3a2306de72f/pkg/cmd/pipelinerun/describe.go#L30

we can use

[2019-05-28 13:34] piyush-garg commented on #6
Fixed with #37 and #44

[2019-05-28 13:41] vdemeester commented on #6
/close

[2019-05-28 13:41] vdemeester commented on #46
/kind enhancement

[2019-05-28 13:41] vdemeester commented on #46
/kind feature

[2019-05-28 14:14] cpanato commented on #46
can I try this one?

[2019-05-28 15:19] chmouel commented on #45
Relevant: https://github.com/kubernetes-sigs/krew/blob/master/docs/DEVELOPER_GUIDE.md

[2019-05-28 15:30] chmouel commented on #45
it only need to have a [manifest](https://github.com/kubernetes-sigs/krew/blob/master/docs/DEVELOPER_GUIDE.md#writing-a-plugin-manifest) written and uploaded to the [krew index,](https://github.com/kubernetes-sigs/krew-index/tree/master/plugins). We may want to wait to release a 1.0 or something stable and feature-ful enough before proposing it to the krew index?

:

[code]

[2019-05-29 08:21] vdemeester opened #47 "Create release docs and scripts"
We'll need to release [`0.1.0`](https://github.com/tektoncd/cli/milestone/1) soon, and for that we need to write release docs and scripts

- using [`gorelease`](https://goreleaser.com/) to auto-publish
- using Tekton Pipeline to do the release (inspiration from [here](https://github.com/tektoncd/pipeline/tree/master/tekton)
- docs that say : what to execute, when :angel:

/assign

[2019-05-29 09:53] siamaksade opened #48 "Add docs for CLI commands"
Document how to download an use the CLI, commands, etc

[2019-05-30 08:16] piyush-garg commented on #12
/assign

[2019-05-31 02:04] poy opened #53 "Proposal: Add mattmoor/kontext to repo"
[mattmoor/kontext](https://github.com/mattmoor/kontext) is a useful way to package a local directory up and store it in a container registry.

This is useful for when a user would like to upload a directory without requiring access to a new data plane (e.g., GCP's Cloud Storage).

/cc @mattmoor

[2019-05-31 08:16] chmouel commented on #53
This would be nice but I wonder how tekton would be able to access it if it's not in a remote data plane somewhere,

[2019-05-31 08:50] vdemeester commented on #53
Yeah we need to have a story on pipeline too for binary or source to image without a got resources builds

[2019-05-31 14:25] poy commented on #53
So would this belong here or somewhere else?

[2019-05-31 14:51] poy commented on #53
@chmouel would tekton not have access to a container registry?

[2019-06-03 13:14] vdemeester commented on #22
It is still failing :sweat:

[code]

[2019-06-03 13:15] vdemeester commented on #22
/assign

[2019-06-04 04:52] #22 closed

[2019-06-04 08:15] pradeepitm12 commented on #10
Fixed with #52

[2019-06-04 09:39] vdemeester commented on #10
/close

[2019-06-04 09:39] #10 closed

[2019-06-04 12:43] siamaksade opened #57 "Short-hand command for latest pipelinerun logs"
Quite often a user would want to look at the latest pipelinerun of a certain pipeline. The current flow requires two steps:
1) fnd out the name of that pipelinerun via `tkn pipeline describe` or `tkn pr ls`
2) see logs using the `tkn pr logs [pipelinerun-name]` command.

It would be helpful to simplify that by providing a shortcut command that shows the logs for the latest pipelinerun that is star

[2019-06-04 12:59] chmouel commented on #57
+100 to this, when there is nothing else let's choose the better default!

I'd love to have a easy flow as this in the CLI  :

https://asciinema.org/a/oOg6fcDLmskA6tVi3gTacmKAp

[2019-06-04 14:29] siamaksade opened #59 "Sort pipelineruns based on time started"
The pipelinerun list is current sorted on pipelinerun names:
[code]
It should be sorted based on time started instead with latest showing up at the top.

[2019-06-04 15:00] siamaksade commented on #53
@poy it would be very useful to skip the registry and stream the packaged local directory directly to a pipeline

[2019-06-04 15:58] poy commented on #53
@siamaksade I haven't given it deep thought, but my initial gut says that has quite a few edge cases that could make it brittle. Can you retry a pipeline if something goofs? Where is the directory stored?

[2019-06-04 16:06] siamaksade commented on #53
Agree that retry wouldn't make sense for this use-case. The use-case is to allow a developer to run their local changes through the pipeline for example on minikube before committing them to the git repository.

[2019-06-04 16:25] poy commented on #53
Is auth a concern then?

[2019-06-04 21:14] siamaksade opened #61 "Add a command for installing Tekton"
Installing Tekton Pipelines on a cluster can be simplified using the CLI:
[code]

The command would configure the cluster (minikube, GCP, OpenShift, etc) and installs Tekton Pipelines.

[2019-06-05 07:34] siamaksade commented on #53
How do you mean?

[2019-06-05 09:40] siamaksade commented on #9
More details on the trigger use-cases added in this [Google Doc](https://docs.google.com/document/d/1M52K5PhWkNXXw8Mfg1CEzDHP4NUmZZs0Z2okq0rrsAM/edit?usp=sharing)

[2019-06-05 11:11] siamaksade opened #62 "Commands with no verb specified should default to list"
When possible, if there are no verbs specified for a command then it should default to `list` if it is relevant for that command.

For example the following should show the list of pipelines.

[code]

Currently it defaults to the `-h` and prints the help docs.

[2019-06-05 11:37] vdemeester opened #63 "Add `--watch` features to list commands"
`tkn` should provide the same feature as `kubectl get … --watch`, aka watching changes for list.

[code]

This applies to the runtime field
- [ ] `taskrun`
- [ ] `pipelinerun`

/kind enhancement

[2019-06-05 13:25] siamaksade opened #64 "Show failure reason when a pipelinerun fails"
The `tkn pr describe` command does not include any details when a pipeline run fails:
[code]

While this info is available on the status:

[code]

[2019-06-05 14:21] hrishin opened #65 "Remove the unwanted flags from help note"
# Expected Behavior
The `help` menu should not show any unwanted flags.

# Actual Behavior
It shows `--azure-container-registry-config` flag
![image](https://user-images.githubusercontent.com/28615674/58963590-19a70d80-87cb-11e9-86ea-05a36e90dbad.png)

# Additional Info
This flag coming from `k8s` golang dependency.

[2019-06-05 15:24] siamaksade opened #66 "PipelineRun details should show the task names"
The pipelinerun details shows the taskrun names but not the task names which which makes it difficult to use the `-t` flag with `tkn pr logs` to limit the logs displayed:

[code]
A column should be added to show the task name as well.

The use-case is for a user to be able to run the following
[code]

Find out the task names and then run
[code]

[2019-06-05 15:30] vdemeester commented on #66
/kind feature

[2019-06-07 10:07] chmouel commented on #63
what difference would that compared to  `kubectl watch` ?

[2019-06-11 09:08] piyush-garg commented on #64
/assign

[2019-06-12 07:28] piyush-garg commented on #64
@siamaksade

If you see the reason is getting printed on the status column in a bracket like
[code]

Do you mean printing the message in case of failure?

[2019-06-12 08:13] siamaksade commented on #64
Yes, the message usually includes more details about the failure.

On Wed, 12 Jun 2019 at 09:28, Piyush Garg <notifications@github.com> wrote:

[2019-06-13 09:03] piyush-garg commented on #66
/assign

[2019-06-13 10:14] hrishin opened #75 "Display pipelinerun and taskrun logs in realtime using follow mode"
Add a feature/flag to display PipelineRuns/TaskRuns logs for a specified pipeline in real-time.

**Inputs (Required):** PipelineRuns/TaskRuns name to respective logs commands
**Output:** show logs from the PipelineRuns/TaskRuns to follow logs in real-time

[code]

[2019-06-14 01:08] #66 closed

[2019-06-14 10:24] vdemeester opened #80 "tkn pipelinerun describe should hide serviceaccount if not present"
If no ServiceAccount are attached to the PipelineRun, we should hide the information (or display `<none>`.

Currently it displays :

[code]

[2019-06-14 10:28] vdemeester opened #81 "The TaskRun list in the pipelinerun describe has undefined order"
The list of `TaskRun` present in the `pipelinerun describe` command are appearing in random order.  I think they should always appear in the same order.

[code]

[2019-06-14 10:33] vdemeester opened #82 "Should PipelineRun describe list the Task in addition (or with) the TaskRun"
Currently, `tkn pipelinerun describe my-run` display the TaskRun attached to the PipelineRun.

This means:
- The list varies depending on the status of the PipelineRun as it only display the TaskRun that have been created.
- If the PipelineRun, there is no way to see how many Task(s) succeeded before the failure.

I think we should show the Pipeline Task for the PipelineRun, either merged with the

[2019-06-14 12:48] poy commented on #53
@siamaksade Using a container registry to store the local directory implies the developer has write access to the registry. We can just piggy back on that auth.

However, if we push directly to the pipeline pod, then the pod will have to have an external IP with an exposed endpoint. This endpoint ideally is also secured somehow, but that means we'll have to solve for that.

[2019-06-14 13:06] vdemeester commented on #53
Related issue upstream (I think) : https://github.com/tektoncd/pipeline/issues/924

[2019-06-14 13:49] mattmoor commented on #53
Streaming the build context to the Pod is (probably?) going to be secure if proxied by the API server, which creates unnecessary API Server load (I believe the OpenShift folks pointed this out early in the `knative/build` days, cc @bparees), and it's unclear that cluster-admins would allow this in general.  I'm also unsure if this would work with mTLS enabled on a cluster with mesh (worth testing)

[2019-06-14 14:48] bparees commented on #53
This is what we do for what we call "binary" builds in openshift, but yes there are open (but as yet unrealized) concerns about apiserver load.

[2019-06-17 08:12] vdemeester opened #83 "Enhance logs failure message in case of a task failing"
# Expected Behavior

When a Task fails, `tkn taskrun logs` (or `tkn pipelinerun logs`) should display something like `Step release has failed : some-error-message here`.

# Actual Behavior

It currently display : `failed to get logs for task release : container step-release has failed  : Error`

![2019-06-17-100207](https://user-images.githubusercontent.com/6508/59588683-774f2a00-90e8-11e9-8748-b2

[2019-06-17 08:34] #48 closed

[2019-06-17 08:34] #47 closed

[2019-06-17 08:43] chmouel opened #84 "Create a brew installation reciepe on OSX"
Brew is a popular installer on OSX, provide a way to installs tekton-cli with it.

https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap

[2019-06-17 08:45] chmouel commented on #84
/assign

[2019-06-17 12:24] hrishin opened #88 "Fix log command tech depts (refactoring)"
- Replace[ step sorter](https://github.com/tektoncd/cli/pull/76#discussion-diff-294167529R107) (pods container iteration) with `taskrun status`
  [#Ref](https://github.com/tektoncd/pipeline/commit/8552f8bdead8e304611ef12d71489248e96d246d#diff-ccd231265a8c68ecb3e8bae3a6e565cf)
- [Extract](https://github.com/tektoncd/cli/pull/76#discussion_r293479646) the `log_reader` and `log_writter` to respective

[2019-06-17 12:25] hrishin commented on #88
It could involve other enhancements like https://github.com/tektoncd/cli/issues/83

[2019-06-17 12:35] hrishin opened #89 "Fix log command references in the doc"
# Expected Behavior
`pipelinerun` (`taskrun`) doc should have the link for `logs` and `describe` subcommands

# Actual Behavior
`pipelinerun` (`taskrun`) doc dont have any links for the above subcommands

[2019-06-17 13:25] #89 closed

[2019-06-18 05:56] chmouel commented on #84
Done here https://github.com/chmouel/homebrew-tektoncd-cli/

And integrate to gorelease by @vdemeester commit https://github.com/tektoncd/cli/commit/a2385f2f2f21048a0286a1ef6e3cc5060cc36773

[2019-06-18 05:56] #84 closed

[2019-06-18 05:58] chmouel opened #93 "Object completions for shell completion"
# Expected Behavior

[code]

# Actual Behavior

completion system don't offer anything else than completion for arguments and keywords, not objects (as which pipelineruns)

[2019-06-18 05:59] chmouel commented on #93
/assign

[2019-06-18 17:55] #80 closed

[2019-06-18 18:58] piyush-garg commented on #80
/assign me

[2019-06-19 03:25] #75 closed

[2019-06-19 06:24] siamaksade opened #95 "Version command should return the version"
The `tkn version` command currently returns `dev` instead of the cli version:

[code]

[2019-06-19 06:52] chmouel commented on #95
This is fixed in https://github.com/tektoncd/cli/commit/2e29b9fb8abf7d5c1b41729720ec9b86451324f7 I believe we would need to make a new release to be able to "apply" it

[2019-06-19 08:54] chmouel opened #99 "Move brew taps from chmouel/homebrew-tektoncd-cli to something more official"
We currently have the brews in https://github.com/chmouel/homebrew-tektoncd-cli/
and we should have it to something more official :

Suggestions :

1. Move it to homebrew [core](https://docs.brew.sh/Acceptable-Formulae) (what does it involves)
2. Move it in a `Formula` folder  in `tektoncd/cli` (is it possible ?)
3. Move it to the `tektoncd` organisation as `tektoncd/homebrew-tektoncd-cli/`

/kind

[2019-06-19 08:55] hrishin commented on #59
/kind feature

[2019-06-19 10:01] vdemeester commented on #95
[`v0.1.1`](https://github.com/tektoncd/cli/releases/tag/v0.1.1) is release with that fix :angel:
We can close :wink:.

[2019-06-19 10:01] #95 closed

[2019-06-19 10:08] chmouel opened #103 "Add a --template output to tkn"
In the spririt of `kubectl --template` or even like docker's cli :

`--format string   Pretty-print containers using a Go template`

We need a way to output machine readable so that well machine (like the shell
completion for example) can consume it easily.

1. Reimplement `kubectl --template` ?
2. Reimplement a simplier `kubectl --template`  with only the minimal feature
3. Do like `docker --form

[2019-06-19 10:11] vdemeester commented on #103
/kind feature
/kind design

[2019-06-19 11:20] chmouel opened #105 "Add an option to logs to not show the task name on the left"
We currently show the task name in blue on the left :

```[build-skaffold-app : step-build-and-push]       --cache                                     Use cache when building image```

which is nice and all but sometime you want to copy and paste nicely the output of the task and have only whatever logs output not something change,

let's have an option like --porcelain (like git porcelain https:/

[2019-06-19 11:20] chmouel commented on #105
/kind feature

[2019-06-19 11:21] chmouel commented on #93
/kind feature

[2019-06-19 11:25] chmouel opened #106 "Add makefile at the top of the directory"
- if like me you rather press `make` than `go build ./...`
- so we can have a `make check` which does all the checks we want without
remembering which tool to launch before submitting PR.
- so we can have a `make release` all centralised and not just in @vdemeester
brain.
- cause makefile were cool in the late 90s, became lame in the 2000s and are
cool again with the go and scala hipsters crowd.

[2019-06-19 11:26] chmouel commented on #106
/kind feature

[2019-06-19 11:33] chmouel opened #107 "Highlight logs snippets (like error/traceback or others)"
This maybe a far fetched idea but let's try, it would be nice if `tkn logs` can
go over the logs messages and higlight some patterns. For example if we have a regexp like this :

[code]

it would match a java error and color match the right fields.

It would be nice if that include :

- [ ] global rules: shipped as part of `tkn`
- [ ] local rules: if user wants to add more rules in a config file
-

[2019-06-19 12:17] hrishin opened #108 "List PipelineResources"
Add command to list `PipelineResources`.

Expected Output:

[code]

[2019-06-19 12:17] hrishin commented on #108
/kind epic

[2019-06-19 12:18] hrishin commented on #108
/kind feature

[2019-06-19 13:04] chmouel opened #110 "Fedora COPR RPM Repo for tkn binaries"
It woudl be nice to have a COPR RPM repo for our user to quickly try tkn on
their rpm based desktop systems.

more info: https://copr.fedorainfracloud.org/

[2019-06-19 13:06] chmouel opened #111 "APT PPA Repo for tkn binaries"
It woudl be nice to have a Ubuntu PPA APT repo for our users to quickly try tkn on
their debs based desktop systems.

more info: https://launchpad.net/ubuntu/+ppas

[2019-06-19 13:11] chmouel commented on #111
/kind feature

[2019-06-19 13:11] chmouel commented on #110
/kind feature

[2019-06-19 13:12] chmouel commented on #93
Merged in #96

[2019-06-19 13:12] #93 closed

[2019-06-19 13:13] chmouel opened #112 "Fix pedantic warnings on brew formula"
If that's even possible with goreleaser output :

[code]

/kind bug

[2019-06-19 13:54] chmouel commented on #103
there is already a --template output as mentionned by @sthaha on objects ie :

![image](https://user-images.githubusercontent.com/98980/59771690-8ed61080-92aa-11e9-9204-9706c0b75caf.png)

[2019-06-19 13:54] #103 closed

[2019-06-20 02:54] hrishin commented on #107
/kind feature

[2019-06-20 02:57] hrishin commented on #108
/kind epic

[2019-06-20 06:39] #112 closed

[2019-06-20 12:48] khrm commented on #110
/assign @khrm

[2019-06-20 14:21] siamaksade opened #117 "Show a message when no logs available yet"
When a pipelinerun is just created and no logs are available, the `tkn pipelinerun logs` returns silently:

[code]

It should print out a message instead to say no logs are available yet or something similar.

[2019-06-20 17:45] hrishin commented on #99
feels right :+1:

[2019-06-20 17:50] hrishin commented on #117
/kind enhancement

[2019-06-21 05:54] chmouel commented on #99
@hrishin which solution feels right?

[2019-06-21 15:22] onyiny-ang opened #118 "Command to list/describe Cluster Tasks"
# Expected Behavior
Along with commands for `pipeline`, `pipelinerun`, `task` and `taskrun` I expected to see `clustertask`

# Actual Behavior
no `clustertask` commands :crying_cat_face:

[2019-06-24 14:49] kameshsampath opened #121 "Adding since option to logs"
It will be nice to have `--since` option to  `logs` command like how https://github.com/boz/kail and https://github.com/wercker/stern to for kubectl logs

[2019-06-24 14:51] kameshsampath opened #122 "Completion listing the respective objects"
Right now after we do `source < (kn completion <shell>)`, its not able to list he existing objects  under respective commands.

e.g. If I run `tkn taskrun logs <tab>` it does not show available taskruns

[2019-06-24 14:56] vdemeester commented on #121
/kind feature

[2019-06-24 15:30] chmouel commented on #122
/assign

[2019-06-24 15:41] chmouel commented on #122
this should work :

https://asciinema.org/a/QxOwVxJ5ARR7cdhzKG11Thqhq

i am using osx/brew here so your mileage may vary, are you sure you have an updated ? we have only added that sometime last week,

[2019-06-24 15:44] kameshsampath commented on #122
i am also using macOS+brew + zsh

[2019-06-24 20:18] chmouel commented on #122
this should work, not sure why you setup is not working,  I just tested it on my workstation and it completed :

<img width="723" alt="image" src="https://user-images.githubusercontent.com/98980/60049156-fb4b7800-96cd-11e9-8400-29257c987c67.png">

[2019-06-25 05:38] kameshsampath commented on #122
let me check, reinstalled the tkn

[2019-06-25 08:04] piyush-garg commented on #108
/assign

[2019-06-25 08:54] siamaksade opened #123 "Command for listing pipeline resources"
Add command to list pipeline resources

[2019-06-25 09:03] siamaksade opened #124 "Print command tips after starting pipeline"
When a pipeline is started, it would be useful to tip the user on what command to run to see the logs for the pipeline run.

For example when running `tkn pipeline start my-pipeline` :
[code]

[2019-06-25 09:37] chmouel opened #125 "add --tail option to logs"
add an option to log to show the last line in the same spriit of kubectl tail option :

[code]

/kind feature

[2019-06-25 09:39] siamaksade commented on #123
Duplicates #108

[2019-06-25 09:39] #123 closed

[2019-06-25 09:39] chmouel commented on #117
@siamaksade how would you know if this is the actual output of the application it may be a stretch but usually when there is no logs I would expect the emptyness is valid, isnt it ?

[2019-06-25 09:40] siamaksade commented on #107
This would be the default behaviour?

[2019-06-25 09:43] siamaksade commented on #82
Also related https://github.com/tektoncd/pipeline/issues/994

It makes sense to show the tasks and attach their task runs

[2019-06-25 10:06] chmouel commented on #107
I think it's useful enough to be the default behaviour,

[2019-06-25 10:12] chmouel opened #126 "Add loglevel tracing option to tkn"
`--loglevel` in for example the `openshift client` is a pretty useful option for debugging and introspectability of what the CLI is doing, it's a good example too for other people who want to talk to tekton rest api on 'how to do stuff'. For example :

![image](https://user-images.githubusercontent.com/98980/60090188-57e87a80-9742-11e9-84ab-60d59bb23176.png)

Add global --loglevel option with the

[2019-06-25 10:12] chmouel commented on #126
/kind feature

[2019-06-25 11:49] kameshsampath commented on #122
@chmouel  - it seem to work with v0.1.2, but i do notice some other discrepancy when using it. let me open a different issue if its consistent.

[2019-06-25 11:58] siamaksade commented on #117
Given that pipelineruns have always some infra containers (git clone, etc)
running, is it possible for a pipelinerune to produce no logs at all?

On Tue, 25 Jun 2019 at 11:39, Chmouel Boudjnah <notifications@github.com>
wrote:

[2019-06-25 12:29] vdemeester commented on #117
@siamaksade yes, by default we don't show the infra logs (aka init logs), so my guess is there is a tiny tiny possibility of having no logs :angel:. But in any case, we know the status of the pipelinerun (aka if it succeeded, failed, so we can act based on it)

[2019-06-25 13:24] chmouel commented on #122
yeah you probably want to keep it up to date and fyi there is a brew repository here :

https://github.com/chmouel/homebrew-tektoncd-cli/

/close

[2019-06-25 13:24] #122 closed

[2019-06-25 13:59] siamaksade commented on #117
@chmouel  @vdemeester I see. Does the following make sense?
- If the pipelinerun is running and no logs: "No logs found yet..."
- If the pipelinerun is NOT running and no logs: "No logs found."

[2019-06-26 05:25] chmouel commented on #117
sounds good, but what about for the second case to say instead :

`Pipeline hasn't started...`

[2019-06-26 06:17] vdemeester commented on #117
If `-f` is present, it will not return until it's not running, so there is not need for this case :angel: — if `-f`is not present, that's another story :wink:

[2019-06-27 10:54] siamaksade commented on #99
1 and 2 feel more right :)

[2019-06-27 12:38] siamaksade commented on #99
Homebrew Casks is also another option: https://github.com/Homebrew/homebrew-cask

Not sure if it has the same limitation (for automation) as homebrew core

[2019-06-27 12:51] hrishin opened #129 "Simplify and automate the documentation process"
At present, all CLI documents are generated manually which

- Makes doc and command help notes inconsistent
- Docs are kind of embedded in the code which also needs to decouple

To avoid such problems,
- Need to define a way to make the documentation process simple and automate the doc. the generation

[2019-06-27 12:51] hrishin commented on #129
/kind feature
/kind doc

[2019-06-27 12:55] chmouel commented on #99
@siamaksade i moved the discussion to https://github.com/tektoncd/plumbing/issues/43 feel free to comment in there,

[2019-07-01 06:47] hrishin commented on #57
Do we really need it? because it could
* redundant for pr logs command
* command appears quite long  `tkn pipleine logs pipeline_name  -pr pr_name`
* not sure about autocompletion would support to give pipelinerun names for that pipeline only

WDYT @siamaksade @vdemeester @sthaha @pradeepitm12 ?

[2019-07-01 07:18] sthaha commented on #57
yes, it does but I don't'think we have to follow [`TOOWTDI`](https://wiki.python.org/moin/TOOWTDI) and we don't adhere to that any since there are alias `pipelineruns | pr`

but is a great way to `filter` by pipeline-name of  autocompletion

I don't see why this isn't technically possible

[2019-07-01 17:05] hrishin commented on #57
Let's go ahead as discussed :+1:

[2019-07-02 09:28] chmouel opened #136 "Implement "Did you mean this" for mistyped command"
Like the way for example kubectl is suggestion changes when we are mistying a command :

[code]

/kind feature

[2019-07-02 09:52] chmouel commented on #136
I wonder what fancy thing we do, since this should be "built-in" with `cobra`

[2019-07-02 12:01] chmouel opened #138 "Upgrade cobra to latest"
We are using 0.0.3 and there is newer version available

/kind bug

[2019-07-02 18:21] danielhelfand opened #139 "Running Root Command tkn Shouldn't Give Error Message"
Currently, running just running `tkn` responds to the user with an error message: `Error: Use one of available subcommands: completion [SHELL], help [command], pipeline, pipelinerun, task, taskrun, version`. It would be better presentation to respond with a description of `tkn`, the version of `tkn`, and the list of available commands for `tkn`.

# Expected Behavior
Run `tkn` and get the following

[2019-07-03 06:17] chmouel commented on #139
This should be fixed with my latest commit in 1c270872a047ece618b117c060e6d34a57f064c1 :

<img width="1325" alt="image" src="https://user-images.githubusercontent.com/98980/60567647-e3799100-9d6a-11e9-8e2c-5874d86fbf96.png">

/close

[2019-07-03 06:17] #139 closed

[2019-07-03 06:41] chmouel commented on #136
/close

[2019-07-03 06:41] #136 closed

[2019-07-03 07:06] #65 closed

[2019-07-03 07:15] chmouel commented on #117
can someone sum up the conclusion? i am confused 🥺

[2019-07-03 07:23] #138 closed

[2019-07-03 08:34] siamaksade commented on #117
Here is a summary with a slight change :)

When `-f` present
- Logs command should wait for output (current implementation)

When `-f` is **NOT** present
- If pipelinerun is running and no logs available, logs command should wait (not return)
- If the pipelinerun is **NOT** running and no logs are available, the command should return and print: “No logs available.”

[2019-07-03 08:59] vdemeester opened #144 "Completion doesn't work well with aliases"
# Expected Behavior

`tkn` with aliases command should still complete correctly.

[code]

# Actual Behavior

It does not.

[code]

/assign @chmouel
/kind bug

[2019-07-03 09:05] vdemeester opened #146 "Remove ` --azure-container-registry-config` from docs"
Based on https://github.com/tektoncd/cli/pull/128#discussion_r299849854, and https://github.com/tektoncd/cli/pull/140 that removed this flag, we need to update the `docs` file to remove this as well

/cc @hrishin
/kind documentation

[2019-07-03 09:06] chmouel commented on #125
/assign

[2019-07-03 09:07] vdemeester opened #147 "Add filter flag to pipelineresource list"
It should be possible to filter the pipelineresource list based on their type.

[code]

Based on https://github.com/tektoncd/cli/pull/128#discussion_r299850358

/kind feature

[2019-07-03 09:08] vdemeester opened #148 "Should pipelineresource be grouped in the list"
Do we want to group pipelineresource by type in `tkn pipelineresource list` ? Or do we want to add an option for that ?

/cc @siamaksade  @sthaha

Based on https://github.com/tektoncd/cli/pull/128/files#r297645542

/kind question
/kind feature

[2019-07-03 09:15] #108 closed

[2019-07-03 09:35] chmouel commented on #146
IMHO we need to spend time auto generating the documentation instead of updating it manually, ie #129

[2019-07-03 09:37] siamaksade commented on #148
Makes sense to me. Grouping means to show as separate blocks or rather sort on type, and then creation time?

[2019-07-03 09:41] vdemeester commented on #146
@chmouel yes might be a better investment :angel: I just wanted to make sure we get those updated, one way or another.

[2019-07-03 09:41] vdemeester commented on #148
I would pictures it like that yes

[2019-07-03 09:41] vdemeester commented on #129
/assign

[2019-07-03 12:28] danielhelfand commented on #139
@chmouel Thanks! Looks good.

[2019-07-03 13:14] hrishin opened #151 "Wrong timie/duration appears in list/describe commands"
# Expected Behavior
tkn list/describe commands should show the correct timing and duration information

# Actual Behavior
![image](https://user-images.githubusercontent.com/28615674/60594340-59f5ad80-9dc2-11e9-9886-e9cd35d4f7af.png)

This how it shows if a client is one timezone and cluster in a different timezone.

/kind bug

[2019-07-03 13:14] #146 closed

[2019-07-03 13:19] hrishin commented on #129
Automating doc generation process could mitigate such kind of issues https://github.com/tektoncd/cli/issues/146

[2019-07-04 06:03] hrishin commented on #148
Yes. Would be also nice to filter resources by one or more types like `tkn list resources -t ImageResource`

[2019-07-04 12:48] chmouel commented on #144
note that it only affects zsh not bash https://asciinema.org/a/UG68rjHxsw4pIz13YsokdoRQC

[2019-07-05 11:22] #144 closed

[2019-07-09 07:49] #129 closed

[2019-07-11 13:13] danielhelfand opened #159 "Way of Seeing Tekton Pipeline Version Through CLI"
/kind feature

This is a request to be able to see what version of Tekton Pipeline is being used through the CLI. These versions would correspond to these [releases](https://github.com/tektoncd/pipeline/releases).

Maybe something like `tkn pipeline version` would respond with `Pipeline Version 0.5` depending on what Pipeline version is being used.

[2019-07-11 13:26] vdemeester commented on #159
@danielhelfand Thanks for the issue. As of now, it's a bit tricky to know the exact version deployed on the cluster as the image used in the release.yaml are using digests (and thus we can't guess the version from there).

cc @bobcatfish I feel we could have some sort of label or annotation on the controller and/or webhook service/deployment that would help *any* client know which version it is.

[2019-07-12 07:20] #59 closed

[2019-07-12 17:28] danielhelfand opened #163 "Limit pipelineruns and taskruns Returned by List Subcommand"
/kind feature

There should be a limit option for both the `pipelinerun` and `taskrun` commands to allow a user to limit how many `pipelinerun`s and `taskrun`s are returned as output. For example:

**Retruns the most recent 10 pipelineruns**

[code]

There should also be a default amount of `pipelineruns` and `taskruns` returned when `tkn pr ls` and `tkn taskrun ls` are run. However, a user specif

[2019-07-12 17:31] danielhelfand commented on #59
Might also be useful to do this for `taskruns` as well.

[2019-07-16 13:58] #118 closed

[2019-07-16 14:13] vdemeester opened #164 "Add support for Parameter Array types"
See https://github.com/tektoncd/pipeline/pull/1080 (https://github.com/tektoncd/pipeline/pull/1080#issuecomment-511829354)

We may also find a way to not fail in those case (when we don't know or can't unmarshal the type :angel: )

[2019-07-16 22:06] ahpook opened #168 "Segfault from `tkn taskrun list` when incomplete run in list"
I was using tkn to try to debug a problem starting the sample 'helloworld' task run, and got a segfault in the `printFormatted` function, due to an unhandled nil in the task output.

# Actual Behavior

See https://gist.github.com/ahpook/9e20ea7395e099e4d21547024bfd40b7 for the error output.

# Expected Behavior

It should not segfault.

# Steps to Reproduce the Problem

1. Follow the hello world t

[2019-07-17 00:23] hrishin commented on #168
Than you @ahpook for reporting an issue with specific details! :+1:

[2019-07-17 02:00] #168 closed

[2019-07-18 15:31] piyush-garg opened #172 "Display pipeline resource details"
**Input (Required):** Name of the pipeline-resource

**Output:** pipeline-resource details

 - Name
 - Namespace
 - Type
 - Params
 - Secret Params

[2019-07-18 15:31] piyush-garg commented on #172
/assign

[2019-07-22 16:29] #172 closed

[2019-07-22 17:29] siamaksade opened #179 "Group commands in help message"
The help message should group the commands into logical groups and order of relevance:

Current behavior:
[code]

Expected behavior:
[code]

[2019-07-23 00:23] #46 closed

[2019-07-24 07:43] piyush-garg commented on #147
/assign

[2019-07-24 14:19] danielhelfand opened #183 "Error Message Should Not Also Display Help Message"
Currently, when an error occurs, the user sees the error message returned and below that message is shown the `--help` output for the command that produced the error.

It's a bit overwhelming to get all of the information from `--help` when the user is not expecting it, and it also makes it difficult to find the error message.

I am proposing in this issue that the Tekton CLI simply return the err

[2019-07-24 17:07] #147 closed

[2019-07-29 18:40] vdemeester commented on #106
/close
It is now the case

[2019-07-29 18:40] #106 closed

[2019-07-29 18:41] vdemeester commented on #9
/close
`start` is implemented

[2019-07-29 18:41] #9 closed

[2019-07-29 18:42] vdemeester commented on #82
/kind feature
/remove-kind question

[2019-07-29 21:12] vdemeester opened #190 "Windows build fails"
[code]

We need to fix that ! And we need to run those builds on the CI !

/assign
/kind bug
/priority critical-urgent

[2019-07-30 11:49] #190 closed

[2019-07-31 13:23] danielhelfand opened #192 "Add Command for Pipeline, Resource, and Task Resources"
This issue is a feature request for the ability to add custom resource definitions for `tekton.dev` resources to a Kubernetes cluster. These resources include:
* `Pipeline`
* `Resource`
* `Task`

Currently, a user must use a second tool to add these custom resources, such as `kubectl` or `oc`. Being able to do this directly through `tkn` would help with having a user not have to go back and forth

[2019-07-31 13:23] danielhelfand commented on #192
/kind feature

[2019-07-31 13:53] vdemeester commented on #192
@danielhelfand can we split this issue in two ? (one for deletion, one for addition)
Thank for creating this ! :hugs:

[2019-07-31 13:54] danielhelfand commented on #192
@vdemeester Yup, no worries. I'll separate this out.

[2019-07-31 14:02] danielhelfand opened #193 "Delete Command for Pipeline, Resource, and Task Resources"
This issue is a feature request for the ability to delete custom resource definitions for `tekton.dev` resources on a Kubernetes cluster. These resources include:
* `Pipeline`
* `Resource`
* `Task`

Currently, a user must use a second tool to delete these custom resources, such as `kubectl` or `oc`. Being able to do this directly through `tkn` would help with having a user not have to go back and

[2019-07-31 14:02] danielhelfand commented on #193
/kind feature

[2019-08-01 21:24] Conky5 opened #195 "`pipeline start` does not use namespace flag if no namespace has been set in current context"
# Expected Behavior

`tkn --namespace <namespace> pipeline start <pipeline>` should always look for pipelines in the given `namespace`.

# Actual Behavior

`tkn --namespace <namespace> pipeline start <pipeline>` looks in the `default` namespace if no namespace is set for the current context.

# Steps to Reproduce the Problem

1. Have an unset namespace for your current cluster context:

[code]

2.

[2019-08-01 23:44] vdemeester commented on #195
/kind bug

[2019-08-03 07:28] girishramnani commented on #179
I can work on this.
Thinking of using Cobra Annotations. https://github.com/spf13/cobra/blob/993cc5372a05240dfd59e3ba952748b36b2cd117/command.go#L82

key for the annotation can be `command_type` or `type` and then two types for now `main` and `utility`. Then I will add the line break the Usage Template of the root command ( currently I cannot find it so probably create one ).
Thoughts?

Example of

[2019-08-03 07:36] girishramnani opened #197 "use of Complete-Validate-Run pattern followed by oc and kubectl"
A suggestion to consider using complete-validate-run pattern ( used by kubectl and oc ) for cli commands.

Resources that will help with refactoring:

Kubernetes extracted some of the kubectl stuff to re-usable libraries https://github.com/kubernetes/cli-runtime
OpenShift released nice CLI Hacking Guide https://github.com/openshift/origin/blob/master/docs/cli_hacking_guide.adoc

[2019-08-05 09:26] #195 closed

[2019-08-05 12:25] girishramnani commented on #179
moving forward on this issue

[2019-08-05 12:28] girishramnani commented on #179
/assign

[2019-08-05 17:10] siamaksade opened #199 "Validate resources on pipeline start"
When starting a pipeline, the CLI should validate that the resources required are provided to the CLI. Currently the CLI creates a pipeline run anyways, which fails due to missing resources

[2019-08-05 17:28] girishramnani commented on #81
we can sort it by recently started or by name to preserve order @vdemeester

[2019-08-06 01:27] danielhelfand commented on #81
@girishramnani Might make sense to do it by start time as this is how it is implemented for `tkn tr ls` by default for `0.2.0`.

[2019-08-06 08:50] vdemeester commented on #81
@girishramnani @danielhelfand Definitely by start time :angel:

[2019-08-06 10:36] girishramnani commented on #81
I can work on this

[2019-08-06 10:40] vdemeester commented on #81
/assign @girishramnani

[2019-08-06 10:41] hrishin commented on #81
@vdemeester wouldn't it be better to sort `TaskRuns` order as per `Pipeline` `Tasks` order? so the user could relate the order as defined in `pipeline`.

[2019-08-06 10:53] vdemeester commented on #81
@hrishin ah good point :sweat_smile: I forgot it was on the `pipelinerun` script… :thinking: I am not sure anymore then

[2019-08-06 10:53] girishramnani commented on #81
I have opened a WIP PR so I can change the necessary implementation if needed
https://github.com/tektoncd/cli/pull/201

[2019-08-06 13:35] danielhelfand commented on #81
Agree with @hrishin

[2019-08-06 16:30] Conky5 opened #202 "pipelinerun describe nil pointer"
# Expected Behavior

`tkn pipelinerun describe <pipeline-run>` should always show the status of an existing pipelinerun without error.

# Actual Behavior

`tkn pipelinrun describe <pipeline-run>` can throw the following error immediately after a pipelinerun is created:
[code]

# Steps to Reproduce the Problem

1. Generate a `pipelinerun`
2. Immediately run a `describe` on it

# Additional Info

[2019-08-06 16:35] vdemeester commented on #202
@Conky5 which version are you running ?
/kind bug
/priority critical-urgent

[2019-08-06 16:45] Conky5 commented on #202
@vdemeester we're seeing this on `v0.2.0` and latest `master` 8d221a41b926b31c8809fb6bdb5f2d4d1c0266f4.

[2019-08-06 16:45] vdemeester commented on #202
@Conky5 thx for the report :angel: We will fix that and do a 0.2.1 release :angel:

[2019-08-07 04:27] hrishin commented on #202
/assign @hrishin

[2019-08-07 08:18] khrm opened #204 "Pipelinerun list nil pointer"
# Expected Behavior
tkn pipelinerun list should always return the list of pipelineruns without error.
# Actual Behavior
![Screenshot from 2019-08-07 00-07-38](https://user-images.githubusercontent.com/686902/62606514-070b9a80-b91a-11e9-9c0c-823a08ad9028.png)

# Steps to Reproduce the Problem

1. Run a watch command to list pipelines

# Additional Info

[2019-08-07 08:19] khrm commented on #204
/assign

[2019-08-07 16:19] girishramnani commented on #81
so should I change my implementation in #201 @danielhelfand @vdemeester @hrishin

[2019-08-08 07:46] #204 closed

[2019-08-08 13:26] siamaksade commented on #81
@hrishin  The order defined in the pipeline does not really imply anything since they tasks would execute in whatever that is described via `after`, `input` and `output`. Order of execution I'd say is more imporant.

[2019-08-08 22:16] danielhelfand opened #209 "Edit Command for Pipeline, Resource, and Task Resources"
This issue is a feature request for the ability to edit already created custom resource definitions for `tekton.dev` resources on a Kubernetes cluster. These resources include:
* `Pipeline`
* `Resource`
* `Task`

Currently, a user must use a second tool to edit these custom resources, such as `kubectl` or `oc`. Being able to do this directly through `tkn` would help with having a user not have to

[2019-08-08 22:48] danielhelfand commented on #209
/kind feature

[2019-08-09 00:17] sthaha commented on #81
@siamaksade do you mean the output should be a `bfs` walk of the pipeline graph?

e.g.

[code]
it should print
 -  t1
 - t2a
 - t2b
 - t3
 - t4

[2019-08-09 05:55] hrishin commented on #81
@siamaksade yes more precisely :+1:

[2019-08-09 07:07] vdemeester commented on #81
I think the easiest path is by start time imho :stuck_out_tongue_closed_eyes:

[2019-08-09 08:29] siamaksade commented on #81
@sthaha start time :)

[2019-08-09 08:31] girishramnani commented on #81
Awesome, I will resolve the failures in the PR :smile:

[2019-08-09 09:57] hrishin commented on #202
This is fixed now. Thank you @Conky5 for reporting this issue. :+1:

[2019-08-09 09:57] #202 closed

[2019-08-09 12:46] siamaksade commented on #64
@piyush-garg

The error message still is not descriptive. `tkn describe` just says the task has failed:
[code]

While `kubectl describe` prints out the reason too:
[code]

[2019-08-09 14:11] #179 closed

[2019-08-09 14:21] piyush-garg commented on #64
@siamaksade Will take a look once more over this.

[2019-08-09 14:23] piyush-garg commented on #64
Looks like we have to print the message from the condition of the specific task which failed, not from the pipeline run condition.

[2019-08-09 14:24] piyush-garg commented on #64
@siamaksade It will be a great help if you can provide the complete `kubectl describe pipelinerun petclinic-deploy-pipeline-run-mmvst` output

[2019-08-09 14:24] girishramnani commented on #163
@danielhelfand I think this issue should be close as there is a PR https://github.com/tektoncd/cli/pull/185 which resolves this has been merged

[2019-08-09 14:29] danielhelfand commented on #163
@girishramnani The issue is for pipelineruns and taskruns. This has only been implemented for pipelineruns in #185. Was going to have a discussion with others on whether it made sense for taskruns before implementing.

[2019-08-11 16:24] girishramnani commented on #183
@danielhelfand I my opinion, with the error message a suggestion on what to do next e.g. `use --usage to find the correct usage` could also be shown to the user?
This approach can be clubbed together with this issue https://github.com/tektoncd/cli/issues/124

[2019-08-11 16:26] girishramnani commented on #183
also to add the above mentioned approach aligns with how `kubectl` handles these kinds of inputs
[code]

[2019-08-12 02:30] danielhelfand commented on #183
@girishramnani Yes, I agree. That's what I was I trying to communicate with the following sentence in the issue:

[code]

I think a suggestion to use `--help` that is specific to the subcommand is what makes sense. It should be similar to `kubectl` as you have displayed above.

[2019-08-12 02:35] davivcgarcia opened #210 "Panic when exec completion without args"
# Expected Behavior

Not sure, but it shouldn't print outputs:

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Download and build the latest release (using `go get`)
2. Run `tkn completion`

[2019-08-12 08:11] vdemeester commented on #210
@davivcgarcia thanks for the report :angel: is this on master or on latest release ? (0.2.x)

/kind bug

[2019-08-12 08:12] vdemeester commented on #210
(oh well, I reproduce with 0.2.1… :sweat:)

[2019-08-12 08:17] girishramnani commented on #81
Please close this as PR was merged https://github.com/tektoncd/cli/pull/201

[2019-08-12 08:26] vdemeester commented on #81
/close

[2019-08-12 08:26] #81 closed

[2019-08-12 08:29] girishramnani commented on #105
I can work on this

[2019-08-12 08:29] girishramnani commented on #105
/assign

[2019-08-12 16:34] davivcgarcia commented on #210
Yes, it was affecting the master and the latest release.

[2019-08-12 17:01] #210 closed

[2019-08-14 13:21] #163 closed

[2019-08-18 14:59] garethr opened #220 "tkn throw errors for array type params"
# Expected Behavior

When running `tkn task list` and `tkn taskrun logs`, after having defined a task with a param of type: `array`, tkn should not error.

# Actual Behavior

`tkn task list` throws an error when and does not list any tasks.

# Steps to Reproduce the Problem

Consider the following definition

[code]

Applying this works as expected.

[code]

The task exists:

[code]

Apply the fol

[2019-08-19 08:32] vdemeester commented on #220
@garethr thanks for the issue :angel:. We didn't yet update to 0.6.0, so `tkn` breaks with some changes… We will need to fix this asap and do a new release :wink:

/kind bug

[2019-08-19 08:39] #12 closed

[2019-08-19 12:40] hrishin commented on #220
/assign

[2019-08-20 05:11] chmouel opened #221 "Bad brew formula"
Bad brew formula has been merged for `tektoncd-cli` :

[code]

[2019-08-20 05:11] chmouel commented on #221
/kind bug
/assign

[2019-08-20 05:14] chmouel commented on #221
Nevermind that was a bad version i had locally,

[2019-08-20 05:14] #221 closed

[2019-08-20 09:08] siamaksade opened #224 "Sort pipelineruns based on time started with configurable limit"
The `tkn pipeline logs` command should sort the listed pipelineruns based on time started. Currently it's sorted alphabetically which means the last pipelineruns might not be even in the 5 runs that are displayed.

Furthermore, it should be possible to list a greater number of runs based on a flag for example `--n 10` would list last 10 pipelineruns.

[2019-08-20 12:30] hrishin opened #225 "available subcommands list is missing from help section"
Right now available subb commands list section for `tkn <main-command> -h`
is absent.

# Expected Behavior
[code]
Should display the list of available sub commands.

# Actual Behavior
[code]
is not showing the sub commands list.

# Steps to Reproduce the Problem

1. Build the `master` branch `go build ./cmd/tkn`
2. Fire `./tkn pipeline -h` command

[2019-08-21 08:59] vdemeester commented on #224
/kind bug

[2019-08-21 13:55] #220 closed

[2019-08-22 00:46] 16yuki0702 commented on #193
Could I take a remaining tasks (Pipeline, Task) ??
I wrote a command for Resource on https://github.com/tektoncd/cli/pull/222

[2019-08-22 07:33] #225 closed

[2019-08-22 07:43] chmouel commented on #99
reading thru https://github.com/Homebrew/homebrew-cask/blob/master/doc/faq/rejected_casks.md :

[code]

I am going to try to submit it to homebrew/core first instead of homebrew/cask

[2019-08-22 08:16] chmouel commented on #99
Let's see how that works:

https://github.com/Homebrew/homebrew-core/pull/43360

[2019-08-22 11:37] chmouel opened #231 "Released source tarball should have its version number"
If i take the released source tarball from for example :

https://github.com/tektoncd/cli/archive/v0.2.2.tar.gz

compile it and do a :

[code]

It would come back with `Client version: dev` When it should be `0.2.2`

/kind bug

[2019-08-22 11:40] chmouel commented on #231
modifying :

https://github.com/tektoncd/cli/blob/b5a87fd020373ed8c8931c11b226b665a17f1083/pkg/cmd/version/version.go#L32

to the released version with goreleaser?

wdyt @vdemeester

[2019-08-22 12:15] vdemeester commented on #231
@chmouel something to think about :angel:

[2019-08-22 13:20] chmouel commented on #231
perhaps having a VERSION file created in the source directory from goreleaser, and Makefile would pick it up and pass it the right ldflag

[2019-08-22 14:26] danielhelfand commented on #193
@16yuki0702 Go for it!

[2019-08-22 15:15] #117 closed

[2019-08-22 16:23] vdemeester opened #232 "tkn pipeline logs doesn't respect --last for interactive logs"
# Expected Behavior

[code]

# Actual Behavior

[code]

/cc @pradeepitm12 @hrishin
/kind bug

[2019-08-23 01:00] 16yuki0702 commented on #193
@danielhelfand Thanks!!

[2019-08-23 01:01] 16yuki0702 commented on #193
/assign

[2019-08-23 04:48] #224 closed

[2019-08-23 06:31] hrishin commented on #232
/assign @pradeepitm12

[2019-08-23 07:07] pradeepitm12 commented on #232
/assign

[2019-08-23 08:54] nikhil-thomas opened #233 "cli option to cascade delete taskrun and pipelinerun while deleting task, pipeline"
This issue is an improvement on https://github.com/tektoncd/cli/issues/193 (Delete Command for Pipeline, Resource, and Task Resources)

# Expected Behavior

Provide a cli flag to optionally enable cascade deletion of relevant pipelineruns/taskruns while deleting pipelines/tasks.

Keep the option disabled by default.

# Additional Info

I think this feature will be useful while iteratively building

[2019-08-23 10:25] #232 closed

[2019-08-23 12:16] chmouel commented on #193
@16yuki0702 Thanks for working on this, can you confirm you are working on all the delete resources? I.e: Task, TaskRun, Pipeline,PipelineRun

Thanks,

[2019-08-23 14:40] 16yuki0702 commented on #193
@chmouel yes, I'm working on all resources (Task, TaskRun, Pipeline, PipelineRun).
I'm sorry, I missed writing TaskRun, PipelineRun :sweat_smile:

Thanks !!

[2019-08-26 12:50] danielhelfand opened #241 "Refactor Sorting in CLI"
Currently, there are a number of subcommands that utilize sorting by start time, including:
* [tkn pr ls](https://github.com/tektoncd/cli/blob/e517ecc349a570ddc4fc1d6952d6708de9f6cbdf/pkg/cmd/pipelinerun/list.go#L179)
* [tkn p logs](https://github.com/tektoncd/cli/blob/e517ecc349a570ddc4fc1d6952d6708de9f6cbdf/pkg/cmd/pipeline/logs.go#L320)
* [tkn tr ls](https://github.com/tektoncd/cli/blob/e517ecc

[2019-08-26 13:30] danielhelfand opened #243 "Refactor Limit Option"
The `--limit` option is available for the following commands:
* `tkn pr ls`
* `tkn tr ls`
* `tkn p logs`

As mentioned in #228, Cobra has [validation features](https://github.com/tektoncd/cli/pull/228#discussion_r316496292) as part of the framework. The validation used for the commands above can be switched over to utilize Cobra's validation methods. The validation would focus on validating whethe

[2019-08-26 13:30] danielhelfand commented on #243
/kind feature

[2019-08-28 07:51] 16yuki0702 opened #244 "Add e2e tests for delete commands"
# Expected Behavior
Delete command for Pipeline, PipelineRun, Resource, Task, TaskRun shoud be included in e2e test.
This will be added after these merged https://github.com/tektoncd/cli/pull/235 https://github.com/tektoncd/cli/pull/236 https://github.com/tektoncd/cli/pull/237 https://github.com/tektoncd/cli/pull/238

# Actual Behavior

# Steps to Reproduce the Problem

# Additional Info

[2019-08-28 07:51] 16yuki0702 commented on #244
/assign

[2019-08-28 08:18] 16yuki0702 opened #245 "Add force delete option to resource command"
# Expected Behavior
Add force delete option to resource command like this https://github.com/tektoncd/cli/pull/235

# Actual Behavior

# Steps to Reproduce the Problem

# Additional Info

[2019-08-28 08:18] 16yuki0702 commented on #245
/assign

[2019-08-28 19:18] danielhelfand opened #247 "Specify Whether a Conditional Task Should Run via CLI"
This issue is a feature request to add the ability to specify what `tasks` should run as part of a `pipeline` via `tkn`. The thought here is to be able to control what `tasks` should execute for a `pipelinerun` via a flag.

What would make the most sense to me is to be able to specify the `task` name on the `pipeline` and an argument as to whether the `task` should run. This argument would depend

[2019-08-29 08:01] chmouel opened #248 "Uncapitalize error messages"
As per https://github.com/golang/go/wiki/CodeReviewComments#error-strings

[code]

[2019-08-29 08:13] chmouel commented on #124
/assign

[2019-08-29 10:51] gavinfish commented on #248
/assign

[2019-08-29 11:45] gavinfish commented on #192
Anyone is working this? If not, I want to take it, thanks.

[2019-08-29 16:02] danielhelfand commented on #192
@gavinfish Thanks for your interest! It doesn't appear anyone is working on this, so feel free to pick it up and put in a pr.

[2019-08-29 16:57] gavinfish commented on #192
/assign

[2019-08-30 02:17] gavinfish commented on #192
Before I start to work, I want to discuss some details of this command.

1. What is the command name, `add` or `create`? Personally I prefer `create` which is compatible with `kubectl`.
2. For the input resource, I prefer to only support single yaml file(local or remote) for now. Maybe we could support stdin, directory later.
2. What happens when adding a resource several times? Throw an exception

[2019-08-30 02:34] danielhelfand commented on #192
1. I think it makes sense to go with `create` to keep it similar to `kubectl` as you've said.

2. I think a local yaml or remote yaml is a reasonable starting point.

3. This is where we get into Imperative Management and Declarative Management. I would think we would want to keep this similar to `kubectl` again. So the create command here would respond with an error that the resource already exis

[2019-08-30 04:15] 16yuki0702 commented on #233
Can I take this task too ??
(related to  https://github.com/tektoncd/cli/pull/235)

[2019-08-30 07:55] chmouel commented on #233
sure feel free to assign yourself!

[2019-08-30 07:57] chmouel commented on #192
+1  on @danielhelfand comments!

[2019-08-30 08:52] 16yuki0702 commented on #233
Thank you very much !!

[2019-08-30 08:52] 16yuki0702 commented on #233
/assign

[2019-08-30 12:44] vdemeester commented on #192
Also see https://docs.google.com/document/d/1U712Je4gKNVcAgcGmqxdeIRS6DNXzVqQWOqZU-N7W8A/edit# :angel:

[2019-08-30 13:19] #124 closed

[2019-08-30 15:59] #241 closed

[2019-08-30 16:10] danielhelfand opened #255 "Add Unit Tests for sort_pipelineruns.go and sort_taskruns.go"
/area testing

While both `sort_pipelineruns.go` and `sort_taskruns.go` are covered by unit tests from `list_test.go` for both `taskruns` and `pipelineruns`, there should be explicit tests for what was added in #254. These tests should cover the [SortPipelineRunsByStartTime](https://github.com/tektoncd/cli/blob/af15284fb81da65cedd932e8ae5eeff7ea8de0bd/pkg/helper/pipelinerun/sort/sort_pipelineruns.

[2019-08-30 16:10] danielhelfand commented on #255
/assign

[2019-08-30 16:22] piyush-garg commented on #64
Hi, I tried to reproduce this, was not able to do, it is perfectly showing the message for me.

Let me know if you are able to create the scenario again.

[2019-08-31 10:11] #245 closed

[2019-09-02 08:31] chmouel opened #259 "thrift is not hosted on git.apache.org anymore"
git.apache.org is now decommisioned and library has been moved to github as we are getting this error :

[code]
.
we need to go mod replace it

/assign
/label bug

[2019-09-02 11:16] #259 closed

[2019-09-03 04:16] sthaha opened #261 "tkn object -h does not list available commands"
# Actual Behavior
Running `-h` or `--help` should list all the available commands for the `object`
e.g. `tkn pipelineruns --help` prints:

[code]

# Expected Behavior:

The **`Available Commands`** should list all the sub-commands: `list, delete, start` etc ..

# Steps to Reproduce the Problem

1.  run`tkn pipelineruns -h`
2. look under **`Available Commands:`** section.

[2019-09-03 06:45] sthaha commented on #261
I was running an old version of `tkn` which had this issue and is fixed in`master`, hence closing it.

[2019-09-03 06:45] #261 closed

[2019-09-03 08:23] chmouel opened #262 "Interactive selection should choose automatically the first choice if there is only one choice"
# Expected Behavior

Not asking for interactive menu when there is only one choice

# Actual Behavior

![image](https://user-images.githubusercontent.com/98980/64156286-c3328500-ce34-11e9-99c7-3b6664f1ae26.png)

# Steps to Reproduce the Problem

1. tkn pipeline logs cli-release-pipeline

[2019-09-03 08:25] chmouel opened #263 "taskrun logs should have an interactive menu"
# Expected Behavior

The same way pipelinerun logs ask for an interactive menu, we would like one on the taskrun logs

# Actual Behavior

Nada

[2019-09-03 08:27] chmouel opened #264 "zsh completion is not offerring objects on delete commands"
# Expected Behavior

show the pipeline or other objects

# Actual Behavior

Just show the options and not the pipelinerun:

[code]

[2019-09-03 08:30] chmouel commented on #264
/assign

[2019-09-03 08:43] gavinfish commented on #192
@vdemeester I do not have permission for the doc, could you please grant access to the account of drfish.me@gmail.com? thanks.

[2019-09-03 08:48] chmouel commented on #192
@gavinfish you need to join the mailing list and you will get access to all tekton docs, see here https://github.com/tektoncd/community/blob/master/contact.md#shared-drive

[2019-09-03 09:46] #264 closed

[2019-09-03 11:22] chmouel commented on #231
/assign

[2019-09-03 12:15] chmouel opened #272 "accept the default parameters by default"
Sometime I don't want to specify a parameter (interactive or not), by default interactive kicks in which i think it's fine but let allow the user not specifying

[2019-09-03 13:38] chmouel opened #274 "Allow showing the logs right after starting it"
It would be nice if we can have an option in `tkn pipeline start` to allow to see the logs and follows it just after we started,

/label feature

[2019-09-03 15:21] danielhelfand opened #276 "Upgrading tkn With Brew Shows Incorrect tkn Version"
# Expected Behavior

After running `brew upgrade tektoncd-cli` for the latest version of `tkn`, my expectation would be that running `tkn version` would return `Client version: 0.3.0`.

The change to the brew formula can be seen [here](https://github.com/chmouel/homebrew-tektoncd-cli/commit/eeef24dc20de616fc7ac264be75a731d6af2d01f).

# Actual Behavior

`tkn version` returns `Client version: 6.6.6`

[2019-09-03 15:37] chmouel commented on #276
/assign

[2019-09-03 15:39] chmouel commented on #276
@danielhelfand this should be fixed now in https://github.com/chmouel/homebrew-tektoncd-cli/commit/7ed37a0e393bfd1ab2a1d421eff5b45b6aa6ebc4 feel free to `brew upgrade` and you should get the latest,

[2019-09-03 15:42] danielhelfand commented on #276
`brew reinstall` worked and version is correct now. Thanks!

Any idea why the goreleaser bot picked up that version number for the auto update of the formula?

[2019-09-03 15:48] chmouel commented on #276
I was testing a release fix https://github.com/tektoncd/cli/commit/93726c153d02ad026e710e3aada8612ac3d1ead1 that supposed to go only to my own repo (chmouel/tektoncd-cli)  but forgot that the token had right to my own github homebrew account,

fun times as always 🎉

(the bug is not fixed as well 😭 )

[2019-09-03 15:48] #276 closed

[2019-09-03 15:49] danielhelfand commented on #276
@chmouel No worries! Thanks for the fix.

[2019-09-03 16:52] #255 closed

[2019-09-04 02:31] VeerMuchandi opened #278 "Pipeline logs help has a typo"
# Expected Behavior
When you run a pipeline it displays a help on how to see logs as below

There is a typo in that help

# Actual Behavior
Pipeline run displays the help
As an example running the pipeline displays the following
[code]

Note the spelling mistake `pipelinerune` instead of `pipelinerun`. If the user copies and pastes the line, it doesnt work.

# Steps to Reproduce the Problem

Run a

[2019-09-04 02:34] danielhelfand commented on #278
@VeerMuchandi Thanks for pointing this out and sorry for the issue. I believe this was addressed in #271.

[2019-09-04 09:14] #248 closed

[2019-09-04 09:16] vdemeester commented on #278
@danielhelfand indeed :angel:
/close

[2019-09-04 09:16] #278 closed

[2019-09-04 09:18] chmouel commented on #278
we probably going to do a 0.3.1 for this, since multiple people has been asking abotu it,

[2019-09-04 09:19] chmouel commented on #231
This wasn't fixed, let's find another way

[2019-09-04 12:13] chmouel commented on #262
Another way to implement this is to add the option `--last` which automatically the most recent one,  (and would be useful when you have multiple runs)

[2019-09-04 16:28] chmouel opened #285 "rainbow colours with "tkn * logs" command"
We have some blue colours highlighting the task name which is nice and dandy but would be nicer if we had different colours for the different tasks,

the tiny little things that make people happier when digging into logs 💘

[2019-09-04 16:28] chmouel commented on #285
/kind feature

[2019-09-04 18:23] danielhelfand opened #286 "Feature Request: tkn condition list Command"
This issue is a feature request to be able list conditions available in a namespace. The command would require the addition of a new subcommand for conditions.

My proposal would be `tkn condition` with `tkn cond` as shorthand for the condition subcommand. The full command would be `tkn condition list` for listing conditions in a namespace.

### Expected Behavior

`tkn condition list` should list

[2019-09-04 18:33] danielhelfand commented on #286
/kind feature

[2019-09-05 05:20] #262 closed

[2019-09-05 06:22] chmouel opened #287 "-n ${NAMESPACE} is not working with tkn logs"
the -n flags is not working with `tkn logs`

[code]

/kind bug
/assign pradeepitm12

[2019-09-05 08:55] chmouel opened #289 "Add nocolor option"
Not everyone wants (or can) colours, let's add an option to not showing them.

/kind feature

[2019-09-05 14:43] chmouel commented on #285
/assign

[2019-09-06 12:46] danielhelfand opened #291 "Command Suggestions for Incorrect Subcommands"
Currently, the CLI is able to recognize when a command does not exist:

[code]

It is also able to recommend commands and make suggestions if an incorrect command is entered that is similar to another command:

[code]

The CLI is not able to do the above mentioned things for commands of a subcommand (e.g. `tkn pr ls` :

[code]

# Expected Behavior

The CLI should display an error message that the

[2019-09-08 10:36] #285 closed

[2019-09-09 04:34] hrishin commented on #291
Sounds reasonable
WDYT?

@chmouel @vincent-pli

[2019-09-09 08:29] vdemeester opened #295 "Taskrun describe subcommand"
# Expected Behavior

I should be able to do a `tkn taskrun describe` the same way I can do a `tkn pipelinerun describe`.

# Actual Behavior

The subcommand doesn't exists

[2019-09-09 08:30] vdemeester opened #296 "Task describe subcommand"
# Expected Behavior

I should be able to do a `tkn task describe` the same way I can do a `tkn pipeline describe`.

# Actual Behavior

The subcommand doesn't exists

[2019-09-09 09:03] piyush-garg opened #297 "Pipeline start should not ask for interactive when specified --last"
# Expected Behavior

`tkn p start {pipeline name} -l` should not ask for resource and param details.

But it should override the given resource and params if specified by flag `-r` or `-p`.

# Actual Behavior

`tkn p start {pipeline name} -l` asks for resource and param details interactively.

# Steps to Reproduce the Problem

1. Create a pipeline with resource/param
2. Create a run
3. Execute `tk

[2019-09-09 09:03] piyush-garg commented on #297
/king bug

[2019-09-09 09:03] piyush-garg commented on #297
/assign

[2019-09-09 09:07] piyush-garg commented on #297
/kind bug

[2019-09-09 09:38] vdemeester commented on #296
/kind feature

[2019-09-09 09:38] vdemeester commented on #295
/kind feature

[2019-09-09 09:44] chmouel commented on #291
Sounds good to me, i made a fix sometime ago for the root command https://github.com/tektoncd/cli/commit/1c270872a047ece618b117c060e6d34a57f064c1 and I guess I should have think about the subcommands!

[2019-09-09 10:32] vdemeester commented on #291
:+1:

[2019-09-09 11:18] chmouel opened #298 "Cannot compile with go1.13"
I have just updated to the newly released go 1.13 and cannot seem to compile :

[code]

/kind bug

[2019-09-09 11:21] chmouel commented on #298
/assign

we are not the only ones it seems https://github.com/minio/minio/issues/8201

[2019-09-09 12:25] chmouel commented on #298
/unassign

Things that works on 1.12 doesnt on 1.13 and vice versa, not sure what the solution is but until then i am going to backport to 1.12 on my system

(which do sux)

[2019-09-09 13:24] danielhelfand commented on #183
With #292, the `--help` response (i.e. usage) will not display for error messages. What is needed to close this issue is a way to recommend to run `--help` for a command if an error occurs.

[2019-09-09 13:48] #298 closed

[2019-09-09 13:53] chmouel commented on #298
we finally found a way and this should be working on go1.13 now
(until the next breakage)

[2019-09-10 00:05] danielhelfand commented on #295
Anyone working on this? Can I pick it up?

[2019-09-10 04:40] ChanForPres commented on #298
doesn't work for me.. go1.13

[2019-09-10 07:09] vdemeester commented on #295
/assign @danielhelfand

[2019-09-10 07:10] chmouel commented on #298
any chances you can get us more details?

it does work for me :

![image](https://user-images.githubusercontent.com/98980/64591742-cdabcc00-d3aa-11e9-9311-a52dd1d6d395.png)

[2019-09-10 07:15] #295 closed

[2019-09-10 08:43] siamaksade commented on #64
@piyush-garg use this gist to reproduce it:
https://gist.github.com/siamaksade/9275d11a8f8b156c00c77c4a59cc6663

[code]

And then compare the output the following commands:
[code]

[2019-09-10 12:04] #297 closed

[2019-09-10 12:10] piyush-garg commented on #296
/assign

[2019-09-11 07:39] piyush-garg opened #306 "Namespace flag not working with pipeline logs"
# Expected Behavior
`tkn p logs test-pipeline -n foobar -f -l` should display the logs of last run of test-pipeline in foobar namespace

# Actual Behavior
`tkn p logs test-pipeline -n foobar -f -l` errors out with `Error: pipelines.tekton.dev "test-pipeline" not found`

# Steps to Reproduce the Problem

1. Create a pipeline and pipeline run in foobar namespace
2. Switch to another namespace
3. Hit

[2019-09-11 07:39] piyush-garg commented on #306
/kind bug

[2019-09-11 07:39] piyush-garg commented on #306
/assign

[2019-09-11 09:42] chmouel commented on #306
/duplicate https://github.com/tektoncd/cli/issues/287

[2019-09-11 11:11] piyush-garg commented on #306
Ohh I see, will send a patch in few minutes

[2019-09-11 11:12] piyush-garg commented on #287
/assign

[2019-09-11 11:38] hrishin commented on #306
/close

[2019-09-11 11:38] #306 closed

[2019-09-11 11:39] piyush-garg commented on #306
duplicate #287

[2019-09-11 11:40] piyush-garg commented on #306
duplicate of #287

[2019-09-12 01:00] 16yuki0702 commented on #286
Can I work on this??

[2019-09-12 01:00] 16yuki0702 commented on #286
/assign

[2019-09-12 01:01] 16yuki0702 commented on #244
I thinks this is completed.
Could I close it??

[2019-09-12 01:01] 16yuki0702 commented on #233
I thinks this is completed.
Could I close it??

[2019-09-12 01:01] 16yuki0702 commented on #193
I thinks this is completed.
Could I close it??

[2019-09-12 01:01] 16yuki0702 commented on #13
I thinks this is completed.
Could I close it??

[2019-09-12 01:13] danielhelfand commented on #193
Yup, looks like delete is covered for every resource. Thanks, @16yuki0702!

[2019-09-12 01:13] #193 closed

[2019-09-12 01:43] 16yuki0702 commented on #193
@danielhelfand Thank you for your confirming!

[2019-09-12 06:47] piyush-garg commented on #164
Seems like this has been resolved with https://github.com/tektoncd/cli/pull/223

Any other things we need to handle?

[2019-09-12 07:15] chmouel commented on #13
yep we can close this, thanks @16yuki0702 👍

/close
/meow

[2019-09-12 07:15] #13 closed

[2019-09-12 07:23] #287 closed

[2019-09-12 07:23] vdemeester commented on #286
of course :hugs: :heart_eyes_cat:

[2019-09-12 07:24] vdemeester commented on #244
@16yuki0702 indeed, thanks
/close

[2019-09-12 07:24] #244 closed

[2019-09-12 07:24] vdemeester commented on #233
@16yuki0702 indeed, thanks :hugs:
/close

[2019-09-12 07:24] #233 closed

[2019-09-12 11:27] navidshaikh opened #308 "Align error messages"
There are different text / format of error printed if `tkn` couldn't reach the cluster, in this case I am using OCP and I need to re-login to cluster to access the cluster. Listing below error messages I received listing different resources.

[code]

[code]
[code]
[code]
[code]
[code]

1. Notice the different error messages printed
2. Printing help text immediately after the error makes it difficu

[2019-09-12 18:14] danielhelfand opened #311 "Error Message if Namespace Does Not Exist With -n Flag"
# Expected Behavior

If a namespace is provided that does not exist for any command that uses `-n`, the cli should notify the user the namespace does not exist. Simply listing that no items were found is misleading and may make the user think there are no items in the namespace.

# Actual Behavior

[code]

[code]

# Steps to Reproduce the Problem

1. Run any command that uses `-n` (e.g. `tkn tr ls

[2019-09-13 16:30] navidshaikh opened #312 "Add --last flag to tkn taskrun logs"
# Expected Behavior
User should be able to stream logs for last taskrun in configured namespace, just like tkn has the flag for `pipeline logs`.

Enabling this flag would ease to not lookup the taskrun name each time I am creating a new taskrun and need to check its log, I'd simply do
[code]

[2019-09-13 16:46] ImJasonH commented on #312
If the use case is "create a TaskRun then stream its logs", could we just build that into `tkn tr create`? It'd be great to have the default behavior block and stream logs, with an `--async` (naming TBD) option to not block.

I'm coming to this from my experience with `gcloud builds submit` which blocks while the build executes, so it can stream logs. If you `ctrl+C` during execution, it also canc

[2019-09-13 16:49] chmouel commented on #312
@ImJasonH i agree this is a way better experience 99% of time users would want to look at the logs after starting it (unless it's run from a script so we would need a switch to disable that).

There is an issue for that here #274

[2019-09-13 16:50] chmouel commented on #312
/kind feature

[2019-09-13 16:51] chmouel commented on #311
/kind bug

[2019-09-16 08:18] naiduasn opened #314 "Display order of executions"
# Expected Behavior
When we use DAG with tekton pipelines, we may execute a few tasks in parallel and few in sequential.
How will I show how these tasks are executed in the pipeline? The current command displays only tasks executed and its status.

# Actual Behavior
[code]

# Steps to Reproduce the Problem

1. Execute any pipeline with DAG
2. Check tkn pipeline describe
3.

# Additional Info
Even

[2019-09-16 11:48] #308 closed

[2019-09-16 22:23] chmouel commented on #110
/assign

[2019-09-17 05:39] chmouel commented on #311
I believe this is fixed in 2efd4e7b2baacc28910ecbdcba3e9634bdffd604

@danielhelfand  feel free to reopen if there was more to it

/assign @danielhelfand
/closes

[2019-09-17 05:40] chmouel commented on #262
/assign @chmouel chmouel

[2019-09-17 05:41] chmouel commented on #13
/assign @16yuki0702

[2019-09-17 05:58] danielhelfand commented on #311
/reopen

`2efd4e7` addressed #308, but did not address this issue. I can pick it up and look into it later this week or next.

[2019-09-17 06:03] chmouel commented on #311
Sounds good! thanks

[2019-09-17 06:52] #110 closed

[2019-09-17 07:00] chmouel commented on #289
/assign

[2019-09-17 09:14] naiduasn opened #811 "DAG Report: Order of executions"
# Expected Behavior
When we use DAG with tekton pipelines, we may execute a few tasks in parallel and few in sequential.
How will I show how these tasks are executed in the pipeline? The current command displays only tasks executed and its status.
# Actual Behavior
https://github.com/tektoncd/cli/issues/314

# Steps to Reproduce the Problem
1.Execute any pipeline with DAG
2.Check tkn pipeline desc

[2019-09-17 10:06] chmouel commented on #314
a tree perhaps? that's probably not going to be trivial to implement and represent,

[2019-09-17 10:12] chmouel opened #317 "ZSH Completion do not support aliases"
This works for Bash completion but not for ZSH

/kind bug

[2019-09-17 11:45] afrittoli commented on #311
To be fair this is the same behaviour kubectl exposes - it just applies a filter and returns what matches. For instance in my cluster, if I filter by a non-existing namespace, I get cluster-wide resources:
[code]

[2019-09-17 15:46] danielhelfand commented on #311
@afrittoli It's definitely consistent with `kubectl`, but my thought was this could be an area that `tkn` could improve on. As you mentioned in #316, I wouldn't want a true error to be returned. Just a stdout message about the namespace not existing. I think it's helpful to not present resources of lack thereof if what is being searched for doesn't exist. Certainly, someone who is familiar with `k

[2019-09-19 19:34] danielhelfand opened #320 "Feature Request: Ability to Start Task Run via CLI"
This issue is a feature request to be able to start a task run via `tkn` similar to how a pipeline can be started (i.e. `tkn pipeline start`). The idea would be completely that same as `tkn pipeline start`, but just to execute an individual task. Pipeline resources and a service account could be provided via `-r` and `-s`.

# Expected Behavior

`tkn task start task-name -r pipelineresource1 -r pip

[2019-09-20 09:16] naiduasn opened #322 "How to get logs of pipeline resources?"
# Expected Behavior
Is there any way I can get pipeline resource logs? i do not see this info logged anywhere.

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-09-20 16:15] piyush-garg commented on #320
/feature

[2019-09-20 16:15] piyush-garg commented on #320
/kind feature

[2019-09-20 16:16] piyush-garg commented on #320
/assign

[2019-09-23 06:29] praveen4g0 opened #326 "UnExpected Behaviour of TaskRun cancel"
# Expected Behavior
After Task Run, completed its execution and  when we try to cancel

./tkn tr cancel test-template-volume
Expected std-err msg :  task run cannot be cancelled:  test-template-volume (It's already finished its execution)

# Actual Behavior

/tkn tr cancel test-template-volume
TaskRun cancelled: test-template-volume

# Steps to Reproduce the Problem

1. Create a task run in any na

[2019-09-23 10:09] naiduasn commented on #314
@chmouel yes. is it possible to get this info of these tasks order execution via an API?

[2019-09-23 12:34] chmouel commented on #314
I don't believe we have this information but i may be wrong, wdyt @vdemeester

[2019-09-23 13:55] danielhelfand commented on #322
Hey @naiduasn! Thanks for opening this.

Could you describe a use case of this? As in, you want to see a pipeline resource reference appear in a pipelinerun or taskrun logs? Something different?

[2019-09-23 14:09] danielhelfand commented on #326
@praveen4g0 Thanks for reporting this! It looks as if the issue is that there is no check in the command as to whether the taskrun has succeeded or failed. It just [sets the status](https://github.com/tektoncd/cli/blob/1d1b7dcb98c5fd95c4959f2b9167a9e2c9b37377/pkg/cmd/taskrun/cancel.go#L66) of the taskrun to cancelled. There should be some type of validation in case the taskrun has a status other t

[2019-09-23 14:09] danielhelfand commented on #326
/assign

[2019-09-23 20:26] danielhelfand opened #330 "tkn pr cancel Cancels Finished PipelineRuns That Have Executed"
This issue is the same as #326 but for `tkn pr cancel`. Currently, the CLI allows for pipelineruns to be cancelled that have completed execution.

There should be some type of check to prevent `tkn pr cancel` from being applied to pipelineruns that have already succeeded, failed, or been cancelled.

#328 is attempting to address this for taskruns, and the same pattern can be applied for pipelineru

[2019-09-23 20:27] danielhelfand commented on #330
/assign

[2019-09-24 10:01] vdemeester commented on #322
@naiduasn `PipelineResource` do not have any logs. When you are using a `PipelineResource`, it will add one or more extra step to the `Pod` executing the `Task`… So the logs *related to* `PipelineResource`(s) are in the `TaskRun` logs. There is a flag (for both `TaskRun` and `PipelineRun`) to display **all** logs from the `Pod` (including internal containers that are related to the `PipelineResour

[2019-09-24 10:01] #322 closed

[2019-09-24 10:07] vdemeester commented on #314
@naiduasn This has nothing to do with `triggers`, but indeed, in order to get the DAG "tree", as of today, you may need to write your own code. We may want to write something in the `dag` package in `tektoncd/pipeline` as a helper though…

[2019-09-24 10:24] #289 closed

[2019-09-24 12:56] #326 closed

[2019-09-25 14:11] #330 closed

[2019-09-26 06:39] chmouel commented on #99
/assign

[2019-09-26 08:03] chmouel commented on #311
Can we close this since #316 has been merged ? This is the last PR to get in before `0.4.x` release

[2019-09-26 12:18] danielhelfand commented on #311
#316 dealt with the error message for a pipeline name not existing in a particular namespace. There hasn't been a fix for this yet.

[2019-09-26 12:20] chmouel commented on #311
ah thanks, i'll leave this open and hopefully this will get it for release 0.5.x

[2019-09-26 14:15] vdemeester commented on #88
@hrishin what is the status of this one ?

[2019-09-26 14:17] vdemeester commented on #38
@chmouel as we already have this for a few subcommand, I think we can close this one and make specific issue for the subcommand we want those in.

/close

[2019-09-26 14:17] #38 closed

[2019-09-26 14:27] danielhelfand commented on #311
@chmouel Yeah, apologies. I fell behind on other things this week and lost track of this one. Think 0.5 shouldn't be a problem.

[2019-09-27 13:24] mgreau opened #339 "Add a flag to pass labels when starting a Pipeline"
# Expected Behavior

Users should be able to pass **[labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/)** when starting a `Pipeline` with the `tkn pipeline start pipeline` command.

# Actual Behavior

It is not possible to specify any label.
[code]
# Additional Info

In the same idea as the `-n` flag, I think it would have been great to use the `-l` flag like[ the `

[2019-09-27 13:34] chmouel commented on #339
agreed, i think we should rename `-l` to label as suggested by @mgreau

[2019-09-27 13:34] chmouel commented on #339
/kind feature

[2019-09-30 12:10] #296 closed

[2019-10-01 08:04] piyush-garg commented on #286
Fixed with #319

/close

[2019-10-01 08:04] #286 closed

[2019-10-02 09:50] 16yuki0702 opened #341 "Feature Request: Delete Command for Condition Resources"
This issue is a feature request for the ability to delete condition resources like this https://github.com/tektoncd/cli/issues/193

# Expected Behavior
The delete command should remove a condition resource from a Kubernetes namespace.
Example:

[code]

[2019-10-02 09:50] 16yuki0702 commented on #341
/assign

[2019-10-02 11:47] chmouel commented on #339
/assign

[2019-10-02 13:45] chmouel commented on #341
/kind feature

[2019-10-03 07:44] #339 closed

[2019-10-03 08:22] chmouel commented on #314
/kind feature
/kind question

[2019-10-03 08:23] chmouel commented on #272
/kind feature

[2019-10-03 08:26] chmouel commented on #231
/close

This works now

<img width="1146" alt="image" src="https://user-images.githubusercontent.com/98980/66110985-2d6f4e80-e5c8-11e9-83ca-685ad4e3f8e5.png">

[2019-10-03 08:26] #231 closed

[2019-10-03 09:16] #99 closed

[2019-10-07 09:52] piyush-garg commented on #312
@navidshaikh I think you are asking about `tkn task logs -l -f` not taskrun according to the description you mentioned. Because a task has many taskruns and you can view the logs of the last run. Taskruns you can do by name, like pipelinerun. Pipeline has a `-l` feature but not pipelinerun.

In that case, we need to implement the `logs` command for `task`

[2019-10-07 10:24] piyush-garg commented on #57
I think we have resolved this and the feature is available now. Can we close this issue ?

[2019-10-09 14:11] piyush-garg commented on #148
/assign

[2019-10-10 12:50] #148 closed

[2019-10-14 10:43] chmouel commented on #83
It is hard to know what failed, for example here :

![image](https://user-images.githubusercontent.com/98980/66745724-19590600-ee80-11e9-9ef7-a753a70dc1bc.png)

what do we show instead of `Error`, showing last line would not get us anywhere,

I suggest that we just let it say that it failed and it's up to the user to read the log (that is already showing earlier in the log)

[2019-10-15 14:49] afrittoli opened #361 "Panic on pipelinerun logs"
# Expected Behavior
I can see logs of a pipelinerun

# Actual Behavior

I get a [panic](https://gist.github.com/afrittoli/d55fb5a2e9b65cf5bd922aa9d18f5fcb)

[code]

# Steps to Reproduce the Problem

1. tkn pipeline start flip-coin-condition-demo --resource=coin=coin-bucket --resource=random=random-bucket
2. tkn pipelinerun logs flip-coin-condition-demo-run-8hzc6 -f -n default
3. Using pipeline and

[2019-10-15 16:10] piyush-garg commented on #361
/kind bug

[2019-10-15 16:48] piyush-garg commented on #83
/assign chmouel

[2019-10-15 17:32] hrishin commented on #361
Need to add `nil` [check](https://github.com/tektoncd/cli/blob/master/pkg/helper/taskrun/taskrun.go#L54)

[2019-10-16 08:47] #83 closed

[2019-10-16 16:23] siamaksade opened #364 "Add installation instructions for Win to README"
Readme contains instructions for installing CLI on Linux and Mac but not Win

[2019-10-16 16:27] chmouel commented on #364
anyone use windows that can do this task ? :-)

/label feature
/label doc

[2019-10-17 17:38] #57 closed

[2019-10-17 17:39] siamaksade opened #368 "Start task and follow logs"
It would be useful to add a flag to immediately follow logs after starting a task since very often that's what user wants to do:

[code]

Instead of:
[code]

[2019-10-18 08:05] vdemeester commented on #368
/kind feature
we have that for `pipeline` (#345), so once #347 gets in we need to make sure we add that

[2019-10-18 09:45] chmouel commented on #368
Just want to make sure we have the same behaviour between pipeline and task, we are following the logs immediately after starting a pipeline, if we are only following just after the `-f`  flag for tasks we should standardize that across all the `start` feature,

Either way personally I don't mind,

[2019-10-18 13:20] siamaksade commented on #368
@chmouel  Same behaviour as #345 is fine with the `--showlog` flag

[2019-10-18 17:04] #320 closed

[2019-10-21 06:04] piyush-garg commented on #368
/assign

[2019-10-21 10:58] chmouel opened #369 "Syncronize cobra fork with latest"
We have a fork for cobra to add automatic zsh completions as it's a bit old we need to sync it up,

[2019-10-21 13:55] sbwsg opened #372 "Flag to print PipelineRun when calling `tkn pipeline start`"
# Expected Behavior

I'd like to be able to see the PipelineRun that `tkn` generates before I decide to actually start it.

# Actual Behavior

At the moment `tkn pipeline start` runs the pipeline but cannot show me what the PipelineRun will be before I start it.

# Steps to Reproduce the Problem

1. tkn pipeline start <name-of-pipeline> <flags-for-pipeline>

# Additional Info

I'm using `tkn` for

[2019-10-21 19:41] danielhelfand commented on #372
So this reminds me a lot of how `terraform` has a `terraform plan` command that allows someone to view what is about to happen before an action command is run.

Perhaps something like `tkn pipeline start pipeline-name -r resource=pipeline_resource --plan` would output a similar description to a `tkn pr describe`?

[2019-10-21 20:13] chmouel commented on #372
I would imaging something more like `--dry-run` that would just output a yaml file instead so we can apply it manually after (or use start --dry-run as a generator before versioning)?

[2019-10-21 20:13] chmouel commented on #372
/kind feature

[2019-10-21 20:26] danielhelfand commented on #372
@chmouel I think supporting both an option for a file but also having an option to view it just via output would make sense. But think `--dry-run` makes sense.

[2019-10-21 20:33] chmouel commented on #372
@danielhelfand Fair enough! let's capture both then :)

[2019-10-22 04:17] #369 closed

[2019-10-22 14:26] #361 closed

[2019-10-22 15:07] siamaksade opened #377 "Init container logs are not displayed with -a"
The `-a` flag in `tkn pipeline logs` should show completely logs of all containers including the init-containers but it doesn't seem to show them in 0.4

[2019-10-22 17:42] piyush-garg commented on #361
/assign

[2019-10-22 17:44] piyush-garg commented on #377
/kind bug

[2019-10-22 17:51] piyush-garg commented on #377
@siamaksade I just checked with the latest master and this is working fine for me.

[2019-10-22 21:15] siamaksade commented on #377
@piyush-garg verified that works on master. closing this

[2019-10-22 21:15] #377 closed

[2019-10-23 07:39] piyush-garg opened #380 "Describe task does not work for inline task spec"
# Expected Behavior

[code]

This should show the description of taskrun

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Create a taskrun with inline spec like

[code]
2. Get the taskrun name
[code]
3. Hit describe command
[code]

# Additional Info

CLI version 0.4.0

[2019-10-23 07:39] piyush-garg commented on #380
/kind bug

[2019-10-23 07:48] vdemeester commented on #380
We need to make sure this is also the case for PipelineRun too (with ResourceSpec too).
See:
- https://github.com/tektoncd/pipeline/pull/1333
- https://github.com/tektoncd/pipeline/pull/1324

[2019-10-23 13:35] afrittoli opened #383 "Display targetURL in list for cloudEvent resource"
# Expected Behavior
When listing resources, key details are displayed in the last column, but not for cloudEvent pipeline resources.

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-10-24 01:41] 16yuki0702 opened #390 "Apply delete options package to other delete commands"
Delete options package will be introduced from https://github.com/tektoncd/cli/pull/346

after this PR merged, we should apply this to other delete commands.

/kind cleanup

[2019-10-24 01:41] 16yuki0702 commented on #390
/assign

[2019-10-24 08:00] piyush-garg commented on #383
/kind bug

[2019-10-24 14:19] chmouel opened #397 "Windows binary should be generate zip file"
Windows binary are currently released as tar.gz when in the world of windows zip
files are more available.

[2019-10-24 15:06] piyush-garg commented on #341
Fixed by #346

/close

[2019-10-24 15:06] #341 closed

[2019-10-25 07:04] #383 closed, assigned to afrittoli

[2019-10-25 09:30] #397 closed

[2019-10-27 00:42] skaegi opened #412 "Support to run a TriggerTemplate"
TriggerTemplates can be really helpful when you need to create more resources than just a PipelineRun or TaskRun. I'm wondering if we might support parameterizing and running a TriggerTemplate in the cli.

Here's a bash script you can use to do this but if we had first rate support in the CLI it would make it easy to trigger a template from a CronJob for example.
[code]

[2019-10-27 14:09] vdemeester commented on #412
Overall, we may want to have `tektoncd/triggers` related sub-commands (and fail or not depending on if the API are available), but indeed it make sense to have those :wink:

/kind feature

[2019-10-27 14:12] vdemeester opened #413 "Task start interactive mode"
# Expected Behavior

`tkn task start` should have an interactive mode for missing resource and parameters, just like `tkn pipeline start` has.

[code]

# Actual Behavior

[code]

/kind feature

[2019-10-27 14:16] vdemeester opened #414 "Task logs subcommand"
# Expected Behavior

Being able to do a `tkn task logs …` as `tkn pipeline logs …`

[code]

# Actual Behavior

[code]

/kind feature

[2019-10-27 15:58] chmouel commented on #414
Isn't that the same as #263? Or sorta at least

[2019-10-28 15:34] #311 closed

[2019-10-28 20:16] danielhelfand commented on #380
Is there a way to check if a field exists within the template? This is due to `.TaskRun.Spec.TaskRef.Name` not being present.

[2019-10-28 21:22] vdemeester commented on #414
Well, #263 is about `taskrun`, this is about `task` :angel: (btw, I don't think we have a `pipelinerun` interactive mode :stuck_out_tongue_closed_eyes: )

[2019-10-28 21:52] danielhelfand commented on #380
/assign

[2019-10-30 08:19] piyush-garg commented on #390
/milestone 0.5.0

[2019-10-30 08:19] piyush-garg commented on #390
/close

[2019-10-30 08:19] #390 closed

[2019-10-30 08:22] piyush-garg commented on #368
/milestone 0.5.0

[2019-10-30 08:22] piyush-garg commented on #368
/milestone v0.5.0

[2019-10-30 08:23] piyush-garg commented on #368
/milestone clear

[2019-10-30 10:03] #364 closed

[2019-10-30 11:20] piyush-garg opened #422 "Make lint issue warning"
# Expected Behavior

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Execute `make lint`

# Additional Info

[2019-10-30 11:20] piyush-garg commented on #422
/assign

[2019-10-30 14:18] chmouel opened #424 "Add make lint to CI"
# Expected Behavior

make lint run on CI

# Actual Behavior

make lint is not run on CI and we endup with PR like this https://github.com/tektoncd/cli/pull/423

/cc @piyush-garg @vdemeester
/kind feature
/area test-infra

[2019-10-30 17:40] piyush-garg commented on #424
/assign

[2019-10-31 09:22] #424 closed

[2019-10-31 15:07] danielhelfand opened #429 "Check for ResourceRef and PipelineRef for TaskRun and PipelineRun Describe to be nil"
With the following pull requests to pipelines, `PipelineRef`, `TaskResourceBinding`, and `PipelineResourceBinding` will be returned as nil when not present with the next release of pipelines:

https://github.com/tektoncd/pipeline/pull/1495
https://github.com/tektoncd/pipeline/pull/1497

When this is updated for the CLI, this will break `tkn tr describe` and `tkn pr describe` as they currently rely

[2019-10-31 15:13] danielhelfand commented on #429
/kind api-change

[2019-11-03 21:12] afrittoli opened #433 "Cannot set timeout when starting a taskrun"
# Expected Behavior
I would like to be able to set the timeout when starting a taskrun via
[code]

https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#syntax

# Actual Behavior

Timeout is not available
[code]

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-11-03 21:16] afrittoli commented on #433
As a side note, `tkn` should have a `dry-run` mode to output the created resource to console (in JSON or YAML), so that the output can be piped to a stream editor (like `sed` or `jq`) and edited on the fly or dumped into a file for future re-use.
I believe there is already an issue open about this

[2019-11-03 21:26] danielhelfand commented on #433
/kind feature

[2019-11-03 21:32] danielhelfand commented on #433
@afrittoli #372 discusses the idea of a dry-run option for pipelineruns, but makes sense to have the same idea for taskruns. Specifying a timeout sounds reasonable as well.

#400 is introducing a `waitUntilPodNameAvailable` available method with a timeout parameter. We can add an option to make this configurable via user input.

[2019-11-05 03:49] #368 closed

[2019-11-07 10:05] piyush-garg opened #438 "Describe Pipeline Does Not Show Info about params"
# Expected Behavior

[code]

# Actual Behavior

[code]

Sample output

[code]

# Steps to Reproduce the Problem

1. Create any pipeline with params
2. Hit `tkn pipeline describe pipeline_name` command
3. It does not show info about params

# Additional Info

I am using the latest tekton cli master.

/kind bug
/assign

[2019-11-07 14:33] danielhelfand opened #440 "Show Step Status for TaskRun Describe"
`tkn tr describe tr_name` will show the names of steps as part of a task run, but it does not show the status of the steps. This was originally excluded from #303 because of not fully knowing how to check whether the step status was available yet.

# Expected Behavior

Show step status of steps for task run describe command:

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

Run

[2019-11-07 14:33] danielhelfand commented on #440
/kind feature

[2019-11-07 15:20] vdemeester commented on #62
@siamaksade @chmouel @sthaha I am really not sure about this one. Usually if `tkn pipeline` returns me something (other than an error or a list of subcommand), I won't look if it has subcommands.

@siamaksade Do you have reference on other cli tools that do things the way you describe ? (I couldn't find any I use)

[2019-11-07 15:21] vdemeester commented on #151
@hrishin I think it got fixed or at least I don't really see it anymore ? I think we can close (and re-open a new issue if it happens again)

/close

[2019-11-07 15:21] #151 closed

[2019-11-07 15:22] vdemeester commented on #197
@girishramnani this issue has stale a bit, and I don't really see any value of doing it just for the sake of it, so I'll close for now :wink:

/close

[2019-11-07 15:22] #197 closed

[2019-11-07 15:24] vdemeester commented on #199
@siamaksade with interactive mode I think this is taken care of (as it will ask you for the resource if you don't provide them through flags)

[2019-11-07 15:26] vdemeester commented on #164
@piyush-garg I think it's all good, so let's close :stuck_out_tongue:

/close

[2019-11-07 15:26] #164 closed

[2019-11-07 15:27] vdemeester commented on #88
ping @hrishin :angel:

[2019-11-07 15:36] chmouel commented on #62
agreed with @vdemeester that doesn't feel right,

[2019-11-07 15:58] #438 closed

[2019-11-07 16:29] danielhelfand commented on #440
/assign

[2019-11-08 02:43] sthaha commented on #62
I agree this adds potential for errors than the savings it brings (` ls` - 3 chars) . The errors could be  something like the below which may be used in a script
[code]
and should return a error but now returns all the pipelines.

[2019-11-08 03:25] siamaksade commented on #62
Alright. Let’s discard this one.

On Thu, Nov 7, 2019 at 9:43 PM Sunil Thaha <notifications@github.com> wrote:

[2019-11-08 08:29] vdemeester commented on #62
/close

[2019-11-08 08:29] #62 closed

[2019-11-08 12:31] siamaksade commented on #199
@vdemeester the none-interactive mode is still available though. Wouldn't that be needed?

[2019-11-08 13:40] vdemeester commented on #199
@siamaksade ah I think I see what you mean. If a user doesn't provide the required `--resource` and explicitely disallow interactive (which is something we are missing today) we should fail instead of silently succeeding, right ?

[2019-11-08 15:23] danielhelfand opened #448 "Chocolatey Package for tkn"
Would be nice if we could offer a package manager solution for Windows installation. Currently, the installation process we recommend is very manual. Chocolately seems to be the preferred Windows option, so we should look into it at some point. Here is the [creation guideline](https://chocolatey.org/docs/create-packages) for making a package.

# Expected Behavior

`choco install tkn` installs `tkn

[2019-11-08 15:23] danielhelfand commented on #448
/kind feature

[2019-11-11 10:27] piyush-garg opened #451 "Start Pipeline should support creating of Cloud Event Resource also"
Right now `start pipeline` does not have the support of `cloudEvent` resource type.

We should add support for that also.

/kind bug
/assign

[2019-11-11 17:56] tkinz27 opened #454 "Cannot `go get github.com/tektoncd/cli/cmd/tkn@latest`"
# Expected Behavior

The cli would get installed to `$GOBIN`

# Actual Behavior

[code]

# Steps to Reproduce the Problem

[code]

# Additional Info

[code]

Also the readme says to run

[code]

and that runs, but since thats just the module path and not the binary path it doesn't actually install anything.

I've also made sure I was not using `go get -u` in case there was something going on such

[2019-11-11 18:03] tkinz27 commented on #454
When I run the build with `-mod=readonly` i get failures.

[code]

[2019-11-12 04:56] #451 closed

[2019-11-12 08:06] chmouel commented on #454
This is weird, I have a fork of cobra for zsh completions fixes (upstream doesnt seem to care to merge them) which would have those functions,

I don't know much about go modules and go install but is it the `@latest` that cause the problem ?

[code]

which version of golang are you using?

/kind bug

[2019-11-12 08:57] chmouel commented on #448
I think if we are implementing this we will need someone who can step up to be the "windows maintainer", that can test the release on windows, add features/fixes etc....

[2019-11-12 11:11] vdemeester commented on #454
From https://github.com/golang/go/wiki/Modules#gomod

We may want to add an "proxy" main in the root folder so that use doing `go get github.com/tektoncd/cli@v0.5.0` get the binary…

[2019-11-12 11:15] chmouel commented on #454
or we can just move `cli/cmd/tkn` to  the root dir, wo/ having to "proxy" ?

[2019-11-12 12:47] chmouel commented on #454
I have tried this https://github.com/chmouel/tektoncd-cli/commit/2070778843a10c6cbfc322327086a7e8fbfd8c30#diff-7ddfb3e035b42cd70649cc33393fe32c for fun and still the same issue :(

[code]

( i have another dummy [commit](https://github.com/chmouel/tektoncd-cli/commit/6df91da52c74a1c6b50ab5a5a2d4c4de1ab78e0c) that moves from tektoncd/cli to my chmouel/tektoncd-cli to be able to do that)

I am guess

[2019-11-12 14:51] danielhelfand commented on #448
@chmouel Willing to be that person, or at least get it started for someone else who wants to own it. I have a Windows machine, so more than willing to help with the things you have mentioned.

[2019-11-12 15:57] chmouel commented on #448
really nice thank you ✌️

[2019-11-12 15:59] danielhelfand opened #455 "Set Default to False for Show Logs for TaskRun and PipelineRun"
It's a bit unexpected to immediately show logs after starting a task run or a pipeline run. I realize that this was an intentional feature added for pipeline runs and task runs, but I think it's not fair to assume that users will want to immediately see logs with the CLI.

I think the `--show-logs` flag gives users the ability to control whether they immediately want to see logs, but we should not

[2019-11-12 16:13] chmouel commented on #455
I am the one who was defending it but I would bow to the majority :D

/cc @siamaksade

[2019-11-12 16:17] danielhelfand commented on #455
I feel like false would be more natural to me, but yeah I differ to the majority as well. If there's a good way to get feedback on this from a broader group, that would help inform this as well.

[2019-11-12 16:20] chmouel commented on #455
yeah taking from another cli like OpenShift's `oc`, you do a `oc start-build` and then `oc build-logs`, it's fair to do the same for `tkn`.

I always do a `tkn log` right after a `tkn start` so that's why I have set this up by default, but yeah if we are used to have the logs not showing then be it 👍

[2019-11-12 16:20] vdemeester commented on #455
I think we need to also put what is going to be the main use of `tkn`. Showing the logs as soon as we created the taskrun/pipelinerun seems to be a good thing in 80% case when used interactively, and a "bad" thing in 80% when used in a script or something that is not interactive. We should make those choice depending on our main target.

I am a bit like @danielhelfand, it feels a bit weird to have

[2019-11-12 16:25] chmouel commented on #455
We can detect pty/interactiveness/scripting or not by the way, and automatically enable/disable if we wanted,

[2019-11-12 16:32] piyush-garg commented on #448
/assign danielhelfand

[2019-11-12 16:37] vdemeester commented on #455
@chmouel I would like that :stuck_out_tongue:

[2019-11-12 16:40] siamaksade opened #456 "Pipeline start creates only one resource"
The following pipeline has 2 resources one of type git and another image but the start flow skips the image resource and starts the pipeline immediately after creating the git resource, which causes the pipelinerun to fail with missing resources:

[code]

[2019-11-12 16:44] piyush-garg commented on #456
/kind bug

[2019-11-12 16:48] piyush-garg commented on #456
we need to remove this https://github.com/tektoncd/cli/blob/master/pkg/cmd/pipeline/start.go#L213

[2019-11-12 19:22] piyush-garg commented on #456
/kind assign

[2019-11-12 19:22] piyush-garg commented on #456
/assign

[2019-11-13 03:56] hrishin commented on #88
@vdemeester sorry I missed this later :bowing_man: . Will bump the priority of it and try to get it done.

[2019-11-13 06:49] #456 closed

[2019-11-13 12:44] hrishin commented on #151
@vdemeester :+1:

[2019-11-13 14:00] #440 closed

[2019-11-13 15:06] dlorenc opened #458 "Feature Request: tkn start -f"
It would be awesome to have a Task definition sitting in a repo, and be able to create a TaskRun from that without needing to first create it in the cluster.

This would work roughly by parsing the Task definition then sticking it into the "taskSpec" field of the generated TaskRun, rather than using a TaskRef.

[2019-11-13 15:13] chmouel commented on #458
/kind feature

👍

[2019-11-13 15:59] dlorenc commented on #458
Ref: https://github.com/tektoncd/cli/pull/459

[2019-11-13 16:29] danielhelfand opened #460 "Sort Steps by Order of Execution for tkn tr desc"
Following up on #450.

The steps shown by `tkn taskrun describe` don't appear in the order that they are to be executed. Specifically, steps not explicitly defined as part of the task definition that show up as part of a task run make it confusing as to the order of what is to be executed.

An example of a step not explicitly defined as part of a task but appears as part of a task run is [`s2i-nod

[2019-11-14 10:06] praveen4g0 opened #463 "Feature Request: tkn pipeline version"
# Expected Behavior
tkn pipeline version
pipeline version : v0.8.0
or
tkn version
 Client version: 0.5.0
 Server version:  0.8.0
# Actual Behavior
N/A
or
tkn version
Client version: 0.5.0

# Additional Info

[2019-11-14 10:11] vdemeester commented on #460
/kind feature

[2019-11-14 10:31] piyush-garg commented on #463
/kind feature

[2019-11-14 10:38] vdemeester commented on #463
@praveen4g0 This is a tricky one, but two points

- It should be on `tkn version` instead of `tkn pipeline version`
- We don't have a way yet to return the version from the controller (without a huge hack). See tektoncd/pipeline#1543

Also, [`kn`](https://github.com/knative/client) is going to return the api version instead of the "knative release version". I think it might make more sense as it i

[2019-11-14 19:12] piyush-garg opened #465 "Interactive start pipeline throws error"
# Expected Behavior

`tkn pipeline start` should work

# Actual Behavior

It throws error

[code]

# Steps to Reproduce the Problem

1. Create a pipeline which has param with no default
2. Start pipeline and provide param value using interactive
3. Get the error

# Additional Info

[code]

/kind bug
/assign

[2019-11-15 09:54] #465 closed

[2019-11-15 15:12] danielhelfand commented on #463
Dupe of #159. I'll close #159 though since a lot of the conversation is happening here.

[2019-11-15 15:12] danielhelfand commented on #159
/close

[2019-11-15 15:12] #159 closed

[2019-11-15 17:57] danielhelfand opened #467 "Error Message for tkn task start Difficult to Find"
When using `tkn task start`, logs instantly start as expected, but a failure results in the following message:

[code]

This doesn't do the best job of communicating the issue if a failure has occurred. You need to dig deeper by looking at `tkn tr desc` to find what the error was:

[code]

It would be better if this information was communicated via logs of the task run, but, at the very least, we

[2019-11-15 18:02] piyush-garg opened #468 "tkn pipeline start or tkn task start failure on array params"
# Expected Behavior

`It should work`

# Actual Behavior

`If you create a pipeline or task with array param, and provide single value to params it fails`

# Steps to Reproduce the Problem

1. Create pipeline or task with array param
2. Execute `tkn pipeline start -p paramName=boom`
3. It fails

# Additional Info

/kind bug

[2019-11-15 19:35] danielhelfand commented on #467
/kind bug

[2019-11-16 14:43] danielhelfand commented on #467
/assign

[2019-11-18 18:41] faust64 opened #470 "tkn logs segfaults if run not started"
# Expected Behavior

Some info/error/warning, notifying me the job has not started yet

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. pile up several pipelineruns
2. use tkn pipelinerun logs against a job that did not start

[2019-11-18 18:47] piyush-garg commented on #470
@faust64 Can you please provide the CLI version also? `tkn version`

[2019-11-18 19:07] danielhelfand commented on #470
My thought is we need to check if conditions are available. We need to use the [`empty func`](https://github.com/tektoncd/cli/blob/990cb81bfa1097181ab6c65e7ebfe9d190cbb199/pkg/cmd/pipelinerun/log_reader.go#L215) to check before using [index 0 for the conditions list](https://github.com/tektoncd/cli/blob/990cb81bfa1097181ab6c65e7ebfe9d190cbb199/pkg/cmd/pipelinerun/log_reader.go#L137).

[2019-11-18 19:23] piyush-garg commented on #470
Yes, exactly. I also ended up with the same resolution. Are you raising the PR or should I ?

[2019-11-18 19:30] danielhelfand commented on #470
/assign

I'll raise one.

[2019-11-18 19:34] piyush-garg commented on #458
Fixed by #459

/close

[2019-11-18 19:34] #458 closed

[2019-11-19 08:52] faust64 commented on #470
Hi,

CLI version: 0.5.0

[code]

[2019-11-19 22:10] danielhelfand opened #473 "Improve TaskRun Logs with Friendlier Step Completion Message"
/kind feature

## What is the Feature

Complete work originally opened in #442. Change the end up step log message to say: `Step completed` instead of  `EOFLOG`.

## Changes to Make

Requires update to [log_reader.go](https://github.com/tektoncd/cli/blob/83648ccc1b69a144c71df42e0267eaf94c462dd8/pkg/cmd/taskrun/log_reader.go#L170) and updating output in associated tests. See failing unit tests in #

[2019-11-20 00:23] danielhelfand commented on #473
/close

PR was closed too soon

[2019-11-20 00:23] #473 closed

[2019-11-20 12:23] #454 closed

[2019-11-21 08:53] #470 closed

[2019-11-22 14:47] siamaksade opened #475 "Creating new resources on start doesn't show the resource name"
When creating a new resource on pipeline start, the name of the pipeline resource that the new resource would be assigned to should be displayed

Current result:
[code]

Expected result:
[code]

[2019-11-22 14:49] siamaksade opened #476 "Add default values when creating new resource"
When user creates new resource on starting a pipeline, it would be useful to suggest default values for resource name and some attributes which user could use by pressing enter. For example for Git branch "master" could be default.

[2019-11-22 15:01] piyush-garg commented on #475
/kind enhancement

[2019-11-22 23:22] chmouel commented on #476
/kind feature

big +1

[2019-11-25 09:28] vdemeester commented on #475
/kind feature

[2019-11-25 17:08] danielhelfand commented on #433
/assign

[2019-11-25 19:21] tsuna opened #477 "Can't specify the k8s context?"
**tkn Version:** v0.5.1

`tkn` has a `--kubeconfig` flag but it doesn't seem to have a flag to specify which k8s context to use.  I have one config file and several contexts in it, and `tkn` only seems to use the default. Am I missing something or there is no way to tell it which context to use?

[2019-11-25 19:29] vdemeester commented on #477
/kind feature

[2019-11-25 19:29] chmouel commented on #477
there is way if you use the variable KUBECONFIG but we can add a specific `--kubeconfig` flag

[2019-11-25 19:37] tsuna commented on #477
How do you specify the context to use with the `KUBECONFIG` variable?

[2019-11-26 00:01] waveywaves commented on #468
With

[2019-11-26 00:05] waveywaves commented on #468
With the following pipeline
[code]
and the following command

`$ tkn pipeline start sample-pipeline-cluster-task-4 -p a=qwe`

we get the following output with error

[code]

is this the same error you are facing @piyush-garg ?

[2019-11-26 01:21] waveywaves commented on #468
I debugged this a bit. Seems like the correct PipelineSpec isn't being returned from controller. With array typed params being taken as string by default `[{Name:a Value:{Type:string StringVal:que ArrayVal:[]}}] [a=que]`
Do correct me if I am wrong.
cc @hrishin

[2019-11-26 03:37] piyush-garg commented on #468
Yes, the wrong pipeline spec or task spec is getting added, I am working on this already to get the fix.

/assign

[2019-11-26 09:47] ChrisAnn opened #479 "Feature Request: Ignore SSL, for local development or when knowingly querying a host without valid SSL"
# Expected Behavior

tkn ignores the SSL validation check when supplying `--insecure-skip-tls-verify` in the command

`tkn taskrun describe echo-hello-world-task-run --insecure-skip-tls-verify`

# Actual Behavior

[code]

# Additional Info

This should mirror the existing `--insecure-skip-tls-verify` flag in [`kubectl`](https://kubernetes.io/docs/reference/kubectl/kubectl/)

[2019-11-26 10:37] vdemeester commented on #477
@chmouel there is no `--context` flag though (`kubectl` has one)

[code]

[2019-11-26 10:55] chmouel commented on #477
Ah I stand corrected then, I usually would just use different KUBECONFIG and use kubens to change my default context in there, but that flag is much easier,

[2019-11-26 16:59] #433 closed

[2019-11-26 17:54] #467 closed

[2019-11-27 07:20] waveywaves commented on #477
I would like to work on this if that is alright

[2019-11-27 08:03] waveywaves commented on #477
@hrishin says /ilovethisissue will make it assign it to me

[2019-11-27 08:03] waveywaves commented on #477
/assign

[2019-11-27 17:55] othomann opened #480 "unknown field "serviceAccountName" trying to start a task"
# Version and Operating System

**tkn Version:** dev version (built from master)

**Operating System:** MacOS Mojave

# Expected Behavior
No error and the task would be executed cleanly.

# Actual Behavior
Getting an error trying to run the task.

# Steps to Reproduce the Problem

I installed tekton pipelines from master on a cluster. Then I added a new task using this task.yaml:
[code]

I did:
1)

[2019-11-27 18:03] vdemeester commented on #480
/kind bug

[2019-11-27 18:28] othomann commented on #480
I think I finally got it to work. It looks like I had an old `tkn` version on the path. Sorry for the noise.
Closing.

[2019-11-27 18:28] #480 closed

[2019-11-28 04:06] #477 closed

[2019-11-28 09:47] 16yuki0702 commented on #263
Can I take on this task??

[2019-11-28 09:54] chmouel commented on #263
Please feel free to do so, 🙇

[2019-11-28 10:25] chmouel opened #482 "Bash/ZSH completion across namespaces (with -n) is not working"
# Version and Operating System

**tkn Version:**

compiled from latest

**Operating System:**

OSX's brew

# Expected Behavior

Something like this, if I was adding a `-n` it would complete on the right namespace

(fyi that's a custom patch i made on oc completion to get it right, not available by default)

[![asciicast](https://asciinema.org/a/8uk0Xk2IR8wsd7zxIgyfDvzaw.svg)](https://asciinema.org

[2019-11-29 08:41] waveywaves commented on #463
/assign

[2019-11-29 08:48] chmouel commented on #463
@waveywaves that one is a tricky one fyi, which involves some hard to tackle change in pipeline (to answer the question "what is the pipeline version" question)

[2019-11-29 08:51] piyush-garg commented on #243
@danielhelfand  I think this has been fixed, can you please check and close. We did the refactoring regarding flags

[2019-11-29 09:06] waveywaves commented on #463
Yes I was just checking that out. I was thinking something along the lines of https://github.com/kubernetes/kubernetes/tree/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/staging/src/k8s.io/client-go/pkg/version in tektoncd/pipeline

[2019-11-29 10:28] 16yuki0702 commented on #263
Thanks!!

[2019-11-29 10:28] 16yuki0702 commented on #263
/assign

[2019-11-29 11:24] jeffmaury commented on #192
That would be a great addition for our effort around IntelliJ Tekton support (which is based on the `tkn` CLI) as it will prevent us to use `kubectl` to do Tekton resources creation

[2019-11-29 14:57] #468 closed

[2019-11-30 06:37] piyush-garg commented on #475
/assign

[2019-12-02 07:05] #475 closed

[2019-12-02 14:54] danielhelfand opened #488 "Way of Testing tkn task start -t"
/area testing

Currently, `tkn task start` features a `--timeout` or `-t` flag that allows a user to [set the timeout for a task run](https://github.com/tektoncd/cli/blob/ab673fa5ab2b48e5ce585961647d106cfc7ae1ab/pkg/cmd/task/start.go#L175). While the unit test case of actually setting the property is covered, it would be nice to have some sort of test that covers the case of setting the timeout to

[2019-12-02 15:18] danielhelfand opened #489 "Way of Testing tkn task start -f"
/area testing

#459 introduced a `--filename` option with `tkn task start` that allows a user to start a task that has not been created in a cluster namespace. It would be nice to have a test that specifically tests this feature.

Currently the approach is to [change to the function definition](https://github.com/tektoncd/cli/blob/ab673fa5ab2b48e5ce585961647d106cfc7ae1ab/pkg/cmd/task/start_test.go

[2019-12-02 17:19] danielhelfand commented on #192
Picking up `tkn pipeline create` for this issue.

[2019-12-02 20:02] siamaksade opened #490 "Cancelled pipelines should show as cancelled instead of failed"
When a pipeline is cancelled, CLI shows conflicting information about the status:
[code]

`STATUS` shows `Failed` while the message says it's cancelled. The status should be displayed as `Cancelled` and distinguish between failed and cancelled pipelines.

[2019-12-03 03:02] piyush-garg commented on #490
/kind bug

[2019-12-03 03:02] piyush-garg commented on #490
/assign

[2019-12-03 15:24] chmouel opened #494 "Test is failing due of output-resource-pipeline not being found"
# Expected Behavior

Green Test

# Actual Behavior

https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_cli/492/pull-tekton-cli-integration-tests/1201865494877966336/build-log.txt
[code]

/kind bug
/area testing
/kind failing-test
/assign

[2019-12-03 15:32] chmouel opened #496 "Start doing testing against nightly"
We are currently testing only against the stable version of pipeline.

When there is breaking change in pipeline, we rush it to get it fixed like
mad(wo)men to fix the CI.

Let's do two different jobs, one against nightly and one against stable version
of pipeline.

/area testing
/kind feature

/cc @vdemeester @hrishin @sthaha @danielhelfand

[2019-12-03 16:11] #494 closed

[2019-12-03 16:43] danielhelfand opened #497 "Include Location of Official tkn Image in README"
We should have an official image for `tkn` and publish where it is available. We should also include available tags.

Is `gcr.io/tekton-releases/dogfooding/tkn` the location of the image?

/kind documentation
/kind question

[2019-12-03 16:44] danielhelfand commented on #497
good first issue

[2019-12-03 16:48] chmouel commented on #497
I think we should aim to provide ours with latest stable version done at RELEASE_PROCESS, the dogfooding one can be slow to get updated (ie: https://github.com/tektoncd/plumbing/pull/141)

[2019-12-03 16:48] vdemeester commented on #497
@danielhelfand it will be once we have it :stuck_out_tongue_closed_eyes: I think right now it got pushed manually

This would also remove the need for https://github.com/tektoncd/plumbing/blob/master/tekton/images/tkn/Dockerfile
/cc @wlynch @afrittoli

We should have a nightly one, and one done in releases :angel:

[2019-12-03 16:48] vdemeester commented on #497
/kind feature

[2019-12-03 16:51] chmouel commented on #497
when we have our own Dockerfile, we could go fancy and create a automatic PR update on [release](https://github.com/tektoncd/cli/blob/master/tekton/release.sh) with our [github token](https://github.com/tektoncd/cli/blob/2da5e0e14ebee51a1d917cf2e731dd15d79ee65d/tekton/release-pipeline.yml#L14) in pipeline

[2019-12-03 16:53] danielhelfand commented on #497
Yup, I like it!

[2019-12-04 06:09] piyush-garg opened #498 "Update pipeline dep to 0.9.0"
As the pipeline 0.9.0 has been released, we should bump pipeline dep in CLI.

/kind feature
/assign

[2019-12-04 08:49] piyush-garg commented on #490
/unassign

[2019-12-04 09:31] piyush-garg commented on #490
/kind good first issue

[2019-12-04 09:31] piyush-garg commented on #490
/good first issue

[2019-12-04 12:33] danielhelfand opened #499 "Flaky Unit Tests in CI"
The unit tests shown in the image below have been known to fail quite regularly. The typical approach has been to rerun the tests if these two tests are the only two that failed. We should look into what causes the occasional failures.

![image](https://user-images.githubusercontent.com/34258252/70142867-3cc25500-1668-11ea-81b6-dbd009d8a03b.png)

# Expected Behavior

Unit tests pass as part of CI

[2019-12-04 12:34] danielhelfand commented on #499
/area testing

[2019-12-04 13:42] vdemeester commented on #499
/kind flake

[2019-12-04 17:29] piyush-garg commented on #429
/assign

[2019-12-04 21:12] #429 closed

[2019-12-04 21:12] #498 closed

[2019-12-05 20:12] danielhelfand commented on #192
/assign

[2019-12-09 01:54] 16yuki0702 commented on #414
I'll try it :thumbsup:

[2019-12-09 01:54] 16yuki0702 commented on #414
/assign

[2019-12-09 17:56] #192 closed

[2019-12-10 23:37] danielhelfand commented on #243
@piyush-garg Part of the issue has been addressed (i.e. using `-L` for `--limit`). We are still using a `< 0` check for validation though. By no means is there anything wrong with this, but it would be nice to use what Cobra has built in to remove the need for a check.

[2019-12-11 08:45] pradeepitm12 opened #511 "tkn task start does not respect input parameters"
tkn task start <task> does not take the input parameters provided

### Actual Behaviour
tkn task start build -i=source=app-res -p=G_TASK=task
and try to get the description of the taskrun gives `Params No params`
### Expected Behaviour
given params should be respected
tkn task start build -i=source=app-res -p=G_TASK=task
description of taskrun should give `Params G_TASK task`

[2019-12-11 08:48] pradeepitm12 commented on #511
/kind bug

[2019-12-11 11:45] piyush-garg commented on #511
This is also the issue with `pipeline start`. This started occurring after #483

/assign

[2019-12-11 12:02] #511 closed

[2019-12-16 09:11] #489 closed

[2019-12-16 09:52] piyush-garg commented on #414
/close Fixed in #508

[2019-12-16 09:57] vdemeester commented on #414
/close

[2019-12-16 09:57] #414 closed

[2019-12-16 17:05] danielhelfand commented on #263
/close

Addressed by #491

[2019-12-16 17:05] #263 closed

[2019-12-16 18:22] siamaksade opened #519 "Add command to start clustertasks similar to tasks"
ClusterTask and Task should have the same commands exposed on CLI. T

[code]

while

[code]

[2019-12-17 05:59] 16yuki0702 opened #520 "Refactoring pipeline start and log tests."
/area testing

This is a kind of suggestion.
pipeline start, log tests are currently using ```pkg/cmd/pipeline/logs_testutil.go ```
but these seems can be replaced common utility of ```pkg/helper/test/util.go```
I think it would be better refactoring these tests to use common utility and remove each test utils.

[2019-12-17 06:00] 16yuki0702 commented on #520
/assign

[2019-12-17 09:49] vdemeester commented on #519
/kind feature

[2019-12-17 13:14] ghost opened #522 "E2E testing on Windows"
# Version and Operating System

Both release and HEAD versions, running on Windows.

# Expected Behavior

tkn, and its chocolatey package, are able to be tested when a PR is created or a release is cut.

# Actual Behavior

At the moment we don't have windows machines to call out to for running tests.  Near-term we could use another CI service like Circle or Travis. Longer term it would be great to

[2019-12-17 13:37] vdemeester commented on #522
/kind feature
/area test-infra
/area testing

[2019-12-17 13:50] danielhelfand commented on #448
Chocolatey package available [here](https://github.com/danielhelfand/chocolatey-tektoncd-cli) for now. Waiting on approval from Chocolatey reviewers on making the package available. Will wait to include in README until it receives approval.

[2019-12-17 14:10] chmouel commented on #448
Really nice, thanks!

[2019-12-17 16:22] danielhelfand opened #523 "Editing Prompts for tkn resource create Interactive Mode Causes Unit Test Issues"
The `tkn resource create` interactive mode contains unnecessary spacing in prompts before [colons](https://github.com/tektoncd/cli/blob/b13f6cfe244cd21292678e2709c6d725ba739535/pkg/cmd/pipelineresource/create.go#L148) as well as [question marks](https://github.com/tektoncd/cli/blob/b13f6cfe244cd21292678e2709c6d725ba739535/pkg/cmd/pipelineresource/create.go#L445) in some cases.

When trying to upda

[2019-12-17 16:23] danielhelfand commented on #523
/area test
/kind bug

[2019-12-17 19:18] ImJasonH opened #524 "Feature: `tkn task run` vs `tkn task start`"
# Expected Behavior

I can "run" Tasks, not just "Start" them.

"Running" a Task results in a new "TaskRun" instance.

# Actual Behavior

In order to "run" a Task, I have to "Start" it.

When I "Start" a Task, it results in new "Task**Run**" instance.

# Additional Info

More concretely, I'd like to change the CLI to be able to call `tkn task run <task-name> --params...`, instead of `tkn task star

[2019-12-17 19:21] bobcatfish commented on #524
![image](https://user-images.githubusercontent.com/432502/71027048-74a1b180-20d8-11ea-85a9-29279b141dd8.png)

[2019-12-17 19:32] vdemeester commented on #524
btw, we can have both (aka `run` and `start`, one being an alias of the other, same way `docker run` and `docker container run` are aliases)

/kind question
/kind feature

[2019-12-17 19:42] danielhelfand commented on #524
As of now, it looks like we support [trigger](https://github.com/tektoncd/cli/blob/master/pkg/cmd/task/start.go#L95) as an alias for pipeline start. It's obviously pretty well hidden as it's not promoted very well:

[code]

I think I can agree to the idea of an alias, but it would make it hard to find. I am wondering if the basis of the issue has a lot to do with user experience? Are we seeing lot

[2019-12-17 19:45] ImJasonH commented on #524
I think having a CLI verb `trigger` is going to get pretty confusing when/if `tkn` supports the `trigger` resource. 🤔

I do like the idea of an alias though, but I'd still prefer to have `run` by the "main" way it's documented in examples. "Start" just isn't a term we use anywhere outside of the CLI.

[2019-12-17 19:49] danielhelfand commented on #524
Yeah, removing `trigger` I think makes sense. To be candid, I wasn't aware it was an alias until now. I think it's feasible to switch to use run. I think it's worth it to raise this others on the CLI too, but I don't think it would be too painful. Especially since we could use the alias start to avoid deprecation.

[2019-12-17 21:23] ncskier opened #527 "Mimic kubectl with command syntax"
# Expected Behavior
Since I use `kubectl` a lot, I'm used to typing the `kubectl [command] [TYPE] [NAME] [flags]` command syntax. So, I sometimes expect the Tekton CLI to have the same syntax.

# Actual Behavior
If I understand correctly, the Tekton CLI has a `tkn [TYPE] [command] [NAME] [flags]` syntax. I know that the Tekton CLI isn't exactly analogous to `kubectl`, so it might not suit the Tekt

[2019-12-18 08:19] vdemeester commented on #524
The question is then, which one should be the "documented" one, `run` or `start` ?  and which one is the alias. If we just want to be able to do `tkn task run`, then, an alias is enough. If we want "to move to `run`" (aka `man tkn-task-run`, and highlighting `run` instead of `start` in documentation), then a change making `start` becamo `run` (with an alias like #526 would be better). We can also

[2019-12-18 09:10] vdemeester commented on #524
Right, I tend to agree it might be confusing — but it's more or less on the same lines as `run` then :angel:.

On of the reason we went for `start` instead of `run` initially is that, you are effectively *starting* a task (or a pipeline) and then you watch the log — it was even more true before we had the `--showlog` defaulting to `true`. We can look at others:
- `kubectl` : when you want to have

[2019-12-18 10:43] vdemeester commented on #527
So, this is something that crossed our mind initially. There is a few reasons I can think of for why we didn't go there.

- if we were to mimic `kubectl` behavior, then what would be the value of `tkn` aside from a *glorified* `kubectl` "script"
- we are more or less in the same "spirit" as `kn` for Knative. We target the Tekton APIs, the fact that it's Kubernetes behind the curtain is an implemen

[2019-12-18 14:32] ImJasonH commented on #524
@vdemeester Thanks for this feedback! I think I'm convinced. To summarize to make sure I've got it:

* `tkn task start` should start a TaskRun, print the new TaskRun name, then immediately exit. Users who want to stream logs can use that name to `tkn taskrun logs`, users who want to cancel can `tkn taskrun cancel`
* `tkn task run` should start a TaskRun, and begin streaming logs. Users who want to

[2019-12-18 14:41] vdemeester commented on #524
Or could use a flag.

This is not the current behaviour as if you terminated the `tkn task run`, we don't do anything for the `TaskRun` (no cancel) ; but yeah, this would be the behaviour I would like.

ahah yeah, this is a good question :angel:

Right, we can definitely do some breakage as we are in `v0.x`, totally fine for me.

[2019-12-18 15:16] ImJasonH opened #529 "Move examples into Markdown"
From https://github.com/tektoncd/cli/pull/525#pullrequestreview-333883361

Examples should be moved out of Go code and into dedicated Markdown files.

cc @vdemeester

[2019-12-18 15:21] vdemeester commented on #529
/kind documentation

[2019-12-18 15:30] piyush-garg opened #530 "Add trigger resources list commands to CLI"
We should add the list command for resources provided by [tektoncd/triggers](https://github.com/tektoncd/triggers) to the CLI.

- [x] Add triggertemplate list
- [x] Add triggerbinding list
- [ ] Add eventlistener list

/kind feature
/assign

[2019-12-18 16:11] #455 closed

[2019-12-18 16:16] danielhelfand opened #531 "Proposal: Deprecate trigger Alias for Pipeline Start and Task Start"
We currently support the alias `trigger` for `tkn pipeline start` and `tkn task start`. I think it's not used very often, and it may become confusing as the CLI starts to add in features around the triggers project.

I think a simple process would be to make an announcement as part of our next release that trigger will be deprecated and then we officially remove it in `v0.8.0`. If we would like to

[2019-12-18 16:21] danielhelfand commented on #531
/kind feature
/kind question

[2019-12-18 16:30] danielhelfand commented on #527
I tend to agree with what @ncskier is saying with regard to how I actually like to type commands. Something about `tkn delete task foo` feels more natural than `tkn task delete foo`.

I am not sure how difficult that kind of refactoring would be for the whole project, but I think we are probably best served continuing with our current strategy. Apologies for all the context switching with tools. I

[2019-12-18 16:36] vdemeester commented on #527
Yes, that is definitely the goal :angel:

[2019-12-18 21:44] chmouel commented on #531
make sense +1 from me!

[2019-12-19 14:58] danielhelfand commented on #490
/assign

[2019-12-19 16:10] #490 closed

[2019-12-20 09:54] chmouel commented on #499
Let's give a try to :

https://github.com/google/goexpect

instead of the netflix one,

@pradeepitm12 is going to try to move the most flaky test to it

/assign @pradeepitm12

[2019-12-23 07:08] piyush-garg opened #539 "Add trigger resources delete commands to CLI"
We should add the delete command for resources provided by [tektoncd/triggers](https://github.com/tektoncd/triggers) to the CLI.

- [x] Add triggertemplate delete
- [x] Add triggerbinding delete
- [x] Add eventlistener delete

/kind feature
/assign @pradeepitm12

[2019-12-23 11:47] praveen4g0 opened #542 "cli build test failing"
# Expected Behavior
When I do ./hack/update-codege.sh
and ./hack/verify-codegen.sh
I see Diffing /home/pthangad/go/src/github.com/tektoncd/cli against freshly generated codegen
/home/pthangad/go/src/github.com/tektoncd/cli up to date.

CLI build test should pass
# Actual Behavior
but cli build tests are failing even after performing ./hack/update-codegen.sh
and also adding vendors again under thir

[2019-12-23 11:47] piyush-garg commented on #542
/assign

[2019-12-23 14:03] siamaksade opened #546 "Clustertask list command fails on missing namespace"
When listing the `ClusterTask` after deleting a namespace, the command fails:
[code]

[2019-12-23 14:12] piyush-garg commented on #546
clustertask is a cluster-wide resource, we need to remove the namespace check for this [here](https://github.com/tektoncd/cli/blob/master/pkg/cmd/clustertask/list.go#L53)

/kind bug
/kind good-first-issue

[2019-12-23 14:12] piyush-garg commented on #546
/kind good first issue

[2019-12-23 14:18] danielhelfand commented on #546
/assign

[2019-12-23 14:38] vdemeester commented on #542
/kind bug

[2019-12-23 16:09] #542 closed

[2019-12-23 16:38] #546 closed

[2019-12-26 12:12] #530 closed

[2019-12-27 11:32] praveen4g0 opened #553 "Cannot re-run task with --last option"
# Version and Operating System

**tkn Version:**
0.6

# Expected Behavior
**tkn task start -f <manifest.yaml>**

Taskrun started: task-volume-run-npvx4
Waiting for logs to be available...
.....

When we try to re-run the same task it throws, error
**tkn task start -f <manifest.yaml> --last**

**Error:** no taskruns related to task task-volume found in namespace default

**Reason:** When we run tas

[2019-12-27 14:10] vdemeester commented on #553
I am not sure I follow there, I would think it just recreates a new TaskRun from the previous one, without embedding the TaskSpec (if it was not the case before).

/kind bug

[2019-12-27 16:32] danielhelfand commented on #553
It appears as if there is some dependency on needing the task to be created in the namespace for `tkn task start --last`. The whole idea behind `tkn task start -f` is that the task can be started without creating the task beforehand. We either need a way to connect the taskrun to the task despite the fact it doesn't exist, or we need to return an error message saying `-f` does not support `--last`

[2019-12-27 17:15] danielhelfand commented on #553
Please feel free to look at the pull request I just opened @praveen4g0. Let me know if I am missing something different that we could do to approach this.

[2019-12-27 17:28] danielhelfand opened #557 "Feature Request: tkn task start -f With Remote File"
As of `v0.6.0`, `tkn task start -f` supports local files but doesn't support remote files. We should add the ability to specify a remote file with `-f` so users can specify a url instead of a local file path.

[2019-12-27 17:28] danielhelfand commented on #557
/kind feature

[2019-12-29 19:30] danielhelfand commented on #209
/assign

[2019-12-31 08:06] sudhirverma opened #560 "Provide manual step to create PipelineResources."
currently, there is an interactive way to create a pipelineresources.

for example:
[code]

there should bee a way to create resources manually.

for example:
[code]

[2019-12-31 08:11] piyush-garg commented on #560
/kind feature

[2019-12-31 13:30] danielhelfand commented on #560
@sudhirverma Thanks for opening this issue. Would `tkn resource create -f` satisfy this use case? It allows you to create pipeline resources from a local or remote file of a pipeline resource.

[code]

[2019-12-31 14:36] danielhelfand opened #561 "Feature Request: tkn debug"
While there are certainly features of `tkn` that aid with debugging a `TaskRun` or `PipelineRun`, there isn't, in my opinion, something similar to the experience of using an IDE debugger when both developing Tekton resources (e.g. pipelines/tasks) and figuring out what is wrong with an already developed Tekton resource.

I imagine this feature having the following requirements:
1. Ability to pause

[2019-12-31 16:43] chmouel commented on #561
I'd love to have that too but as you said that goes beyond what CLI can offers and this would need some discussions first on `pipeline`

Related which i think would be helpful for debugging if implemented https://github.com/tektoncd/cli/issues/126

[2019-12-31 19:09] danielhelfand commented on #561
Yes, there are a lot of aspects of this that would need to be worked out in pipeline as well as IDE extension projects.

I have seen issues around pausing pipelineruns/taskruns:
* [Design: Suspend PipelineRun and TaskRuns after creation](https://github.com/tektoncd/pipeline/issues/836)
* [Design and implement paused Task execution until condition is met](https://github.com/tektoncd/pipeline/issues

[2020-01-02 14:55] piyush-garg commented on #539
Fixed in #540 #554 #564

/close

[2020-01-02 14:55] #539 closed

[2020-01-02 15:39] #553 closed

[2020-01-06 14:17] #448 closed

[2020-01-07 08:44] chmouel commented on #317
/assign

[2020-01-07 09:20] sudhirverma commented on #560
Hi, @danielhelfand when I am creating the resource from ymal.

for example:
[code]

in resources.yaml there are four different types of PipelineResource but it creates only one while running the command `tkn resource create -f pipeline/resources.yaml`

cc: @dgolovin and @evidolob

[2020-01-07 11:19] chmouel opened #570 "Set no colours automatically when not running with a tty or a pipe"
# Expected Behaviour

No colour code sets when piping over a file

# Actual Behaviour

![image](https://user-images.githubusercontent.com/98980/71891865-cf628200-3147-11ea-8880-ff7b19ed77a5.png)

# Steps to Reproduce the Problem

1. tkn pipeline logs pipeline1 > /tmp/file
2. cat -e /tmp/file

# Additional Info

/kind bug

[2020-01-07 11:20] chmouel commented on #570
https://github.com/mattn/go-isatty/ should detect it for us nicely

[2020-01-07 11:23] chmouel commented on #570
It should be handle by github.com/fatih/color but it isnt 🤔

https://github.com/fatih/color/blob/2e5e248695e7e4a0f9ff6d548b83b99199326f49/color.go#L16-L21

[2020-01-07 11:29] chmouel opened #571 "`tkn` should not be interactive if we are not running with a tty"
#Expected Behavior

Don't try interactiveness if we don't run interactively (ie in scripts or others), for example on `tkn pipelinerun logs` just fail if no argument is specified

# Actual Behavior

Do some interactiveness stuff with survey

# Steps to Reproduce the Problem

1. Write a shell script that do a `tkn pipelinerun logs`
2. Should not be interactive

# Additional Info

That should detect

[2020-01-07 11:31] chmouel commented on #482
/kind feature

[2020-01-07 11:31] chmouel commented on #479
/kind feature

[2020-01-07 12:31] chmouel opened #572 "`tkn delete` should accept multiple argument"
# Version and Operating System

# Expected Behavior

Multiple argument to `tkn delete` would be handle

# Actual Behavior

Only the first one currently

# Steps to Reproduce the Problem

1. tkn delete pipeline1 pipeline2

# Additional Info

![image](https://user-images.githubusercontent.com/98980/71895690-089fef80-3152-11ea-8c35-8b30a901f364.png)

/kind feature

[2020-01-07 12:32] chmouel commented on #572
/label good-first-issue

[2020-01-07 12:54] danielhelfand commented on #560
@sudhirverma Yes, so we do not at this time support multi resource file definitions. You would have to define each file individually and run `tkn resource create -f` for each. But I see your point and that was an overlook on our part that we should address. I think we should close this issue and open a new one around supporting multi resource file definitions.

[2020-01-07 13:28] sbwsg commented on #572
ok if i pick this up?

/assign

[2020-01-07 13:29] chmouel commented on #572
Perfect @sbwsg thanks

[2020-01-07 13:33] chmouel opened #573 "`tkn logs` on Failed task should show the failed task log with --showlog"
# Version and Operating System

# Expected Behavior

Show the actual log of the failed pod if the `--showlog` flag is specified

# Actual Behavior

Tells the user about it but not showing it :

![image](https://user-images.githubusercontent.com/98980/71898755-646e7680-315a-11ea-8c9e-6171b56f1da8.png)

# Steps to Reproduce the Problem

1. tkn log failed-task

# Additional Info

To be consistent, us

[2020-01-07 13:38] danielhelfand opened #574 "Have Create and Apply Not Be Tied to Specific Resources"
As of v0.6.0, create commands are structured as follows:

`tkn <resource> <action>` (e.g. `tkn pipeline create`)

When it comes to creating multiple resources in the same file definition, our current approach will not support that. The question is whether to support several different Tekton resources in the same file (e.g. a `Pipeline` and a `Task`) and whether to support this as a non resource-sp

[2020-01-07 13:46] danielhelfand commented on #574
/kind question
/kind feature

[2020-01-07 13:49] chmouel commented on #574
I think this should be at the topevel the same way we create and apply are toplevels in kubectl,

i.e: we don't say `kubectl pods create` but `kubectl create pods`

[2020-01-07 13:56] danielhelfand opened #575 "Create Commands Should Support Multi Resource Files"
# Version and Operating System

**tkn Version:** `v0.6.0`

**Operating System:** N/A

# Expected Behavior

File definition with multiple resources of the same kind (e.g. two `Pipelines`) should be created.

# Actual Behavior

Only first resource in the file defined is created.

# Steps to Reproduce the Problem

1. Have a file with multiple resources of the same kind
2. Run `tkn <tekton resource> c

[2020-01-07 13:57] danielhelfand commented on #575
/kind feature

[2020-01-07 13:58] danielhelfand commented on #575
If the proposal in #574 is to move create/apply to a top-level command, then this feature will not be needed.

[2020-01-07 14:02] danielhelfand commented on #560
We have two issues open to replace this: #574 and #575. My personal preference is that we move away from a resource-specific creation approach and have `create`/`apply` be top level commands (e.g. `tkn create` versus having a create command for each resource).

Thanks for your comment in this issue though as it helped point out a big area of improvement for us. Feel free to weigh in on both of the

[2020-01-07 14:02] #560 closed

[2020-01-07 14:04] danielhelfand commented on #574
Agreed. This would also allow us to support different kinds defined within the same file.

[2020-01-07 15:01] #317 closed

[2020-01-07 16:07] chmouel opened #576 "Code Coverage on CI doesn't seem to be running anymore"
I don't think I have seen the PR code coverage anymore,

We need to figure out why is it disabled?

(and perhaps if that doesnt' work anymore see if we can fall back to https://codecovs.io)

/cc @vdemeester

[2020-01-07 20:20] sbwsg commented on #524
The `start` / `run` distinction sounds good to me and agree that a breaking change in 0.x is fine (... or at least better than waiting until after beta or 1.0 :smiling_imp: )

I'm less sure about ctrl+c cancelling the TaskRun. But this feels like something that could be added after `start` / `run`?  Another option could be an `--interactive` flag or similar for `run`?

[2020-01-07 20:31] chmouel opened #578 "Support limiting to a specific container when running logs"
# Expected Behavior

Currently we are showing the logs from all containers, it would be nice if we can limit to loging to only a step/container for `tkn taskrun` or to a specic taskrun in `tkn pipelinerun`

# Actual Behavior

Showing everything

/kind feature

[2020-01-07 20:32] chmouel commented on #524
the changes are fine by me too 👍

better do the breaking change as early as possible.

[2020-01-07 21:20] chmouel opened #579 "interactiveness with fzf instead of survey"
When asking for a selection (ie `tkn logs`) it would be nice if we can use [fzf ](https://github.com/junegunn/fzf) which would bring us some very nice features...

I have script that does this https://github.com/chmouel/chmouzies/blob/master/kubernetes/tktl
and the experience is IMHO much nicer than using the survey library.

Asciicast demo of the script  here :

[![Asciicast demo here](https://as

[2020-01-08 04:08] danielhelfand commented on #574
The current thought is to follow a [pattern used by `ko`](https://github.com/google/ko/blob/1fcfe62a9606a2781559ed10897a4ae7141d7628/pkg/commands/delete.go) to support top level `create` and `apply` commands through `tkn` that actually invoke `kubectl` commands.

I will put together a proposal pr around this, and we can further debate if the idea makes sense.

[2020-01-08 11:29] piyush-garg commented on #576
It's working I think. Comment from last night https://github.com/tektoncd/cli/pull/577#issuecomment-571721274

[2020-01-08 11:44] piyush-garg commented on #578
/assign

[2020-01-08 11:51] piyush-garg commented on #578
- [ ] step flag for the logs of the specific steps in the taskrun.

For specific taskrun of a pipelinerun, we already have `--only-tasks` flag to specify the tasks for which you want the logs.

cc @chmouel

[2020-01-08 12:01] chmouel commented on #578
do we have?

<img width="1202" alt="image" src="https://user-images.githubusercontent.com/98980/71976589-f50a8c80-3216-11ea-81f6-b7d5e1b31275.png">

[2020-01-08 12:05] chmouel opened #581 "`tkn [task/pipeline]run ls -o name` is not working"
# Expected Behavior

when using `-o name` show only name like kubectl does

# Actual Behavior

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/98980/71976719-4adf3480-3217-11ea-8b87-6e4a80730d36.png">

# Steps to Reproduce the Problem

1. tkn taskrun ls -o name
2. tkn pipelinerun ls -o name

# Additional Info

Either we fix it or disable it

(i'd rather have this featu

[2020-01-08 12:10] chmouel commented on #61
I think we should have a driver based install since there is multiple ways to do install, at least for openshift folks we want to advise to use the operator, i.e: https://github.com/vdemeester/home/blob/master/pkgs/scripts/bin/chos4#L41-L52

as for others we want to use the released yaml file.....

do we really want to go down to the business of configuring a minikube or a OCP/GCP/AWS VMs ?

[2020-01-08 13:10] piyush-garg commented on #578
I mean we have a flag `--only-tasks` to show the logs for only tasks mentioned in `pipelinerun logs` command, but the `--only-steps` flag to show the logs for only steps mentioned in `taskrun logs` is what needs to be added.

[code]

[2020-01-08 13:41] danielhelfand commented on #61
Agreed. We could also potentially support a version option that supports which version of pipelines to install, but we would have to remove certain version options for the CLI if there are breaking changes. Might be difficult to maintain.

I would say no. We should count on the user being able have to a cluster set up.

[2020-01-08 14:13] danielhelfand commented on #576
I think it doesn't show if there is no difference in coverage? For instance, this [pr](https://github.com/tektoncd/cli/pull/580) is refactoring tests so it doesn't alter coverage.

[2020-01-08 14:31] chmouel commented on #576
Ah yes you guys are right!!
/close

[2020-01-08 14:31] #576 closed

[2020-01-08 14:40] chmouel commented on #578
Ah yes right! I am not so sure about the flags nomination “—only-tasks” or “—only-steps” but I let better English speaker decide :)

[2020-01-08 14:56] vdemeester commented on #578
right, I would naively think of `--task …` and `--step …` :angel:
/cc @danielhelfand

[2020-01-08 18:18] piyush-garg commented on #578
To me also `--tasks` and `--steps` looks better wrt naming and understanding

[2020-01-08 18:34] danielhelfand commented on #578
We could potentially allow multiple `--step`/`--task` flags to specify which logs you would like included from a pipelinerun or taskrun:

`tkn pipelinerun logs run --task foo --task bar`

`tkn taskrun logs run --step foo --step bar`

[2020-01-08 18:49] chmouel commented on #578
@danielhelfand your suggestion sounds good to me!

[2020-01-08 19:02] #572 closed

[2020-01-09 16:01] #557 closed

[2020-01-09 16:44] Conky5 opened #584 "nil pointer from pipelinerun describe"
# Version and Operating System

**tkn Version:** 0.6.0

**Operating System:** alpine linux

# Expected Behavior

`tkn pipelinerun describe <name>` should show not `panic`.

# Actual Behavior

This error message is thrown:
[code]

# Steps to Reproduce the Problem

1. Start a pipeline with multiple tasks in it
2. Immediately run a describe on it

[2020-01-09 16:45] chmouel commented on #584
/kind bug

[2020-01-09 16:49] danielhelfand commented on #584
@Conky5 Thanks for reporting/sorry for the issue. Could you possibly share your pipeline definition or something similar to it?

[2020-01-09 17:01] danielhelfand commented on #584
I think the issue is actually here:

https://github.com/tektoncd/cli/blob/32662c8afa4e5376f8be4ebd3afa8e2724c4f50f/pkg/cmd/pipelinerun/describe.go#L222

There is no nil check like we traditionally do for sorting taskruns:

https://github.com/tektoncd/cli/blob/32662c8afa4e5376f8be4ebd3afa8e2724c4f50f/pkg/helper/taskrun/sort/sort_taskruns.go#L25

[2020-01-09 17:01] Conky5 commented on #584
Hi @danielhelfand, here is the pipeline and task definition I am seeing this with:

[code]

The pipeline is being started with:
[code]

[2020-01-09 17:04] danielhelfand commented on #584
@Conky5 Thanks! I think I have found the problem, but I'll test out with something similar to your definition.

[2020-01-09 17:22] danielhelfand commented on #584
Seems like we missed updating this, but adding the nil check for sorting the TaskRuns by start time resolves this.

I'll open a pr here in a little.

[code]

[2020-01-09 20:53] bobcatfish opened #587 "Complete logs not shown for failed TaskRun"
# Version and Operating System

**tkn Version:**
`dev` - I just installed from HEAD which was 32662c8afa4e5376f8be4ebd3afa8e2724c4f50f from earlier today

**tekton pipelines Version:**

(Thought this might be useful! maybe worth adding to the issue template?)
v0.9.2
(gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/controller:v0.9.2@sha256:cc5e186131c9141f512786e3e55aca432e4dae841cad55fbb57

[2020-01-09 21:09] danielhelfand commented on #587
@bobcatfish Thanks so much for this detailed write up! I think you have pointed out a couple of things here that are known issues, but this provides much more insight than what we have documented in the issues that are currently open.

#460 is a known issue with regard to steps not appearing in order of execution for `tkn tr desc`. I can place a priority on that before our next release.

I know th

[2020-01-09 21:11] chmouel commented on #587
it's the same issue as #573 indeed, i am not really sure why we are not showing them for failed pods as this seems pretty straightforward...

[2020-01-10 02:59] 16yuki0702 commented on #520
I think ```pkg/cmd/pipelineresource/resource_testUtil.go ``` also can be removed.

But maybe looking into https://github.com/tektoncd/cli/issues/499 is still be working, so do I have to wait until this will be complete??

[2020-01-10 09:43] vdemeester commented on #587
/kind bug
/kind question

[2020-01-10 13:12] #584 closed

[2020-01-10 13:41] danielhelfand opened #588 "Feature Request: Delete TaskRuns Associated with a PipelineRun"
The CLI as of `v0.6.0` supports the ability to delete a Pipeline and its associated PipelineRuns as well as the ability to delete a Task and its TaskRuns. We should also add the ability to delete TaskRuns associated with a PipelineRun as part of deleting a PipelineRun.

This was [originally thought of](https://github.com/tektoncd/cli/pull/585#discussion_r364947660) as part of #585, which refactore

[2020-01-10 13:44] danielhelfand commented on #588
/kind feature

[2020-01-10 13:56] danielhelfand opened #589 "Feature Request: Only Delete PipelineRuns or TaskRuns of a Pipeline or Task"
As of `v0.6.0`, the CLI supports the ability to delete Pipelines/Tasks along with associated PipelineRuns/TaskRuns through the `--all` flag:

[code]

There should be an option to delete both PipelineRuns/TaskRuns associated with a Pipeline or Task but not the Pipeline/Task.

Results in the Pipeline named `pipelinename` still existing and all pipelineruns associated with that pipeline being deleted

[2020-01-10 13:56] danielhelfand commented on #589
/kind feature

[2020-01-10 16:54] danielhelfand commented on #460
/assign

[2020-01-10 17:05] chmouel commented on #460
just for info, this is how i do it In a small wrapper script I use :

https://github.com/chmouel/chmouzies/blob/master/kubernetes/tktl#L111

(beware: ninja shell/python hacks)

[2020-01-13 12:14] siamaksade commented on #61
@chmouel agree on no need for VM setup. This was for just installing the YAML. I have doubts now on how useful this would be. It could be that simplifying installation of https://github.com/tektoncd/operator to a single `kubectl apply` would give the same result.

[2020-01-13 13:44] chmouel opened #593 "`tkn` assumes steps that has name"
Steps may not have any names and the code is assuming we do, for example (just an example for taskrun but that's all over the describe commands) :

https://github.com/tektoncd/cli/blob/cf013bf243b5348b2762ac34166fb9f02807c68b/pkg/cmd/taskrun/describe.go#L100

When you don't have a name in steps you end up with a generated one like this :

[code]

/kind bug

[2020-01-13 14:00] chmouel commented on #593
Interestingly i think we good! as we do the right thing!

![image](https://user-images.githubusercontent.com/98980/72261542-52d31600-3615-11ea-9c63-6dde1dc16583.png)

we can close this, feel free to reopen it if you think otherwise

/close

[2020-01-13 14:21] danielhelfand opened #594 "Describe Subcommands for Condition, EventListener, TriggerBinding, ClusterTriggerBinding, TriggerTemplate, and ClusterTask"
The following commands do not include `describe` subcommands: Condition, EventListener, ClusterTriggerBinding, TriggerBinding, TriggerTemplate, and ClusterTask.

These commands should follow the format we use for other describe commands (e.g. [`tkn task describe`](https://github.com/tektoncd/cli/blob/master/pkg/cmd/task/describe.go)).

Shorthand for the command should be `desc` as is consistent wi

[2020-01-13 14:22] danielhelfand commented on #594
/kind feature

[2020-01-13 15:07] danielhelfand commented on #519
/assign

[2020-01-13 16:33] chmouel opened #596 "Incoherencies between `tkn pipeline ls` and `tkn task ls`"
If we do a `tkn pipeline ls` we have the start, duration and status field.

![image](https://user-images.githubusercontent.com/98980/72273485-b4ea4600-362a-11ea-9817-eba819829ad9.png)

while if we do a `tkn task ls` we only have an age :

![image](https://user-images.githubusercontent.com/98980/72273518-c3d0f880-362a-11ea-9fe2-8b6ba81f7956.png)

It could be nice to homogenize this

[2020-01-13 16:34] chmouel commented on #596
/label feature

[2020-01-13 17:02] chmouel commented on #593
I was wrong, it actually  doesnt do the right thing when showing `task`

![image](https://user-images.githubusercontent.com/98980/72275775-dfd69900-362e-11ea-90c0-28b2f5ac1975.png)

/reopen

[2020-01-14 14:29] #519 closed

[2020-01-14 15:20] danielhelfand opened #599 "Flaky Unit Test for tkn pr desc"
The following test was added as part of #586:

https://github.com/tektoncd/cli/blob/010bc975c83b9d2b01056a353ecd15ec8cdf7676/pkg/cmd/pipelinerun/describe_test.go#L813

The test is producing flaky behavior since the taskruns both don't have start times. Occasionally, the two taskruns part of pipelinerun appear in different order. This behavior is expected.

The test should be amended to add a start

[2020-01-14 17:32] kameshsampath opened #602 "Unable to use multiple doc YAML with tkn create commands"
/kind feature

# Version and Operating System
macOS Catalina

**tkn Version:** `Client version: v0.6.0`

**Operating System:**  macOS

# Expected Behavior

The tkn create commands for `tkn task create` or `tkn res create` should accept Tekton resource YAML with multiple documents.

# Actual Behavior

Right now only the first document is parsed and processed.

# Steps to Reproduce the Problem

1. t

[2020-01-14 17:33] kameshsampath commented on #602
CC: @hrishin , @piyush-garg

[2020-01-14 17:36] sbwsg commented on #588
I believe this happens automatically when deleting a PipelineRun, at least from my initial testing:

[code]

[2020-01-14 18:01] danielhelfand commented on #602
Hey @kameshsampath. Thanks for opening this.

 I believe we will actually be going with a different approach in #582 where `tkn` actually directly invokes `kubectl create` and `kubectl apply` and repurposing `tkn <resource> create` commands to focus on interactive creation and working more directly with the [catalog of tasks](https://github.com/tektoncd/catalog) for tekton.

This is also a duplica

[2020-01-14 18:01] #602 closed

[2020-01-14 18:02] danielhelfand commented on #602
Please also note #574 for the approach in #582.

[2020-01-14 18:40] danielhelfand commented on #588
@sbwsg Gotcha! Thanks for researching this and clearing this up. Sorry for the confusion with the pull request.

[2020-01-14 18:40] #588 closed

[2020-01-15 06:01] #599 closed

[2020-01-15 09:12] hrishin opened #603 "tkn pipelinerun logs <pr> throwing seg fault error"
# Version and Operating System

**tkn Version:**`

[code]

**Operating System:**

[code]

# Expected Behavior
It should show some logs or should some nice error message

# Actual Behavior
Giving `segfault`

[code]

# Steps to Reproduce the Problem

1. tkn pipelinerun logs <pr-name>

# Additional Info

[code]

/kind bug

[2020-01-15 09:20] chmouel commented on #603
Any chances if you can reproduce with `master` I cannot reproduce it...

[2020-01-15 15:45] siamaksade opened #604 "Tekton CLI version prints differently via brew vs downloaded"
Tekton CLI version prints differently when installed via brew vs downloaded from GitHub:
[code]

This causes issues for the Tekton VS Code extension

[2020-01-15 15:48] vdemeester commented on #604
/kind bug
/assign @chmouel

[2020-01-15 15:53] chmouel commented on #604
@siamaksade  where did you install tkn from ? homebrew-core or brew tap?

[2020-01-15 16:01] siamaksade commented on #604
[code]

[2020-01-15 16:03] danielhelfand opened #605 "Consistent Approach to Referring to Tekton Resources Through CLI"
We should have a consistent approach to how resources are referenced in `tkn`. Currently, there are several different approaches used. An example is `TaskRun`:

TaskRun:
https://github.com/tektoncd/cli/blob/84e7da62e97c560aa2740db7346f17458c0e03b0/pkg/cmd/taskrun/list.go#L36

taskrun:
https://github.com/tektoncd/cli/blob/84e7da62e97c560aa2740db7346f17458c0e03b0/pkg/cmd/taskrun/list.go#L82

Taskrun

[2020-01-15 16:03] danielhelfand commented on #605
/kind cleanup

[2020-01-15 16:08] danielhelfand opened #606 "Add Namespace to tkn pipeline desc"
The CLI doesn't show the `Namespace` of the pipeline for `tkn pipeline desc` like it does for other resources:

https://github.com/tektoncd/cli/blob/4ae08d75c5f5de7a5f99c753e38738e202d157fc/pkg/cmd/pipeline/describe.go#L33

The namespace can be pulled directly in the template similar to how it's done with `tkn task desc`:

https://github.com/tektoncd/cli/blob/4ae08d75c5f5de7a5f99c753e38738e202d157

[2020-01-15 16:08] danielhelfand commented on #606
/kind feature

[2020-01-15 16:14] chmouel commented on #604
I have sent a patch, it would make it when we do the next release...

[2020-01-15 16:16] chmouel commented on #605
Camel case names i.e: `TaskRuns` feels more natural to me!

[2020-01-15 16:38] chmouel commented on #111
/close

closed in #510

[2020-01-15 16:38] #111 closed

[2020-01-15 16:39] chmouel commented on #496
@afrittoli do we have a nightly release.yaml ?

[2020-01-15 16:40] chmouel commented on #499
The problem is getting worse and worse, unless someone object, I'll just `t.Skip()` those tests..

[2020-01-15 16:41] chmouel commented on #520
in #499 we are just going to disable the interactive tests since those are way too flakeyness at the moment in there..

[2020-01-15 16:48] vdemeester commented on #496
@chmouel yes we do :angel: Here it is : https://storage.googleapis.com/tekton-releases-nightly/pipeline/latest/release.yaml

[2020-01-15 17:38] #604 closed

[2020-01-15 17:54] chmouel commented on #606
/assign

[2020-01-15 19:01] chmouel opened #612 "tkn pipeline describe show the Tasks runafter with bracket"
Do we need to show those brackets? I think we can do better...

![image](https://user-images.githubusercontent.com/98980/72462622-c4f05a00-37d1-11ea-8158-a159ea63eec1.png)

/kind question

[2020-01-15 19:06] danielhelfand commented on #612
It is how it’s defined in the YAML for RunAfter. I don’t have a strong preference on it, but no harm in removing the brackets I guess.

[2020-01-15 19:08] chmouel commented on #612
My grip is really against the empty bracket.... this doesnt look very visually appealing....

[2020-01-15 19:17] chmouel commented on #570
This snippet should do it

https://play.golang.org/p/k7mD1MpiasH

![image](https://user-images.githubusercontent.com/98980/72463649-fec26000-37d3-11ea-8339-d332ae4c3fff.png)

[2020-01-15 20:57] #606 closed

[2020-01-16 09:01] vdemeester commented on #612
Yeah, we can remove those and have a `,` separate list :angel:

[2020-01-16 09:01] vdemeester commented on #612
/kind feature

[2020-01-16 09:12] chmouel opened #615 "Emojis Support"
I would like to propose Emojis support in CLI,

We can have them only when we are on an interactive terminal and unless doesn't specify the command line switch --nocolors

Here is a POC of some commands :

<img width="1216" alt="image" src="https://user-images.githubusercontent.com/98980/72483910-e0278d80-3802-11ea-97bf-c4cf3dab45fd.png">

<img width="970" alt="image" src="https://user-images.gith

[2020-01-16 09:20] vdemeester commented on #615
@chmouel you know me :angel: I am aaaallllll for it :stuck_out_tongue_closed_eyes:

[2020-01-16 09:21] chmouel commented on #615
Any suggestions for steps? I have randomly choose a scooter 🛵

[2020-01-16 10:07] #612 closed

[2020-01-16 16:52] siamaksade opened #617 "Add flag to list taskruns of a pipelinerun"
`tkn tr list` lists all taskruns but it's not helpful when one is looking to list only tasksruns that are generated by a particular pipelinerun. One has to run `tkn tr list | grep` to achieve that.

A flag like `tkn tr list -pr [pipelinerun-name]` could be helpful for this usecase

[2020-01-16 16:58] vdemeester commented on #617
/kind feature

I feel we need a `filter` option of some sort :angel:

[2020-01-16 21:47] chmouel opened #619 "Add a way to disable permanently the colors/emojis by configuration or env variables"
For visually impaired people having colors or emojis may not be such a good idea, let provide an environment variable to make sure it's always disabled.

/kind feature

[2020-01-16 22:33] #570 closed

[2020-01-16 23:31] chmouel opened #621 "Update Copyright License year"
Yearly boring work to update the Copyright Year to 2020

[2020-01-16 23:31] chmouel commented on #621
/kind bug

[2020-01-17 13:42] #499 closed

[2020-01-20 06:02] #593 closed

[2020-01-20 08:44] 16yuki0702 commented on #520
Thanks!! I confirmed the https://github.com/tektoncd/cli/pull/616/files , I think It's very good :+1:
I'll just try to only remove the ```pkg/cmd/pipelineresource/resource_testUtil.go```
not refactoring.

[2020-01-20 15:57] siamaksade opened #625 "Add description to task and clustertask list"
It would be useful for tasks and clustertask to have a description which could then be displayed by cli and other toolings to inform the user on what each task does

[code]

The description could possibly be an annotation on `Task` and `ClusterTask`. Or alternatively in the `TaskSpec`.

[2020-01-20 16:06] vdemeester commented on #625
/kind feature

[2020-01-20 16:15] chmouel commented on #625
I don't think this is supported yet by pipeline....

[2020-01-20 16:52] vdemeester commented on #625
Upstream issue is tektoncd/pipeline#993

[2020-01-21 01:20] danielhelfand commented on #596
/assign

[2020-01-21 08:56] vdemeester commented on #596
This was the initial decision, to not have latest `TaskRun` execution on tasks. A `Task` can be executed in a lot of ways, in a lot of different `Pipeline` (or on its own), and it didn't really make sense to display the "latest" one, as.. there is no context to it.

[2020-01-21 09:33] chmouel commented on #596
yes but we can show the satus?

[2020-01-21 12:55] danielhelfand commented on #596
Can see the thought on why this was left out. I was going to make the argument that tasks are namespaced being a factor in why this makes sense (so it would be limited in terms of what it carries out), but I could see a use where multiple pipelines use the same task in a namespace.

I think an interesting thought would be whether this applies to ClusterTasks, but It seems like there is some [momen

[2020-01-22 14:47] tomhau01 opened #627 "Missing OIDC support with Azure Active Directory"
# Version and Operating System

**tkn Version:**
0.6.0

**Operating System:**
macOS

# Expected Behavior
1) Have a k8s cluster where OIDC is enabled and using Azure AD: https://github.com/kubernetes/client-go/tree/master/plugin/pkg/client/auth/azure
2) use a kubeconfig with Azure AD enabled:

[code]
3) issue some tkn command, like

and it works

# Actual Behavior
[code]

# Steps to Reproduce the P

[2020-01-22 15:28] vdemeester commented on #627
/kind feature

[2020-01-22 16:03] chmouel opened #629 "`tkn` clustertask describe zsh completion is broken"
It bugs out on __tkn_get_clustertask

[code]

/kind bug
/assign

[2020-01-22 16:32] chmouel opened #631 "Add a way to always do colouring"
We currently disable coulouring when piping or other reasons. It woudl be nice
if we can have a way to enable it, i would suggest that we mimic the grep
command `--color` flag (implemented by others), i.e: from the manpage :

[code]

/kind feature

[2020-01-22 18:02] chmouel opened #632 "No emojis for `tkn clustertask describe` command"
we don't have emojis on the tkn clustertask describes command as what we have on
the other describe objects.

(insert sad emoji emoji here)

[2020-01-22 18:03] chmouel commented on #632
/kind feature

[2020-01-22 18:44] #632 closed

[2020-01-22 20:20] chmouel opened #634 "Add --all to the delete commands"
I think it could be nice to have a --all to the delete commands, the same way
kubectl has it. I can surely use kubectl for it but i guess we want it on tkn
commands..

/kind feature

[2020-01-22 20:23] danielhelfand commented on #634
Assuming something like below deletes all tasks in namespace `ns`:

`tkn task delete --all -n ns`

[2020-01-22 21:48] danielhelfand commented on #621
Do we need to define a year for copyright? I have seen it in some cases in Kubernetes where year is left out, but maybe that shouldn't be? There are definitely also 2018 references in pipeline. Wondering what the rule is for them?

[2020-01-23 12:03] piyush-garg commented on #615
@chmouel I think we can close this now.

[2020-01-23 13:15] vdemeester commented on #621
I think it's when we update the files (2019-2020, then 2019-2021 in a year, …) ?

[2020-01-26 14:03] alan-ghelardi opened #637 "Tkn prevents us from overriding the default pod template for pipelineruns/taskruns"
# Version and Operating System

**tkn Version:**
0.6.0

**Operating System:**
Linux

# Expected Behavior
When I override the default pod template via the config-defaults config map and run a pipeline/task through tkn, it doesn't assign an empty pod template to the run in question, by allowing Tekton to apply the default pod template declared in the config-defaults.

# Actual Behavior
Tkn is assign

[2020-01-26 16:03] siamaksade opened #638 "Start last pipeline ignores workspaces"
When starting a pipeline based on the last pipelinerun, the workspaces are not copied over to the new pipelinerun

[2020-01-26 16:07] siamaksade opened #639 "Start pipeline from last should use the same generateName"
When starting a pipeline using the last pipelinerun configurations, the `generateName` attribute should be copied over so that the pipelinerun names are consistent.:

For example the following pipelineruns are all for the same pipeline but using the `tkn p start --last` for the last one creates an inconsistent name since it resets the `generateName` based on the pipeline name instead of the last p

[2020-01-26 16:16] siamaksade opened #640 "Output and template flags on describe commands don't work"
What is the purpose of the `-o` and `--template` flags do on `describe` commands? They don't seem to do anything currently:

[code]

[2020-01-26 18:40] chmouel commented on #640
Agreed, it's all coming from the `client-go` and I think it doesn't make sense to have it (or it does if it's possible to implement it), related #581

[2020-01-26 19:11] chmouel commented on #640
/assign

[2020-01-27 03:45] danielhelfand commented on #637
/kind feature

[2020-01-27 03:49] danielhelfand commented on #637
It does not look like `tkn` accounts for pod templates with `tkn pipeline start` at this time. The code for where the pipeline run is defined begins [here](https://github.com/tektoncd/cli/blob/32ac7b89a86dfeb9dcfff5a33acdd6bbc8a1a95f/pkg/cmd/pipeline/start.go#L378).

We need to check for if the podspec is set in the config-defaults and apply it if present.

[2020-01-27 08:05] eddycharly commented on #637
@danielhelfand you could just set the podtemplate property to nil. Pipeline will take care of applying the default pod template.

[2020-01-27 09:00] vdemeester commented on #637
@eddycharly we need to bump the dependency on pipeline and do a release this week, we will definitely need to take that into account :sweat_smile:

[2020-01-27 09:05] vdemeester commented on #638
`tkn` needs to be bump to 0.10.0 to support that, should happen this week

/kind feature

[2020-01-27 09:05] vdemeester commented on #639
/kind bug

[2020-01-27 09:06] vdemeester commented on #640
/kind feature

[2020-01-27 09:07] #581 closed

[2020-01-27 10:19] eddycharly commented on #637
Just curious, why not put the tkn cli in the same repo as pipeline ?

[2020-01-27 13:36] danielhelfand commented on #637
You can directly define the podspec on the pipelinerun definition though, so we wouldn't want to nil this out. Not everyone will define this via config defaults.

I think it makes sense to break the components of the project in to individual repos. Kubernetes/OpenShift are also breaking off their CLIs in to different repos than k8s/ocp.

[2020-01-27 14:15] eddycharly commented on #637
Sure, i don't know how to specify a pod template with `tkn pipeline start` though.

Anyway, no need to explicitely set it to `nil`, it is either not specified and therefore is `nil` by nature, or it is specified and it will be part of the `PipelineRun` spec. In both cases, pipeline will take care of applying the default pod template or the one supplied.

Just my 2 cents, the less logic in the cli

[2020-01-27 14:20] vdemeester commented on #637
@eddycharly yeah I think that will work that way. The main problem with 0.6.0 (and master as of today) is that we depend on 0.9.2, which doesn't have the pointer, hence always sent a `PodTemplate` struct. The bump should fix it :angel:

[2020-01-27 14:22] danielhelfand commented on #637
@eddycharly

Ah, I follow what you're saying. Thank you for clarifying. Agree that makes sense.

We may want a way to specify the pod template more explicitly via `tkn` as a separate feature.

[2020-01-27 14:39] chmouel commented on #637
Let's prepare an update to the dep after 0.10.1 being release?

[2020-01-27 14:49] siamaksade opened #642 "Convert clustertask to task and vice versa"
Given that `Task` and `ClusterTask` share the same spec, it would be useful for the CLI to facilitate transforming one to another. The use-case would be that user wants to copy a `ClusterTask` to their own namespace as a `Task` and to modify it based on their own needs. Or to promote a `Task` they have built to the cluster scope.

Suggestion 1:
`tkn task export [task] --as-cluster-task`
`tkn cluts

[2020-01-27 14:51] chmouel commented on #642
I like the export one!

(where we can add more stuff if we want....)

[2020-01-27 14:51] chmouel commented on #642
/label feature

[2020-01-27 14:51] vdemeester commented on #642
/kind feature

[2020-01-27 15:06] danielhelfand commented on #372
/assign

[2020-01-28 09:57] #460 closed

[2020-01-28 13:07] chmouel opened #645 "Bump pipeline dependency to 0.10.0"
Let's bump the pipeline dependency to latest 0.10.0

[2020-01-28 13:08] vdemeester commented on #645
/assign @piyush-garg

[2020-01-28 13:09] vdemeester commented on #639
/assign 16yuki0702

[2020-01-28 13:25] chmouel opened #646 "Bump triggers dependency to v0.2.0"
Triggers has been updated to 0.2.0 let's bump it

/assign @piyush-garg

[2020-01-28 13:26] piyush-garg commented on #639
/asign @16yuki0702

[2020-01-28 13:26] piyush-garg commented on #639
/assign @16yuki0702

[2020-01-28 13:27] piyush-garg commented on #639
@16yuki0702 Can you try commenting `/assign`

[2020-01-28 13:30] piyush-garg opened #647 "Bump triggers dependency to 0.2.0"
Let's bump the triggers dependency to latest release version 0.2.0

/kind api-change
/assign

[2020-01-28 13:31] piyush-garg commented on #647
/close duplicate of #646

[2020-01-28 13:32] #647 closed

[2020-01-28 13:32] piyush-garg commented on #646
/kind api-change

[2020-01-28 13:57] 16yuki0702 commented on #639
/assign

[2020-01-28 14:47] #589 closed

[2020-01-28 14:54] sbwsg opened #649 "Add a `check` command"
# Version and Operating System

All supported versions and operating systems.

# Expected Behavior

`tkn` provides a `check` subcommand that will look at your currently configured cluster and ensure the following:

1. k8s is reachable
2. the k8s version is compatible
3. tekton's controller and webhook is up and running
4. any configured sibling projects (e.g. triggers) are up and running
4. (Maybe

[2020-01-28 14:54] sbwsg commented on #649
/label feature

[2020-01-28 14:54] sbwsg commented on #649
/add-label feature

[2020-01-28 14:54] chmouel commented on #649
/kind feature

[2020-01-28 14:58] chmouel commented on #649
I like it !!

thanks to @waveywaves I think we have the version on the server now and that should not be difficult to implement.

The thing I think we should probably think about  :

- Define and formalize compatibility i.e: (current-2)
- if controller and webhook is running, do we care about multiple tekton versions? (I guess not cause that's not really supported?)
- We need emojis on each check

[2020-01-28 16:57] siamaksade opened #651 "Add workspace when starting a pipeline or task"
Given the workspace support in pipelines, currently one has to create a `PipelineRun` yaml in order to start a pipeline that requires a workspace. The `tkn pipeline start` command should be augmented to be able to map persistent volume claims to workspace when starting a pipeline.

Suggestion:
[code]

The above syntax is similar to pipeline resources

[2020-01-28 16:57] #640 closed

[2020-01-28 16:59] danielhelfand commented on #651
/kind feature

[2020-01-28 17:13] danielhelfand opened #652 "Move Chocolatey Package to More Public Area"
Currently the Chocolatey package is located at https://github.com/danielhelfand/chocolatey-tektoncd-cli

At some point, it would make sense to move it to a more public location. It could either have its own repo like the [homebrew repo](https://github.com/tektoncd/homebrew-tools), or we could come up with a more central location for all the Tekton packages.

[2020-01-28 17:55] chmouel commented on #652
make me think that we should depreacte our homebrew repo at some point
since homebrew-core does a pretty decent job to update our formulas quite
quickly..

[2020-01-28 18:25] chmouel commented on #651
maybe we can have a workspace backed by configmap  if no pvc is specified?

[2020-01-28 18:25] chmouel commented on #651
/cc @sbwsg

[2020-01-28 21:12] bitsofinfo opened #655 "tkn taskrun describe, doesn't show any sidecar info"
# Expected Behavior

`tkn taskrun describe` would show sidecar info/basic status

# Actual Behavior

doesn't show any sidecars info

[2020-01-28 21:45] sbwsg commented on #651
We also are discussing having an "auto" workspace just in case the user doesn't want / know how to provide one.  This would be someone the pipeline controller injects in response to some config and would work similarly to how pipeline resources have a PVC generated for them today (called the "artifacts pvc"), but would be more transparent to the user (hopefully).

[2020-01-29 04:05] danielhelfand opened #654 "Add --dry-run Option for tkn task start"
Similar to #372 but for TaskRuns

# Expected Behavior

#643 is adding the ability to view a PipelineRun without creating the PipelineRun via a `--dry-run` option with `tkn pipeline start`. This same behavior should exist for `tkn task start` with viewing a TaskRun.

This should be able to follow the design in #643 where `tkn task start <taskName> --dry-run`  produces yaml stdout of the TaskRun wit

[2020-01-29 08:47] vdemeester commented on #655
and done :wink:

[2020-01-29 08:47] vdemeester commented on #655
/kind feature

[2020-01-29 08:50] #372 closed

[2020-01-30 13:55] danielhelfand opened #659 "Add --dry-run Option for tkn clustertask start"
Similar to #654 but for ClusterTasks/TaskRuns

# Expected Behavior

#643 added the ability to view a PipelineRun without creating the PipelineRun via a `--dry-run` option with `tkn pipeline start`. This same behavior should exist for `tkn clustertask start` with viewing a TaskRun.

This should be able to follow the design in #643 where `tkn clustertask start <clusterTaskName> --dry-run`  produces

[2020-01-30 15:41] chmouel opened #660 "`tkn name -o name` is broken"
Using tkn name -o name is broken and output an error message :

[code]

/assign
/kind bug

[2020-01-30 16:08] #660 closed

[2020-01-30 20:24] siamaksade commented on #651
Auto workspace is very useful. Still makes sense to allow users to override it but it would definitely simplify starting pipelines.

[2020-01-31 07:42] chmouel opened #664 "`tkn pr logs` doesn't support --last"
`tkn pipeline logs` does have a --last which I find quite handy but not for pr
logs (and probably others)

/kind feature
/assign

[2020-01-31 09:37] #645 closed

[2020-01-31 09:37] #646 closed

[2020-01-31 10:34] #638 closed

[2020-01-31 12:22] piyush-garg commented on #637
@alan-ghelardi @eddycharly We have bumped the pipeline dep to 0.10.1 in #658 I checked this and the issue is not anymore happening for me on the latest master.

Can you confirm once with the latest master? I am closing the issue now. Feel free to open it if this is still happening. Thanks

Fix with pipeline dep bump in #658

/close

[2020-01-31 12:22] #637 closed

[2020-01-31 12:46] #639 closed

[2020-01-31 15:46] danielhelfand opened #666 "Start Task from Last should use the Same generateName"
Similar to #639 but for TaskRuns. We should follow the same approach in #644 for `tkn task start --last`. Currently we are just using the task name for `generateName`:

https://github.com/tektoncd/cli/blob/2e5e5416af131c500b1c6dbbc590f00c1090c4ba/pkg/cmd/task/start.go#L189

[2020-01-31 15:46] danielhelfand commented on #666
/kind bug

[2020-01-31 15:57] danielhelfand opened #667 "Always Show Code Coverage for Unit Tests"
As part of a pull request, we show the code coverage of unit tests specific to the changes being submitted. However, if coverage doesn't change, the coverage isn't shown anywhere. We should always show the coverage regardless of the delta for coverage changing.

/area testing

[2020-01-31 16:13] danielhelfand opened #668 "Specify Pod Template via tkn for TaskRuns/PipelineRuns"
There should be options to specify properties of a pod template via `tkn`. Currently, the approach we use as of upgrading the cli pipeline dependency to 0.10.1 is to nil out the pod template which would allow a pod template specified in config defaults to be applied. We should figure out a way to specify a pod template without relying on config defaults.

/kind feature

[2020-02-02 18:34] csantanapr commented on #634
I'm in desperate need 🙏 of this command `tkn taskrun delete --all -n ns` for taskruns

This will allow me to clean all the pods hundreds)   and avoid having to switch cli `kubectl delete taskrun --all -n ns`

[2020-02-02 19:06] danielhelfand commented on #634
@csantanapr Yeah, it’s a good use case for it. We’re releasing a new version this week that will unfortunately not have this, but we can include in the next release and shouldn’t be too difficult to put in place.

[2020-02-03 06:59] #654 closed

[2020-02-03 07:17] #659 closed

[2020-02-03 12:12] 16yuki0702 commented on #666
/assign

[2020-02-03 12:23] #666 closed

[2020-02-03 15:13] danielhelfand opened #671 "GenerateName Option for tkn task/pipeline start"
Currently, the CLI specifies `GenerateName` for pipelineruns/taskruns by using the name of the pipeline/task.

`tkn pipeline start:`

https://github.com/tektoncd/cli/blob/df588178f29f58843001464f59340bf993563d38/pkg/cmd/pipeline/start.go#L392

`tkn task start:`

https://github.com/tektoncd/cli/blob/df588178f29f58843001464f59340bf993563d38/pkg/cmd/task/start.go#L198

We should provide an option to

[2020-02-04 09:49] #627 closed

[2020-02-04 16:42] searsaw opened #675 "Listing TaskRuns doesn't supports `name` output"
# Version and Operating System

**tkn Version:**

[code]

**Operating System:**

[code]

# Expected Behavior

When running `tkn tr ls -o name`, I expected all the TaskRuns to be outputted with just their name.

# Actual Behavior

I got the error:

[code]

# Steps to Reproduce the Problem

1. Run a TaskRun
2. Run the command `tkn tr ls -o name`
3. View the error and cry

[2020-02-04 16:51] searsaw commented on #634
In the meantime, here's a small snippet I use to clean them all up.

`tkn pr ls | awk '{print $1}' | xargs -n 1 tkn pr delete -f`

[2020-02-04 16:54] danielhelfand commented on #675
/kind bug

Should follow same pattern for `tkn pr ls -o name` in #661

[2020-02-04 17:20] chmouel commented on #634
@searsaw fyi i think you will get the headers if you do this (i.e: NAME)

you can use the kubernetes command too, here is somethng that works :

[code]

[2020-02-04 19:50] danielhelfand commented on #634
/assign

[2020-02-05 08:59] chmouel opened #679 "Rerun pipeline with a specific pipelinerun params/resources"
With the `-L` option we are able to rerun a pipeline with the last
params/resources, it would be nice if we could specify another pipelienrun to
get the params/resources than just the last one.

/kind feature

[2020-02-05 11:21] chmouel opened #680 "TektonCD CLI official container image"
We don't have our own as from the cli project own, plumbing is building this for us:

 https://github.com/tektoncd/plumbing/blob/master/tekton/images/tkn/Dockerfile

We currently use this image on the `tkn` catalog task :

https://gcr.io/tekton-releases/dogfooding/tkn

should we start owning our images to be released at release time? with some proper tags and such that we can integrate into our re

[2020-02-05 11:25] vdemeester commented on #680
+:100:, we should have the Dockerfile in there, and have nightly and releases task building and publishing this image from here :angel:

[2020-02-05 15:36] chmouel commented on #675
/assign

[2020-02-05 15:50] #496 closed

[2020-02-05 17:33] chmouel commented on #679
/assign

[2020-02-05 17:52] chmouel opened #683 "Remove tektoncd/tool homebrew"
We have an custom Cask/Brew for us in tektoncd/tool which is nice and dandy but homebrew-core have been pretty swift to merge our PR when needed and it's a step less for the user to be able to install directly wihtout anything else.

Should we start deprecating the tektoncd/tool from the documentation.. Letting this know first in the release note for one or two version before completely stopping u

[2020-02-05 21:41] chmouel commented on #617
There is a great feature for filtering in kubectl called FieldSelection, you can do fancy things like this :

[code]

Which we could use for `filtering`or for this feature.

It's unfortunately a server side thing, and it's not implemented in pipeline (by knative.pkg?). I'lll raise a PR in there..

[2020-02-05 21:46] chmouel commented on #573
this is a duplicate to #587 let's keep only one

/close

[2020-02-05 21:46] #573 closed

[2020-02-05 21:55] chmouel opened #684 "Objects filtering"
We have some prior discussion about filtering in this issue :

https://github.com/tektoncd/cli/issues/617

or this PR:

https://github.com/tektoncd/cli/pull/608

The commands that needs to list match multiple objects (object as Pipeline, Task, etc...) are :

`list`, `delete`

There is a great feature implemented in kubectl called `FieldSelection` where you can do fancy things like this on the yaml

[2020-02-06 08:00] chmouel opened #685 "Add support label filtering"
Aside of the objects filtering work in #684 that may goes beyond just labels it would be
nice to have a support for querying labels on `list` options so we can filter
out things easily.

/assign
/kind feature

[2020-02-06 09:07] #679 closed

[2020-02-06 14:35] bitsofinfo commented on #634
agreed, right now you have to each one by one

[2020-02-06 14:39] danielhelfand commented on #634
@bitsofinfo You can delete more than one at a time, but it requires you to write out each resource you would like to delete as of `v0.7.1`. For example:

[code]

We recently added `--all` for TaskRun deletion, and I'll be opening a pr today for deleting PipelineRuns. This will be available in master soon.

[2020-02-06 14:45] danielhelfand opened #688 "Automate Windows Package Release Process"
`tkn` is available via a Chocolatey package, but the process for uploading a new release is manual.

Chocolatey does feature a `choco` CLI, which offers a `choco pack` command to build the `.nupkg`  and a `choco push` command to submit packages for review. Additionally, this would require a Windows image.

The goal here would be to build a Task similar to what we use for other packages, such as [r

[2020-02-07 06:46] cuonglm opened #690 "Add sub-command to manage secrets"
# Version and Operating System

**tkn Version:**
Client version: 0.6.0

**Operating System:**
Darwin Cuongs-MacBook-Pro.local 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64 x86_64

# Expected Behavior

Managing secrets via a sub-command, the same as `drone secret`.

# Actual Behavior

No available sub-command to manage secrets.

# Steps to Re

[2020-02-07 13:19] ImJasonH commented on #690
What is your ideal UX for this surface? `tkn secrets create <secret> ...`? What would this surface do that `kubectl` doesn't today?

[2020-02-07 13:41] danielhelfand commented on #690
@cuonglm I am not familiar with `drone secret`. Would you mind explaining key features of it that you find useful?

I do agree that it would be great to add something for managing secrets, but my thought would be that it would need to be something that `kubectl` does not offer with regard to working with Tekton. Similar thoughts to @ImJasonH  on this.

[2020-02-07 14:49] chmouel commented on #690
Agreed in general that we should not reimplement kubectl.

But perhaps whenever we are going to have an interactive "tkn pipeline
create" we could help the user creating a ServiceAccount with secrets
attached to it for ssh/git or others....

That's probably should be discussed on the issue whenever we start the work
on an interactive tkn "pipeline/tr create"

[2020-02-07 16:17] cuonglm commented on #690
From developer point of view, it will be easier if I can manage everything from tekton side. Example in my code base, I use this function to query pipeline run of given pipeline:

[code]

For now, if I want to create a secret and attach it to a service account, I have to create a kubernetes client.

[2020-02-07 16:18] cuonglm commented on #690
`drone secret` allow you to create/remove/update/list/get details secrets.

[2020-02-07 18:01] ImJasonH commented on #690
I'm not sure I understand exactly what you're asking for, but we shouldn't replicate a K8s API to avoid users having to create a second client. I'm also not sure that's related to the CLI?

Today, `kubectl` also allows you to manage secrets, is there something specifically it's missing for your use case?

[2020-02-08 12:58] patcito commented on #690
We have a multi-tenant project where each git repo has its own secrets and we don't want one git repo to have access to the others secrets. We either need several SAs or do some juggling with just one SA.

It's hard for developer to manage it, because we have to re-construct the yaml k8s file everytime you want create/update/remove secrets. To answer your question, it's not impossible to do so usi

[2020-02-10 08:31] chmouel opened #693 "Refactor all list commands to share the same code"
A lot of the `*list` commands are just copy and paste between each others, it
would be nice we can refactor all of them to use the same code.

and at the same time as mentionned in #681 add listing with `-o name` to
`ClusterTasks.list` and `Conditions.list`.

[2020-02-10 08:31] chmouel commented on #693
/kind cleanup

[2020-02-10 08:32] #675 closed

[2020-02-10 13:30] chmouel opened #695 "cancel error while running with nightly pipeline json: unknown field "digest""
When running cli against nightly pipeline I am getting a :

[code]

Which is I guess have to do with latest update on pipeline that removes this field

/kind cleanup

[2020-02-10 13:34] chmouel opened #696 "Allow to specify a name with `tkn pipeline/task start`"
We are currently autogenerating the pipeline/task-runs names from the pipeline but it
would be nice if we could let the user specify a name of their choosing instead.

/kind feature

[2020-02-10 13:37] danielhelfand commented on #696
I actually opened #671 that I think covers this.

[2020-02-10 13:44] chmouel commented on #696
cool cool, thanks!

/close

[2020-02-10 13:44] #696 closed

[2020-02-10 15:30] #578 closed

[2020-02-11 09:49] ppitonak opened #701 "Tkn completion with no shell param doesn't do anything"
# Version and Operating System

**tkn Version:**

0.7.1

**Operating System:**

Fedora 31

# Expected Behavior

Preferably, a help message is printed and non-zero code is returned (the same happens when you do e.g. `tkn task xxx`) or some default value is specified and it prints actual completion code.

# Actual Behavior

Nothing is printed to terminal and process ends with 0 return code

# Steps

[2020-02-11 11:09] chmouel commented on #701
/kind bug

[2020-02-11 11:09] chmouel commented on #463
/assign

[2020-02-11 13:14] sbwsg opened #702 "Add warning to existing --all subcommand for tasks and pipelines"
# Version and Operating System

0.7.x

The existing --all flag for task and pipeline delete will also delete the taskruns and pipelineruns related to those resources.

In 0.8 we're planning to use --all to delete every instance of a given resource kind.  This is a change in the meaning of the --all flag for task and pipelines.

So, we should add a warning to the --all flag for task and pipelines t

[2020-02-11 13:14] sbwsg commented on #702
/milestone 0.8.0

[2020-02-11 20:08] danielhelfand opened #706 "Timeout Option for tkn pipeline start"
Similar to `tkn task start --timeout`, which lets a user define a TaskRun timeout in seconds, a Timeout option should exist for `tkn pipeline start`.

Timeout can be defined on the PipelineRunSpec in the exact same way as how it is defined on the [TaskRunSpec](https://github.com/tektoncd/cli/blob/728fd3c4ae9d45014dce18f32303499f1d3005c2/pkg/cmd/task/start.go#L197). The unit of time used for TaskRu

[2020-02-12 06:09] 16yuki0702 opened #708 "Refactoring log writer"
```pkg/cmd/taskrun/log_writer.go``` and ```pkg/cmd/pipelinerun/log_writer.go``` are almost same code.
I think It is useful and readable moving these code into same package.

[2020-02-12 06:09] 16yuki0702 commented on #708
/kind/cleanup

[2020-02-12 06:09] 16yuki0702 commented on #708
/assign

[2020-02-12 06:24] 16yuki0702 commented on #664
This issue maybe same
https://github.com/tektoncd/cli/issues/312

(so can closing two issues at same time!!)

[2020-02-12 07:36] #463 closed

[2020-02-12 09:03] chmouel opened #710 "tkn --help is broken everywhere"
Since c36b6ce7742e8f1435718890e2d9442b44eb7d30 tkn --help is broken, it will
only show the header :

[code]

/assign
/kind bugs

[2020-02-12 09:22] #710 closed

[2020-02-12 12:03] chmouel opened #712 "describe commands absolute or relative dates?"
We are currently showing relative human friendly dates, i.e:

[code]

it's nice and good but when you have a lot of pipelinerun (which is an easy thing to do), having a field of 4 days ago does'nt help to know when was it exactly that pipelinerun has run,

I think relatives dates are  useful for a short span, so I am not sure what we can do. Here are some of the options, none of them are absolute

[2020-02-12 12:05] chmouel commented on #664
thanks @16yuki0702 🙇 , will pick the `tr` issue when i get the one  about `pr` merged!

[2020-02-12 12:22] chmouel opened #713 "Add --use-taskrun to taskrun"
Like we did for pipelinerun in #682 it would be nice to have a --use-taskrun
when starting a task.

/assign
/kind feature

[2020-02-12 13:15] chmouel opened #715 "yamllint/make check errors out"
We don't gate on make check or yamllint and it errors out :

[code]

It would not be that much of an issue if it wasn't in the default PR template
and may be confusing for our new contributors.

/kind bug

[2020-02-12 14:00] #715 closed

[2020-02-12 14:19] #685 closed

[2020-02-12 14:54] danielhelfand opened #717 "Show Timeout as Part of TaskRun/PipelineRun Describe Commands"
As part of running `tkn taskrun describe` and `tkn pipelinerun describe`, the output should display information about the Timeout associated with the TaskRun and PipelineRun.

The Timeout property is part of the TaskRunSpec and PipelineRunSpec and should be able to be accessed as follows:

[code]

[2020-02-12 16:46] chmouel opened #718 "Add --keep `delete --all` for pipelineruns and taskruns"
Example :

[code]

Will delete all pipelinesruns except the last 5 ones.

I think we should keep this option for the auto generated resources, like
taskruns and pipelineruns.

This was a query comping from a message on slack

https://tektoncd.slack.com/archives/CJ62C1555/p1581478036338900

asking if there was a way to limit the number of pipelinerun. There is no
support for this in `pipeline` atm

[2020-02-12 17:08] piyush-garg commented on #625
/assign

[2020-02-12 21:36] chmouel commented on #718
/assign
/milestone 0.8.0

[2020-02-13 07:51] #664 closed

[2020-02-13 07:54] chmouel commented on #312
/assign

[2020-02-13 14:12] pradeepitm12 commented on #706
/assign

[2020-02-13 16:25] Conky5 opened #725 "Show account that created a PipelineRun or TaskRun"
It would be handy when doing a `tkn pr describe ...` or `tkn tr describe ...` to see which account started the run.

[2020-02-13 16:30] danielhelfand commented on #725
@Conky5 Could you please describe what you mean by `account` in this context?

Perhaps even include pseudo output of a `tkn pr describe` or `tkn tr describe` with this use case in mind?