[2020-10-27 13:13] chmouel commented on #1220
I use this plugin for that which does mostly a good job https://github.com/itaysk/kubectl-neat :

![image](https://user-images.githubusercontent.com/98980/97306227-7bec2c80-185e-11eb-9978-dd40ed8cd800.png)

I am not against having this 'builtin' but there used to have a "kubectl export" command which got deprecated and removed for some reasons, and we probably want to dig around to see what was th

[2020-10-27 13:24] pradeepitm12 opened #1223 "Bump to pipeline v0.17.2 and triggers v0.9.1"
Bump the vendor dependencies of tektoncd/pipeline v0.17.2 and tektoncd/triggers v0.9.1

/assign

[2020-10-27 14:01] mattmoor commented on #53
I built a simplified form of this into github.com/mattmoor/mink.  It now support uploading a multi-arch version of kontext, and I've used it to run kaniko builds against clusters on amd64 and arm64 on Tekton.

/lifecycle frozen

[2020-10-28 02:57] #1219 closed

[2020-10-28 13:59] danielhelfand commented on #1222
Adding [When Expressions](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#guard-task-execution-using-whenexpressions) documentation here.

[2020-10-28 16:22] danielhelfand commented on #652
/remove-lifecycle stale

[2020-10-29 16:36] danielhelfand opened #1228 "Support --clustertask Option for tkn tr delete"
### Feature request

Similar to the `tkn tr delete --task` option, which deletes TaskRuns associated with a Task in a namespace, it would also be helpful to allow for the deletion of TaskRuns for a ClusterTask. Since TaskRuns are namespaced but ClusterTasks have a global scope, my thought is to only delete TaskRuns from a ClusterTask in a particular namespace.

### Use case

There is no way to del

[2020-10-29 16:51] danielhelfand commented on #1067
/remove-lifecycle stale

[2020-11-03 04:01] kobayashi commented on #1212
How about just remove shorthand flag `-c` to check version and just add `--check`?

[2020-11-03 09:08] didier-durand commented on #1212
@danielhelfand : I didn't find in kubectl doc that -c is the "official" shorthand for --kubeconfig. Can you point me to your reference? Anyway, it's for me fine to start with --kubeconfig and provide a shorthand like your proposed -c (or else) later on.
Didier

[2020-11-03 10:18] jeffmaury opened #1230 "tkn triggertemplate describe removes version info from apiVersion"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
Output from `kubetl get triggertemplate/echo-template-682

[2020-11-03 10:20] jeffmaury commented on #1230
Idem for TriggerBinding and EventListeners, probably for any Tekton Triggers related resource

[2020-11-03 12:41] danielhelfand commented on #1212
The `-c` shorthand is not for `--kubeconfig`. It's for `--check` and `--context`. `--check` is a flag for `tkn version`:

[code]

`--context` is a global flag available with most commands with the exception of `tkn version` and `tkn completion`:

[code]

If we add the global flags to `tkn version`, there will be a conflict as flags can't have the same shorthand.

Additionally, we cannot just remov

[2020-11-03 12:56] didier-durand commented on #1212
@danielhelfand : yes, that's my point. SInce -c is not a shorthand for --kubeconfig, it seems to me that you don't have to change anything regarding -c for the time being. All what's needed at this point is this addition of --kubeconfig to match kubectl, istioctl, etc.

[2020-11-03 13:18] danielhelfand commented on #1230
/cc @savitaashture

[2020-11-03 13:22] danielhelfand commented on #1212
As discussed in our working group today, the plan is to add all global options to `tkn version` by v0.15.0 and add a deprecation notice for `-c` with `--check` as part of the upcoming release.

Additionally, I will explore further on what approach we can do to conditionally add global flags so that `--kubeconfig` can be added as part of v0.14.0.

[2020-11-03 13:27] didier-durand commented on #1212
Excellent! Thanks.
Didier

[2020-11-03 13:45] danielhelfand opened #1231 "Deprecation Notice for tkn version --check Shorthand (-c)"
As part of addressing #1212, it has become apparent that it makes sense to add all global options for `tkn` to `tkn version`. An issue with this is that the `--context` flag as part of the global flags option and `--check` flag for `tkn version` both have the `-c` shorthand.

The current plan is to remove the `-c` shorthand for `--check` in the v0.15.0 release of `tkn`. In v0.14.0, there should be

[2020-11-03 15:37] #1231 closed

[2020-11-03 15:42] danielhelfand opened #1233 "Remove tkn version --check Shorthand in v0.15.0"
Following up on #1231, the `-c` shorthand for `tkn version --check` should be removed to add global options to `tkn version`. This will help with issue #1212.

This should not be completed until version v0.14.0 of `tkn` has been released.

[2020-11-04 16:09] pratikjagrut commented on #785
Opened PR #1234 to add --all--namespaces flag in triggerbinding list command.

[2020-11-04 20:16] danielhelfand commented on #1223
Closes by #1225

[2020-11-04 20:16] #1223 closed

[2020-11-05 10:54] #1230 closed

[2020-11-06 08:34] chmouel commented on #1220
Since I needed to have this quickly I released this utility :

https://github.com/chmouel/tekton-neat

imho it still make sense to have this in tkn directly.

[2020-11-06 12:56] chmouel opened #1239 "Use Suse's Open Build Service for ubuntu/debian package"
The debian/ubuntu packages are currently generated on a [launchpad ppa ](https://launchpad.net/~tektoncd/+archive/ubuntu/cli)

But there is some limitations with it it seems, it seems I am the only one who is able to push for new release  (while all setup seems fine) and we can only target latest, most oss projects are using the Suse build service these days for this :

https://openbuildservice.or

[2020-11-06 16:25] danielhelfand opened #1240 "Override --timeout Value when Using --last/--use-taskrun/--use-pipelinerun"
# Versions and Operating System

- Kubernetes version:

N/A

- Tekton Pipeline version:

N/A

- Operating System:

N/A

# Expected Behavior

When using the `--last`, `--use-taskrun`, and `--use-pipelinerun` with `start` commands, users should have the ability to override the value of `--timeout` using the option as shown below:

[code]

The above command would result in a TaskRun that uses all the

[2020-11-09 09:46] pratikjagrut commented on #785
* [x]  TaskRun #791
* [x]  PipelineRun #791
* [x]  Task #840
* [x]  Pipeline #840
* [x]  PipelineResource #971
* [x]  TriggerBinding #1234
* [x]  TriggerTemplate #1235
* [x]  EventListener #1236
* [ ]  Condition

[2020-11-09 14:34] danielhelfand commented on #785
Closing this cause of #1241

[2020-11-09 14:34] #785 closed

[2020-11-09 15:58] danielhelfand commented on #1240
/assign

[2020-11-09 16:33] vinamra28 commented on #1228
/assign

[2020-11-10 13:25] danielhelfand opened #1246 "Bump Pipelines Dependency to v0.18.0"
For the release of `tkn` version v0.14.0, the pipeline dependency of `tkn` should be updated to the latest release of pipeline (v0.18.0).

[2020-11-10 14:12] danielhelfand opened #1247 "Explore Adding oci Capabilities into tkn"
This issue is meant to serve as a place to discuss possibilities for adding the features of [`oci`](https://github.com/tektoncd/experimental/tree/master/oci) into `tkn`. Closing this issue requires developing a plan (could include a demo too but not a requirement) that is discussed and approved in the `tkn` working group. It would also be helpful to gauge the thoughts of users of `oci` and Tekton

[2020-11-11 04:24] danielhelfand opened #1248 "EventListener Log Tests Failing Due to Changed Output"
[EventListener log tests](https://github.com/tektoncd/cli/blob/709bee323370b1529cbd7d2274e2fe59ff9858f7/test/e2e/eventListener/eventListener_test.go) are failing with the following errors:

[code]

While it's unclear what the change has been that has caused these tests to no longer pass, it is clear that these tests are fragile as they rely on log output, which can change as updates to Triggers oc

[2020-11-11 04:40] pradeepitm12 commented on #1246
/assign

[2020-11-11 16:52] #1248 closed

[2020-11-12 09:44] vdemeester commented on #571
/remove-lifecycle stale

[2020-11-12 09:44] vdemeester commented on #783
https://www.youtube.com/watch?v=98EwejpIJzE

[2020-11-12 09:44] vdemeester commented on #783
/remove-lifecycle stale

[2020-11-12 09:48] vdemeester commented on #712
/remove-lifecycle stale

[2020-11-12 09:51] vdemeester commented on #482
/remove-lifecycle stale

[2020-11-12 09:51] vdemeester commented on #522
/remove-lifecycle stale

[2020-11-12 09:51] vdemeester commented on #243
/remove-lifecycle stale

[2020-11-12 09:53] vdemeester commented on #199
/remove-lifecycle stale

[2020-11-12 10:04] vdemeester commented on #412
/remove-lifecycle stale

[2020-11-12 10:05] vdemeester commented on #105
/remove-lifecycle stale

[2020-11-12 10:05] vdemeester commented on #617
/remove-lifecycle stale

[2020-11-12 10:06] vdemeester commented on #777
/remove-lifecycle stale

[2020-11-12 11:12] vdemeester commented on #790
/remove-lifecycle stale

[2020-11-12 11:13] vdemeester commented on #642
/remove-lifecycle stale

[2020-11-12 11:13] vdemeester commented on #951
/remove-lifecycle stale

[2020-11-13 16:36] NissesSenap opened #1253 "pipelineRun status/reason from cli"
### Feature request

Would like to easily be able to see the status of my pipelineRun from the cli using a simple flag.

### Use case

As part of my pipelineRun I'm reporting the status to slack or scc and in my finally step I want to return what the status of that run was.

Today I need to do something like:

`tkn pipelinerun desc triggers-release-nightly-6z92f -o=jsonpath='{.status.conditions[?(

[2020-11-16 07:53] vdemeester commented on #1033
/remove-lifecycle stale

[2020-11-16 08:07] vdemeester commented on #1122
/remove-lifecycle stale

[2020-11-17 06:25] pratikjagrut commented on #799
Tracker for `--no-headers` in different `list` commands
* [x]  TaskRun #834
* [x]  PipelineRun #834
* [x]  Task #840
* [x]  Pipeline #840
* [x]  PipelineResource #971
* [x]  ClusterTriggerBinding #1243
* [x]  ClusterTask #1244
* [ ]  TriggerBinding
* [ ]  TriggerTemplate
* [ ]  EventListener
* [ ]  Condition

[2020-11-17 09:59] chmouel opened #1256 "Debian package from ppa is not reporting properly the released version"
[code]

[2020-11-17 09:59] chmouel commented on #1256
/kind bug

[2020-11-17 10:00] chmouel commented on #1256
/assign

[2020-11-17 11:49] pratikjagrut commented on #799
/assign @pratikjagrut

[2020-11-18 09:01] #1170 closed

[2020-11-19 14:03] dbazhal commented on #771
/remove-lifecycle stale

[2020-11-24 13:16] sm43 opened #1264 "Display version of task in tkn task ls"
### Feature request

It would be helpful to know which version of the task is installed. Currently, to know the version
user has to see the YAML of the task.

### Use case

hub cli will soon have a feature to install/upgrade a task. so, to know which version is currently installed would
be helpful.

In the catalog, the version for a Task is defined as a label `app.kubernetes.io/version`

/kind fea

[2020-11-25 14:59] piyush-garg commented on #1256
Fixed with #1257

[2020-11-25 14:59] #1256 closed

[2020-11-25 15:22] piyush-garg commented on #799
All subtasks done

/close

[2020-11-25 15:23] #799 closed

[2020-11-29 13:25] PuneetPunamiya commented on #1264
/assign

[2020-11-29 13:26] PuneetPunamiya commented on #1264
Is this output fine for the above issue
[code]

cc @SM43  @piyush-garg  @danielhelfand

[2020-11-30 03:30] piyush-garg commented on #1264
This looks good, also handle the case if there is no version label/annotation

[2020-11-30 03:46] PuneetPunamiya commented on #1264
Yes but according to TEP a resource should have version

[2020-11-30 03:48] piyush-garg commented on #1264
But a user can create its own task or can install task from other sources

[2020-11-30 03:49] piyush-garg commented on #1264
Also, I think we should add the same for ClusterTask also

[2020-11-30 03:50] PuneetPunamiya commented on #1264
Yes got it thanks

[2020-11-30 09:40] chmouel commented on #1264
In a further improvement for another PR it would be nice to have the version information of a task used on the *describe commands

[2020-11-30 10:00] chmouel commented on #45
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-11-30 10:55] PuneetPunamiya commented on #1264
@chmouel  Yes sure I'll do that thanks, but what fields more need to be added to show or is it just what is the version of the resource installed ?

[2020-11-30 11:05] chmouel commented on #1264
@PuneetPunamiya what do you mean ? just the version information just under Task Ref: as Task Version (for example for taskrun describe)

[2020-11-30 18:04] piyush-garg commented on #107
/remove-lifecycle rotten

[2020-11-30 18:04] piyush-garg commented on #126
/remove-lifecycle rotten

[2020-11-30 18:04] piyush-garg commented on #121
/remove-lifecycle rotten

[2020-11-30 18:05] piyush-garg commented on #1090
/remove-lifecycle rotten

[2020-12-01 01:36] PuneetPunamiya commented on #1264
@chmouel  what I meant is in the describe we just need to show only the version of the task right ??

[2020-12-01 12:25] #1039 closed

[2020-12-01 12:25] #1240 closed

[2020-12-02 04:01] #1246 closed

[2020-12-03 18:03] giriatblockchange commented on #1180
I hit this bug on `tkn pipeline start`

[2020-12-04 05:39] danielhelfand commented on #1180
@giriatblockchange Wasn't sure when I originally documented this, but thanks for clarifying on `pipeline start`.

[2020-12-11 16:50] vdemeester commented on #734
/remove-lifecycle rotten

[2020-12-14 09:58] chmouel commented on #482
/remove-lifecycle stale
/lifecycle frozen

[2020-12-15 13:07] vdemeester opened #1266 "Bump tektoncd/* dependencies"

[2020-12-15 17:08] piyush-garg commented on #1266
/assign @pradeepitm12

[2020-12-15 17:21] vdemeester commented on #1266
/cc @SM43 for the hub 😉

[2020-12-16 09:13] vdemeester commented on #1174
/remove-lifecycle stale

[2020-12-17 08:46] piyush-garg commented on #1266
/close

[2020-12-17 08:46] #1266 closed

[2020-12-17 08:59] #1212 closed

[2020-12-17 08:59] #1233 closed

[2020-12-17 09:06] didier-durand commented on #1212
@danielhelfand : good news! Thanks for the corresponding work. Didier

[2020-12-17 11:53] chmouel opened #1273 "Documentation about tkn plugins is missing"
There is no documentation in README at least about the new plugin system of tkn

cc @vdemeester

/kind documentation

[2020-12-17 12:19] chmouel commented on #1169
/lifecycle frozen

[2020-12-18 09:31] 06kellyjac opened #1275 "Releases don't have version information"
# Versions and Operating System

- Operating System:

[code]

# Expected Behavior

From my copy I've made using `make bin/tkn` on the repo
[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. `wget` or `curl` release `tar.gz`
2. `tar xvf` the tar
3. `./tkn version`

[2020-12-18 15:27] danielhelfand commented on #1275
@06kellyjac Thanks for reporting this. This seems to be an unfortunate side effect of #1269 where `tkn version` is now dependent on having a kubeconfig set. We can rework our [`InitParams` func](https://github.com/tektoncd/cli/blob/e4fa245d9ba668aece6002c4677f60d63160d6e4/pkg/flags/flags.go#L92) to account for this case, but a workaround for now is to include your kubeconfig in the container you a

[2020-12-18 15:49] 06kellyjac commented on #1275
Ahh ok that makes sense.

I dont personally require version to always be available but I guess others might.
Feel free to close the issue if you don't fancy resolving this, up to you

[2020-12-18 16:00] danielhelfand commented on #1275
@06kellyjac I certainly think it's worth addressing and thanks again for raising this. Users should be able to verify the version without a cluster, so we can adapt it. Hopefully shouldn't be a difficult fix.

[2021-01-04 17:03] vdemeester commented on #1140
/remove-lifecycle rotten

[2021-01-04 17:04] vdemeester commented on #1150
/remove-lifecycle rotten

[2021-01-04 17:05] vdemeester commented on #1151
/remove-lifecycle rotten

[2021-01-04 17:05] vdemeester commented on #1199
/remove-lifecycle stale

[2021-01-05 09:29] #1275 closed

[2021-01-05 12:45] chmouel opened #1278 "tekton logs can get pretty slow when you have a large pipeline"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

OSX

# Expected Behavior

When I use `tekton pr logs` with or without `-f` where I ha

[2021-01-06 08:48] tibcoplord commented on #1132
I've seen the same on mac + docker for desktop -

[code]

[code]

[2021-01-06 09:24] vdemeester commented on #1132
/remove-lifecycle rotten

[2021-01-12 16:53] chmouel opened #1280 "Add a flag to not print the label of the task names when outputting the logs"
### Feature request

`tkn pr logs`

prints which task names prints the log output at the beginning of the lines it outputs, which is nice to know but I would like a flag to remove them.

### Use case

when having to copy paste the output on multiple lines it would print those task prefix and make it hard to copy paste, i.e: i was copying this json output debug :

![image](https://user-images.githu

[2021-01-14 05:19] #1097 closed

[2021-01-15 05:43] #1228 closed

[2021-01-15 10:43] VeereshAradhya opened #1281 "`--workspace` description for `tkn t/p start --help` is different from `--workspace` description of `tkn ct start --help`"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
The description for the usage of `--workspace` should be

[2021-01-15 12:47] NissesSenap opened #1282 "tkn completion foo exit=0"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
tkn completion foo

Error: requires valid option got foo,

[2021-01-19 06:37] VeereshAradhya opened #1284 "`tkn tr describe` does not show results for the failed taskruns"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
Results of the taskrun should be shown even if the taskru

[2021-01-19 09:39] lstocchi opened #1286 "Empty array as param value is wrongly handled"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

The task/pipeline runs with an empty array as param valu

[2021-01-20 11:42] IamGabrielWu opened #1288 "Is it possible to start a tekton pipeline through commandline with parameters"
### Feature request

Is it possible to start a tekton pipeline through commandline with parameters  ?

### Use case

for example, I have a tekton pipeline named helloworld-pipeline.

I want to start it by commandline using "tkn", like this

[code]

[2021-01-20 11:45] IamGabrielWu commented on #1288
sorry i found the answer.
it can be close.
[code]

[2021-01-20 11:45] #1288 closed

[2021-01-20 11:48] vinamra28 commented on #1070
hi @anshulvermapatel, any status on this? If you agree then can I take it?

[2021-01-20 11:48] vinamra28 commented on #1070
/remove-lifecycle stale

[2021-01-21 21:17] rupalibehera commented on #1282
We can close this issue now, the fix is merged.

[2021-01-21 22:15] chmouel commented on #1282
thanks!

/close

[2021-01-21 22:15] #1282 closed

[2021-01-22 04:25] NissesSenap commented on #1282
Thanks for the quick response as always ☺️

[2021-01-22 16:01] lstocchi opened #1290 "Start task/pipeline with optional workspace does not work properly"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

Being able to start a task/pipeline that has an optional

[2021-01-23 17:23] rudeigerc commented on #1090
Hi, I have created a PR (#1291) for the issue, but I'm not sure whether it meets the need. Please have a look at it. Thanks a lot!
I have implemented the issue by adding a `--status` flag when executing `tkn describe taskrun` (i.e., `tkn describe taskrun --status`.

[2021-01-26 17:01] vdemeester commented on #652
/remove-lifecycle stale

[2021-01-27 10:16] vinamra28 commented on #1222
/remove-lifecycle stale

[2021-01-29 06:50] piyush-garg commented on #1119
/remove-lifecycle stale

[2021-01-29 06:50] piyush-garg commented on #1067
/remove-lifecycle stale

[2021-02-01 15:39] vinamra28 opened #1294 "Cancelling the PipelineRuns associated with a particular Pipeline using a flag"
### Feature request

Users should be able to cancel all the `PipelineRuns` associated with a particular `Pipeline` with the help of a flag like we have in `tkn taskrun delete` where we were able to delete the `TaskRuns` either associated with a `Task` or a `ClusterTask`.

### Use case

Using this feature we can have one `PipelineRun` at a time by cancelling all the previous `PipelineRuns` (if not

[2021-02-02 13:11] vinamra28 commented on #1222
/assign

[2021-02-02 13:23] pradeepitm12 opened #1295 "Bump to pipeline v0.20.1 and triggers v0.11.2"
Bump the vendor dependencies of tektoncd/pipeline v0.20.1 and tektoncd/triggers v0.11.2

[2021-02-02 13:27] pradeepitm12 commented on #1295
/assign

[2021-02-03 14:29] rudeigerc commented on #1294
/assign

[2021-02-03 15:27] rudeigerc commented on #1090
/assign

[2021-02-05 19:38] ctron opened #1299 "Allow specifying a git resource for "pipeline start""
### Feature request

Currently `tkn pipeline start` only allows to specify a resource by reference. However if you want to start a pipeline with a specific git branch or revision, that seems to be impossible.

### Use case

Start a pipeline with a provided git repository and revision. Make it possible to provide the `source` resource in the following example from the command line:

[code]

### UI

[2021-02-07 17:35] anshulvermapatel commented on #1000
/remove-lifecycle rotten

[2021-02-07 17:36] anshulvermapatel commented on #1000
/reopen
keeping this one open till the PR gets merged.

[2021-02-08 11:23] piyush-garg commented on #1295
Fixed with #1300 and #1297

/close

[2021-02-08 11:23] #1295 closed

[2021-02-09 15:46] jerolimov opened #1302 "pipeline describe crash when pipeline uses inline taskSpec"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

  Second command failed btw, but I installed Red Hat OpenShift Pipelines Operator 1.2.3

[code]

- Operati

[2021-02-10 06:56] piyush-garg commented on #1220
/remove-lifecycle stale

[2021-02-10 06:56] piyush-garg commented on #1239
/remove-lifecycle stale

[2021-02-10 06:57] piyush-garg commented on #1193
/remove-lifecycle rotten

[2021-02-10 06:57] piyush-garg commented on #1247
/remove-lifecycle stale

[2021-02-10 14:13] chmouel commented on #1302
/assign

[2021-02-10 14:25] chmouel commented on #642
/remove-lifecycle stale
/lifecycle frozen

[2021-02-10 15:27] vdemeester commented on #1239
/lifecycle frozen

[2021-02-10 15:27] vdemeester commented on #1247
/lifecycle frozen

[2021-02-10 15:37] chmouel commented on #1280
/assign

[2021-02-10 15:43] chmouel commented on #105
/assign

[2021-02-10 15:44] chmouel commented on #105
/remove-lifecycle rotten

[2021-02-10 16:17] 06kellyjac commented on #1199
Would the changes for this need to be done in https://github.com/tektoncd/plumbing ?

[2021-02-10 16:34] 06kellyjac commented on #529
If this is removed from the go code and just in `docs/cmd/tkn_clustertriggerbinding_delete.md`

[code]

Is it going to need to extract the values from the markdown??

[code]

[2021-02-10 19:10] vdemeester commented on #1199
@06kellyjac yes

[2021-02-11 11:54] #1174 closed

[2021-02-11 12:16] chmouel commented on #1174
/assign 06kellyjac

[2021-02-12 20:29] chmouel commented on #895
Yeah I believe there is room for usability here, the issue is mostly about UX since this can be quite complicated

maybe we can follow on #1169 which is still open,

[2021-02-13 12:37] afrittoli commented on #1169
I guess until this is solved, it would be good to have a few more examples pasted here.
There are a few in https://github.com/tektoncd/cli/blob/master/docs/cmd/tkn_pipeline_start.md, but there's no example for the template case.

[2021-02-16 12:25] #1302 closed

[2021-02-17 05:59] patsevanton opened #1308 "Add tektoncd-cli to snap"
Hello! Thanks for tektoncd!
Feature Request: install tektoncd-cli by snap

[2021-02-17 07:56] chmouel commented on #1253
/remove-lifecycle stale

I think https://github.com/tektoncd/cli/pull/1291 should address it,

[2021-02-17 15:04] dbazhal commented on #771
/remove-lifecycle stale

[2021-02-18 08:39] chmouel commented on #771
/lifecycle frozen

would be useful indeed,

[2021-02-19 16:00] rudeigerc commented on #1286
/assign

[2021-03-01 16:46] vdemeester commented on #107
/remove-lifecycle stale

[2021-03-08 12:59] barthy1 opened #1314 "eventListener e2e test fails with latest pipeline and triggers"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
eventlistener e2e test should pass
# Actual Behavior
even

[2021-03-08 13:44] barthy1 commented on #1193
At this moment in plumbing Prow setup the `RELEASE_YAML` env variable points to `v0.10.2` pipeline - https://github.com/tektoncd/plumbing/blob/main/prow/config.yaml#L423, however test script from cli side expects `RELEASE_YAML_PIPELINES` and `RELEASE_YAML_TRIGGERS` - https://github.com/tektoncd/cli/blob/master/test/e2e-common.sh#L21 Can the mismatch between env variables be the reason of the obser

[2021-03-09 18:11] #1314 closed

[2021-03-10 14:20] vdemeester opened #1319 "TestClusterTaskInteractiveStartE2E/Start_ClusterTask_with_flags consistently fails"
`TestClusterTaskInteractiveStartE2E/Start_ClusterTask_with_flags` consistently fails on the CI, I am not sure why, but I am willing to skip it in order to unblock PRs and release.

/cc @tektoncd/cli-maintainers
/kind test

[2021-03-11 09:35] chmouel commented on #1319
👍🏻

I agree

[2021-03-15 12:10] chmouel commented on #571
/remove-lifecycle rotten
/lifecycle frozen

[2021-03-15 15:12] VeereshAradhya opened #1327 "`tkn pr ls <pipeline-name>` does not list the pipelinerun which is in `Running(PipelineRunPending)` state"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn pr ls <pipeline-name>` should list all the pipeliner

[2021-03-15 15:17] vdemeester commented on #1327
/cc @tektoncd/cli-maintainers

[2021-03-16 07:02] VeereshAradhya commented on #1284
Currently, the pipelines does not publish the results of failed task because of that even the `tkn tr describe` does not show the results. Hence closing the bug

[2021-03-16 07:02] #1284 closed

[2021-03-16 09:23] #1286 closed

[2021-03-17 10:38] vinamra28 commented on #1070
/assign

[2021-03-17 21:41] GrooveCS opened #1329 "DRAFT: Adding current PowerShell Auto Complete functionality offered in spf13/cobra v1.1.13"
### Feature request

**_Work-in-Progress_**

_The fork will be committed for review shortly._

Clarity using PowerShell  `Register-ArgumentCompleter` functionality of spf13/cobra [_Generating Shell Completions_](https://github.com/spf13/cobra/blob/master/shell_completions.md) approach.

### Use case

Feature: Display list of commands invoke autocompletion

`#` A software engineer that is unfamilia

[2021-03-19 10:48] vdemeester commented on #1273
/lifecycle frozen

[2021-03-21 16:36] vinamra28 opened #1331 "tkn clustertask start <name> with `--last` flag shows no taskrun found associated with ClusterTask <name>"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

When doing a `tkn clustertask start` using `--last` flag

[2021-03-21 16:36] vinamra28 commented on #1331
/assign

[2021-03-21 16:39] vinamra28 commented on #1331
/assign @vinamra28

[2021-03-22 10:10] vinamra28 commented on #1331
/assign

[2021-03-23 07:58] pradeepitm12 opened #1335 "Remove v1alpha1 support from cli"
Currently, both v1alpha1 and v1beta1 are supported. But going forward we will need to remove v1alpha1 support from cli.
We may need to document in one or two releases about the removal of v1alpha1.
Also IMHO it would be nice to have cli support the current and current-1 version.

Let's keep this issue as our discussion point and get feedback from users and contributors.

cc: @tektoncd/cli-collabor

[2021-03-23 08:08] pradeepitm12 opened #1336 "Remove 0.10 CI Job"
As 0.10 is Too Old and Flakey we should plan to remove it.
We can remove it/ add a job to run the test on a version before.

[2021-03-23 08:18] chmouel commented on #1335
👍🏻

[2021-03-23 08:24] vdemeester commented on #1336
/kind cleanup

[2021-03-23 08:26] vdemeester commented on #1335
/kind cleanup

[2021-03-23 13:04] #1331 closed

[2021-03-23 13:42] vinamra28 opened #1337 "Creating a PipelineResource when doing tkn p start <name> gives status as o/p even if it is nil"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

When doing an interactive `tkn pipeline start pipelinena

[2021-03-23 13:42] vinamra28 commented on #1337
/assign

[2021-03-24 11:00] #1337 closed

[2021-03-26 04:43] vinamra28 commented on #1145
Let's keep a checklist

 * [x]  Conditions - @danielhelfand (#1167)
 * [x]  ClusterTask - @danielhelfand (#1168)
 * [ ]  Pipeline
 * [ ]  PipelineRun
 * [X]  Task - @vinamra28 (#1289)
 * [X]  TaskRun - @vinamra28 (#1292)
 * [x]  Resource - @danielhelfand (#1182)

[2021-03-30 13:31] chmouel commented on #45
/remove-lifecycle rotten

[2021-03-31 09:47] vinamra28 commented on #1264
/remove-lifecycle rotten
/lifecycle frozen

[2021-03-31 16:06] 06kellyjac opened #1343 "was v0.17.1 re-released?"
I'd calculated a hash from the source tagged at v0.17.1 of `sha256-TmQJfu8tCL1sbkrEzbKM51Yev0N2Pl341ZTyOfTtR5U=` and now it's `sha256-xwUTSJ0rlNzQqGQp6jL03L4SuHUvvD3aWXxa1Xp0UyM=`

Either the hash calculation the first time messed up, or v0.17.1 was re-tagged and re-released.

[2021-04-01 09:15] vdemeester commented on #1343
/cc @piyush-garg

[2021-04-01 09:41] chmouel commented on #126
/remove-lifecycle rotten
/lifecycle frozen

[2021-04-06 12:35] chmouel commented on #1278
/remove-lifecycle stale

[2021-04-09 05:44] piyush-garg commented on #1343
@06kellyjac I remember in the first go, some commits were missed to cherry-pick in the script, so did the branch and tagging again. But for the first wrong tag, I did not build binaries, etc. it was just branch and non-published tag

[2021-04-09 05:48] 06kellyjac commented on #1343
@piyush-garg yeah generated the hash against the source.

Thanks, good to know 🙂
I just wanted to know if there was an issue with the hashing process or a networking issue etc

[2021-04-09 05:48] #1343 closed

[2021-04-09 06:28] VeereshAradhya opened #1345 "`tkn el describe <el-name>` throws error"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn el describe <el-name>` should show the description o

[2021-04-09 07:40] vinamra28 opened #1346 "Enable autoselection of EventListener for `describe` command if only one is present"
### Feature request

The `describe` should auto select the `EventListener` if only one `EventListener` is present

### Use case

User will not have to select the EventListener if only one is present.

### UI Example

[code]
/assign

[2021-04-09 11:52] #1264 closed

[2021-04-09 14:42] #1345 closed

[2021-04-13 07:05] ppitonak commented on #734
/remove-lifecycle rotten

This issue is still present in 0.17.1

[2021-04-13 07:10] tibcoplord opened #1350 "panic: runtime error: invalid memory address or nil pointer dereference"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

`tkn pipelinerun logs --follow` completes successfully

[2021-04-13 07:16] vdemeester commented on #734
/lifecycle frozen

[2021-04-15 06:55] tomhau01 opened #1352 "brew: linux 0.17.2 install fails due to SHA256 mismatch"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

[code]

- Operating System:

[code]

# Expected Behavior
cli 0.17.2 installed

# Actual Behavior

Installation fails.

# Steps to Reproduce the Problem

1. brew update && brew upgrade
[code]
# Additional Info

[2021-04-15 07:30] vinamra28 commented on #1352
cc @piyush-garg

[2021-04-16 04:00] vdemeester commented on #1352
/cc @tektoncd/cli-maintainers

[2021-04-16 13:25] chmouel commented on #1352
can reproduce, sha is not what supposed to be.

[2021-04-16 13:42] chmouel commented on #1352
I am not sure why brew CI is giving us this any ideas @piyush-garg have you done something fancy/weird while doing the release?

`* stable sha256 changed without the url/version also changing; please create an issue upstream to rule out malicious circumstances and to find out why the file changed.`

[2021-04-16 14:31] vinamra28 commented on #1281
/assign

[2021-04-16 14:31] vinamra28 commented on #1281
/remove-lifecycle stale

[2021-04-16 15:12] vinamra28 commented on #872
- [X] PipelineRun
- [X] Pipeline
- [X] Task
- [X] ClusterTask
- [X] TaskRun
- [ ] Condition
- [ ] EventListener (#1353)
- [ ] TriggerBinding
- [ ] ClusterTriggerBinding
- [ ] TriggerTemplate

[2021-04-16 15:26] vinamra28 commented on #642
/assign

[2021-04-19 05:53] PuneetPunamiya opened #1355 "Enable auto selection in `describe` command for TriggerTemplate, TriggerBinding and ClusterTriggerBinding"
### Feature request

The describe should auto select the TriggerTemplate/TriggerBinding/ClusterTriggerBinding if only one TriggerTemplate/TriggerBinding/ClusterTriggerBinding is present

### Use case

User will not have to specify the name of TriggerTemplate/TriggerBinding/ClusterTriggerBinding if only one is present

### UI Example

UI Example for TriggerTemplate

[code]

UI Example for TriggerBi

[2021-04-19 05:53] PuneetPunamiya commented on #1355
/assign

[2021-04-20 13:00] vinamra28 commented on #1169
/assign

[2021-04-22 07:28] vinamra28 commented on #642
@siamaksade @chmouel @vdemeester @piyush-garg @pradeepitm12
for this issue should we delete the existing resource. eg
When we execute `tkn task export tname --as-clustertask` it will create a new `ClusterTask` so should we delete the existing task or keep it in the namespace? and same for `ClusterTask` once exported into the namespace...should we delete the `ClusterTask` ?

[2021-04-22 08:42] #1355 closed

[2021-04-22 11:03] siamaksade commented on #642
@vinamra28 isn't export just export it as YAML to stdout?

[2021-04-22 17:23] vinamra28 commented on #1290
/remove-lifecycle stale

[2021-04-23 10:33] vinamra28 commented on #642
ohh...I mis-interpret that. Shall I add one more flag `--apply` just in case user wants to directly apply the result on the cluster instead of copying and editing?
cc @chmouel

[2021-04-23 12:32] chmouel commented on #642
I think the option that looks like :

`tkn task export tname --as-clustertask --apply`

looks pretty weird to me,

what about just :

`tkn convert clustertask task`
`tkn convert task clustertask`

my reasoning is that we can add more convert type i.e:

`tkn convert task pipeline`

etc..

What do you think ?

[2021-04-23 12:42] #1070 closed

[2021-04-23 14:04] vinamra28 commented on #642
So acc to you what would be the expected behaviour of `tkn convert clustertask task ctname` and `tkn convert task clustertask tname` ?
Will it print to stdout or will it apply on the cluster ?

[2021-04-26 11:17] #1346 closed

[2021-04-26 11:46] chmouel commented on #642
will print to stdout (so to make it easier for scripting) unless you specify a --apply argument to tkn convert

[2021-04-27 16:43] PuneetPunamiya opened #1362 "Auto select the `task/pipeline` to start when there is only one `task/pipeline` installed"
Currently when we have to start a `task/pipeline` even if there is one `task/pipeline` installed then we have to specify the name of the `task/pipeline` i.e

For task :
[code]
OR

For Pipeline:
[code]

So if there is only one task/pipeline installed then `tkn task start` or `tkn pipeline start` should start the respective `task/pipeline`

[2021-04-28 04:38] sm43 commented on #1180
/assign

[2021-04-28 10:10] 06kellyjac opened #1363 "tektoncd-cli is attempting to write to $HOME during tests"
[code]

`$HOME` is `/homeless-shelter` and it's readonly

related: https://github.com/NixOS/nixpkgs/pull/120890#discussion_r622015585

[2021-04-28 10:11] vdemeester commented on #1363
/kind bug

[2021-04-28 10:11] vdemeester commented on #1363
/area testing

[2021-04-28 10:44] 06kellyjac commented on #1363
When I changed the $HOME to a tmpdir I found it created `.tekton/bundles`:

[code]

[2021-04-28 11:43] 06kellyjac commented on #1363
https://github.com/tektoncd/cli/blob/2bcf91faf15e6f235b8e0a15a9044c09e0eebf88/pkg/cmd/bundle/list.go#L69-L72
https://github.com/tektoncd/cli/blob/c996b3004650658c73ae8b1c0ce98f5165107af5/pkg/bundle/flags.go#L64

I strongly recommend this be changed soon to avoid a painful migration later from `~/.tekton` to use the XDG spec

the cache should use `${XDG_CACHE_HOME:-$HOME/.cache}/tekton/bundles`, if

[2021-04-28 11:59] vdemeester commented on #1363
/cc @tektoncd/cli-maintainers

[2021-04-28 15:28] chmouel commented on #1363
agreed, we should use xdg cache

[2021-05-03 11:27] 06kellyjac commented on #1363
I might give this a crack. Looks like the os library already has functions to help with this:

https://golang.org/pkg/os/#UserCacheDir
https://github.com/aquasecurity/trivy/blob/main/pkg/utils/utils.go#L17-L24

[2021-05-03 14:38] vdemeester commented on #1165
/lifecycle frozen

[2021-05-06 23:40] #125 closed

[2021-05-06 23:40] #183 closed

[2021-05-07 00:40] #684 closed

[2021-05-07 01:40] #999 closed

[2021-05-07 02:40] #1085 closed

[2021-05-07 02:40] #1104 closed

[2021-05-07 03:40] #712 closed

[2021-05-07 04:40] #243 closed

[2021-05-07 04:40] #199 closed

[2021-05-07 05:40] #736 closed

[2021-05-07 06:40] #1034 closed

[2021-05-07 08:01] vdemeester commented on #522
/reopen
/lifecycle frozen
Still valid.

[2021-05-07 08:02] vdemeester commented on #874
/reopen
We should discuss this still

[2021-05-07 08:04] vdemeester commented on #631
/reopen
/lifecycle frozen
We should tackle this still

[2021-05-07 09:40] #1163 closed

[2021-05-07 18:40] #412 closed

[2021-05-07 19:40] #617 closed

[2021-05-07 19:40] #777 closed

[2021-05-07 19:40] #105 closed

[2021-05-07 21:40] #1033 closed

[2021-05-07 21:40] #1122 closed

[2021-05-08 00:40] #121 closed

[2021-05-10 07:45] vinamra28 commented on #790
I guess this can still be done
/reopen
/remove-lifecycle rotten

[2021-05-10 08:34] bharathvenkatrajan opened #1368 "How to pass specifications for the workspace via tkn cli"
i want to start a pipeline via the tkn cli. I am doing `tkn pipeline start --workspace='my-workspace'`. This prompts me for the following:
[code]
Is there way you can pass these required specifications via the cli command? If not, can we take this as a feature request.

[2021-05-10 11:31] PuneetPunamiya commented on #872
- [x] PipelineRun
- [x] Pipeline
- [x] Task
- [x] ClusterTask
- [x] TaskRun
- [x] Condition
- [x] EventListener (#1353)
- [x] TriggerBinding (https://github.com/tektoncd/cli/pull/1356)
- [x] ClusterTriggerBinding (https://github.com/tektoncd/cli/pull/1356)
- [x] TriggerTemplate (https://github.com/tektoncd/cli/pull/1356)
- [x] ClusterTriggerBinding (https://github.com/tektoncd/cli/pull/1356)

[2021-05-11 02:38] #1368 closed

[2021-05-13 19:16] bhartshorn commented on #1216
Hi, can I adopt this issue? I've got a POC which gives the following example output, is this what would be expected? Obviously the long line wraps in the terminal, but yeah - it's still pretty long. I wonder if there's a different format that would work better.

[code]

[2021-05-13 20:05] dbazhal commented on #771
is issue bumping legal? i'd like to bump :)

[2021-05-14 15:30] mestebangutierrez opened #1371 "Enable colouring in Windows"
Why don't you enable coloring on Windows?

https://github.com/tektoncd/cli/blob/c996b3004650658c73ae8b1c0ce98f5165107af5/pkg/flags/flags.go#L137-L139

There are many pseudo-terminal implementations that would handle ANSI codes properly, _i.e._, _MinTTY_, _Visual Studio Code_ terminal, the one included in _JetBrain_'s products, and even Windows via **ConPTY**.

Furthermore, if you run the following

[2021-05-17 07:27] vdemeester commented on #1079
/lifecycle frozen

[2021-05-17 07:58] chmouel commented on #771
Yeah i think there was a PR floating around about it, we need to check how to revive this.

[2021-05-17 08:04] chmouel commented on #1280
/remove-lifecycle stale
/lifecycle frozen

will work on this since this annoys me :D

[2021-05-17 12:57] cpanato commented on #476
this is still valid? can I try this one?

[2021-05-17 12:59] pratap0007 commented on #1327
/assign

[2021-05-18 07:42] chmouel commented on #476
@cpanato It is still valid, I think the main difficulty is what are "sane" defaults ?

For branch for sure we could use main/master. But what about the others? What should be a sane value for pushing to a container registry?

They are maybe, but we would need to identify them

[2021-05-18 07:44] chmouel commented on #1308
/assign

Maybe i'll have a GO since I am using an Ubuntu desktop (altho I did disable snap on my system :-D)

[2021-05-18 12:25] nikhil-thomas commented on #642
as we discussed in the CLI WG today,

[code]

and may be in the future,

[code]

[2021-05-18 12:25] pradeepitm12 commented on #1362
@PuneetPunamiya
Thanks for creating this issue, at initial it looks very interesting to me, and this would also keep the tkn consistent with other commands to select the resource by default if only one is available.

But suppose if we have a `task/pipeline` which clears your complete cluster or something which is very less desirable and someone by mistake runs `tkn pipeline/task start`.
This will

[2021-05-18 13:44] VeereshAradhya opened #1372 "`tkn pr logs <pr-name>` does not show logs of the task in the order that they are executed"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn pr logs <pr-name>` should show logs of the task in t

[2021-05-24 04:41] #1319 closed

[2021-05-25 12:07] piyush-garg commented on #1372
/assign @nikhil-thomas

[2021-05-27 06:13] nikhil-thomas commented on #652
/remove-lifecycle rotten
this issue is still valid

[2021-05-27 16:49] danielhelfand commented on #652
I can pr the [repo](https://github.com/danielhelfand/chocolatey-tektoncd-cli) for the package to `tkn` repo. I can also figure out permissions through Chocolatey to add maintainers in case anyone is interested in maintaining the package. But also happy to keep it up to date.

[2021-05-30 10:36] sm43 commented on #1180
/reopen
/remove-lifecycle rotten

[2021-05-30 13:53] vinamra28 commented on #1180
/reopen
/remove-lifecycle rotten

[2021-06-01 11:25] nikhil-thomas commented on #1372
/assign @nikhil-thomas

[2021-06-01 12:01] nikhil-thomas commented on #1372
im working on an update to `SortTasks` mechanismhttps://github.com/tektoncd/cli/blob/a97fa80b1b9b8362445edb94ae909f7efba16f15/pkg/taskrun/taskrun.go#L65:6

what im targetting is as follows.
if the pipeline DAG is this:
[code]
 Then the logs from TaskRuns will be displayed in this order:  `A,B,C,D,F,G,H`

[2021-06-01 12:16] nikhil-thomas commented on #1372
In addition, I wonder what will be the default expectation of a user.
Will a user want to see the logs in the order the Tasks are defined in a Pipeline (current Behavior), while debugging.
or will a user want to see logs in the logical order in which Tasks were run in a pipeline.

[2021-06-01 13:00] nikhil-thomas commented on #1372
cc @chmouel

[2021-06-01 13:08] chmouel commented on #1372
I think your second option make sense, at least for live logs, for non live logs your first option would make more sense if that's not too much work to have to resolve the whole dag.

[2021-06-01 13:50] nikhil-thomas commented on #1372
in dashboard, logs are shown per task.. they don't appear continuously in a pipelinerun scope.

we will have to do a `reverse breadth first` traversal to generate a set, then reverse it and print logs. 🤓
Interesting to attack, but i don't know whether it will confuse the end user. We might get complains that the taskruns are shown in some "random" (logical not pipelinespec) order.

I will implemen

[2021-06-01 15:57] nikhil-thomas commented on #1372
a simpler approach might be to sort TaskRuns base on startTime. 🧑‍💻

[2021-06-02 09:34] #1000 closed

[2021-06-02 11:14] #1180 closed

[2021-06-02 17:51] chmouel opened #1383 "Add a "spinner" for long running action"
### Feature request

For long running actions (i.e: gathering the logs or waiting for some stuff) we should add a spinner which make the user fuzzy and comfortable that something is happening instead of watching an empty void of nothing.

### Use case

Instead of watching voidness watch happiness with a spinner

### UI Example

[gh cli](https://github.com/github/cli) has it you can test it when yo

[2021-06-02 18:37] #1169 closed

[2021-06-02 18:37] #1281 closed

[2021-06-03 07:59] #1280 closed

[2021-06-03 19:20] #1140 closed

[2021-06-03 19:20] #1150 closed

[2021-06-03 19:20] #1151 closed

[2021-06-05 11:31] #1132 closed

[2021-06-06 00:10] nikhil-thomas opened #1386 "Add a asciinema style graphic to CLI landing page README.md"
# Suggestions

1. Move installation steps into a separate file and provide a link to that file in current **Install** section in landing page
1. Add a asciinema style graphic asset to landing page sot showcase, `tkn features` such as
    - pipelinerun/taskrun creation using `tkn pr/tr start commands`
    -  pipeline logs
    - interactive modes

# Reason

- it looks like tektoncd/pipeline is getti

[2021-06-06 08:34] #874 closed

[2021-06-06 16:06] hasanrashid opened #1387 "Broken links in DEVELOPMENT.md"
In DEVELOPMENT.md (https://github.com/tektoncd/cli/blob/main/DEVELOPMENT.md) The section under"Kubernetes" cluster has broken links:

Install required tools and setup GCP project (You may find it useful to save the ID of the project in an environment variable (e.g. PROJECT_ID). has broken link https://github.com/knative/docs/blob/main/docs/install/Knative-with-GKE.md#before-you-begin

Create a GKE

[2021-06-06 16:07] hasanrashid commented on #1387
Found some broken links when going through the document.

[2021-06-07 09:51] vdemeester commented on #1193
I think this can be closed now, we don't run 0.10 e2e tests anymore.
/close

[2021-06-07 09:51] #1193 closed

[2021-06-08 12:16] vinamra28 commented on #1290
resolved in https://github.com/tektoncd/cli/pull/1377
/close

[2021-06-08 12:16] #1290 closed

[2021-06-08 12:34] pradeepitm12 opened #1388 "prune resource in cli"
### Feature request
A way in tkn prune/delete resources with more options.
Maybe we can add a new `prune` command with multiple pruning  option
or
add more flags and param to pre-existing `delete` command
### Use case
With tekton pipeline very soon user have hundreds of taskruns/pipelineruns in their cluster, user would like to prune some of it.
With this feature user will have an option to create

[2021-06-08 19:39] 06kellyjac opened #1389 "Can't view client version without remote tekton setup"
# Details

New `tkn version` (https://github.com/tektoncd/cli/commit/4d5c5fdc58f8dfa23e17d5178ff275e6156004dc) functionality err's before reaching the default or any option you choose (here: https://github.com/tektoncd/cli/blob/main/pkg/cmd/version/version.go#L73-L74) resulting in an empty output.

# Expected Behavior

[code]

# Actual Behavior

[code]

No output, no error

# Steps to Reproduce th

[2021-06-09 01:21] hasanrashid commented on #1387
/assign hasanrashid

[2021-06-09 01:21] hasanrashid commented on #1387
I am working on this

[2021-06-10 07:49] #1389 closed

[2021-06-10 08:34] chmouel commented on #1388
Ah I didn't realise if you were working on this, feel free to improve on #1392 after it gets merged..

[2021-06-10 16:17] itscatherinelam opened #1394 "Is there a way to 'follow' or 'watch' a pipeline run?"
We are looking to kick off tkn pipelines using the cli tool, but find it inefficient to periodically check the status using 'tkn pipeline run describe'. Ideally, it would look something like:

- tkn pipeline start foobar --follow
- [... output of generated pipelinerun as it runs]
- [exit code]

[2021-06-10 16:26] danielhelfand commented on #1394
Would something like `--showlog` for `tkn pipeline start` meet your use case? It would basically show the logs of the PipelineRun and produce a non zero exit code if something fails during the run.

[2021-06-10 16:31] pradeepitm12 commented on #1394
Hey @itscatherinelam
I am not sure if I get this right but whenever you start a pipeline using tkn, you may get an output similar to this
[code]
You can use this command ` tkn pipelinerun logs foo-pipeline-run-zjc2d -f -n namespace` to get the logs and `-f` is used to follow the running pipelinrun

[2021-06-10 16:53] itscatherinelam commented on #1394
This is perfect! :) No need to grep for a command. Thank you!

[2021-06-10 16:53] #1394 closed

[2021-06-10 16:54] itscatherinelam commented on #1394
I'll give this option a shot, too. Although I have tried the option in the first comment in this thread and it's exactly what I was looking for :) Thank you!

[2021-06-14 16:25] electrocucaracha opened #1395 "Client version command doesn't work on 0.19.0 release"
# Versions and Operating System
- Tekton Pipeline version:
`0.19.0`

- Operating System:
[code]

# Expected Behavior

[code]

# Actual Behavior

[code]
# Steps to Reproduce the Problem

1. Download [tarball](https://github.com/tektoncd/cli/releases/download/v0.19.0/tkn_0.19.0_Linux_x86_64.tar.gz)
2. Extract the binary
3. Execute `version` command

# Additional Info

[2021-06-17 08:19] cpanato commented on #476
/remove-lifecycle rotten

there is a draft PR waiting for some feedback

[2021-06-19 01:38] nikhil-thomas commented on #1220
/lifecycle frozen

this is still relevant.
this could be functionaly releated to work needed for https://github.com/tektoncd/cli/issues/642

[2021-06-19 09:05] anshulvermapatel commented on #1395
/assign

[2021-06-21 21:30] pritidesai opened #1399 "experiment using local source code in the pipeline"
Please create a PoC in the experimental repo to evaluate the impact of the changes without changing the API. Please refer to the [TEP PR](https://github.com/tektoncd/community/pull/421) for more details.

## Motivation

Currently, users need to push their code to remote git repositories and use the references in pipeline.

This would simplify the development process for users as they could use the

[2021-06-24 09:56] nikhil-thomas commented on #1146
/remove-lifecycle rotten
looks like this is still valid.
this should be fixed as part ofhttps://github.com/tektoncd/cli/pull/1385

[2021-06-25 13:26] VeereshAradhya opened #1404 "`tkn p/t start --showlog` uses `--prefix=false` flag by default"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn p/t start --showlog` should not use `--prefix=false`

[2021-06-26 10:05] tanwald commented on #1395
Same here on Fedora Server:
[code]
but not on Fedora Workstation:
[code]

[2021-06-28 08:32] #1119 closed

[2021-06-28 08:32] #1067 closed

[2021-06-28 10:00] #1404 closed

[2021-06-28 10:01] pradeepitm12 commented on #1395
Hey @anshulvermapatel,
Thanks for taking this up.
As we are planning for a v0.19.1 release this is something we would like to get in.
Just wanted to check if you are still on it?

[2021-06-28 15:45] chmouel commented on #45
/lifecycle stale
/remove-lifecycle stale

[2021-06-28 20:16] dibyom opened #1406 "[Triggers] Add a EventListener port-forward command"
### Feature request

It would be nice to have a `tkn` command to port-forward to an EventListener.

Currently, users have to use kubectl directly and either have to find the pod that the eventlistener creates or rely on a naming convention that Triggers uses to create EventListener services.

[code]

### Use case

* Locally testing/debugging/invoking a Trigger in an EventListener

### UI Example

[2021-06-29 07:03] vdemeester commented on #1395
@tanwald both installed through the RPMs ? 🤔

[2021-06-29 07:34] pradeepitm12 commented on #1395
Fixed : https://github.com/tektoncd/cli/pull/1390
/close

[2021-06-29 07:34] #1395 closed

[2021-06-29 08:42] tanwald commented on #1395
No, I have a script that compares my version with github releases and installs the binary. That script failed on the server edition because it couldn't get the installed version any longer.

[2021-06-29 09:46] pradeepitm12 opened #1407 "Add --keep-since flag to taskrun delete"
### Feature request
add option --keep-since to tkn tr delete --all to allow keeping some trs that are younger than X minutes when deleting all taskruns.

### Use case
this can help to make pruning much easier

### UI Example

[2021-06-29 09:48] mbharatk commented on #1407
/assign

[2021-06-29 18:02] anshulvermapatel commented on #1395
Hi everyone,

I apologize for replying late.
[#1390](https://github.com/tektoncd/cli/pull/1390) does resolve the issue where normal client version is required to be printed but if we add `--component` it still give the full output -

[code]

After adding `--component client` the output should be
[code]

I will create a PR for this.

[2021-06-29 18:34] anshulvermapatel commented on #1395
Created [1408](https://github.com/tektoncd/cli/pull/1408)

[2021-06-29 20:46] chmouel commented on #1407
Can we add --label at the same time please?

[2021-06-30 04:00] mbharatk commented on #1407
Sure @chmouel will add that too.

[2021-07-02 14:32] #1222 closed

[2021-07-03 15:32] #1294 closed

[2021-07-03 16:32] #1090 closed

[2021-07-05 20:37] #1299 closed

[2021-07-07 07:11] vinamra28 opened #1412 "Bump pipelines to v0.25.0 and triggers v0.14.2 and hub cli to latest"
Bump the vendor dependencies of tektoncd/pipeline v0.25.0 and tektoncd/triggers v0.14.2 and hub cli to latest

/assign

[2021-07-07 11:05] #1412 closed

[2021-07-08 08:56] pradeepitm12 commented on #1336
Done with https://github.com/tektoncd/plumbing/pull/824
/close

[2021-07-08 08:56] #1336 closed

[2021-07-08 09:44] vinamra28 opened #1413 "Remove extra golden files generated while testing version command"
In PR #1408 the test for version subcommand is generating golden files which are not required and instead we can do assert to check whether the version we are getting is correct or not. See https://github.com/tektoncd/cli/pull/1408#discussion_r666010946

[2021-07-08 09:47] vinamra28 commented on #1413
/good-first-issue

[2021-07-09 07:51] vdemeester opened #1416 "Support for Graceful termination"
### Feature request

With https://github.com/tektoncd/pipeline/pull/3915, there is now a
possibility to graceful cancel. As of today, the cli only supports
force cancelling. The cli should support it.

As of today, we only support force cancel, using the deprecated field (see https://github.com/tektoncd/cli/pull/1415)

### Use case

See https://github.com/tektoncd/pipeline/pull/3915 and [TEP-0058

[2021-07-09 07:51] vdemeester opened #1417 "Support for Graceful termination"
### Feature request

With https://github.com/tektoncd/pipeline/pull/3915, there is now a
possibility to graceful cancel. As of today, the cli only supports
force cancelling. The cli should support it.

As of today, we only support force cancel, using the deprecated field (see https://github.com/tektoncd/cli/pull/1415)

### Use case

See https://github.com/tektoncd/pipeline/pull/3915 and [TEP-0058

[2021-07-09 07:52] vdemeester commented on #1417
Duplicated due to a network problem on my end.. closing..

[2021-07-09 07:52] #1417 closed

[2021-07-10 20:18] #1199 closed

[2021-07-13 04:09] chumaltd commented on #1091
+1 to `tkn tr|pr start` directly. It can utilize taskRef | pipelineRef.

I just wrote a plugin for interactive selection.
https://github.com/chumaltd/tkn-runner

I treat PipelineRun / TaskRun that doesn't have `generateName` as a template, and others are instances.
I think we need to preserve templates on delete in most cases.

[2021-07-13 05:13] #1372 closed

[2021-07-14 18:15] riceluxs1t opened #1421 "`tkn <pr|tr> logs` to return only the available logs of a running PipelineRun/TaskRun."
### Feature request

Currently, `tkn` CLI  either (a) waits until completion and returns all the logs of a PR/TR (no-follow behavior) or (b) streams the logs of a running PR/TR (follow behavior).

I think a variant of the first behavior can be useful for certain use cases: return all the available logs of a running PR/TR at some point in time.

### Use case

A caller may want to **periodically** p

[2021-07-15 00:09] bobcatfish commented on #1421
@riceluxs1t this looks like a CLI request so I'm going to transfer this issue over there but let us know if I got it wrong. Thanks!

[2021-07-15 14:20] vinamra28 opened #1422 "tkn bundle push command doesn't use authentication file produced after podman login"
# Versions and Operating System

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

`tkn bundle push` should be able to push to remote registry even if we login to remote registry using podman instead of doc

[2021-07-15 14:28] vinamra28 opened #1423 "`tkn bundle push` misses the flag `--remote-registry`"
# Versions and Operating System

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

`tkn bundle push` should have the flag `--remote-registry` through which we can specify to which registry we want to push.

[2021-07-15 14:44] vinamra28 opened #1425 "Have a subcommand for tkn bundle which can help authenticate to remote registry"
### Feature request

We should have a subcommand which can help authenticate to remote container registry without depending on other CLI such as `docker` and `podman`.

### Use case

Instead of depending on other CLI tools such as `docker` and `podman`  having a command in `tkn` would help push the OCI bundle directly to remote container registry and the login info can be stored in an authfile and

[2021-07-19 16:31] riceluxs1t commented on #1421
I think there is a way to achieve the behavior I want by setting the timeout value of 0s in the (a) case.

[2021-07-19 16:31] #1421 closed

[2021-07-20 14:33] jland-redhat opened #1426 "Add a flag to 'tkn pipeline start` to return PipelineRun name"
### Feature request

A flag in which the `tkn pipeline start` return's just the name of the PipelineRun

### Use case

Currently trying to make a basic smoke test pipeline that will run through and call an existing pipeline multiple times in sequence with different parameters. Currently when you run the command you get a message that is nice for a user where it gives you a command for following th

[2021-07-23 06:23] #1413 closed

[2021-07-27 12:52] nikhil-thomas commented on #1146
/close

[2021-07-27 16:28] pradeepitm12 commented on #1146
/close

[2021-07-27 16:28] #1146 closed

[2021-07-27 17:00] digglife commented on #1423
@vinamra28 Is this supposed to be implied by the repository URL?

[code]

[2021-07-28 02:49] vinamra28 commented on #1423
yeah I forgot to close this :sweat_smile:. Actually `github.com/google/go-containerregistry` handles this itself so it's not required anymore.
/close

[2021-07-28 02:49] #1423 closed

[2021-07-28 12:41] digglife commented on #1422
@vinamra28

I also want this feature because I'm mostly using Podman rather than Docker on Linux.

Since `tkn` is currently using the `authn.DefaultKeychain` which only reads docker's config file, we could create a `PodmanKeychain` to handle Podman's auth config , then use `multiKeychain` to include both of them.

If it sounds reasonable, I can try to implement it.

[2021-07-28 13:24] vdemeester commented on #1422
@digglife I think that sounds reasonable 😉

[2021-08-05 11:00] piyush-garg opened #1431 "Bump to pipeline 0.27 and triggers 0.16"
This includes the following tasks

 - [x] Bump to pipeline 0.27.0
 - [x] Bump to triggers 0.16
 - [x] Support for v1beta1 triggers resources
 - [x] Move e2e to triggers v1beta1

[2021-08-08 16:26] liangyuanpeng commented on #1426
That makes sense, how about param of `--return-name` ?

[2021-08-08 16:38] liangyuanpeng commented on #1426
/assign

[2021-08-09 07:32] pradeepitm12 opened #1432 "--ignore-running with pipelinerun/taskrun delete"
### Feature request
add **--ignore-running**  flag with pipelinrun and taskrun delete commands.
Currently, we can not ignore the running taskrun/pipelinerun with the delete command.

### Use case
Adding this will help delete all the pipelineruns/taskruns ignoring the running ones.
Combined with other flags would give the user more precise resource deletion

### UI Example
tkn taskrun delete --igno

[2021-08-10 12:10] vinamra28 commented on #1432
/good-first-issue

[2021-08-10 14:05] #1422 closed

[2021-08-10 18:14] #652 closed

[2021-08-11 04:34] liangyuanpeng commented on #1432
/assign

[2021-08-11 04:35] liangyuanpeng commented on #1432
/unassign

[2021-08-11 04:40] liangyuanpeng commented on #1432
/assign

[2021-08-11 14:44] digglife commented on #1416
I would like to take this but I'm not sure what kind of UI is right. Just for example:

[code]

On the other hand, for `stop` only graceful is implemented now, so if we consider the following command, `force` should be an option so that it can be added in the future.
[code]

Please advise. Thanks.

[2021-08-17 12:18] piyush-garg commented on #1431
Pipeline Bump PR https://github.com/tektoncd/cli/pull/1438/

[2021-08-18 16:44] SaffatHasan opened #1439 "tkn version returns empty string if .kube/config is not preent"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

(or if I mount my $HOME/.kube)

[code]

- Operating System:

[code]

# Expected Behavior

Tekton version i

[2021-08-18 17:09] digglife commented on #1439
Yes. That's the current behavior. It's intentional. But as you said, I guess showing the client version and the information about missing configuration file should be more friendly.

Here is the relevant code:

https://github.com/tektoncd/cli/blob/622401ce860593f1a7f8d846664aa7b10acbabae/pkg/cmd/version/version.go#L64-L67

[2021-08-19 05:34] digglife commented on #1439
Actually it's already fixed in `v0.20.0`. You can download it from [release page](https://github.com/tektoncd/cli/releases/tag/v0.20.0) and try again.

It seems that the homebrew version is still `v0.19.0`, which is not normal.

[2021-08-19 14:08] #1439 closed

[2021-08-19 14:26] SaffatHasan commented on #1439
Updating the version in my Dockerfile resolved the issue.

I'm not sure about the homebrew version as it seems I was already on the `v0.20.0` when I tried installing:

[code]

[2021-08-31 05:35] #1407 closed

[2021-08-31 12:44] pradeepitm12 opened #1442 "--pipeline --all --keep-since not combined with delete"
### Feature request
Pipelinerun delete command does not combine --pipeline, --keep-since, --all flags
Taskrun delete command does not combine --task, --keep-since, --all flags

### Use case
The user might want to delete all the pipelinerun related to pipeline foo older than x days
The user might want to delete all the taskruns related to task foo older than x days

### UI Example
`tkn pr delete -p

[2021-08-31 12:52] vinamra28 commented on #1442
/assign

[2021-09-03 07:14] pratap0007 commented on #1327
@piyush-garg  This  bug has been fixed in  [pipeline v0.27.2 release ](https://github.com/tektoncd/pipeline/releases/tag/v0.27.2) , gave a try to fix it but couldn't fix.

[2021-09-03 13:48] lstocchi opened #1444 "Start pipeline/task with empty optional workspace without answering for specifications questions"
### Feature request

If you try to start a pipeline which has an optional workspace and this is voluntarily left blank the user is still asked `Do you want to give specifications for the optional workspace?`. Is there a way to bypass/prevent it?

### Use case

We are adding support for optional workspaces in our IDE tekton plugins. Users fill in the wizard with all params/workspaces to start the p

[2021-09-07 12:13] #1327 closed

[2021-09-21 08:33] #1442 closed

[2021-09-23 11:51] piyush-garg commented on #1431
Trigger bump and trigger template v1beta1 work #1446

[2021-09-23 12:29] vinamra28 commented on #1431
Should we bump pipelines to 0.28 as well?

[2021-09-23 12:33] pradeepitm12 commented on #1431
How about doing that in a separate pr. It would make it easier to review

[2021-09-24 21:14] chenbh commented on #1406
I would be interested to work on this! Do you think it's fair for this to be a very stripped down version of `kubectl` in the sense that only 1 port can be specified and the local port will be the same as the remote port?

[2021-09-27 15:58] dibyom commented on #1406
Yes, I do not think it is necessary to support all the different options that kubectl supports. However, I think we should support the different local port options to prevent collisions in case the user has something running on that local port already.

[2021-09-29 07:23] piyush-garg commented on #1431
PR #1449 for triggerbinding and #1450 for clustertriggerbinding

[2021-09-29 07:24] piyush-garg commented on #1431
@vinamra28 It has been done as part of #1448

[2021-10-01 12:15] piyush-garg commented on #1431
PRs #1454 and #1455 for eventlistener

[2021-10-05 11:38] piyush-garg commented on #1431
E2E test PR https://github.com/tektoncd/cli/pull/1458

[2021-10-05 11:53] piyush-garg commented on #1431
All stories done
/close

[2021-10-05 11:53] #1431 closed

[2021-10-05 12:11] ppitonak opened #1459 "tkn keeps running after pipeline finishes when "retries" is used in pipeline"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

`tkn pr logs -f --last` finishes (i.e. prompt is availab

[2021-10-05 12:11] piyush-garg commented on #1350
As this issue is 6 months old, having been not able to reproduce it and not any other case reported like this, I am closing this now. Feel free to open this if it happens again.

[2021-10-05 12:12] piyush-garg commented on #1350
/close

[2021-10-05 12:12] #1350 closed

[2021-10-05 12:39] piyush-garg commented on #1459
@ppitonak Is this the case with the old version of CLI also, or it is specific to this version?

[2021-10-05 13:01] ppitonak commented on #1459
Definitely happens with 0.19.1

[2021-10-05 13:05] ppitonak commented on #1459
Works with 0.13.1

[2021-10-05 13:14] ppitonak commented on #1459
0.15.0 is last **working** version
0.16.0 is first **broken** version

[2021-10-05 17:51] piyush-garg commented on #1459
This loops is not terminating in case of pipeline logs https://github.com/tektoncd/cli/blob/main/pkg/log/writer.go#L42

[2021-10-06 05:41] #1459 closed

[2021-10-08 07:27] piyush-garg commented on #1444
Yup, this makes sense. If the workspace is optional, we should not ask for values in interactive flow.

cc @vdemeester @pradeepitm12

[2021-10-15 00:14] #1091 closed

[2021-10-15 03:31] vinamra28 commented on #1145
/remove-lifecycle rotten

[2021-10-15 11:53] vdemeester commented on #1388
@chmouel @pradeepitm12 can we close this one ?

[2021-10-20 20:24] piyush-garg commented on #1145
- [ ] Cleanup PR - @piyush-garg #1466

[2021-10-29 11:22] adamacosta opened #1468 "Cannot view EventListener logs if pods have sidecars"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

(Doesn't depend on OS - I've observed the same behavior on Arch and Ubuntu)

[2021-11-08 13:55] developer-guy opened #1469 "show steps in detailed format"
### Feature request

In the describe command of `the task,` you'll see the list of steps with only their names. So, we(w/@dentrax @erkanzileli) propose adding more information about the steps once the user specifies a brand new flag called `--detailed.`

### Use case

The use case is as simple as specifying --detailed flag while issuing the command `tkn task describe <name_of_the_task>.`

### UI E

[2021-11-08 14:02] developer-guy commented on #1469
please assign it to us if you agree with this idea. 🙏

[2021-11-11 17:45] GrooveCS commented on #1329
Created a [Pull Request](https://github.com/tektoncd/cli/pull/1330) and was closed #1330.
Manually closing this Issue.

[2021-11-11 17:45] #1329 closed

[2021-11-12 14:12] vdemeester commented on #1416
/remove-lifecycle stale

[2021-11-14 01:03] #1278 closed

[2021-11-15 12:41] vinamra28 commented on #1416
/assign

[2021-11-16 11:06] #1352 closed

[2021-11-21 21:25] antonio-tolentino opened #1470 "tkn returning error and exit code 1 deleting old pipeline executions when argument --keep is not satisfied"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
tkn client should return exit 0, because it is not actual

[2021-11-23 11:54] pradeepitm12 opened #1471 "support --keep and --keep-since together"
### Feature request
tkn to support `--keep` and `--keep-since` flags together while deleting a `pipelinerun` or a `taskrun`.

### Use case
`--keep=x` is used to delete all `taskrun/pipelinerun` except for the `x` latest.
where as
`--keep-since=x` is used to delete the `taskrun/pipelinerun` older `x` minutes.
There are scenarios when user would like to delete all the `taskrun/pipelinerun`  older `x

[2021-11-25 03:55] divyansh42 commented on #1470
/assign

[2021-11-25 06:51] developer-guy opened #1472 "add ability to install Tekton Pipelines, Chains, Dashboard"
### Feature request

Why don't we add support for deploying Tekton Pipelines, Chains, Dashboard via tkn CLI? IMHO, it'd be great if I could type:

[code]

### Use case

We use plain YAML manifests to deploy these applications. It'd be great to add this installation logic into the tkn CLI so that the tkn CLI would become an only needed application from the user's perspective. IMHO, who has tkn CLI,

[2021-11-25 09:40] vdemeester commented on #1472
@developer-guy that's an idea that has been there for a while (https://github.com/tektoncd/cli/issues/61) and our current take would be to install it through the [operator](https://github.com/tektoncd/operator) most likely.

That said, given that we have a "plugin" support, the implementation of such a command could be experimented outside of the tektoncd/cli scope to start with. In any case, that

[2021-12-01 07:21] nikhil-thomas opened #1473 "Add Operator version in the output of tkn version command"
### Feature request

Display Operator version in`tkn version`, if operator is managing the Tektoncd components.

From the Operator side, we can support maintaining an `operator-info` configMap in the `tekton-pipelines` namespace (or `openshift-pipelines`). In other words,  the configMap could be setup by the operator in the namespace where all other components are installed not in the namespace wh

[2021-12-01 07:29] nikhil-thomas commented on #1473
Related issue in Operator https://github.com/tektoncd/operator/issues/539

[2021-12-01 13:49] lstocchi commented on #1444
Hi @pratap0007 and sorry for the late response, i completely miss the notification.
Yes, what we need is a way to run the start command through the cli without specifying a workspace (if optional).

Something like ... if the task has 3 inputs (2 params and 1 optional workspace) i would like to run `tkn pipeline start -p .. -p ...` without that the cli asks me if i'm sure about it. Or having some o

[2021-12-02 20:32] bhartshorn commented on #1216
I'm not going to make it back to provide tests for my PR, feel free to re-assign this.

[2021-12-07 00:32] nikhil-thomas commented on #1426
i would love to have this feature. 🧑‍💻
i think what we need is a `procelain` flag like we have in `git`.
[code]

/remove-lifecycle rotten

[2021-12-07 04:53] pratap0007 commented on #1444
@lstocchi yes, it's clear now and thank you for clarifying it.

[2021-12-08 08:53] ppitonak commented on #1426
`tkn pipeline start` already has a param `--output` that can accept values `yaml` or `json`. IMHO we should do the same that kubectl/oc is doing, i.e. the `--output` param should accept value `name` which would print something like
[code]

[2021-12-09 00:19] nikhil-thomas commented on #1426
oh. great, then let us close this issue. 🧑‍💻 🕺
/close

[2021-12-09 00:19] nikhil-thomas commented on #1426
@piyush-garg 👆

[2021-12-09 12:48] ppitonak commented on #1426
@nikhil-thomas https://github.com/tektoncd/cli/pull/1433 hasn't been merged yet

[2021-12-13 09:17] PuneetPunamiya commented on #1473
/assign

[2021-12-14 03:54] #790 closed

[2021-12-14 04:37] PuneetPunamiya commented on #1383
@chmouel I have added a gif below which adds a spinner for a taskrun

![cli-spinner](https://user-images.githubusercontent.com/32545638/145933909-ef29a5f5-fc68-4c9d-b5c3-4fe4d1ed5d7f.gif)

Is it the same what is expected ?

[2021-12-14 05:56] #1362 closed

[2021-12-14 09:21] vdemeester commented on #1383
/remove-lifecycle rotten

[2021-12-14 09:22] chmouel commented on #1383
yep perfect for a start!

[2021-12-14 09:37] PuneetPunamiya commented on #1383
Thanks!
I'll assign it to me 🙂
/assign

[2021-12-14 10:00] #1386 closed

[2021-12-14 11:01] #1387 closed

[2021-12-14 13:03] #1388 closed

[2021-12-14 13:55] vdemeester opened #1474 "Create taskrun/pipelinerun from oci bundle"
### Feature request

It should be possible to create a `TaskRun` (using `tkn task start`) from a oci bundle.
Today, we can create a `TaskRun` from an in-cluster `Task` definition. If oci bundles are enabled on a Pipeline instance, it's possible to create a `TaskRun` that uses the oci bundle image reference as `Task` definition reference. It should be possible to do that from the cli directly

The

[2021-12-14 14:04] #1308 closed

[2021-12-14 15:05] #1399 closed

[2021-12-14 21:24] waveywaves opened #1476 "Add debug sub-command for TaskRuns"
### Feature request

Have `debug` sub-command for TaskRuns.

### Use case

Use the debug capability outlined in [TEP-0042](https://github.com/tektoncd/community/blob/main/teps/0042-taskrun-breakpoint-on-failure.md) to debug TaskRuns.

### UI Example

[code]

[2021-12-15 06:55] alanjjenkins opened #1477 "Mac OS ARM64 release (for Mac M1)"
### Feature request

Please build releases for Mac OS for ARM64. These are required for use on the new M1 Macs. Currently with the asdf plugin for the Tekton CLI any user attempting to install the Tekton CLI just gets the following output:

[code]

Which if you check it with Curl is a 404:
[code]

### Use case

As a team we use asdf-vm https://github.com/asdf-vm/asdf to install and manage the vers

[2021-12-16 13:00] waveywaves commented on #1476
/assign

[2022-01-01 23:18] #476 closed

[2022-01-06 12:27] 06kellyjac commented on #1363
/remove-lifecycle stale

being handled by #1365

[2022-01-12 17:54] vinamra28 commented on #1216
reopen
/lifecycle frozen

[2022-01-12 17:54] vinamra28 commented on #1216
/reopen

[2022-01-13 08:32] chmouel opened #1480 "tkn pr/tr/* delete always ask for confirmation to delete"
# Versions and Operating System

latest version of cli compiled from main branch

# Expected Behavior

not asking everytime to delete object even if it doesn't exist

# Actual Behavior

asking everytime to delete object

# Steps to Reproduce the Problem

1. `tkn p delete heraldsantibodyskickoffs`
2. `tkn t delete FORTRANgoobersnotified`
3. `tkn ct delete dailysdenhashs`

# Additional Info

You can

[2022-01-14 07:17] mansi103 commented on #1480
/assign

[2022-01-14 11:59] chmouel opened #1481 "golangci-lint warnings and errors"
a  lot new err/warnings with latest golangci-lint version 1.43.0 built from 861262b on 2021-11-12T10:37:23Z:

[code]

[2022-01-15 08:31] vinamra28 commented on #1216
/assign

[2022-01-17 05:59] VeereshAradhya opened #1483 "Cursor not available on interactive mode of start command"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
The cursor should be available on the interactive mode of

[2022-01-18 13:56] mestebangutierrez commented on #1371
/reopen This feature would improve the developer experience.

[2022-01-18 17:39] vinamra28 commented on #1371
/reopen

[2022-01-19 08:10] concaf opened #1485 "Add Chains version in `tkn version`"
### Feature request

Add support for displaying version of Tekton Chains if it's installed in the cluster when `tkn version` is run.
Once https://github.com/tektoncd/chains/issues/336 is fixed, this can be worked on.

### Use case

`tkn version` should give users an overview of all Tekton components installed in the cluster, so if Chains is installed in the cluster, it only makes sense to include

[2022-01-19 14:39] mansi103 commented on #1485
/assign

[2022-01-21 12:16] #1416 closed

[2022-01-24 06:08] #1473 closed

[2022-01-24 16:17] smaftoul commented on #1481
Should we fix the erros or remplace the linter with `revive` first ?

[2022-01-25 05:41] #1216 closed

[2022-01-26 03:34] ileixe opened #1488 "Injecting breakpoint for failed task"
### Feature request

I'd like to rerun task or pipeline injecting breakpoint(https://tekton.dev/docs/pipelines/debug/#breakpoint-on-failure) when the task was failed to verify what's the cause.

### Use case

I think it's fairly common that several failures come from the environment and it's great to have the control to decide breakpoint from the failed tasks.

### UI Example

With this new parame

[2022-01-26 05:01] vinamra28 commented on #1488
Hi @ileixe, thank you for creating this. There is one more issue #1476 from @waveywaves which looks similar to this. Can you please check and see whether this issue can be tracked over there or not?

[2022-01-26 05:16] ileixe commented on #1488
@vinamra28 Cool, thanks. I think we can track from it.

[2022-01-26 05:16] #1488 closed

[2022-01-26 05:56] ileixe commented on #963
We're having same issue, and it looks fairly often. We're using `git-clone`, and `buildkit-daemonless`

[2022-01-26 06:03] ileixe commented on #963
No matter what tasks are (it was not specific from git-clone), we are having same issue

[code]

I guess internally there are some logic to waste FDs?

[2022-01-26 15:26] lostiniceland opened #1489 "how to start a pipline programmatically (generally missing examples)"
In order to build some automation we would like to integrate tkn in another simple Go program, basically just starting an existing pipeline in the cluster with some parameters.

Do I have to import tektoncd/cli or tektoncd/pipline (propably the first)? Without examples it is really hard to figure out what packages are needed and how they need to be connected.

I would be great to have some example

[2022-01-26 15:59] #1444 closed

[2022-01-27 15:11] vdemeester commented on #1468
/remove-lifecycle stale
/cc @tektoncd/cli-maintainers

[2022-01-29 04:11] ileixe opened #1495 "Question: how to make PipelineRun show actual duration when it took longer than 1 hour?"
In PipelineRun

[code]

Task running time was longer than 1 hour but the description seems not to have actual value but hard-coded 1 hour. I could confirm that task ran over than 1 hour in dashboard, so wondered why it did not appear in the PipelineRun.

Is there any configuration to show actual value for it?

Thanks

[2022-01-29 14:55] pratap0007 commented on #1470
/assign

[2022-01-31 15:27] vdemeester commented on #1495
Moving this to the `cli` repository as it is a `tkn` (aka `tektoncd/cli`) issue.
/cc @tektoncd/cli-maintainers

[2022-01-31 15:41] chmouel commented on #1495
I believe you are looking for the --timeout switch i.e:

[code]

[2022-02-02 21:33] chmouel opened #1501 "golangci-lint latest fail to lint"
golangci-lint version:

`1.44.0`

lint output:

[code]

/assign @pradeepitm12

[2022-02-04 07:16] pradeepitm12 commented on #1501
Our [plumbing ](https://github.com/tektoncd/plumbing/blob/main/tekton/images/test-runner/Dockerfile#L172 ) and [cli ](https://github.com/tektoncd/cli/blob/3c9ece67610d3be38cd56847305108effad93c77/tekton/release-pipeline.yml#L57), both uses `golangci-lint v1.42.0`,
I did try https://github.com/tektoncd/cli/pull/1504 with golangci-lint v1.44.0 but we need go v1.17 or greater for it.
Should we bump g

[2022-02-04 09:21] chmouel commented on #1501
let's keep it on 1.16 since we are "stuck" with it for rhel

[2022-02-11 12:57] afrittoli commented on #1406
/remove-lifecycle rotten

[2022-02-14 08:33] tomonight opened #1506 "cli get log QPS"
when use tekton cli as Secondary development sdk, cli get log occur QPS is not enough when get log concurrent

the kubernetes config default QPS is 5 , so when QPS is up to 5 , will occur the client-side throttling like:

request.go:668] Waited for 1.928912785s due to client-side throttling, not priority and fairness

so i think when create the clients , pass the config, share the main k8s client-

[2022-02-17 17:42] #1371 closed

[2022-02-22 12:42] pradeepitm12 commented on #1483
/assign

[2022-02-23 15:23] vdemeester commented on #1472
/lifecycle frozen

[2022-03-01 12:52] #1485 closed

[2022-03-03 01:59] tomonight commented on #1506
/close

[2022-03-03 01:59] #1506 closed

[2022-03-03 11:40] jbpratt commented on #1481
I've swapped to `revive` locally and these are the additional warnings we will see:

https://github.com/tektoncd/cli/blob/cef2a64a33189ec5d41ff6ade3addfa4601e2b9e/.golangci.yml#L16

[code]

[2022-03-04 08:27] #1481 closed

[2022-03-04 08:34] jbpratt commented on #1501
@chmouel @pradeepitm12 I think this is a duplicate of https://github.com/tektoncd/cli/issues/1481 which is almost resolved now! :cat:

[2022-03-04 08:41] jbpratt commented on #1477
It looks like there is a darwin-arm64 build for v0.22.0 available here:
https://github.com/tektoncd/cli/releases/download/v0.22.0/tkn_0.22.0_Darwin_arm64.tar.gz

Can this be resolved?

[2022-03-04 12:13] #1483 closed

[2022-03-04 16:00] jbpratt commented on #1477
Linking this PR https://github.com/tektoncd/cli/pull/1467

[2022-03-04 16:07] alanjjenkins commented on #1477
Hey @jbpratt ,

I can confirm that now that there is a build of the tekton CLI for 0.22.0 asdf is now able to install it.

However I just noticed a inconsistency:

[code]
So the CLI should be 0.22.0 yet when you check the version it is reporting 0.21.0.

This is a separate problem to what is reported in this issue though so I will mark this resolved.

[2022-03-04 16:07] #1477 closed

[2022-03-04 22:23] mgreau commented on #771
+1 on this feature.

Today we are using the following script
[code]

@chmouel are you referring to this PR https://github.com/tektoncd/cli/pull/1433 (but for the name, not the status)?

[2022-03-07 07:40] chmouel commented on #771
@mgreau correct! I'd love to have this feature too,

[2022-03-07 07:42] chmouel commented on #1501
@jbpratt wonderful, thank you! 🙇🏻

[2022-03-07 07:42] #1501 closed

[2022-03-08 17:38] jbpratt commented on #1489
Hi @lostiniceland , while this isn't exactly an example and will require some digging, it may help to take a look at how the CLI is achieving this such as here to create a pipeline run:
https://github.com/tektoncd/cli/blob/2b7970b0e011dc0b64a43859893612613b126fdc/pkg/cmd/pipeline/start.go#L338-L341

[2022-03-09 07:58] piyush-garg commented on #1471
/remove-lifecycle stale

[2022-03-09 10:02] lostiniceland commented on #1489
Thanks for the hint. I did some digging and found a working solution by running the cmd itself

[code]

Maybe I can utilise your sample

[2022-03-09 13:51] pradeepitm12 opened #1524 "Integrate results with tkn"
### Feature request
#### <i>` Integrate results with tkn `</i>
as we already have hub integrated with tkn  as a plugin we can do the same with results.
Currently, the results cli is developed and maintained in results repo as [tkn-results](https://github.com/tektoncd/results/tree/main/tools/tkn-results).
Or We can discuss it in this issue :v:

### Use case
Currently, we have list command with tkn-

[2022-03-10 06:34] divyansh42 commented on #1471
/assign

[2022-03-10 13:47] nikhil-thomas opened #1527 "tkn version displays tektoncd/operator version as well, if the operator is installed"
### Feature request

At present, tektoncd/operator provides a `operator-version` config map like other tektoncd projects (`pipeline-info`, `triggers-info` ...). We need to use this configMap and show operator version also in the output of `tkn version` command.

### UI Example

now
[code]

need

[code]

[2022-03-10 13:48] nikhil-thomas commented on #1527
related: https://github.com/tektoncd/operator/issues/670

[2022-03-10 13:54] PuneetPunamiya commented on #1527
/assign

[2022-03-11 14:06] #1527 closed

[2022-03-14 10:02] vdemeester commented on #1383
/remove-lifecycle stale

[2022-03-14 14:04] vdemeester commented on #1474
/remove-lifecycle stale
/area roadmap
/lifecycle frozen

[2022-03-15 16:12] #1495 closed

[2022-03-16 05:28] divyansh42 opened #1534 "Support --task/--pipeline flag in tkn tr/pr ls"
### Feature request

Similar to `tkn tr delete --task task1`, it will be good if we can list `TaskRuns/PipelineRuns` associated only with the specific `Task/Pipeline`

### Use case

Use case will be to list out the `TaskRuns/PipelineRuns` started by a specific `Task/Pipeline`

### UI Example
[code]
or
[code]

[2022-03-21 14:14] #1425 closed

[2022-03-24 12:30] afrittoli opened #1543 "Option to display annotations of resources"
### Feature request

Option to display annotations of resources

### Use case

`TaskRun` are annotated by Tekton chains and results. `PipelineRun` are annotated by Tekton results.
It's not possible however to see the annotations without using `kubectl`.

`Tasks` and `Pipelines` from the catalog are annotated as well.

Users may defined their own annotations which they would then want to see.

###

[2022-03-25 08:48] vdemeester commented on #1247
- `describe` command should be able to work with oci bundle. `tkn task describe …` should work the same with in-cluster and an oci bundle.
- `start` a run from an oci bundle should also be a think

[2022-03-30 14:03] vdemeester opened #1546 "Support for `tektoncd/pipeline` v1 API"
Work on the V1 API is tracked here : https://github.com/orgs/tektoncd/projects/10

Once `tektoncd/pipeline` releases a `v1`, the cli needs to be able to support it. Creating this issue already as we should be able to add support and test ahead of time as `tektoncd/pipeline` will probably ship v1 api without publishing it to start with.

Work here will imply
- [ ] setup a "temporary" job to run an

[2022-03-30 14:06] vdemeester opened #1547 "Explore advanced integration of chains"
Today, `chains` is rather bare, only `payload` and `signature` are supported. This issue is to tracked what can the `tkn` CLI allow in terms of integration with chains.

[2022-03-30 14:07] vdemeester commented on #61
Closing this as it's a duplicate of #1472

[2022-03-30 14:07] #61 closed

[2022-03-30 14:09] vdemeester opened #1548 "Explore integration of `catlin` with tkn"
[`catlin`](https://github.com/tektoncd/catlin) is a command-line tool that Lints Tekton Resources and Catalogs.
Explore if it makes sense to have it integrated in `tkn` (or just keep it as an extension)

[2022-03-30 14:12] vdemeester opened #1549 "UX: consistency accross all cli resources for subcommands"
Consistency across all CLI resources for list, delete, and describe subcommands
We should work to make sure each resource introduced to the CLI always features these three subcommands

[2022-03-30 14:13] vdemeester opened #1550 "Explore filtering options for list, delete, … subcommand"
We should provide filtering solutions for all list/delete commands associated with CLI

[2022-03-30 14:15] vdemeester opened #1551 "Explore Source to Pipeline/Task"
Be able from the cli auto generate some Pipeline/tasks from a source
code folder detecting what kind of source code it is (i.e: go, java,
python, ruby, rust, project etc...) and automatically apply the
standard from task the catalog.

[2022-03-31 11:43] divyansh42 opened #1552 "tkn pr delete fails if --keep-since and --ignore-running=false flag is used together when few pipelineRuns is in running state"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**
[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
When running
`tkn pr delete --keep-since=10 --ignore-runni

[2022-04-05 15:44] #1471 closed

[2022-04-05 17:09] vinamra28 opened #1553 "Cancel PipelineRun using `Cancelled` status instead of `PipelineRunCancelled`"
As of today if we want to cancel a PipelineRun forcefully, CLI uses `PipelineRunCancelled` status which is deprecated. With https://github.com/tektoncd/pipeline/pull/4668, `Cancelled` can be used in place of `PipelineRunCancelled` status to cancel a PipelineRun forcefully as it's being moved out of feature-flags. Moreover, we need to add backward compatible support for the case where user is using

[2022-04-07 15:56] #1469 closed

[2022-04-07 19:02] digglife commented on #1426
This issues has been solved by #1540, so it can be closed.

[2022-04-07 22:19] vdemeester commented on #1426
/close

[2022-04-07 22:19] #1426 closed

[2022-04-08 04:37] vinamra28 commented on #1553
/assign

[2022-04-12 14:16] #1553 closed

[2022-04-15 05:49] #1470 closed

[2022-04-27 00:44] dudash commented on #683
As another step you could warn folks in the tap formulae for `tektoncd/tool`. I dug a little, adding something like this to the `goreleaser.yml` would do the trick:

[code]

[2022-04-27 08:33] chmouel commented on #683
@dudash very good idea!

[2022-04-29 10:06] UtkarshChaurasia commented on #1550
What parameters should be considered for filtering?

[2022-04-29 11:14] pradeepitm12 opened #1559 "Remove depricated field PR.Status.TaskRuns"
With dependency bump of pipeline to v0.35.0, we need to remove `PipelineRun.Status.TaskRuns` and instead use `PipelineRun.Status.ChildStatusReference` .
[TEP](https://github.com/tektoncd/community/blob/main/teps/0100-embedded-taskruns-and-runs-status-in-pipelineruns.md) For more details

[2022-05-01 14:02] vinamra28 opened #1561 "Support for PipelineRun Timeouts"
### Feature request

With the addition and promotion of PipelineRun Timeouts in https://github.com/tektoncd/pipeline/issues/4460, CLI should be able to display the nested timeouts or start a Pipeline by passing on the timeouts individually for each `Pipeline` or `Task` or `Finally`.

### Use case

Folks using tkn CLI can start their Pipelines by passing on timeouts for respective PipelineTasks, Fi

[2022-05-02 06:38] UtkarshChaurasia commented on #1550
/assign

[2022-05-05 17:39] williamlfish opened #1562 "tkn bundle Created & Metadata.LastTagTime zeroed out."
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

  ```21.4.0 Darwin Kernel Version 21.4.0: Fri Mar 18 00:46:32 PDT 2022; root:xnu-8020

[2022-05-07 19:32] digglife commented on #1562
The `Created` field is one of the [image's config file](https://github.com/opencontainers/image-spec/blob/main/config.md), which could be set. But `LastTagTime` is data for local cache, not a part of the image itself. It will change when you tag the image locally.

[2022-05-09 10:26] digglife commented on #1534
I think you can do it with the current `tkn` by passing task/pipeline name as argument(instead of option).

List `TaskRuns` started by `task1`, or `PipelineRun` started by `pipeline1`:

[code]

[2022-05-09 10:44] divyansh42 commented on #1534
@digglife Thanks, I wasn't aware of this.
Is there any way to filter TaskRuns that are started by cluster tasks? (in the same way as a task)

[2022-05-09 18:51] digglife commented on #1534
@divyansh42
yes we can use `--lable` selector, for example, list `taskruns` associated with `ClsuterTask` named `ct1`:

[code]

[2022-05-11 02:49] #1562 closed

[2022-05-11 04:33] vinamra28 opened #1565 "Include the test which was skipped to unblock the CI"
an e2e test in Pipelines was skipped as there is a bug in Tekton Pipelines https://github.com/tektoncd/pipeline/issues/4747 which is failing the following test
https://github.com/tektoncd/cli/blob/947a78dadd7ea49787597a04ea94ce57f24238ec/test/e2e/pipeline/pipeline_test.go#L478-L479

Once the bug is fixed and is included in the release, we can include that test back into the CI.

/kind misc

[2022-05-11 19:07] digglife commented on #1543
@afrittoli

I drafted a [solution](https://github.com/digglife/cli/commit/73e8f7e86a7d8aebdf4690c9b7f54d8f1545b443) for this, but I haven't added the on/off option(and tests) yet. Do you think it's also reasonable to always show them, like `kubectl` does?

[code]

[2022-05-12 09:07] afrittoli commented on #1543
Thanks @digglife - it sounds good to me :)
I'd leave it to the @tektoncd/cli-maintainers to confirm.

[2022-05-13 07:40] divyansh42 commented on #1534
Thanks for the info!
I don't think we need this issue anymore.

[2022-05-13 07:40] #1534 closed

[2022-05-13 08:13] vdemeester commented on #1406
/lifecycle frozen

[2022-05-16 06:26] #1565 closed

[2022-05-17 12:27] vdemeester opened #1568 "Experimental sub-commands"
Discussed during today's (17th May 2022):

[code]

To be detailed a bit more and showcased.

/kind feature

[2022-05-17 14:35] durera opened #1569 "tkn client unable to pick up params defined in Tasks"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
We should be able to use `tkn` CLI instead of `oc create

[2022-05-20 08:14] vdemeester commented on #1569
This seems to be a **very** old version. It probably means that cli version doesn't support `v1beta1` at all, making it hardly usable with most recent version of pipeline. Tekton is about 3 years old, and it moves fast (the cli as well). So a 2 year old cli is kind-of implicitely expected not to work with more recent version — *especially* as 2 years ago, Pipeline API were alpha, so they could cha

[2022-05-20 17:14] durera commented on #1569
Doh!  You know what, I didn't even notice that it was a 2020 CLI version, I was reading it as **2022-04-01**!

I followed the documention for installing the CLI here: https://tekton.dev/docs/cli/

Specifically this bit:

The result of running that was the 2020 build of the CLI so the doc might need a touchup.  I've downloaded the latest release from the GitHub releases page and it works a treat!

[2022-05-22 06:33] vdemeester commented on #1569
/cc @chmouel @pradeepitm12
There might be, indeed, something wrong with our launchpad setup.. or the documentation.. or both.. 🤔

[2022-05-23 06:08] piyush-garg opened #1571 "Running PRs and TRs getting deleted with --ignore-running=true"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

When using `--ignore-running=true` with `-p=<pipeline-na

[2022-06-01 12:02] vinamra28 opened #1576 "Support results of type array"
### Feature request

With release of Tekton Pipelines [v0.36.0](https://github.com/tektoncd/pipeline/releases/tag/v0.36.0), a new feature is added where a Task can produce results of type array. As of now this feature is present as an alpha feature and can be enabled by changing the value of `enable-api-fields` from `stable` to `alpha` in feature-flags configmap. With this the type of the result i

[2022-06-04 08:31] vinamra28 commented on #1561
/assign

[2022-06-04 10:14] vinamra28 commented on #1561
[code]
@tektoncd/cli-maintainers how does the UX looks?

[2022-06-06 07:19] #1571 closed

[2022-06-08 09:30] vinamra28 commented on #1561
Commands to track
- [ ] PipelineRun describe
- [ ] Pipeline start

[2022-06-14 05:18] piyush-garg opened #1609 "Enhance tkn help command to show plugin description"
### Feature request

Right now, if we do tkn help, it shows the available plugin list but does not show any description, or info for that, as we show for other commands. This is a feature request to show the info about the plugin also.

/kind feature

[2022-06-14 05:24] piyush-garg commented on #1552
@divyansh42 can we close this now ?

[2022-06-14 05:36] piyush-garg commented on #1569
@chmouel Your PR https://github.com/tektoncd/cli/pull/1503 seems to update docs for this, this looks fixed now.

@durera Can we close this if the updated docs work ?

[2022-06-14 05:57] divyansh42 commented on #1552
Yes

[2022-06-14 05:57] #1552 closed

[2022-06-23 18:45] abayer opened #1618 "Support PipelineRun minimal embedded status"
Starting in Pipeline v0.35.0, we support a new approach to embedding `TaskRun` and `Run` statuses in `PipelineRun.Status`, as described in [TEP-0100](https://github.com/tektoncd/community/blob/main/teps/0100-embedded-taskruns-and-runs-status-in-pipelineruns.md). When the `embedded-status` feature flag is set to `minimal`, the `PipelineRun.Status.TaskRuns` and `PipelineRun.Status.Runs` fields aren'

[2022-06-24 13:04] vdemeester opened #1620 "Remove Condition subcommand"
With https://github.com/tektoncd/pipeline/pull/4942, the Condition object is effectively gone after being deprecated for a while.
We need to remove the subcommand from `tkn`.

/kind feature

[2022-06-24 13:05] vdemeester commented on #1620
/assign

[2022-06-24 16:41] vinamra28 commented on #1335
PR to track the removal of v1alpha1 APIs https://github.com/tektoncd/pipeline/pull/5005

[2022-06-26 16:24] #1468 closed

[2022-06-27 08:37] vdemeester opened #1623 "CustomTask support"
### Feature request

`tkn` should support [custom tasks](https://tekton.dev/docs/pipelines/pipelines/#using-custom-tasks). This can mean multiple thing that we can track here and on other issues.

- Listing `Run` object (or there name) and act on those
- Make sure `Run` appear on different visualization tools we have (desc, …)
- *Maybe* try to support fetching logs from them (using annotations on

[2022-06-30 08:00] chmouel opened #1630 "Debian packaging default to zstd which is not supported by older version of dpkg"
We build with latest ubuntu and upload to launchpad ppa which has a dpkg tht default to zstd. But debian and other older ubuntus version that has a old dpkg don't support it which makes the package uninstallable on those systems.

[2022-07-01 07:37] #1630 closed

[2022-07-01 13:15] #1618 closed

[2022-07-02 07:58] mbwhite opened #1634 "v0.24 of CLI is significantly less responsive than v0.23.1"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
The very latest v0.24 tkn cli is much less responsive tha

[2022-07-04 13:24] vdemeester commented on #1524
/lifecycle frozen

[2022-07-04 13:24] vdemeester commented on #1547
/lifecycle frozen

[2022-07-04 13:24] vdemeester commented on #1549
/lifecycle frozen

[2022-07-04 13:24] vdemeester commented on #1548
/lifecycle frozen

[2022-07-04 13:24] vdemeester commented on #1546
/lifecycle frozen

[2022-07-07 05:09] vinamra28 commented on #1634
@piyush-garg even I am also not able to reproduce this 😅
[code]

[2022-07-11 04:32] chobostar opened #1641 "Support discovery cache or up both QPS/BurstQPS"
Dear, maintainers! Thanks for your awesome tool! I would like to improve overall experience of `tkn` usage and bring to you a case.

We use crossplane in our cluster, so we end up with tons of CRDs:
[code]
this causes extremely slow `tkn` actions:
[code]
here is similar discussion - https://github.com/kubernetes/kubectl/issues/1126
here is solution for kubectl - https://github.com/kubernetes/kuber

[2022-07-12 10:57] vinamra28 commented on #1576
as discussed on [CLI WG call held on June 7, 2022](https://docs.google.com/document/d/1J1LkrmLtMdtdJqFcsyOKsJJc4lEm7YL-97D51PzpHrQ/edit#heading=h.qx5vuyc795o5), Bumping the pipelines dependency should work

[2022-07-12 16:23] jerop commented on #1623
one more, tkn hub should also support custom tasks when we surface them in the hub - https://github.com/tektoncd/community/discussions/667

[2022-07-13 09:54] pradeepitm12 commented on #1634
Tried version and logs command with v0.23.1 and v0.24.0 not able to reproduce the issue.
Please feel free to add more detail if the issue persists for you.

[2022-07-14 07:05] vinamra28 commented on #1576
it seems that bumping the dependency did it's job. If somebody want's to try this, probably can try the below example
[code]

[2022-07-14 07:06] vinamra28 commented on #1576
@piyush-garg @pradeepitm12 @vdemeester closing this for now. Feel free to re-open it again if something comes up
/close

[2022-07-14 07:06] #1576 closed

[2022-07-15 11:35] mbwhite commented on #1634
I've attached the `perf` log from running `tkn version` (zipped)
[perf.zip](https://github.com/tektoncd/cli/files/9120448/perf.zip)

[2022-07-19 12:37] vinamra28 commented on #1559
This issue was fixed in PR https://github.com/tektoncd/cli/pull/1617 and corresponding issue is https://github.com/tektoncd/cli/issues/1618. Closing this for now. Feel free to reopen it again if it seems that the issue is not fixed
/close

[2022-07-19 12:37] #1559 closed

[2022-07-19 19:20] #1569 closed

[2022-07-20 09:41] #1561 closed

[2022-07-21 19:55] sudo-bmitch opened #1650 "panic: "send on closed channel" when viewing logs"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

[code]

# Actual Behavior

[code]

# Steps to Reproduce

[2022-07-21 20:17] sudo-bmitch commented on #1650
This is pointing to https://github.com/tektoncd/cli/blob/d8f44287ceafb1c84c20b94ad00555dbe7d22ede/pkg/pods/pod.go#L107

Best guess is the container exited just as UpdateFunc was being called.

[2022-07-26 10:37] vdemeester commented on #1335
This has to be done before bumping 0.38.0, which means before 0.26, hence the priority.

[2022-07-26 11:14] vdemeester opened #1657 "Remove PipelineResource support and subcommands"
/kind cleanup

PipelineResource is deprecated and is removed with the removal of v1alpha1, we need to remove it from `tkn`.

/assign

[2022-07-26 11:30] vdemeester commented on #1657
Actually, it is still there, so it's less of a priority than I though.

[2022-07-26 11:53] AlanGreene commented on #1657
I was a little worried when I saw this since the Dashboard still relies on PipelineResource support for its import functionality and I thought I had missed something in the recent Pipeline release notes 😅  Looks like it was only the v1alpha1 versions of the v1beta1 resources that were removed so we're OK for now… 😌

[2022-07-26 11:58] vdemeester commented on #1657
@AlanGreene yeah, I got confused by my own change ; long back I moved the PipelineResource go type to their own package, so when I looked this morning I was like "oh PipelineResource is gone from `v1alpha1`".. but ain't true 😹. It's just in a different package 🙃

[2022-07-26 12:17] pradeepitm12 commented on #1650
/assign

[2022-07-26 12:23] pratap0007 commented on #1609
/assign

[2022-07-27 13:30] bendory opened #1659 "[FR] change PPA packaging to static linking"
# linker issue with `tkn`

## Versions and Operating System

- Tekton cli version `v0.25.0-3` installed via `apt-get`

- Operating System: Debian

Note: this is from a Google internal machine with a custom Google build; internal details are omitted from `uname -a` output.
[code]

## Expected Behavior
CLI installs and runs

## Actual Behavior
[code]

The [`PPA` packaging](https://launchpad.net/~tek

[2022-07-27 14:54] bendory commented on #1659
I poked around to try to figure out what's happening here. My suspicion:

- the environment used to cross-compile in the [`Makefile`](https://github.com/tektoncd/cli/blob/main/Makefile#L66) explicitly sets `GOOS` and `GOARCH`
- the `go build` executed in the debian [`control` file](https://github.com/tektoncd/cli/blob/main/tekton/debbuild/control/rules#L20) does not

If this is correct, then addin

[2022-07-27 16:16] bendory commented on #1659
From https://pkg.go.dev/cmd/cgo:

The cgo tool is enabled by default for native builds on systems where it is expected to work. **It is disabled by default when cross-compiling.** You can control this by setting the CGO_ENABLED environment variable when running the go tool: set it to 1 to enable the use of cgo, and to 0 to disable it. The go tool will set the build constraint "cgo" if cgo is enabl

[2022-07-27 18:49] #1659 closed

[2022-07-28 17:53] afrittoli opened #1661 "Support pipeline matrix feature"
### Feature request

Support all usual commands in case of [tekton matrix](https://tekton.dev/docs/pipelines/matrix/).

### Use case

Interact with Tekton pipelines that make use of [matrix](https://tekton.dev/docs/pipelines/matrix/).

### UI Example

I think the basic support would be make the `logs` command work. The current behaviour lists all tasks but the logs are only those of the first task

[2022-07-31 08:44] vinamra28 commented on #1550
/remove-lifecycle stale
/lifecycle frozen

[2022-08-02 13:15] williamlfish opened #1666 "tkn bundle build validation"
### Feature request

Bundle validation, with clearer errors. when creating a bundle its not an option to create without pushing, so there is no way to validate a bundle before attempting to push. This would be great addition to support ci when creating/updating tekton pipelines/tasks.

### Use case
When using bundles as the source of truth, creating a pr that updates pipelines and or tasks there i

[2022-08-03 09:02] vdemeester commented on #1363
/remove-lifecycle stale

[2022-08-03 15:00] keskad opened #1667 "Pass result of a Pipeline/Task execution via exit code"
Hi, is it intentional that the started and observed (using `--showlog`) Task/Pipeline does not have passed a result as an exit code to the shell?

**Example:**
`tkn pipeline run ...` -> Pipeline fails -> exit 1
`tkn pipeline run ...` -> Pipeline succeds -> exit 0

What about implementing a commandline switch e.g. `--pass-result-as-exitcode` to not introduce a BC but allow to return the exit code w

[2022-08-04 19:19] JeromeJu opened #1668 "CSI workspace type support"
### Feature request

Now that the [CSI volume as workspaces](https://github.com/tektoncd/pipeline/pull/5030) has been merged and released in v0.38, it would be helpful that we can have this added to cli.
### Use case

### UI Example

[2022-08-06 10:18] vinamra28 opened #1670 "Show the optional workspaces in the describe command of Task and Pipeline"
### Feature request

Show which workspaces are optional and which are not in the describe command of Task and Pipeline.

### Use case

As a user, I want to see which of the workspaces mentioned are optional and which are not before creating the TaskRun or PipelineRun so that I can initially fulfil only the required ones first and then the optional ones according to the use case.

### UI Example

[

[2022-08-06 10:19] vinamra28 commented on #1670
/assign

[2022-08-06 10:42] vinamra28 commented on #1335
- [ ] Task
- [ ] ClusterTask
- [ ] Pipeline
- [ ] TaskRun
- [ ] PipelineRun

[2022-08-06 11:32] #1489 closed

[2022-08-11 11:34] #1383 closed

[2022-08-16 06:49] #1670 closed

[2022-08-16 12:16] pradeepitm12 commented on #1657
/assign  @piyush-garg

[2022-08-16 12:16] pradeepitm12 commented on #1641
/assign @piyush-garg

[2022-08-17 03:31] negz commented on #1641
You might get this for free if you update to the latest client-go, which includes https://github.com/kubernetes/kubernetes/pull/109141

[2022-08-18 10:19] vdemeester commented on #1667
/kind feature
/cc @chmouel

[2022-08-18 10:20] vdemeester commented on #1568
/lifecycle frozen

[2022-08-22 18:47] sudo-bmitch commented on #1650
I have my doubts the sharedinformer would stop immediately. Typically with channels like that there is code that gets run between requests to check the channel, so there will be a delay between the stopC and the last possible write to the eventC. If you close both, the order of the close is only going to change the size of the race condition. If the component that is writing to the channel isn't t

[2022-08-31 09:04] afrittoli opened #1691 "Document release processes for CLI"
Document what the release process looks like:

- the release manager role
- how version numbers are used and their meaning
- the release frequency
- the steps to perform a major and a minor release

Include the links to existing / new documents in the issue.

[2022-08-31 11:19] afrittoli opened #1692 "OpenSFF Best Practices Badge Program for CLI"
Achieve the [OpenSFF Best Practices Badge](https://bestpractices.coreinfrastructure.org/en).
Add the badge to the main project README.

[2022-09-01 10:28] #1335 closed

[2022-09-02 09:05] piyush-garg commented on #1641
Fixed by #1693

[2022-09-02 09:06] piyush-garg commented on #1641
/close

[2022-09-02 09:06] #1641 closed

[2022-09-06 11:39] piyush-garg commented on #1641
@chobostar we have increased the QPS and Burst same as kubectl, is it working fine now?

[2022-09-06 12:12] pradeepitm12 commented on #1657
For the time being we can add deprecation flag/message for the pipelineresource command.

[2022-09-06 13:32] chobostar commented on #1641
@piyush-garg

Before:
[code]

After:
[code]

Thanks guys! Now it's much much better!

[2022-09-07 22:20] colinodell opened #1707 "Incomplete TaskRuns deleted when --ignore-running=true"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

Running the following command should avoid deleting Task

[2022-09-08 06:18] pradeepitm12 commented on #1707
@colinodell :wave:
We did added a few more reasons to check if the taskrun has completed(:crying_cat_face: which is not perfect).
Your proposal seems reasonable, we will be happy to get contribution. Please assign this issue to yourself.

[2022-09-09 06:50] piyush-garg commented on #1707
/assign @colinodell

[2022-09-09 13:44] #1707 closed

[2022-09-13 16:28] rockheadjr opened #1715 ""Observed a panic: "send on closed channel" while deploying pipeline on aws clusters"
# Versions and Operating System

- Kubernetes version: 1.22

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
run the piplines with no panic
# Actual Behavior
gets a panic
# Steps to Reproduce the P

[2022-09-15 11:03] piyush-garg commented on #1715
@rockheadjr which tkn command is causing this?

[2022-09-16 02:21] whhx opened #1716 "Added -- showlog, but no log printing"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1.T

[2022-09-16 02:25] whhx commented on #1716
tkn pipeline start --filename builds/tekton/build/unittest_main.yaml --param repo-url=git@gitlab.tsingj.local:re/release.git --param gitrevision=add_tekton_0908 --param cov-flag=false --param module=all -w name=shared-data,volumeClaimTemplateFile=builds/tekton/build/workspace-template.yaml -w name=gitlab-release-credentials,secret=gitlab-release-credentials --pod-template builds/tekton/build/pod-t

[2022-09-16 02:28] whhx commented on #1716
The logs can be viewed through tkn pipeline logs xxx, but after adding -- showlog to the local console, after a certain number of executions

[2022-09-20 09:40] lstocchi opened #1718 "Bundle push not working when authentication is passed through args"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**
[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

When trying to push a bundle to my quay.io repo using the

[2022-09-22 08:15] digglife commented on #1718
I can reproduce this bug.

I did `git bisect` and found that it's because one of the deps `go-containerregistry` [introduced a breaking change](https://github.com/google/go-containerregistry/commit/7b4be6bb31395ead003b6841110aca4c4119cddd), which returns an error if both auth and keychain are set. `tkn` included the update since 9641d288.

[2022-09-26 11:41] sudo-bmitch commented on #1715
I think this is the same panic as #1650.

[2022-09-26 12:46] rockheadjr commented on #1715
@piyush-garg i will check today

[2022-09-26 15:07] rockheadjr commented on #1715
tkn pipline start

[2022-09-27 12:06] pradeepitm12 commented on #1657
/assign @piyush-garg

[2022-09-27 12:23] pradeepitm12 commented on #1667
@tektoncd/cli-maintainers
IMHO, if we are passing a specific flag to get the exit code that should be fine. Please feel free to comment suggest on this.

[2022-09-27 13:11] chmouel commented on #1667
@keskad I gave up debating which flags or commands to implement and wrote an extension addressing exactly this :-D

https://github.com/chmouel/tkn-watch/

[2022-09-28 08:33] #1718 closed

[2022-09-28 13:27] piyush-garg commented on #1715
@rockheadjr if it is similar to #1650 then we already have the fix in review

[2022-09-28 14:35] #1650 closed

[2022-10-02 20:17] afrittoli commented on #1692
https://bestpractices.coreinfrastructure.org/en/projects/6510

[2022-10-04 16:02] Yongxuanzhang opened #1733 "Add Sign and Verify to cli as subcommands."
### Feature request

This feature adds `Sign` and `Verify` to cli as subcommands to allow users sign and verity Tekton resources via tkn.

### Use case

This feature is related to [trusted resources](https://github.com/tektoncd/community/blob/main/teps/0091-trusted-resources.md#sign-the-resources), in trusted resources we propose to sign Tekton Resources (Task and Pipeline for now) and verify them

[2022-10-04 16:05] Yongxuanzhang commented on #1733
Hi @tektoncd/cli-maintainers, please let me know if this makes sense?  I have some code in [experimental repo](https://github.com/tektoncd/experimental/tree/main/pipeline/trusted-resources/cmd/sign) and would like to add them under cli's subcommands. Thanks!

[2022-10-04 18:40] Yongxuanzhang opened #1735 "Unnecessary code under third-party?"
third-party should contains licenses but those contain code:
third_party/VENDOR-LICENSE/github.com/hashicorp
third_party/VENDOR-LICENSE/github.com/letsencrypt

I got this error when clone the repo and run unit tests:
[code]

What's more, when executing `go test ./...` those files are also included even they don't have test files

[2022-10-04 20:20] Yongxuanzhang commented on #1735
This is expected for MPLm which is the License of these 2 libraries, so close this issue.
https://github.com/google/licenseclassifier/blob/842c0d70d7027215932deb13801890992c9ba364/license_type.go#L216-L230

[2022-10-04 20:20] #1735 closed

[2022-10-07 17:11] T0MASD opened #1738 "replacements in .goreleaser.yml preventing CI automation"
Hi, I'm raising this to review https://github.com/tektoncd/cli/blame/main/.goreleaser.yml#L21 the replacements:
[code]
This is preventing url generation on CI builds like I have attempted here:
https://github.com/tektoncd/plumbing/pull/1223/files#diff-c2315bb01874a1f74a8b6e38a5612b842595974e893145a06365f4db4826f574R20

`GOARCH=$(go env GOARCH) \
    GOOS=$(go env GOOS) \
    && wget -O- https://gi

[2022-10-07 20:19] QuanZhang-William opened #1739 "Add a "type" flag to the "tkn hub" subcommands"
### Feature request
The Tekton community is working on migrating from the Tekton Hub to the Artifact Hub (https://github.com/tektoncd/hub/issues/667). We'd like to request a new flag `type` (with short flag `t`)  to the [`tkn hub`](https://github.com/tektoncd/cli/blob/main/docs/cmd/tkn_hub.md) subcommand, indicating the type of the Hub to fetch the Tekton Catalogs from.

### Use case
The Tekton Ca

[2022-10-10 08:54] vdemeester commented on #1738
cc @chmouel

[2022-10-10 09:28] afrittoli commented on #1691
Example from the pipeline repo: https://github.com/tektoncd/pipeline/blob/main/releases.md

[2022-10-10 10:01] afrittoli commented on #1691
The existing docs https://github.com/tektoncd/cli/blob/main/RELEASE_PROCESS.md cover the release process very well, but there are parts that need to be added, like the release frequency and ideally how that matches the [community-wide policy](https://github.com/tektoncd/community/blob/main/releases.md).

I think it would make very much sense for CLI releases to align to pipeline releases with rega

[2022-10-10 12:29] chmouel commented on #1738
@vdemeester i think you are the one who added this first from a copy pasta i guess 🙃

I don't think there is a reason but whatever we do we may be careful changing binary names for distro/people's scripts out there grabbing new versions via regexp on release page...

[2022-10-10 12:30] chmouel commented on #1738
maybe grab the scripts via the api  instead ?

[2022-10-10 14:52] vdemeester commented on #1691
/assign

[2022-10-10 18:27] T0MASD commented on #1738
Thanks for your reply @chmouel, it makes sense to keep the existing format where binaries are named following convention in `replacements`. There's a one issue though, replacements are missing for arm architecture causing the lookup method (uname -m) that is used on x86 arch to fail. please see https://github.com/tektoncd/plumbing/blob/main/tekton/images/tkn/Dockerfile#L19
I will propose a change

[2022-10-12 07:39] seongpyoHong opened #1749 "Add 'timestamps' flag to show logs with timestamps"
### Feature request
Add `timestamps` flag to show logs with timestamps in the same as `kubectl`

### Use case
It's useful when the `Task`'s logs don't have timestamps.

### UI Example
[code]

[2022-10-12 08:55] afrittoli commented on #1691
Will be fixed by https://github.com/tektoncd/cli/pull/1752

[2022-10-12 13:37] #1749 closed

[2022-10-18 08:58] #1692 closed

[2022-10-21 07:16] chmouel opened #1760 "tkn pr export should remove the finalizer"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

# Actual Behavior

tkn pr exports still have a finalizer

[2022-10-22 10:21] #1738 closed

[2022-11-01 18:17] chmouel commented on #1363
/remove-lifecycle stale

[2022-11-03 14:43] vdemeester commented on #1668
/remove-lifecycle stale
This still needs to be implement

[2022-11-04 14:07] vdemeester opened #1774 "Migrate e2e tests on `kind`"
`tektoncd/pipeline` and probably other migrated to use `kind` for e2e tests.

- It's easier to run the same environment locally and on the cluster
- It's less flaky and it's quicker to provision
- It's less costly (and can allow us to run multiple e2e tests on different k8s version, …)

[2022-11-10 14:37] olgunkaya opened #1784 "Question about tkn logs command"
Hi all,

I am trying to implement a utility for retrieving the logs from tekton pipelineruns. In the tekton's [this](https://tekton.dev/vault/pipelines-v0.14.3/logs/) page it says in order to fetch the log there are some ways including multiple steps, or tkn cli utility.

`tkn pipelinerun logs **pipelineRunInstance** -f   `

Above command fetches all the logs for pods run through the given pipelin

[2022-11-13 17:39] vinamra28 commented on #1668
/remove-lifecycle stale
/assign

[2022-11-16 13:52] adelmoradian opened #1791 "Validate pipelines on the cluster"
### Feature request

`tkn` should do pipeline validation based on tasks/clusterTasks that are available in the cluster.

### Use case

Take the following tasks and pipeline for example… I can do `kubectl apply -f` however my pipeline has the following issues:
- task-a and task-b  both need params that are not specified in the pipeline spec (same thing can happen with workspaces)…
- task-b  is a Ta

[2022-11-16 15:43] QuanZhang-William opened #1792 "CLI nightly releases stopped on May 5, 2022"
# Expected Behavior

We should have nightly built images for CLI (tkn) and stored in [gcr](http://gcr.io/tekton-releases/dogfooding/tkn).

# Actual Behavior
The latest nightly release for CLI (tkn) was on May 5, 2022 and stopped afterward.

# Additional Info
The plumbing cronjob: https://github.com/tektoncd/plumbing/blob/main/tekton/cronjobs/dogfooding/images/tkn-nightly/cronjob.yaml

[2022-11-22 06:28] #1568 closed

[2022-11-23 16:04] piyush-garg commented on #1634
closing this as no response now.

[2022-11-23 16:04] #1634 closed

[2022-11-23 19:16] JeromeJu opened #1804 "v1 Version Support"
### Feature request

V1 CRDs are released in https://github.com/tektoncd/pipeline/pull/5579 and this issue tracks down the according requests for the v1 support in cli.

### Use case

V1 CRD are served in #5579 and the requests shall also help reslove:
https://github.com/tektoncd/pipeline/pull/5579#issuecomment-1324618369

### UI Example

[2022-11-23 19:20] JeromeJu commented on #1804
/help

[2022-11-24 11:49] afrittoli commented on #1804
We need this to be fixed before we can switch to `v1` as the stored version, so it would be great to have someone taking ownership of this issue - it doesn't necessarily have to be someone from the CLI team.

[2022-11-25 12:26] chmouel opened #1808 "integrate chocolateay with goreleaser"
goreleaser now supports chocolatery in latest version, maybe we should just include it part of goreleaser?

cf: https://goreleaser.com/customization/chocolatey/

_Originally posted by @chmouel in https://github.com/tektoncd/cli/issues/1806#issuecomment-1327103857_

[2022-11-28 21:14] QuanZhang-William commented on #1792
@tektoncd/cli-maintainers