[2020-02-13 16:33] chmouel commented on #725
Maybe the serviceaccount? Which we are not showing...

[2020-02-13 16:34] danielhelfand commented on #725
ServiceAccount should be available for both describe commands.

[2020-02-13 16:36] chmouel commented on #725
ah yes sorry, somehow i missed it 😅

[2020-02-13 16:49] Conky5 commented on #725
Thanks for the quick responses 😄. By `account` I mean the account that is authenticated to kubernetes when the run is created. For example if I create a pipeline run and then run a describe I see something like:

[code]

Other folks who run a describe like that do not know who started it, let's say `conky5@example.com` is my account. Pseudo output that include this information could like like:

[c

[2020-02-13 16:56] danielhelfand commented on #725
@Conky5 Thanks for the clarification! I think this makes sense. I am wondering if this would require some work in pipeline as well to capture this data on the PipelineRun/TaskRun? The question would be how to make sure it persists on the created object cause we can definitely capture the user from the CLI.

cc @chmouel @vdemeester

[2020-02-13 17:33] siamaksade opened #726 "Embed pipeline in pipelinerun on start"
When a pipelinerun references a pipeline and the pipeline definition changes after pipelinerun execution, it's impossible to know how the pipeline looked like at the time when pipelinerun was started. Specially when the pipelinerun fails.

Embedding the pipeline via `pipelineSpec` in the pipelnerun when starting pipelines via `tkn p start` would eliminate this problem and shows the exact pipeline

[2020-02-13 17:37] chmouel commented on #726
/kind feature

I think it would be good to talk about it at the upstream meeting..

[2020-02-14 18:30] #312 closed

[2020-02-16 22:27] danielhelfand commented on #706
To follow up on this, I am actually thinking it would make more sense to have Timeout be a string so that a user could enter a duration in the format `hour minute second` (e.g., `1h30m2s`).

This could then be parsed using `time.ParseDuration`, which would take the string and convert it to a duration and return an error in the event the user enters an invalid duration format.

So basically, it wou

[2020-02-17 02:38] danielhelfand commented on #726
This sounds very similar to what exists for TaskRuns, but its use case is for a different purpose. There is a `-f` flag that lets a user start a Task that does not exist in a namespace. This is accomplished by parsing a local or remote file where a Task is defined and adding it to the TaskRun's TaskSpec as shown [here](https://github.com/tektoncd/cli/blob/f49dc4a79df99d2a22ac73c1b0515a5eb8aa7bc7/p

[2020-02-17 05:00] danielhelfand opened #730 "Change tkn task start --timeout Flag to a String to Allow User to Pass Duration Instead of Seconds"
Currently, the `--timeout` flag for `tkn task start` is an int64 to allow a user to specify in seconds what a timeout should be for a TaskRun. As described in this [comment](https://github.com/tektoncd/cli/issues/706#issuecomment-586761779), it would be a much better user experience to allow users to pass a string in duration format (e.g. `1h30m2s`) instead of the exact number of seconds for a tim

[2020-02-17 09:33] #702 closed

[2020-02-17 10:25] vdemeester opened #731 "Pipelines beta support v1beta1"
[`tektoncd/pipeline`](https://github.com/tektoncd/pipeline) APIs will soon be bumped to `v1beta1`. This issue is to track work to do in the cli to support that.

See https://github.com/tektoncd/pipeline/pull/2035

[2020-02-17 13:43] ppitonak opened #732 "UX: unify input/output and resources"
# Version and Operating System

**tkn Version:**
0.7.1

**Operating System:**

all

# Expected Behavior

All `CRD`s and CLI use the same terminology

# Actual Behavior

`Task` and `ClusterTask` expect inputs and outputs but `Pipeline` and `Condition` expect resources. I need to think what flag to use although I'm doing something very similar.

`tkn ct start foo -i source=my-git-repo -o image=my-ap

[2020-02-17 14:02] ppitonak opened #733 "Docs: confusing description of --param flag"
# Version and Operating System

**tkn Version:**

0.7.1

**Operating System:**

all

# Expected Behavior

`-h` provides clear description of flags

# Actual Behavior

`-p` or `--param` contains `pass the param as key=value or key=value1,value2`. The later part is confusing... IMHO one param cannot have two values and one taskrun or pipelinerun cannot have two params with the same name so I'm not s

[2020-02-17 14:07] vdemeester commented on #733
/kind documentation

Actually, if there is more than 2 values passed in `-p`, this means we are using an `array` parameter (hence multiple values)

[2020-02-17 14:12] ppitonak opened #734 "UX: unify the use of grammatical number for logs and showlog"
# Version and Operating System

**tkn Version:**

0.7.1

**Operating System:**

# Expected Behavior

The same concept is named in the same way

# Actual Behavior

Multiple commands have a subcommand `logs` (plural, e.g. `tkn task -h`) but subcommand `start` has a parameter `--showlog` (singular, e.g. `tkn task start -h`) which is not user-friendly.

# Steps to Reproduce the Problem

1.
2.
3.

# Ad

[2020-02-17 14:24] danielhelfand commented on #734
Hey @ppitonak

We support `tkn task logs` and `tkn taskrun logs`. `--showlog` is for immediately starting logs after starting a PipelineRun or TaskRun. Are you suggesting that you would like this to be named `--logs` instead, or just that you would like it to be `--showlogs`?

[2020-02-17 14:25] ppitonak commented on #734
@danielhelfand I would like to see it renamed to `--showlogs`

[2020-02-17 14:30] ppitonak commented on #733
@vdemeester that makes sense, can we reword it?

[2020-02-17 14:44] chmouel commented on #734
Thanks for your issue , renaming flag is not cheap as user  (+ script) are already using it in the a released version , why do you feel so strong that plural would be more user friendly than singular word ?

[2020-02-17 14:49] ppitonak opened #735 "There is no flag for specifying workspace for pipeline run"
# Version and Operating System

**tkn Version:**

0.7.1

**Operating System:**

All

# Expected Behavior

I can start a pipeline with a workspace by specifying all data it needs in flags

# Actual Behavior

There is no flag for specifying PVCs for workspaces on command line, one needs to create a yaml file and then create a pipeline run from this yaml.

# Steps to Reproduce the Problem

1. clone h

[2020-02-17 14:59] vdemeester commented on #735
@ppitonak thanks for the issue, but I think it's a duplicate of https://github.com/tektoncd/cli/issues/651 :angel:
/triage duplicate

[2020-02-17 15:00] ppitonak opened #736 "UX: don't ask the user to input value for params with a default value"
# Version and Operating System

**tkn Version:**

0.7.1

**Operating System:**

All

# Expected Behavior

When I start a pipeline and I don't specify all params, use default values.

# Actual Behavior

* It asks me for parameter value and shows me the default value.
* It is not possible to create a pipeline in non-interactive way although `tkn` has all data it needs.

# Steps to Reproduce the Prob

[2020-02-17 15:08] ppitonak opened #737 "tkn condition create doesn't exist"
# Version and Operating System

**tkn Version:**

0.7.1

**Operating System:**

All

# Expected Behavior

I can create a condition from yaml file using `tkn`

# Actual Behavior

I need to use either `kubectl` or `oc`

# Steps to Reproduce the Problem

1. `tkn condition`

# Additional Info

[2020-02-17 15:13] vdemeester commented on #737
/kind feature

[2020-02-17 15:22] ppitonak opened #738 "Cannot create pipeline run using yaml file"
# Version and Operating System

**tkn Version:**

0.7.1

**Operating System:**

All

# Expected Behavior

I can define my pipeline run in a yaml file and then run something like `tkn pipeline start -f my-pipeline-run.yaml`

Something similar is possible with tasks: `tkn task start -f my-task-run.yaml`

# Actual Behavior

There is no `-f`/`--filename` flag in `tkn pipeline start` and `tkn pipeliner

[2020-02-17 15:23] danielhelfand commented on #732
This is because Pipelines have [`Resources`](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#declared-resources) as part of the their specs, but Tasks have [Inputs](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#inputs)/[Outputs](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#outputs) under which resources are defined for their specs.

While I agr

[2020-02-17 15:23] #732 closed

[2020-02-17 15:28] ppitonak opened #739 "UX: unify the meaning of the -f flag"
# Version and Operating System

**tkn Version:**

0.7.1

**Operating System:**

All

# Expected Behavior

The long form of `-f` flag should be the same for all commands.

# Actual Behavior

* In `tkn t create`, `tkn p create` and `tkn res create`, the flag `-f` is equal to `--from` flag but
* in `tkn t start` it is equal to `--filename`
* in `oc create`, `oc apply`, `kubectl create` and `kubectl a

[2020-02-17 15:34] danielhelfand commented on #737
In all honesty, I am wondering if it makes more sense for `tkn` to not support create commands at all and to deprecate the existing commands. I think most people are using `kubectl` for creation, and I can't see a reason for adding/supporting all these commands since what we're looking for already exists via `kubectl`.

[2020-02-17 15:37] danielhelfand commented on #738
/kind feature

This would have to account for #726. We feature `-f` for `tkn task start` by parsing a Task defined in a YAML file and adding its [spec to the TaskSpec](https://github.com/tektoncd/cli/blob/f49dc4a79df99d2a22ac73c1b0515a5eb8aa7bc7/pkg/cmd/task/start.go#L194) of the TaskRun.

I have been working on putting something together for this just to see what would need to change in `tkn pipe

[2020-02-17 15:44] danielhelfand commented on #739
Please see comment [here](https://github.com/tektoncd/cli/issues/737#issuecomment-587048475). We have had a lot of discussion on the value of creation commands for `tkn` and the create commands with `--from` were added at a time when this seemed like a worthwhile approach.

This issue makes sense in the event these commands are kept, but I think it's still up in the air as to whether they will be

[2020-02-17 15:51] ppitonak commented on #734
It's my personal preference for `--showlogs` instead of `--showlog` but my point is that is should be either singular or plural everywhere.

Is renaming `tkn task logs` to `tkn task log` easier?

[2020-02-17 15:53] chmouel commented on #734
renaming may only occurs over a long period of time deprecation over multiple release, but we could provide an alias if that's something a lot of users are asking.. as you know naming is hard ans sometime it's better to "live with it"

[2020-02-17 15:57] ppitonak commented on #735
You are right, I missed that one. Closing

[2020-02-17 15:57] #735 closed

[2020-02-17 16:00] ppitonak commented on #737
@danielhelfand what about `tkn res create` that can work in both interactive and non-interactive mode?

[2020-02-17 16:20] danielhelfand commented on #737
@ppitonak My personal thought is that interactive creation for tkn resource should remain, but that the -f option should be removed until there is a clearer strategy around non-interactive creation.

I think the goal has always been to eventually have more interactive creation for all resources tkn supports.

There were discussions at one point around wrapping create and apply commands from kubect

[2020-02-17 16:30] danielhelfand commented on #734
In general, supporting a log alias for logs subcommands would be really nice.

[2020-02-18 05:49] pradeepitm12 commented on #706
The last point is really appreciated, we must maintain consistency among the commands.

[2020-02-18 06:34] piyush-garg commented on #733
@ppitonak Params are of two types string and array. So they are an example for both use case

1. For string type, pass param as `key=value`
2. For array type, pass param as `key=value1,value2,value3...`

[2020-02-18 06:38] piyush-garg commented on #736
You can just press enter and it will take the default value.

But it is nice use-case to run without interactiveness and we already have an issue for that in #571

[2020-02-18 13:03] tomgeorge opened #742 "Add option to sort pipelines/taskruns etc oldest to newest"
# Version and Operating System

**tkn Version:** 0.5.0

**Operating System:**  Fedora 31

# Expected Behavior

Something like `tkn tr list --reverse`?

# Actual Behavior

`tkn tr list` shows all taskruns oldest to newest.  As the list of taskruns grows bigger than the size of a screen, you have to do a lot of scrolling or pipe the output to `tac` to quickly see the latest taskrun, for example.  It

[2020-02-18 13:41] chmouel commented on #742
#579  would make things much easier for this too....

and I think `--reverse` would be nice to have an option..

[2020-02-18 13:50] #706 closed

[2020-02-18 13:56] danielhelfand opened #743 "Remove -t Shorthand for tkn task start --timeout Flag"
Following up on discussions in #741, the `-t` shorthand for `--timeout` should be saved in case a flag is added that will be more frequently used than `--timeout`. The shorthand should not be removed until v0.9.0 and there should be notice given to users that `-t` will no longer be available in v0.9.0.

A warning message should be added in v0.8.0 similar to what was done for #702. There should als

[2020-02-18 14:16] danielhelfand opened #744 "Document Deprecation Requirements for CLI"
There is no documentation currently on the approach that should be used to deprecate or change features of the CLI that will break backwards compatibility. At the moment, there is an informal approach used, which is to give a full release to warn about a breaking change, log a message from the CLI when applicable to give users a more direct warning about the change, and document that deprecation n

[2020-02-18 14:51] vdemeester commented on #726
I am :+1: on this. As @sthaha asked during the WG, maybe we could even embedded the `TaskSpec` in the `Pipeline` (that is set in the `pipelineSpec` of the `PipelineRun` :eyes:) in order to have a full spec that do not reference anything *external*.

- By default use `pipelineSpec`, have a flag to use `pipelineRef` instead
- By default use `taskSpec` in the `PipelineSpec`, if the user decided to us

[2020-02-18 15:08] #579 closed

[2020-02-18 22:35] waveywaves commented on #717
/assign

[2020-02-19 01:57] siamaksade commented on #726
That is very useful. Would make `PipelineRun` a complete immutable snaptshot of both pipeline and tasks at the time that it was created.

[2020-02-19 13:26] #713 closed

[2020-02-21 13:55] 16yuki0702 opened #748 "Refactoring log reader"
Related issue is https://github.com/tektoncd/cli/issues/708

```pkg/cmd/taskrun/log_reader.go``` and ```pkg/cmd/pipelinerun/log_reader.go``` also has a few same logic.
I think It would be useful and readable moving these code into same package.

[2020-02-21 13:55] 16yuki0702 commented on #748
/kind cleanup

[2020-02-21 13:55] 16yuki0702 commented on #748
/assign

[2020-02-21 13:56] 16yuki0702 commented on #708
addressed by https://github.com/tektoncd/cli/pull/709

/close

[2020-02-21 13:56] #708 closed

[2020-02-24 18:10] waveywaves commented on #743
/assign

[2020-02-25 10:36] sudhirverma opened #752 "Provide List and delete command for ClusterTriggerBinding"
Issue: https://github.com/redhat-developer/vscode-tekton/issues/147

Like we have a command list and delete for `TriggerTemplate`,  `TriggerBinding`, `EventListener`.

A similar command should be provided for `ClusterTriggerBinding` to get the list and delete it.

[2020-02-25 10:42] vdemeester commented on #752
/kind feature

[2020-02-25 11:16] piyush-garg commented on #752
@sudhirverma ClusterTriggerBinding are not yet in any released version, they will be available with Triggers 0.3 release, we will add these commands after next bump. Thanks

[2020-02-25 12:44] piyush-garg commented on #655
Fixed with #747

/close

[2020-02-25 12:55] pradeepitm12 commented on #730
/assign

[2020-02-25 12:55] pradeepitm12 commented on #693
/assign

[2020-02-25 12:57] danielhelfand commented on #655
This was only partially solved as #747 only shows names. We also need status.

[2020-02-26 11:17] vdemeester commented on #731
For what is worth, https://github.com/tektoncd/dashboard/compare/master...vdemeester:bump-v1beta1 shows more or less the dependency "version/branches" that can be used to test against tektoncd/pipeline#2035

[2020-02-27 07:39] vdemeester commented on #587
I think this got fixed by #691 too :angel:
/close

[2020-02-27 07:39] #587 closed

[2020-02-27 08:03] #671 closed

[2020-02-27 13:37] #531 closed

[2020-02-27 15:32] #718 closed

[2020-02-27 17:18] danielhelfand commented on #655
Leaving a note here that this will depend on the release of pipeline after `v0.10.1`.

[2020-02-28 12:53] waveywaves commented on #742
/assign

[2020-03-02 06:54] 16yuki0702 commented on #748
Addressed by https://github.com/tektoncd/cli/pull/749 https://github.com/tektoncd/cli/pull/754

/close

[2020-03-02 06:54] #748 closed

[2020-03-02 09:36] #717 closed

[2020-03-02 09:36] #743 closed

[2020-03-02 11:19] sudhirverma opened #763 "Provide tkn command to get the condition for particular taskrun."
Issue: https://github.com/redhat-developer/vscode-tekton/issues/149

It would be good to have a command to get the list of condition names for the particular taskrun.

[code]
cc:
@siamaksade @evidolob

[2020-03-02 11:28] piyush-garg commented on #763
/kind feature

[2020-03-02 11:42] vdemeester commented on #731
https://github.com/tektoncd/triggers/compare/master...vdemeester:v1beta1-bump is the "temporary" bump for triggers (it does not fix the webhook but it's ok enough for cli dep)
https://github.com/tektoncd/cli/compare/master...vdemeester:v1beta1-bump for bumping the deps on the cli.. from there, we can decide how we support both

We can use `Discovery().ServiceGroups` to detect available version and

[2020-03-02 14:28] danielhelfand opened #764 "Show PipelineTask Timeout as Part of tkn pipeline describe"
https://github.com/tektoncd/pipeline/pull/2038 introduced the ability to specify timeouts for PipelineTasks part of a Pipeline. Once available in v0.11.0 of pipelines, this information should be added to the `tkn pipeline describe command` to show timeouts specified for PipelineTasks.

This information can be displayed under the **Tasks** section of `tkn pipeline desc` as shown [here](https://gith

[2020-03-02 14:36] vdemeester opened #765 "Add Task param values set in pipeline describe command"
A little bit related #764, it would be nice to enhance the `tkn pipeline describe` subcommand by adding the parameter values passed for Tasks used in the pipeline.

For example, for the following `Pipeline` spec…

[code]

… I would like to see that we used the different parameters values for each task (here `golangci-lint` and `golang-test`. We may want to add different level of output for the `de

[2020-03-03 05:12] piyush-garg commented on #763
/assign

[2020-03-03 11:43] vdemeester opened #766 "Add support for result in Pipeline/Task (and Runs)"
Related to https://github.com/tektoncd/pipeline/pull/2042 and https://github.com/tektoncd/pipeline/pull/1888

The cli should support displaying results in the `describe` commands for `Task`, `TaskRun`, `Pipeline` and `PipelineRun`

/kind feature

[2020-03-03 12:08] afrittoli opened #767 "Resource create asks for name param for cluster resource"
# Version and Operating System

**tkn Version:**
[code]

**Operating System:**
MacOS Catalina

# Expected Behavior
The "name" parameter has been removed from the cluster resources.

# Actual Behavior
The interactive creation process asks for a name and sets the parameter.

[2020-03-03 12:11] piyush-garg commented on #767
/assign

[2020-03-03 13:31] nikhil-thomas commented on #476
/assign @nikhil-thomas

[2020-03-03 13:50] #767 closed

[2020-03-03 14:16] vdemeester opened #769 "Improve e2e Testing Coverage for CLI"
- Get #505 merged to convert e2e testing to Go
- We should do an assessment of what scenarios we have covered for e2e testing and figure out where additional testing is needed

/kind feature

[2020-03-03 14:19] vdemeester commented on #680
/assign

[2020-03-03 15:34] dbazhal opened #771 "Make tkn easier to automate: add run name output, add status check"
# Version and Operating System

**tkn Version:**
0.8.0

# Expected Behavior

I want to automate task/pipeline runs with tkn.
So i want to be able to do smth like
[code]

or shorter
[code]

So it would be nice to add:
- option "only output a name of new created run" to run command
- status command to find out how run ended
- optionally: add "watch and exit with run status" option to run command

I

[2020-03-03 15:35] vdemeester commented on #771
(I guess `tkn version` is 0.8.0 though, and the pipeline instance is 0.10.x)

/kind feature

[2020-03-03 15:36] dbazhal commented on #771
oh, soz, it really is 0.8.0 :D

[2020-03-03 16:10] chmouel commented on #771
Even tho that doesnt address fully your use case there is the `--last` option as well..

[2020-03-03 16:18] danielhelfand opened #772 "tkn pipeline delete With Related Resources Fails to Delete Last PipelineRun"
As of `v0.8.0`, the CLI supports an `--all` option with `tkn pipeline delete` that will delete all associated pipelineruns of a pipeline along with a pipeline itself. When using the `--all` option, all the pipeline is successfully deleted without issue. However, there is always one remaining pipelinerun that is not deleted.

For example, if you run `tkn pipeline delete pipelineName --all` with `pi

[2020-03-03 17:55] danielhelfand commented on #772
After reviewing further, this appears to be isolated to `tkn pipeline delete`. `tkn task delete` is working as expected.

[2020-03-04 15:02] afrittoli opened #775 "SIGSEV on pipelinerun logs"
# Version and Operating System

**tkn Version:**
[code]
**Operating System:**
MacOS Catalina

# Expected Behavior
I can view logs of the pipeline

# Actual Behavior
[code]

# Additional Info

I suspect this is because the pipeline definition is embedded with `pipelineSpec`

Spec of the pipelinerun:
[code]

[2020-03-04 20:50] danielhelfand commented on #772
I tried this with a fresh cluster and couldn't find and couldn't reproduce this issue. I will keep an eye on this and reopen if it comes up again.

[2020-03-04 20:50] #772 closed

[2020-03-05 02:24] danielhelfand opened #776 "PipelineTasks with Timeout Exceeded Results in tkn pr desc Failing to Render Quotation Marks"
https://github.com/tektoncd/pipeline/pull/2038 added the ability to specify a Timeout for PipelineTasks. When a PipelineRun fails due to a Timeout being exceeded by a PipelineTask, the message from `tkn pr desc` results in the following:

[code]

What's confusing is what the **Message** displays:

[code]

It fails to correctly interpret double quotes from the error message.

# Version and Operatin

[2020-03-05 02:31] danielhelfand commented on #776
Related code that causes this is [here](https://github.com/tektoncd/cli/blob/80a30cd2ac487140aff510739e0560ebfcb7543c/pkg/pipelinerun/description/description.go#L176).

[2020-03-05 05:20] VeereshAradhya opened #777 "tkn taskrun logs not showing logs for cancelled taskruns"
# Version and Operating System

**tkn Version:**
v0.8.0

**tekton pipelines Version:**
0.10.7
**Operating System:**
Linux

# Expected Behavior
When as taskrun is cancelled `tkn taskrun log` should show the logs for the cancelled taskrun

# Actual Behavior
Getting the below error message
`$ tkn taskrun logs check-shell-script-run-pdqzk -f

Error: task check-shell-script failed: pods "check-shell-sc

[2020-03-05 08:51] 16yuki0702 commented on #777
Maybe canceld pod is deleted, so logs can't be got.
(error pod is remain)

why this happend, I wanna look into it more detail.

[2020-03-05 08:51] 16yuki0702 commented on #777
/assign

[2020-03-05 09:31] vdemeester commented on #777
@16yuki0702 yeah, I think the way `tektoncd/pipeline` works for cancelling is that it straight destroy the `Pod`.. That might be something we want to re-design :thinking:

/kind feature

[2020-03-05 09:50] 16yuki0702 commented on #775
yes, I can reprduce this bug using embedded pipelineSpec.
I'll fix this.

[2020-03-05 09:50] 16yuki0702 commented on #775
/assign

[2020-03-05 12:19] 16yuki0702 commented on #775
maybe this is same https://github.com/tektoncd/cli/issues/603

[2020-03-05 13:09] piyush-garg commented on #763
A condition is executed in different taskrun when a pipelinerun is created. So we can provide the task in which condition is executed.

[2020-03-05 15:04] #730 closed

[2020-03-06 08:12] 16yuki0702 commented on #777
Yes, I found the code it delete imediately the pod. https://github.com/tektoncd/pipeline/blob/master/pkg/reconciler/taskrun/cancel.go#L49

I don't know why only canceling pod is deleted currently... 🤔

[2020-03-06 08:40] praveen4g0 opened #782 "tkn pr not showing logs of conditional resources"
**tkn Version:**
  Client version: 0.8.0

a pipeline task can refer to multiple conditons and a taskref
And all these executes as different taskrun
How to reproduce? : oc apply -f |  [conditional-pr.yaml] (https://github.com/tektoncd/pipeline/blob/master/examples/v1alpha1/pipelineruns/conditional-pipelinerun.yamll)

1. Why conditional resource is running as new taskrun?, is this expected behavior,

[2020-03-06 09:16] vdemeester commented on #782
/kind feature

[2020-03-06 09:17] #776 closed

[2020-03-06 12:45] siamaksade commented on #775
I ran into the same issue with 0.8.0 but master seem to have resolved it already:

0.8.0:
[code]

master:
[code]

[2020-03-06 13:47] siamaksade opened #783 "PipelineRun describe does not show conditions"
The `tkn pr describe` command should show the conditions used in the pipelinerun and also which task was using the particular conditions.

Current for this [pipeline example](https://github.com/tektoncd/pipeline/blob/master/examples/v1alpha1/pipelineruns/conditional-pipelinerun.yaml) is:
[code]

[2020-03-06 13:48] 16yuki0702 commented on #775
maybe you mean about ```pr describe``` ?
(and this PR is related ? https://github.com/tektoncd/cli/pull/780)

this issue about ```pr logs```.

[2020-03-06 14:59] danielhelfand opened #784 "Change ClusterTask Timeout from Int to String and Remove -t Shorthand"
Similar to #779, `tkn clustertask start --timeout` should be changed to a string duration format (i.e. `1h30m2s`). Currently it is an [integer](https://github.com/tektoncd/cli/blob/b5d1f0c796344d92b6a63f206ca7aa93536d4f7a/pkg/cmd/clustertask/start.go#L54) that is used to [specify a timeout in seconds](https://github.com/tektoncd/cli/blob/b5d1f0c796344d92b6a63f206ca7aa93536d4f7a/pkg/cmd/clustertask

[2020-03-09 02:40] danielhelfand commented on #775
The `tkn pr describe` issue is unrelated to #780. It seems similar to what was reported in #584 and resolved in #586.

If that's occurring in `v0.8.0` and can be reproduced, then that should be looked into further as #586 was part of v0.7.1.

[2020-03-09 02:41] danielhelfand commented on #775
Closing this from #781

[2020-03-09 02:41] #775 closed

[2020-03-09 09:00] pradeepitm12 opened #785 "Support --all-namespaces flag for list commands"
Cli should support `--all-namespaces` for all the `list` subcommands.

Currently, cli `list` subcommands take flag `-n` namespace as an input, which lists the given resource of a given namespace
  `tkn foo list -n bar`

Support to `all-namespaces` flag will help the user to list a particular resource in all the namespaces.
  `tkn task list --all-namespaces`

Adding to this, if `all-namespaces` fla

[2020-03-09 09:00] pradeepitm12 commented on #785
/kind feature

[2020-03-09 12:50] vdemeester commented on #651
It could be something like:

- `--workspace my-workspace=pvc/…`
- `--workspace my-workspace=emptyDir`
- `--workspace my-workspace=configmap/…`

[2020-03-09 12:58] vdemeester opened #786 "Add interactive workspace support when starting a pipeline or task"
If there is a workspace in the Pipeline or Task, ask for the type and then auto-complete based on the type (list configmap, or secret, or PVC).

/kind feature

[2020-03-09 13:16] vdemeester commented on #786
/kind feature

[2020-03-10 02:11] 16yuki0702 commented on #603
Maybe this is same cause of https://github.com/tektoncd/cli/issues/775

because it panicked at below code.
https://github.com/tektoncd/cli/blob/v0.6.0/pkg/cmd/pipelinerun/log_reader.go#L112

This is addressed by https://github.com/tektoncd/cli/pull/781

so can I close this issue ?

[2020-03-10 07:58] vdemeester commented on #603
Let's close this for now yeah.
/close

[2020-03-10 07:58] #603 closed

[2020-03-10 10:57] waveywaves commented on #785
/assign

[2020-03-10 11:12] chmouel opened #790 "Hiding section with empty results"
We are currently showing sections that doesn't have object with a message that looks like this :

[code]

For example for input resources we have :

[code]

Should we perhaps hide them?

/kind question

[2020-03-10 13:18] #655 closed

[2020-03-10 13:41] #634 closed

[2020-03-10 13:41] #742 closed

[2020-03-10 15:35] danielhelfand commented on #790
I can get behind the less is more approach of this. To clarify, this is specifically for `describe` commands, correct?

So instead of the following for a `TaskRun` describe:

[code]

The change here would be:

[code]

[2020-03-10 19:58] waveywaves commented on #766
/assign

[2020-03-11 02:39] danielhelfand commented on #784
/assign @kadern0

[2020-03-11 02:42] danielhelfand commented on #784
@kadern0, I think you have to assign yourself to the issue.

[2020-03-11 02:53] kadern0 commented on #784
Done!

O mér., 11 de mar. de 2020 ás 13:42, Daniel Helfand (<
notifications@github.com>) escribiu:

[2020-03-11 05:20] VeereshAradhya opened #794 "Cancelling a completed pipelinerun is showing output as Pipelinerun cancelled"
# Version and Operating System

**tkn Version:**
v0.8.0

**tekton pipelines Version:**
0.10.8

**Operating System:**
Linux

# Expected Behavior
Output should be something like "**pipelinerun already completed, cannot cancel now**"

# Actual Behavior
Output shows **"Pipelinerun cancelled"**

# Steps to Reproduce the Problem

1. Create a pipeline and start the pipelinerun
2. Wait for pipeline run to

[2020-03-11 05:46] supra08 commented on #739
@danielhelfand I would like to work on this.

[2020-03-11 06:27] khrm commented on #651
/assign khrm

[2020-03-11 08:33] vdemeester commented on #784
/assign @kadern0

(this works as soon as you commented once, I think)

[2020-03-11 12:51] danielhelfand commented on #739
@supra08 Thank you for your interest in this. I am personally leaning toward removing all `tkn create -f` commands and will be proposing removing the commands by `v1.0.0` at the CLI's next working group to see if there are strong objections to this. So I am going to recommend not picking up this issue.

I think our preference is that `kubectl create/apply` be the preferred create and update method

[2020-03-11 12:54] chmouel commented on #739
Completely agree with you @danielhelfand

[2020-03-11 13:23] danielhelfand commented on #794
/kind bug

I have verified this. We do have a check in [pipelinerun cancel](https://github.com/tektoncd/cli/blob/ef6182293737960272c61febd1fe6b2c78ee99f9/pkg/cmd/pipelinerun/cancel.go#L81) for this, but we'll need to look into why this is no longer being caught in v0.8.0.

[2020-03-11 14:20] danielhelfand commented on #794
/assign

This appears to be related to adding colored statuses. Because the if statement hasn't added color to the conditions it's checking for, it's not able to correctly apply the error.

[2020-03-11 15:07] supra08 commented on #739
I too agree with you @danielhelfand . `kubectl` provides a robust approach and implementing approaches in `tekton` where `kubectl` lacks is a good option.
I would pick up another issue.

[2020-03-11 15:13] supra08 commented on #594
@danielhelfand I would like to work on this issue.

[2020-03-11 15:15] vdemeester commented on #594
/assign @supra08

[2020-03-11 15:15] danielhelfand commented on #594
Thanks @supra08!

[2020-03-11 17:07] danielhelfand opened #798 "Change Cancelled(PipelineRunCancelled) and Cancelled(TaskRunCancelled) to Just Cancelled"
When a TaskRun or PipelineRun is cancelled, `tkn` shows the following status for the TaskRun or PipelineRun:

[code]

Is there any particular reason for adding `(PipelineRunCancelled)` or `(TaskRunCancelled)`? My thought is it should be apparent based on the command being used (i.e. `pipelinerun` or `taskrun`) what the resource in question is. Would it make more sense to simply show `Cancelled` si

[2020-03-12 12:08] ppitonak opened #799 "Add --no-headers flag for all list commands"
# Version and Operating System

**tkn Version:**
0.8.0

**Operating System:**
all systems

# Expected Behavior
When using `tkn`, I should be able to list resources without header, i.e. `tkn ct list --no-headers` would produce something like

[code]

instead of

[code]

# Actual Behavior

Header is always printed

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

Both `kubectl` and `oc

[2020-03-12 12:42] vdemeester commented on #799
/kind feature

[2020-03-12 19:04] danielhelfand opened #800 "Change Behavior of What --keep Saves from Deletion"
# Version and Operating System

**tkn Version:** v0.8.0

# Expected Behavior

The `--keep` option for `tkn pr ls` and `tkn tr ls` should delete the least recent TaskRuns or PipelineRuns as opposed to the most recent. It is more common to want to keep more recent entries than later ones.

An alternative suggestion would be for `--keep` to keep by something other than a number. An example being a da

[2020-03-12 19:35] danielhelfand opened #801 "--count Flag for tkn pipelinerun/taskrun list Subcommands"
It would be nice to get a raw count of PipelineRuns/TaskRuns in a namespace when using `tkn pipelinerun list` and `tkn taskrun list`. This would help with managing PipelineRuns/TaskRuns and making decisions about deleting PipelineRuns/TaskRuns from a garbage collection standpoint.

# Expected Behavior

**For namespace with 100 PipelineRuns**

[code]

**For namespace with 2000 TaskRuns**
[code]

[2020-03-13 00:39] danielhelfand opened #802 "tkn taskrun delete --keep Doesn't Sort TaskRuns By Start Time Before Deleting"
# Version and Operating System

**tkn Version:** v0.8.0

# Expected Behavior

`tkn tr delete --all --keep` doesn't [sort TaskRuns by start time](https://github.com/tektoncd/cli/blob/0151eac9175363c77484903289333cb0aad50e07/pkg/cmd/taskrun/delete.go#L147) before deleting them. The description for the command says that it `Keep n least recent number of taskruns when deleting`. As of now, the flag wi

[2020-03-13 02:30] waveywaves commented on #785
- [x] TaskRun https://github.com/tektoncd/cli/pull/791
- [x] PipelineRun https://github.com/tektoncd/cli/pull/791
- [ ] Task
- [ ] Pipeline
- [ ] PipelineResource
- [ ] TriggerBinding
- [ ] TriggerTemplate
- [ ] EventListener
- [ ] Condition

[2020-03-13 06:37] #794 closed

[2020-03-13 08:32] #625 closed

[2020-03-13 11:14] piyush-garg opened #804 "Add description field to describe commands"
This is about adding the description field to describe commands of pipeline, task, clustertask, resource and condition.

/kind feature
/assign

[2020-03-13 16:29] #804 closed

[2020-03-13 17:25] lstocchi opened #807 "Cannot override paths when starting a task"
Currently when starting a task one can set input/output resources by using -i and -o flags. It would be nice if one could also override the paths of a resource like it's possible when defining the configuration file

[code]

[2020-03-13 17:53] bobcatfish commented on #807
Hi @lstocchi !

Are these flags in the CLI? If so, this issue might make more sense over in https://github.com/tektoncd/cli

[2020-03-13 18:04] lstocchi commented on #807
Hi @bobcatfish, the repo you linked is this one, no?

[2020-03-13 18:38] danielhelfand commented on #807
@lstocchi You should be all set with the issue in this repo. I'm wondering if this would be a case for parameters to specify a path? This could be done with `-p`. Maybe I'm not perfectly understand the use case though?

[code]

[2020-03-13 18:55] danielhelfand commented on #807
Adding [docs](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#parameters) here to provide more information.

[2020-03-14 10:21] lstocchi commented on #807
@danielhelfand i was referring to https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#overriding-where-resources-are-copied-from

For instance, If i start a task and i want the output resource to be copied to a different path i cannot change it in the cli. AFAIK i can just set the resource i want to use (the same for input resource)
[code]

[2020-03-16 02:47] danielhelfand commented on #807
Yes, so `-i` and `-o` are used for connecting the resources defined in a Task (input or output) with resourceRefs. So a Task has inputs and outputs specified and `-i` and `-o` can reference PipelineResources in a namespace.

You should be able to define a param for a Task, which can have a default value and also be overridden. So for your output path, you can use this param value and pass in the p

[2020-03-16 13:19] lstocchi commented on #807
@danielhelfand ah ok, i got what you're saying. Thank you very much for the quick response.
Closing this then :+1:

[2020-03-16 13:19] #807 closed

[2020-03-16 13:52] vdemeester commented on #811
/kind question
/kind feature

[2020-03-16 14:45] piyush-garg commented on #811
I think the actual behavior is already an issue here. #314

[2020-03-16 14:48] vdemeester commented on #811
Indeed, let's close this as a duplicate
/close

[2020-03-16 14:48] #811 closed

[2020-03-16 15:32] danielhelfand commented on #807
@lstocchi No problem. Please feel free to reopen if this isn't quite the workflow that works in your case.

[2020-03-16 16:43] oiricaud commented on #480
How did you resolve the bug?

[2020-03-16 18:07] piyush-garg commented on #480
@oiricaud That seems like because of an incompatible version of tkn CLI and pipeline used. Are you facing the same issue?

[2020-03-17 07:48] VeereshAradhya opened #814 "Error message is shown twice when tried to delete a resource which does not exist"
# Version and Operating System

**tkn Version:**
v0.8.0

**Operating System:**
Linux

# Expected Behavior
Error message should be shown only once

# Actual Behavior
Error message is shown twice

# Steps to Reproduce the Problem

1.Try deleting a resource which does not exist by using the command `tkn pipeline delete which-doesnt-exit -f`
2.Observe the error message

# Additional Info
Command logs

[2020-03-17 08:24] vdemeester commented on #814
/kind bug

[2020-03-17 12:34] danielhelfand commented on #814
/assign

[2020-03-17 13:53] vdemeester commented on #739
Discussed during the Working Group call, we all agree on @danielhelfand's comment, so let's move forward with deprecating and removing the `create` sub-command

[2020-03-17 14:42] #739 closed

[2020-03-17 14:45] danielhelfand commented on #575
Closing this issue. `tkn <resource> create -f` commands will be removed by version 1.0.0. The recommendation is to use `kubectl` for creating and updating of resources.

[2020-03-17 14:45] #575 closed

[2020-03-17 14:45] danielhelfand commented on #574
Closing this issue. tkn <resource> create -f commands will be removed by version 1.0.0. The recommendation is to use kubectl for creating and updating of resources.

[2020-03-17 14:45] #574 closed

[2020-03-17 15:54] danielhelfand opened #816 "Deprecate tkn create -f"
`tkn` currently features `create -f` for the following commands:
* `pipeline`
* `task`
* `resource`

Following conversations in #739 and in the 3/17/20 Working Group for `tkn`, the recommendation for users is to use kubectl for creating/updating resources. `tkn` will work to support creation/update methods that differ from what kubectl offers through create/apply/replace (e.g. interactively creati

[2020-03-17 15:58] #814 closed

[2020-03-17 21:33] danielhelfand opened #817 "Inputs/Outputs/Params No Longer Being Displayed in Describe Commands"
I am assuming the switch to the spec in pipeline where inputs/outputs/params are under resources/spec has broken describe commands, which still reference these values using the old structure:

https://github.com/tektoncd/cli/blob/95ed643507bcda2235ba9c598871beb2fa04607d/pkg/cmd/task/describe.go#L52

Perhaps an update to `spec.resources.inputs`, `spec.resources.outputs`, and `spec.params` is the fi

[2020-03-18 04:36] piyush-garg commented on #817
/assign

[2020-03-18 15:09] danielhelfand opened #819 "Descriptions Not Showing For v1alpha1 Resources with list/describe Commands"
# Version

[code]

# Expected Behavior

Using list/describe commands should show a description for `v1alpha1` resources.

# Actual Behavior

Description only works with `v1beta1` resources.

# Steps to Reproduce the Problem

1. Create a `v1alpha` resource that supports description (Task, ClusterTask, Condition, Pipeline) and add a description property to the spec of the resource
2. Run `tkn <resou

[2020-03-18 15:19] piyush-garg commented on #819
I am already on it

/aasign

[2020-03-18 15:19] piyush-garg commented on #819
/assign

[2020-03-18 18:45] piyush-garg commented on #819
I think the issue is only with task and clustertask

[2020-03-18 19:07] danielhelfand commented on #819
Yes, my apologies. I see that it works for pipelines/conditions.

[2020-03-19 00:24] ckadner opened #820 "How to start a pipeline with default params in a non-interactive shell"
# Version and Operating System

**`tkn` version:**
[code]

**Operating System:** MacOS 10.15 (Catalina)

# Expected Behavior

I was expecting there to be a flag that allows to run pipelines/tasks with parameter default values (if so defined) without prompting for user input, i.e.:

`tkn pipeline start <pipeline-name> --params-use-defaults`

This would be usefull when running pipelines from within

[2020-03-19 08:46] vdemeester commented on #820
/kind feature

[2020-03-19 09:46] piyush-garg commented on #819
This will be resolved with https://github.com/tektoncd/pipeline/pull/2247 and we bump the dependency to v0.11-rc3 I will keep this open until we bump and will work toward bumping to rc3. Thanks

[2020-03-19 09:49] ppitonak commented on #820
Possible duplicate of https://github.com/tektoncd/cli/issues/736

[2020-03-19 16:06] piyush-garg commented on #817
I think this is also related to task and clustertask

[2020-03-19 16:08] danielhelfand commented on #817
It's for all resources I am pretty sure.

[2020-03-19 19:12] ckadner commented on #736
Not prompting for parameters that have default values would also help when trying to start a pipeline in a script (#820)

[2020-03-19 19:15] ckadner commented on #571
Also applies to starting a task/pipeline that has default values for all input parameters (#820)

[2020-03-19 23:22] waveywaves commented on #802
/assign

[2020-03-19 23:22] waveywaves commented on #799
/assign

[2020-03-19 23:25] waveywaves commented on #801
/assign

[2020-03-19 23:55] danielhelfand commented on #801
@waveywaves We should discuss this before implementing to see if it’s worthwhile.

[2020-03-20 14:47] danielhelfand commented on #785
This was accidentally closed via #791 but should remain open until other resources also support this flag.

[2020-03-20 15:37] #738 closed

[2020-03-23 01:39] danielhelfand commented on #737
`tkn` will not support creation commands moving forward. See #816 for more information.

[2020-03-23 01:39] #737 closed

[2020-03-23 01:43] danielhelfand commented on #752
/assign

[2020-03-23 16:36] danielhelfand opened #827 "--dry-run Options Only Create v1alpha1 TaskRuns/PipelineRuns"
# Version

[code]

# Expected Behavior

Using the `--dry-run` option with `tkn task start`, `tkn pipeline start`, and `tkn clustertask start` should add `tekton.dev/v1beta1` as the `APIVersion` for `v1beta1` Tasks, Pipelines, and ClusterTasks.

# Actual Behavior

`tekton.dev/v1alpha1` is the only `APIVersion` supported at this time since it is [hard coded](https://github.com/tektoncd/cli/blob/5489

[2020-03-24 07:17] waveywaves commented on #799
Tracker for --no-header in different `list` commands
- [ ] TaskRun
- [ ] PipelineRun
- [ ] Task
- [ ] Pipeline
- [ ] PipelineResource
- [ ] TriggerBinding
- [ ] TriggerTemplate
- [ ] EventListener
- [ ] Condition

[2020-03-24 11:58] afrittoli opened #831 "Display TaskRun and PipelineRun labels"
# Version and Operating System

**tkn Version:**
Client version: 0.8.0

**Operating System:**
MacOS Catalina

# Expected Behavior

When describing at a TaskRun and PipelineRun I should be able to see labels associated to it.
This will greatly help filtering similar taskruns and pipelineruns.

Similar issue on the dashboard side: https://github.com/tektoncd/dashboard/issues/1181

[2020-03-24 11:58] afrittoli commented on #831
/kind feature

[2020-03-24 12:54] danielhelfand commented on #209
Please see #816 on why this is being closed.

[2020-03-24 12:54] #209 closed

[2020-03-24 23:28] ckadner commented on #786
@vdemeester -- is this already being worked on? I see this in the `0.9.0` milestone. Is it possible to get an early preview from the master branch?

[2020-03-25 09:12] ppitonak commented on #786
@ckadner you can follow https://github.com/tektoncd/cli/pull/826

[2020-03-26 17:23] danielhelfand opened #838 "Flaky Test: Dry Run using --filename for Pipeline Start"
![image](https://user-images.githubusercontent.com/34258252/77676373-9bd40e80-6f64-11ea-8728-d82e082a9955.png)

It appears the order of resources associated with the PipelineRun is not always consistent. While it doesn't appear to happen often, it may be worthwhile to only include one PipelineResource as part of the test to make sure the PipelineRun produced using `--dry-run` is consistent.

[2020-03-26 18:04] VeereshAradhya opened #839 "tkn task/pipeline describe shows the taskrun/pipelinerun sorted by taskrun/pipelinerun name instead of STARTED"
# Version and Operating System

**tkn Version:**
v0.8.0

**Operating System:**
Linux

# Expected Behavior
tkn task/pipeline describe should show the taskrun/pipelinerun STARTED (In descending order)

# Actual Behavior
tkn task/pipeline describe shows the taskrun/pipelinerun sorted by taskrun/pipelinerun name instead of STARTED

# Steps to Reproduce the Problem

1. Create task and pipeline
2. Start

[2020-03-27 12:40] christopherfrieler commented on #817
I just experienced this bug, too. It seems, starting tasks is also affected:

`tkn task start -p myparam=value` fails with the message that myparam was not part of the spec, although it definitely is. I could still start the Task with the parameter by writing a TaskRun.yaml-file and applying it through `kubectl apply -f TaskRun.yaml`. But that's not a complete workaround, because this way I would

[2020-03-27 13:14] danielhelfand commented on #817
@christopherfrieler Thanks for the additional information on `tkn task start`. Would you mind sharing the version of pipelines you are using? Posting the output of `tkn version` would be really helpful as we work towards supporting the `v1beta1` API.

[2020-03-29 01:50] waveywaves commented on #785
https://github.com/tektoncd/cli/pull/840 opened to which covers the requirement for tasks and pipelines

[2020-03-30 06:03] savitaashture commented on #798
/assign

[2020-03-30 06:49] savitaashture commented on #831
/assign

[2020-03-30 08:46] savitaashture opened #845 "tkn version gives unknown for Pipeline version"
# Version and Operating System

**tkn Version:**
Built from master

**Operating System:**
Linux
# Expected Behavior
If Pipeline installed from master branch
[code]
# Actual Behavior
[code]
# Steps to Reproduce the Problem

1. Install tkn
2. Install Pipeline
3. tkn version

# Additional Info

[2020-03-30 08:47] savitaashture commented on #845
/assign

[2020-03-30 08:56] vdemeester commented on #845
/kind feature

[2020-03-30 12:14] #838 closed

[2020-03-30 12:21] danielhelfand commented on #827
Following working group discussion, the approach to fully handle this will be to check for what versions are available on the cluster and use `v1beta1` if available. Otherwise, use `v1alpha1`.

[2020-03-30 23:31] waveywaves opened #850 "Propogate deletion of PipelineRuns if Pipeline is deleted via flag"
# Version and Operating System

**tkn Version:**
0.8.0
**Operating System:**
Fedora 29

# Expected Behavior
Propogate deletion of associated PipelineRuns if Pipeline is deleted.
Details on origin of this concept is given in the comment below.
https://github.com/tektoncd/pipeline/issues/2223#issuecomment-600617363

Some things to things about.
- Allow users to set this as default behavior in `tkn`

[2020-03-30 23:44] danielhelfand commented on #850
This does exist as `--all` (i.e., `tkn pipeline delete pipelineName --all`) in `v0.8.0` but will be renamed to `tkn pipeline delete pipelineName --prs` in `v0.9.0`. `--all` has be repurposed for deleting all pipelines in a namespace.

This also exists for TaskRuns as `tkn task delete taskName --all` in `v0.8.0` and will be `tkn pipeline delete taskName --trs`.

Whether or not this should be config

[2020-03-30 23:44] #850 closed

[2020-03-31 07:32] waveywaves commented on #799
/open

[2020-03-31 07:32] waveywaves commented on #799
/reopen

[2020-03-31 12:51] danielhelfand commented on #845
@savitaashture Was this fixed by #847? Can this be closed?

[2020-03-31 13:23] vdemeester commented on #845
yeah :)
/close

[2020-03-31 13:23] #845 closed

[2020-04-01 07:08] #752 closed

[2020-04-01 10:15] nkakkar81 commented on #733
/assign nkakkar81

[2020-04-01 13:24] danielhelfand commented on #839
/assign

[2020-04-01 16:20] danielhelfand opened #858 "Some PipelineRuns Not Being Labeled with PipelineRef Correctly"
# Version and Operating System

**tkn Version:** `v0.8.0` (Also on happening with master branch)

# Expected Behavior

When running `tkn pipeline describe pipelineName`, all PipelineRuns associated with a particular pipeline should be displayed.

# Actual Behavior

Not all PipelineRuns are displayed. This appears to be because only some are properly labeled with `tekton.dev/pipeline=pipeline-hello

[2020-04-01 16:38] danielhelfand commented on #858
After looking a bit further, it seems some PipelineRuns are having no labels applied at all. I am going to assume this is related to the [mergelabels.go](https://github.com/tektoncd/cli/blob/82bfff79a3101e21827caf3056499722d1eed9cb/pkg/labels/mergelabels.go).

[2020-04-02 12:26] danielhelfand commented on #831
Closed by #851

[2020-04-02 12:26] #831 closed

[2020-04-02 12:37] piyush-garg commented on #819
This will be fixed #859

[2020-04-02 12:37] piyush-garg commented on #819
/close

[2020-04-02 12:37] #819 closed

[2020-04-03 07:05] piyush-garg commented on #651
Closed by #826 and #854

[2020-04-03 07:05] #651 closed

[2020-04-03 11:33] chmouel opened #862 "timeout is not respected when using use-pipelinerun or --last"
when using `tkn pipeline start pipl1 --use-pipelinerun piplr1` the timeout that
was set previously is not set on the newly created pipeline.

/kinds bugs

[2020-04-03 12:08] danielhelfand commented on #862
/assign

We just need to add the `--timeout` from `usepr` similar to what is done [here](https://github.com/tektoncd/cli/blob/ff0a567e4834c43ad06ee8bf136e86d298f98100/pkg/cmd/pipeline/start.go#L240).

[2020-04-03 20:35] Conky5 opened #865 "tkn pipeline start does not use default timeout"
# Version and Operating System

**tkn Version:** 0.8.0

**Operating System:**  macOS

# Expected Behavior

Pipelines started with `tkn pipeline start` should use the [configured default timeout](https://github.com/tektoncd/pipeline/blob/00194731669ca5a279ca92b2d94cfb85f6ae7f6d/docs/taskruns.md#configuring-default-timeout) from tekton pipelines.

# Actual Behavior

PipelineRuns created with `tkn pi

[2020-04-03 21:29] Conky5 commented on #865
This might be a `kind/bug`, as it is similar to how default pod templates were handled in https://github.com/tektoncd/cli/issues/637.

[2020-04-03 21:37] danielhelfand commented on #865
@Conky5 I labeled as a feature because it's known that we don't support it at this time and there are ways to appropriately set a desired timeout with `tkn`.  However, I see how it's sort of a little of both if that's fair.

[2020-04-03 21:49] Conky5 commented on #865
Yep, no worries 😄.

[2020-04-05 08:43] waveywaves commented on #865
/assign

[2020-04-05 18:13] anshulvermapatel commented on #858
Hi @danielhelfand ,
I tried this and was not able to reproduce.
[code]

[2020-04-05 18:25] popcor255 commented on #621
resolved
/closed

[2020-04-05 18:32] danielhelfand commented on #858
@anshulvermapatel My apologies for not detailing more specifically in the issue. But you need to use tkn’s start commands, not oc, to create the runs.

I am having trouble reproducing this consistently myself though. It seems to not happen as simply as I outlined in the issue.

[2020-04-05 19:05] danielhelfand commented on #858
I've been able to narrow it down to this:

1. It seems to happen in scenarios where the PipelineRun fails before execution (e.g. `Failed(CouldntGetTask)`, which would occur when a Pipeline is run but the Tasks it uses doesn't exist in the namespace where the Pipeline exists).
2. There doesn't seem to be anything consistent about which PipelineRuns are not labeled. Just some of the PipelineRuns are

[2020-04-06 07:21] piyush-garg commented on #865
@Conky5 Can you please provide information about tekton-pipeline version you have installed.

This may be because of this issue https://github.com/tektoncd/pipeline/issues/2324 also

[2020-04-06 08:18] #488 closed

[2020-04-06 08:18] #862 closed

[2020-04-06 12:02] danielhelfand commented on #865
I actually opened tektoncd/pipeline#2324 in response to this. It's possible that bug is causing this, but it may also be that the `1h` default for `tkn` being requested may be part of it. I can test once https://github.com/tektoncd/pipeline/pull/2333 is merged.

[2020-04-06 13:27] danielhelfand opened #871 "--last Flag for PipelineRun/TaskRun Describe Commands"
# Expected Behavior

It would be helpful to allow users to not have to specify the name of a PipelineRun/TaskRun with `describe` commands. Instead, a shortcut could be provided via a flag called `--last` that would describe the most recent PipelineRun/TaskRun.

Example:

**Describe most recent PipelineRun:**
[code]

**Describe most recent TaskrunRun:**
[code]

# Actual Behavior

As of now, the onl

[2020-04-06 13:34] danielhelfand opened #872 "Interactive Mode for Describe Commands"
# Expected Behavior

Similar to what is offered for viewing logs of PipelineRuns/TaskRuns, it would be nice to select what object to describe via an interactive approach. The idea would be that if no name argument is passed to a describe command, then a list will appear with items for the user to select from. The user can select which option to describe and then the description template will be fi

[2020-04-06 13:56] Conky5 commented on #865
I am using tekton-pipelines`v0.10.1`.

[2020-04-06 13:56] danielhelfand opened #874 "Set config-defaults via tkn"
# Expected Behavior

A ConfigMap called `config-defaults` can be created in the `tekton-pipelines` namespace that specifies information about defaults, such as timeouts, service accounts, etc. for PipelineRuns/TaskRuns. `tkn` should offer a way for users to both create/manage these defaults.

Perhaps the subcommand could be `tkn config` and initial actions for the command could be `create` to crea

[2020-04-06 14:04] danielhelfand commented on #865
Yeah, so this is more of a CLI issue in terms of the default used. I tested with `default-timeout-minutes` in  `v0.10.1` and everything worked accordingly. The issue with `default-timeout-minutes` appears to be isolated to `v0.11.0`.

[2020-04-07 00:12] anshulvermapatel commented on #858
I tried again with `$ tkn p start` and I still am not able to reproduce this on my machine.
[code]

Can there be other factors affecting it in your case?
I am doing this on OpenShift, are you starting the Pipeline on Kubernetes? Well, I don't think this should matter.

Can you share your output of the commands you are executing and the description you are getting of the `Pipeline`

[2020-04-07 00:14] aliei opened #875 "محمد"
# Version and Operating System

**tkn Version:**

**Operating System:**

# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2020-04-07 02:38] anshulvermapatel commented on #872
/assign

[2020-04-07 08:21] vdemeester commented on #875
/close

[2020-04-07 08:21] #875 closed

[2020-04-07 09:21] VeereshAradhya opened #876 "taskurn cancel is getting failed"
# Version and Operating System

**tkn Version:**
latest dev

**Operating System:**
Linux

# Expected Behavior
Taskrun should get cancelled

# Actual Behavior
Taskrun is not getting cancelled and showing the below error message
`Error: failed to cancel taskrun "build-and-deploy-run-mz5xs-build-image-pqc9b": admission webhook "webhook.pipeline.tekton.dev" denied the request: mutation failed: cannot

[2020-04-07 09:32] vdemeester commented on #876
/kind bug

[2020-04-07 09:50] vdemeester commented on #876
/assign @pradeepitm12

[2020-04-07 12:33] sbwsg commented on #800
I agree on the ordering, that the default should be newest-first.  Maybe introduce a flag for sorting oldest-first?

I like this idea a lot. An example syntax for this might be something like `tkn tr delete --all --keep since=30d` which would protect any TaskRuns started in the last 30 days.  Maybe the `--keeps` can be chained?  Example:

[code]

Going with key-value would also allow the existing

[2020-04-07 20:33] soukron opened #879 "New PipelineRun fails due to serviceAccount vs serviceAccountName"
# Version and Operating System

**tkn Version:**
Client Version 0.4.0

**Operating System:**
Linux

# Expected Behavior
$ tkn pipeline start build-and-deploy \
    -r git-repo=api-repo \
    -r image=api-image \
    -p deployment-name=vote-api

Pipelinerun started: build-and-deploy-run-z2rz8

In order to track the pipelinerun progress run:
tkn pipelinerun logs build-and-deploy-run-z2rz8 -f -n pipe

[2020-04-07 20:38] danielhelfand commented on #879
@soukron Is there any reason for using `tkn v0.4.0`? I would update to a more recent version of `tkn`. The current version of `tkn` is `v0.8.0` and uses the correct attribute, which is `serviceAccountName` instead of `serviceAccount` as was originally implemented with pipelines.

[2020-04-07 20:48] soukron commented on #879
I'm following https://openshift.github.io/pipelines-docs/docs/0.10.5/proc_installing-cli.html documentation for the tutorial and it refers to 0.4.0. I wasn't even aware that there's a newer version of the client.

I have tried with it and as expected, it works.

Can you help with the page I've sent? If you can't I'll figure how to get the documentation page fixed.

[2020-04-07 20:54] danielhelfand commented on #879
@soukron Yeah, the documentation appears way out of date. I believe the docs are maintained [here](https://github.com/openshift/pipelines-docs). The actual tutorial you are following, which is more up to date, is [here](https://github.com/openshift/pipelines-tutorial). I think either repo is a good place to raise this issue.

[2020-04-07 20:54] #879 closed

[2020-04-07 23:29] anshulvermapatel commented on #872
@danielhelfand , do you intend you have this simple ask to select the `pr` or you also intend to have `FuzzyAsk` (Fzf) also which we give with `-F` or `--fzf` option in case of `logs` command

[2020-04-08 01:02] popcor255 commented on #667
/assign

[2020-04-08 03:55] #876 closed

[2020-04-08 13:35] #827 closed

[2020-04-08 23:46] rvandegrift opened #882 "`tkn describe pipelinerun` crashes with a Condition"
I have been seeing `tkn` crash after adding a `Condition` to a `Pipeline`.  It's not 100% of the time:
- it seems worse right after creating the `PipelineRun`, and then may eventually settle out.
- it seems like a failed `Task` can make it never recover.

The backtraces match in terms of files & lines indicated.  The one below is representative.

# Version and Operating System

**tkn Version:** 0.

[2020-04-09 00:48] danielhelfand commented on #882
@rvandegrift Are you sure you are using `v0.8.0`? I notice the error is coming from a package the CLI doesn't have in `v0.8.0` called `helper`, which was removed before `v0.8.0`.

I want to say the error was resolved in this pr: https://github.com/tektoncd/cli/pull/586

[2020-04-09 04:35] danielhelfand commented on #882
Looking a little deeper, it seems as if the TaskRun status is being returned as nil and causing the panic  here:

https://github.com/tektoncd/cli/blob/6eae6df140e49e4bee01e65b4967bbf269d10c34/pkg/pipelinerun/description/description.go#L111

Not exactly sure what is leading to this, but adding a nil check on status results in the following:

[code]

There's also the issue of doing a nil check in th

[2020-04-09 14:57] danielhelfand commented on #882
Debugging this further, the TaskRun with a nil Start Time is coming from the PipelineTask `third-hello`. Doing a `kubectl describe` on the TaskRun shows it has a Start Time under Status:

[code]

I am wondering if this has anything to do with the fact that this command has not been updated to `v1beta1`:

https://github.com/tektoncd/cli/blob/6eae6df140e49e4bee01e65b4967bbf269d10c34/pkg/pipelinerun/

[2020-04-09 20:17] danielhelfand commented on #872
I see no reason why supporting both aren't applicable here since both are available with `logs`.

[2020-04-10 13:57] danielhelfand opened #886 "Update Version Param for golang-build Task in release-pipeline to Go v1.14.0"
## WARNING BEFORE STARTING WORK ON THIS

This should be tested out during the release of `v0.9.0` before submitting a pr or introducing this change.

## Proposal

Due to an issue of failing unit tests during the `tkn v0.8.0` release due to an error message changing its format in go v1.14.0, the `golang-build` Task used for the `tkn` release Pipeline is pinned to [go v1.13.8](https://github.com/tek

[2020-04-11 05:26] piyush-garg commented on #817
I think this issue is related to some resources only

- [ ] Task - Raised PR #870
- [ ] ClusterTask - Raised PR #888
- [ ] Taskrun - Raised PR #884

Let me know if you face this with Pipeline or PipelineRun

[2020-04-11 22:22] anshulvermapatel commented on #872
@danielhelfand , Okay .. I am creating a PR with that. Please have a look.

[2020-04-12 00:13] anshulvermapatel commented on #871
/assign

[2020-04-12 14:04] danielhelfand commented on #839
Full list of resources affected:

- [ ] PipelineRun describe:
- [x] Task describe #881
- [ ] Pipeline describe
- [ ] ClusterTask describe

[2020-04-12 15:52] danielhelfand commented on #817
Yeah, I believe you're correct. It seems what this came down to was the changes in Task in a Task Spec. Possibly to more closely align it with how Pipeline's spec is.

[2020-04-13 19:39] danielhelfand opened #895 "Better Description for --workspace/-w Option for Pipeline/Task Start"
Regardless of a user's level of expertise with workspaces, the following descriptions of the `--workspace` options for `tkn pipeline start`/`tkn task start` are not the most informative as part as what is to be included as arguments to these options:

**Pipeline:**

https://github.com/tektoncd/cli/blob/fdf5a9e7e38939bc46f67a0c239b521e6f272e89/pkg/cmd/pipeline/start.go#L156

**Task:**

https://gith

[2020-04-14 12:27] danielhelfand commented on #801
As discussed in the working group on 4/14/20, the preference might be to go with more of an approach where users can pipe (`|`) a list command into an associated count tool depending on os. We'll close this for now as the plan is to not support this moving forward, but can be revisited if someone has a use case for it.

[2020-04-14 12:27] #801 closed

[2020-04-14 12:45] danielhelfand commented on #839
It looks like we actually already support this with [`PipelineRun`](https://github.com/tektoncd/cli/blob/6dad772d2bd697c0f66ec404a4db73b449b2cfa3/pkg/pipelinerun/description/description.go#L111), so this should be resolved.

[2020-04-14 12:45] #839 closed

[2020-04-14 12:51] danielhelfand commented on #865
We'll be moving forward with this approach to address this as discussed in the working group on 4/14/20:

[2020-04-14 12:53] danielhelfand commented on #874
After discussing in the working group on 4/14/20, the thought process here is to support and interactive create and update option. While tektoncd/pipeline#2335 has not been put in place as far as supporting namespaced configs, the initial implementation of this feature could be to support the cluster-wide config-default approach that Tekton currently has. This feature should also factor in https:/

[2020-04-15 12:50] vdemeester commented on #786
Should be closed by #869
/close

[2020-04-15 12:50] #786 closed

[2020-04-15 13:25] #820 closed

[2020-04-15 18:08] piyush-garg opened #900 "Task and ClusterTask Describe showing all taskruns"
Right now when we have a clustertask and task with same name, and after creating taskrun for both, if we do list it by name it returns all taskruns of both clustertask and task.

Also describe commands show all taskruns of both

# Version and Operating System

**tkn Version:** 0.8.0

**Operating System:**

# Expected Behavior

# Actual Behavior

# Steps to Reproduce the Problem

1. Create task and

[2020-04-15 18:08] piyush-garg commented on #900
/kind bug
/assign

[2020-04-16 06:01] #900 closed

[2020-04-16 08:39] chmouel opened #903 "Debian package are not seeting the version properly"
# Version and Operating System

**tkn Version:**

0.8.0

**Operating System:**

Debian

# Expected Behavior

Show released version of the package

# Actual Behavior

Show the build date

# Steps to Reproduce the Problem

1. tkn version

# Additional Info

https://tektoncd.slack.com/archives/CJ4U55L93/p1586872366049400

/assign

[2020-04-16 09:15] #903 closed

[2020-04-16 14:48] #733 closed

[2020-04-16 16:18] danielhelfand commented on #882
So I had to make some minor changes for the to the example above to debug this correctly, and I am sharing what I have below:

[code]

The problem seems to be that when a condition is part of a TaskRun, the condition name is added to the TaskRun name: `hello-hello-third-hello-4lm88-do-extra-hello-74dhm`. What is coming back from the server for the name of TaskRun is `hello-hello-third-hello-4lm88`

[2020-04-16 19:16] danielhelfand commented on #865
Just adding a list here of what resources are impacted/progress. Pipeline/Task start commands have been addressed, but we'll need to wait until after the next release to address the issue with ClusterTask start:

- [x] Pipeline #901
- [x] Task #901
- [ ] ClusterTask

[2020-04-17 07:02] anshulvermapatel opened #909 "`logs` command for PipelineRun/Taskrun does not validate `--limit`"
`logs` command for PipelineRun/Taskrun does not validate the `--limit` option to give an error if the limit is given <= 0

**tkn Version:**
Client version: 0.8.0

**Operating System:**
Fedora 31

# Expected Behavior
$ tkn pr logs --limit 0
Error: limit was 0 but must be a positive number
$ tkn tr logs --limit 0
Error: limit was 0 but must be a positive number

# Actual Behavior
$ tkn pr logs --lim

[2020-04-17 07:03] anshulvermapatel commented on #909
@danielhelfand , Can you please confirm that this is not there intentionally?

/assign

[2020-04-17 07:23] vdemeester commented on #909
I don't think this is intentional, so it's a bug indeed

/kind bug

[2020-04-17 08:02] piyush-garg commented on #817
All three PR's are merged. I am closing this issue now.

[2020-04-17 08:02] #817 closed

[2020-04-17 10:49] #802 closed

[2020-04-20 05:16] VeereshAradhya opened #914 "Emoticons and colors are not displaying properly on Windows"
# Version and Operating System

**tkn Version:**
Latest dev

**Operating System:**
Microsoft Windows-10 Enterprise(10.0.15063)

# Expected Behavior
Emoticons and colors should display properly on Windows-10 machine

# Actual Behavior
Emoticons and colors are not getting displayed properly on Windows-10 machine

# Steps to Reproduce the Problem

1. Create and start a task using `tkn task start` com

[2020-04-20 05:37] piyush-garg commented on #914
/kind bug

[2020-04-20 06:24] VeereshAradhya opened #915 "tkn tr/pr logs command is turning the command prompt into green on Windows"
# Version and Operating System

**tkn Version:**
Latest dev

**Operating System:**
Microsoft Windows-10 Enterprise(10.0.15063)

# Expected Behavior
Once the logs are printed (green) the command prompt should continue to be in previous color (white)

# Actual Behavior
Once the logs are printed (green) the command prompt is getting displayed in green color

# Steps to Reproduce the Problem

1. Creat

[2020-04-20 09:02] chmouel commented on #915
What about if you are using `--nocolour` flag, does it still turn the prompt in green?

[2020-04-20 09:03] chmouel commented on #914
We probably should disable it if we are on windows

[2020-04-20 09:13] VeereshAradhya commented on #915
If we are using `-C, --nocolor` flag, it works fine. I have mentioned that in  **Note** section in description

[2020-04-20 09:43] chmouel commented on #915
we are using `fatih/color` library, since it has been archived and can't fix it, we can either :

1) disable colour and emojis on windows
2) try to find another library supporting windows terminal colours

I think we should do 1 until someone cares enough about windows support to go down the road of 2)

[2020-04-20 09:43] chmouel commented on #915
/kind bugs

[2020-04-20 10:25] vdemeester commented on #915
/kind bug

[2020-04-20 11:20] VeereshAradhya commented on #914
Tested with powershell and updated the description

[2020-04-20 11:24] VeereshAradhya commented on #915
Tested with powershell and updated the description

[2020-04-20 12:24] chmouel commented on #915
the README of fatih/color actually says that it support windows terminal colors, so it maybe how we use it that's buggy

[2020-04-20 13:48] danielhelfand opened #916 "Inconsistent Experience Between Using Interactive tkn task/pipeline Logs"
When using `tkn pipeline logs` interactive mode, if only one Pipeline exists in a namespace, the PipelineRuns for that Pipeline are instantly displayed for a user to select from:

[code]

This same experience does not exist when using `tkn task logs`. If only one Task exists in the namespace, it still asks the user to select the Task before TaskRuns are displayed:

[code]

# Steps to Reproduce the

[2020-04-20 14:04] piyush-garg commented on #916
I will rather mark it as a feature, we implemented it for the pipeline but not for task and we can add that

[2020-04-20 14:05] #882 closed

[2020-04-20 14:29] #909 closed

[2020-04-20 14:53] ppitonak commented on #914
IMHO there should be a CLI switch for disabling it explicitly (+ disable by default on Win) because sometimes you don't want emoticons and color when exporting logs to external systems.

[2020-04-20 15:41] chmouel commented on #914
if you do `--nocolour` it will disable emoticon as well....

And even tho if you do a redirection (i.e: not terminal stty) to a file the emoticons and colours will be disabled by default....

[2020-04-21 07:27] chmouel commented on #914
@VeereshAradhya is it something you can do ? As I don't have a windows machine, I won't be able to fix it  (but i can disable it if we run on windows)

[2020-04-21 07:28] chmouel commented on #621
/close

[2020-04-21 07:28] #621 closed

[2020-04-21 07:29] chmouel commented on #596
/close

[2020-04-21 07:29] #596 closed

[2020-04-21 08:15] chmouel commented on #915
/assign

Let's disable the colouring until a dev who has windows and can fix it...

[2020-04-21 08:15] chmouel commented on #914
/assign

[2020-04-21 08:20] chmouel commented on #914
@VeereshAradhya can you test https://drive.google.com/open?id=1IWYIMlwqTr4tCLiUAcTmB245h72-dM9d please ?

thanks!

[2020-04-21 08:57] VeereshAradhya commented on #914
Tested the executable given by @chmouel . Both color and emoticons are disabled
**Command Prompt**:
![Screenshot from 2020-04-21 14-22-23](https://user-images.githubusercontent.com/13780748/79846468-1c5b2300-83dc-11ea-8444-6fff3b446474.png)

**Powershell**
![Screenshot from 2020-04-21 14-25-00](https://user-images.githubusercontent.com/13780748/79846591-41e82c80-83dc-11ea-9fd0-389caac0b4b3.png)

[2020-04-21 09:59] #914 closed

[2020-04-21 10:53] chmouel commented on #915
/close

[2020-04-21 10:53] #915 closed

[2020-04-21 13:29] VeereshAradhya opened #920 "Negative Started and aged time is shown in Windows"
# Version and Operating System

**tkn Version:**
Latest dev

**Operating System:**
Microsoft Windows-10 Enterprise(10.0.15063)

# Expected Behavior
Time should be positive

# Actual Behavior
Negative time is shown

# Steps to Reproduce the Problem

1. Create a task
2. Start the task with command `tkn task start`
3. Immediately list the task using `tkn taskrun list` and observe the `STARTED` field

[2020-04-21 13:30] vdemeester commented on #920
@VeereshAradhya might be a small delay between the server and the client clocks too :sweat_smile:

[2020-04-21 15:06] danielhelfand commented on #594
Updated list for #912

[2020-04-21 15:19] savitaashture commented on #594
/assign

[2020-04-22 06:16] VeereshAradhya commented on #920
Working as expected

[2020-04-22 06:16] #920 closed

[2020-04-22 07:10] anshulvermapatel commented on #916
/assign

[2020-04-22 08:34] VeereshAradhya opened #925 "tkn version shows the pipeline version as unknown when pipeline is installed in the namespace other than tekton-pipelines"
# Version and Operating System

**tkn Version:**
Latest

**Operating System:**
All

# Expected Behavior
`tkn version` should show pipeline version even if the pipeline is installed in any namespace

# Actual Behavior
`tkn version` shows pipeline version as unknown when pipeline is installed in namespace `tekton-pipelines`

# Steps to Reproduce the Problem

1. Install pipeline in any namespace othe

[2020-04-22 08:35] VeereshAradhya commented on #925
/assign @piyush-garg

[2020-04-22 08:42] vdemeester commented on #925
/kind bug

[2020-04-22 14:52] savitaashture opened #929 "Add params description to the describe command"
The following commands do not include params description in the describe subcommands: ClusterTask, Pipeline,Task, TriggerTemplate.

# Additional Info

- [x] ClusterTask https://github.com/tektoncd/cli/pull/930
- [x] Pipeline https://github.com/tektoncd/cli/pull/930
- [x] Task https://github.com/tektoncd/cli/pull/930
- [x] TriggerTemplate https://github.com/tektoncd/cli/pull/928

[2020-04-22 14:52] savitaashture commented on #929
/assign

[2020-04-22 14:55] vdemeester commented on #929
/kind feature

[2020-04-23 11:46] piyush-garg opened #931 "Task/ ClusterTask and TaskRun convertDown are not working as expected for backward compatibilty"
The convertDown function for Task and TaskRun to convert v1beta1 to v1alpha are not working as expected for CLI as they will not exactly convert to v0.10.x form because of Spec Changes.

We need to do it in CLI for our backward compatibility support.

It has broken our task backward compatibility support

/kind bug
/assign

cc @vdemeester @pradeepitm12

[2020-04-24 10:50] #931 closed

[2020-04-24 15:40] piyush-garg commented on #929
/close

fixed with #930

[2020-04-24 15:40] #929 closed

[2020-04-24 15:40] piyush-garg commented on #731
/close

All the tasks have been bumped. We will file issues separately if found anything. :tada:

[2020-04-24 15:40] #731 closed

[2020-04-25 13:51] danielhelfand commented on #668
/assign

[2020-04-27 09:24] #925 closed

[2020-04-28 06:42] piyush-garg commented on #594
/close

All subcommands done. Closing this cc @vdemeester @danielhelfand @savitaashture

[2020-04-28 06:42] #594 closed

[2020-04-28 06:42] piyush-garg commented on #680
@vdemeester I think we have done this, can i close this

[2020-04-28 06:43] #680 closed

[2020-04-28 08:50] Megan-Wright opened #940 "tkn pipeline start - workspaces are always read-only"
# Expected Behavior

When I run tkn pipeline start, using a workspace which I have not specified to be read-only, I expect the workspace to have read/write access.

# Actual Behavior
 The PipelineRun fails with errors:
[code]
 etc. I have also tried specifying `readOnly: false` but this does not work either.

# Steps to Reproduce the Problem

1. Using master of tkn, run `tkn pipeline start` specif

[2020-04-28 09:22] vdemeester commented on #940
/kind bug

[2020-04-28 11:27] #916 closed

[2020-04-28 12:13] piyush-garg commented on #940
/assign

[2020-04-28 15:02] piyush-garg commented on #940
@Megan-Wright @a-roberts I just had a look over this. Pipeline/Task start command just map your workspace to a PVC or config or secret. It does nothing in terms of the creation of PVC. It just references the existing PVC in the cluster. So this issue is not happening at the CLI level.

Things to note:
1. CLI is still on Pipeline 0.11.x so we yet not support `volumeClaimTemplate` if it works by not

[2020-04-28 15:19] Megan-Wright commented on #940
@piyush-garg Thanks so much for looking into this - I've been using master of CLI so I shouldn't be affected by anything not supported in the last release, and I've been able to run the pipeline successfully without using tkn... that was why I was thinking it must be a CLI issue.

[2020-04-30 08:21] piyush-garg opened #949 "Taskrun step and status shown as `---` even after complete run"
# Expected Behavior

Taskrun describe command should show the actual status of step and sidecar

# Actual Behavior

Taskrun describe show the status as `---`

# Steps to Reproduce the Problem

1. Create a task and taskrun
2. hit `tkn tr describe taskrunname` command
3. You will see the output like
[code]

# Additional Info

tkn version: `0.9.0`

/kind bug

[2020-04-30 08:22] piyush-garg commented on #949
I have raised https://github.com/tektoncd/pipeline/pull/2511 to fix this in the pipeline

/assign

[2020-04-30 12:43] Megan-Wright commented on #940
@danielhelfand the resources I'm using are all in this folder: https://github.com/rhd-gitops-example/services/tree/master/tekton-example - sorry for the delayed response, I've ben working the past few days to update and refactor these to make them simpler to use.

[2020-04-30 12:51] danielhelfand opened #950 "Adapt --filename Option to Also Start TaskRuns/PipelineRuns from a Local or Remote File"
# Expected Behavior

The `--filename` or `-f` option for `tkn pipeline start` and `tkn task start` currently only allow users to start a PipelineRun/TaskRun from a file with a Pipeline/Task defined. The `-f` option should also allow users to pass as input a PipelineRun/TaskRun to start. This would help with issues like #668 for specifying a PodTemplate as part of a TaskRun/PipelineRun.

Examples:

[2020-04-30 12:51] danielhelfand commented on #950
/assign

[2020-04-30 13:14] vdemeester commented on #940
@Megan-Wright Looking at https://github.com/rhd-gitops-example/services/blob/379c24b73b4d23168b64efc3d2ed891ec3736c23/tekton-example/templates/resources.yaml#L36 and [Persistent volumes](https://kubernetes.io/docs/concepts/storage/persistent-volumes/)

It's very likely that the PV got mounted on a different node than the one the task is currently scheduled (given that it's a workspace, I'm guessin

[2020-04-30 13:30] danielhelfand opened #951 "Support for taskRunSpecs Property of a PipelineRun with tkn pipeline start"
# Expected Behavior

Related:
https://github.com/tektoncd/pipeline/issues/2362
https://github.com/tektoncd/pipeline/pull/2389

Pipelines is adding support for allowing TaskRun properties to be defined for TaskRuns that are part of a PipelineRun. As of the current state of https://github.com/tektoncd/pipeline/pull/2389, this will occur via a `taskRunSpecs` property that is part of a PipelineRun spe

[2020-04-30 13:36] #784 closed

[2020-04-30 14:16] Megan-Wright commented on #940
Hi @vdemeester thanks so much for the suggestions :) I've tried using `ReadWriteMany` for my PVC and this unfortunately hasn't made a difference, I'm still getting the same errors in the PipelineRun...

[2020-04-30 14:49] vdemeester commented on #940
huh :thinking: can you append `--dry-run --output yaml` to your `start` commands to see what is the generated object (in yaml form) that is sent to the API ?

[2020-04-30 15:12] Megan-Wright commented on #940
@vdemeester
[code]

[2020-04-30 15:55] #865 closed

[2020-05-01 06:49] #816 closed

[2020-05-01 12:59] #247 closed

[2020-05-04 06:59] waveywaves commented on #764
/assign @sm43

[2020-05-04 06:59] waveywaves commented on #765
/assign @SM43

[2020-05-04 09:04] vdemeester commented on #940
Hum, the workspace is a secret, so it is by design read-only (see https://github.com/tektoncd/pipeline/blob/master/docs/workspaces.md#secret).
@Megan-Wright what command did you ran ? :thinking:

[2020-05-04 09:20] Megan-Wright commented on #940
Hi Vincent - ah I didn't know that... I chose the secret one because it  looked  more relevant than any of the other options - do you know what I could use instead so that it could not be read-only? The command I did is this:
[code]

[2020-05-04 10:31] siamaksade opened #955 "Trigger resources are not listed"
`tkn` doesn't list triggertemplates:

[code]

Neither does it for EventListeners and TriggerBindings.

[2020-05-04 10:46] chmouel commented on #955
/kind bug

[2020-05-04 11:12] vdemeester commented on #955
@siamaksade which version ? :angel:

[2020-05-04 12:24] danielhelfand commented on #955
Seems to work with 0.9.0:

[code]

[2020-05-04 12:48] piyush-garg commented on #955
There is the apiVersion change from `tekton.dev` to `triggers.tekton.dev` in triggers `0.4.0` CRDs and that change happened in CLI with `0.9.0`

[2020-05-04 12:59] VeereshAradhya opened #956 "task start with --dry-run does not throw any error if the task expects params and not provided"
# Version and Operating System

**tkn Version:**
v0.9.0

**Operating System:**
All

# Expected Behavior
the command should output some error message saying task expects params

# Actual Behavior
the command is generating taskrun without throwing any error

# Steps to Reproduce the Problem

1. Create a task which takes param and which does not have have any default value for param
2. run the comman

[2020-05-04 13:34] bobcatfish opened #957 "tkn should not output escape codes when piping into tool like vim"
# Version and Operating System

**tkn Version:**

Built from HEAD @ https://github.com/tektoncd/cli/commit/f7706b51b48d3fb0b0c87ce209a4b8e8cf67bed0

**Operating System:**

MacOS

# Expected Behavior

Running `tkn tr logs pipeline-release-nightly-w9cjw-publish-images-krlpp | vim -` should produce readable output.

# Actual Behavior

Terminal escape codes are included, producing an experience like t

[2020-05-04 13:36] bobcatfish commented on #957
Whoops, this was my bad! tkn already does this - my terminal was just very narrow and I jumped to some conclusions.

[2020-05-04 13:36] #957 closed

[2020-05-04 14:27] danielhelfand commented on #956
This is not just for `--dry-run`. This is what happens for starting a Task without `--dry-run` as well. It seems there isn't the same validation of resources/params for `tkn task start` like there is for `tkn pipeline start`, which provides an interactive mode for specifying param values if none are provided. However, `tkn pipeline start` doesn't validate this case if `--use-param-defaults` is spe

[2020-05-04 14:43] danielhelfand opened #958 "Workspace Option for tkn clustertask start"
# Expected Behavior

Similar to what was implemented in #826 and #854 for `tkn pipeline start` and `tkn task start`, there should be a `workspace` option for `tkn clustertask start` implemented exactly as #826 and #854 were implemented to connect a workspace when using `tkn clustertask start`.

This also should account for whether `tkn clustertask start` with workspaces should support an interacti

[2020-05-04 17:57] VeereshAradhya opened #959 "Unable to start task with -f flag if the task definition file contains params with no default value"
# Version and Operating System

**tkn Version:**
v0.9.0

**Operating System:**
All

# Expected Behavior
Taskrun should get created

# Actual Behavior
The command is throwing the error `Error: param 'test-param' not present in spec`

# Steps to Reproduce the Problem

1. Create a task definition in a yaml file with params with no default values
2. Start the taskrun using the command `tkn task start

[2020-05-04 18:04] pradeepitm12 commented on #959
/assign

[2020-05-04 18:49] danielhelfand commented on #959
The params will be on the TaskSpec in this case as opposed to the TaskRunSpec, which is causing the issue:

https://github.com/tektoncd/cli/blob/f7706b51b48d3fb0b0c87ce209a4b8e8cf67bed0/pkg/cmd/task/start.go#L323

[2020-05-04 19:13] danielhelfand commented on #959
This also affects `tkn pipeline start`:

https://github.com/tektoncd/cli/blob/f7706b51b48d3fb0b0c87ce209a4b8e8cf67bed0/pkg/cmd/pipeline/start.go#L270

[2020-05-04 23:18] anshulvermapatel commented on #958
/assign

[2020-05-05 06:41] pradeepitm12 commented on #959
I tried with the older version of pipeline and CLI, the bug exists there as well.

[2020-05-05 11:37] siamaksade commented on #955
Can't reproduce on a new cluster. Closing for now

[2020-05-05 11:37] #955 closed

[2020-05-05 11:48] danielhelfand commented on #959
@pradeepitm12 Yes, I think this was missed from the original implementation of this.

[2020-05-05 15:49] ekarlso opened #963 "tkn logs gives too many files open."
# Version and Operating System

**tkn Version:**
Client version: 0.9.0
Pipeline version: v0.12.0

**Operating System:**
Ubuntu 20.04

# Expected Behavior
It wouldn't give errors

# Actual Behavior

Lots of fsnotify errors about too many open files.

[code]

# Steps to Reproduce the Problem

Start pipeline for my sake and tkn pipelinerun logs -f <...>

# Additional Info
AKS version 1.15.10

[2020-05-05 16:00] danielhelfand commented on #963
Thanks for opening this @ekarlso. If you are comfortable with doing so, could you share your Tasks/Pipeline and how you are starting your PipelineRun (i.e., `kubectl` or `tkn`)?

[2020-05-06 09:37] VeereshAradhya opened #965 "`tkn pr delete -p <pipeline-name> --keep n` neglects the `-p <pipeline-name>` flag"
# Version and Operating System

**tkn Version:**
v0.9.0

**Operating System:**
All

# Expected Behavior
The command `tkn pr delete -p <pipeline-name> --keep 2` should delete all the pipeline runs of the pipeline `<pipeline-name>` except for the latest 2 pipeline runs

# Actual Behavior
The command `tkn pr delete -p <pipeline-name> --keep 2` is working as `tkn pr delete --keep 2`, it is deleting al

[2020-05-06 09:37] VeereshAradhya commented on #965
/assign @piyush-garg

[2020-05-06 09:48] piyush-garg commented on #965
/kind bug

[2020-05-06 13:07] #959 closed

[2020-05-06 15:18] VeereshAradhya opened #966 "`trigger triggertemplate describe` output shows ResourceTemplates in json"
# Version and Operating System

**tkn Version:**
v0.9.0

**Operating System:**
All

# Expected Behavior
`tkn triggertemplate describe` should not show `ResourceTemplates` in json format

# Actual Behavior
`trigger triggertemplate describe` output shows `ResourceTemplates` in json

# Steps to Reproduce the Problem

1. Create a trigger template
2. Describe the trigger template with the command `tkn

[2020-05-06 17:57] ekarlso commented on #963
pipeline

[code]

upstream git clone task
tf-plan task
[code]

[2020-05-06 19:23] danielhelfand opened #968 "Step Statuses Not Available on TaskRunStatus"
# Version

[code]

# Expected Behavior

Running a `tkn tr desc` on a TaskRun should show the `STATUS` of a step (e.g. whether an error occurred or it completed successfully).

# Actual Behavior

Only `---` is ever displayed for the step status:

[code]

# Steps to Reproduce the Problem

1. Start a TaskRun and run `tkn tr desc` on it.

# Additional Info

This is happening because the TaskRunStatus

[2020-05-06 19:47] danielhelfand commented on #968
Switching from `tr, err := taskrun.Get(cs, trName, metav1.GetOptions{}, p.Namespace()) to `tr, err := cs.Tekton.TektonV1beta1().TaskRuns(p.Namespace()).Get(trName, metav1.GetOptions{})` resolved the issue, so this appears to be related to updates made around supporting both `v1alpha1`/`v1beta1`.

[code]

[2020-05-06 23:32] VeereshAradhya opened #969 "`tkn pr logs <pr-name>` shows `No logs found` before showing the logs for a running pipeline run"
# Version and Operating System

**tkn Version:**
v0.9.0

**Operating System:**
All

# Expected Behavior
`tkn pr logs <pr-name>` should not show `No logs found` if the log is available for a running Pipelinerun

# Actual Behavior
`tkn pr logs <pr-name>` showing `No logs found` before showing the logs for a running pipeline run

# Steps to Reproduce the Problem

1. Create a task which runs for somet

[2020-05-07 02:44] piyush-garg commented on #968
Duplicate of #949

PR for this has been raised https://github.com/tektoncd/pipeline/pull/2511 I think it is there in 0.12.x so next bump will fix this

[2020-05-07 02:49] danielhelfand commented on #968
@piyush-garg Thanks! Sorry I missed it. Will close.

[2020-05-07 02:49] #968 closed

[2020-05-07 10:21] VeereshAradhya opened #970 "`tkn task delete <t1> <t2> ..<tn> --trs` does not delete all the taskruns of the tasks `<t1> <t2>..<tn>`"
# Version and Operating System

**tkn Version:**
v0.9.0

**Operating System:**
All

# Expected Behavior
`tkn task delete <t1> <t2>..<tn> --trs` should delete all the taskruns of `<t1> <t2>..<tn>`

# Actual Behavior
`tkn task delete <t1> <t2>..<tn> --trs` is not deleting all the taskruns of the tasks `<t1> <t2>..<tn>`

# Steps to Reproduce the Problem

1. Create Multiple tasks with params
2. Start

[2020-05-07 10:22] vdemeester commented on #970
/kind bug

[2020-05-07 13:27] piyush-garg commented on #969
/kind bug

[2020-05-08 10:07] VeereshAradhya opened #972 "`tkn task delete <name> --trs` deletes the taskrun created by clustertask if the name of task and clustertask is same"
# Version and Operating System

**tkn Version:**
v0.9.0

**Operating System:**
All

# Expected Behavior
`tkn task delete <name> --trs` should delete only the taskruns that are crated by task `<name>`

# Actual Behavior
`tkn task delete <name> --trs` is deleting the taskruns of both task and clustertask if the the name of task and custertask is same

# Steps to Reproduce the Problem

1. Create a ta

[2020-05-08 10:18] VeereshAradhya commented on #972
/assign @piyush-garg

[2020-05-11 04:32] savitaashture commented on #966
/assign

[2020-05-11 06:33] chetan-rns commented on #783
/assign

[2020-05-11 08:35] vinamra28 commented on #701
/assign

[2020-05-11 08:36] vinamra28 commented on #701
/assign

[2020-05-12 12:08] vdemeester commented on #966
/kind cleanup

[2020-05-12 12:12] vdemeester commented on #956
We should try to use server-side dry-run support (like `kubectl`) if present, as it runs the admission controller on those (defaults, conversions, validation,…), see https://kubernetes.io/blog/2019/01/14/apiserver-dry-run-and-kubectl-diff/

[2020-05-12 12:31] piyush-garg commented on #972
/kind bug

[2020-05-12 12:56] danielhelfand commented on #790
Discussed in working group on 5/12. We'll move forward with this approach and this issue can be picked up. Ideally, this would all be added in the same release for all describe commands.

[2020-05-12 12:58] danielhelfand commented on #950
Discussed in working group on 5/12/20. Will look into using [`kustomize`](https://github.com/kubernetes-sigs/kustomize#kustomize) here to help with PodTemplate support.

[2020-05-12 14:19] chmouel commented on #642
We discussed this at today's WG  and option 1) seems to be the prefered option

[2020-05-12 14:22] danielhelfand commented on #951
Discussed in working group on 5/12/20. Will look into using [`kustomize`](https://github.com/kubernetes-sigs/kustomize#kustomize) here to help with taskRunSpec support. The pr has been merged and we'll need to wait for a pipelines release with this feature included to start development.

[2020-05-12 15:45] savitaashture opened #980 "Add installed triggers version information to tkn version command"
**Background:**

If the running cluster have Triggers installed the `tkn version` command should display the installed triggers version
# Version and Operating System

**tkn Version:**
latest (from master branch)

**Operating System:**
All

# Expected Behavior
[code]

# Actual Behavior
[code]

/kind feature

[2020-05-12 15:45] savitaashture commented on #980
/assign

[2020-05-13 05:59] waveywaves commented on #684
This would be very useful to have.

[2020-05-13 09:56] SM43 commented on #684
/assign

[2020-05-13 13:00] #701 closed

[2020-05-14 16:57] VeereshAradhya opened #982 "`tkn pipeline start -f <file-name>` does not validate the pipeline definition properly"
# Version and Operating System

**tkn Version:**
v0.9.0

**Operating System:**
All

# Expected Behavior
`tkn pipeline start -f <file-name>` should validate the file and should throw error if spec is not proper

# Actual Behavior
`tkn pipeline start -f <file-name>` does not validate the pipeline definition properly

# Steps to Reproduce the Problem

1. Create tasks `t1` and `t2` and condition `c1`

[2020-05-14 17:04] VeereshAradhya commented on #982
/kind bug

[2020-05-14 17:07] danielhelfand commented on #982
@VeereshAradhya `kubectl apply -f pipeline.yaml` is not equal to `tkn pipeline start -f pipeline.yaml`. `tkn pipeline start -f` starts a pipelinerun that does not exist on a cluster. `kubectl apply -f pipeline.yaml` would create a pipeline on a cluster.

I am going to assume your PipelineRun fails at which point the server should return an error saying why. If that is the case, then I think this i

[2020-05-14 17:16] danielhelfand commented on #982
That being said, this fits into the conversation of #956 and perhaps can be added to the discussion of that issue.

[2020-05-14 17:16] VeereshAradhya commented on #982
@danielhelfand I just used `kubectl apply -f pipeline_invalid.yaml` to show that the pipeline definition file is not proper. The pipeline run in the above scenario does not fail, it neglects the `conditons` and `runaftr` and starts both the tasks `run-python-script` and `run-python-script-2` in parallel and finishes successfully.

 if the user does some typo on  `conditions` or `runAfter` and star

[2020-05-14 17:21] danielhelfand commented on #982
Then it's very possible that it's a server-side validation issue. Can you reproduce this scenario with kubectl using a PipelineRun?

Agreed, just a matter of where that validation takes place/if pipelines is doing so properly.

[2020-05-14 17:23] VeereshAradhya commented on #982
Ah ok.. I will try and update

[2020-05-14 17:27] danielhelfand commented on #982
The key is to create the PipelineRun similar to how we would do it with `tkn`:

https://github.com/tektoncd/cli/blob/27f9e03ece51cdd4ae6b4f4189759dde383a57ee/pkg/cmd/pipeline/start.go#L218

Basically including the PipelineSpec as part of the PipelineRun's PipelineSpec.

[2020-05-14 17:59] piyush-garg commented on #982
@danielhelfand @VeereshAradhya

It seems like an issue with our `Unmarshal` in the pipeline struct. If you see https://github.com/tektoncd/cli/blob/27f9e03ece51cdd4ae6b4f4189759dde383a57ee/pkg/cmd/pipeline/start.go#L763 it ignores the invalid field and takes the valid one only.

So we are getting incomplete file and pipelinerun proceeds if something got ignored which is optional lie `runafter`

[2020-05-14 18:00] VeereshAradhya commented on #982
@danielhelfand , Tried the same scenario with the pipelinerun, `kubectl` is throwing error: `Error from server (BadRequest): error when creating "pipelinerun_invalid.yaml": admission webhook "webhook.pipeline.tekton.dev" denied the request: mutation failed: cannot decode incoming new object: json: unknown field "conditons"`

Below are the command logs
[code]

[2020-05-15 10:01] vinamra28 commented on #969
/assign

[2020-05-16 14:32] mattmoor opened #983 "Update knative/pkg"
This is on a slightly older knative/pkg than pipelines, and there is a breaking change that needs to be picked up (I was playing with vendoring this).

Basically `ConvertUp` -> `ConvertTo` and `ConvertDown` -> `ConvertFrom`.

cc @vdemeester

[2020-05-17 21:55] anshulvermapatel commented on #970
/assign

[2020-05-17 21:57] anshulvermapatel commented on #963
/assign

[2020-05-18 07:18] piyush-garg opened #984 "Bump pipeline and triggers dep"
We should bump the tektoncd/pipeline  to 0.12.x and tektoncd/triggers to 0.5.x

/kind feature
/assign

[2020-05-18 10:00] vdemeester commented on #963
My guess is that it is a `git-clone` task issue (so should probably be in catalog), and most likely this is related to `ko` (https://github.com/google/ko/search?q=fsnotify&unscoped_q=fsnotify)

[2020-05-18 10:01] vdemeester commented on #963
@tektoncd/catalog-maintainers ^^ (this is one reason to use `git` directly instead of writing our tool :stuck_out_tongue:)

[2020-05-18 10:06] chmouel commented on #963
@vdemeester let's talk about it for next catalog working group

(altho next, next WG since this thursday is a French public holiday and we won't be able to make it)

[2020-05-18 10:36] vdemeester commented on #984
This should also fix https://github.com/tektoncd/cli/issues/983 :)

[2020-05-18 12:08] ImJasonH commented on #963
I'm not sure it's related. `ko` only uses `fsnotify` in ["watch-mode"](https://github.com/google/ko#ko-apply---watch-experimental)

https://github.com/google/ko/blob/fba1d3d90a79e866b6b0f06b3c38b58af6f0e467/pkg/commands/options/filestuff.go#L53

So this should only possibly happen when you invoke `ko resolve -w`, which `tkn logs` and `git-clone` should definitely not be doing :)

[2020-05-18 13:44] danielhelfand commented on #982
/assign

[2020-05-19 03:38] #982 closed

[2020-05-19 09:30] #764 closed

[2020-05-19 11:33] vdemeester commented on #983
/kind cleanup

[2020-05-19 23:50] anshulvermapatel commented on #970
@VeereshAradhya , I too see that it does not delete all the related tr, Let me check this.

[2020-05-20 19:48] danielhelfand commented on #980
I believe this was addressed by #981. Feel free to reopen if I am mistaken.

[2020-05-20 19:48] #980 closed

[2020-05-20 20:27] danielhelfand commented on #965
/assign

[2020-05-22 06:15] Divyansh42 commented on #972
/assign

[2020-05-22 14:45] vinamra28 commented on #291
/assign

[2020-05-24 13:08] Divyansh42 opened #994 "Add `--trs` flag in `tkn ct delete <cluster-task-name>` command"
`--trs` flag is not provided in the `tkn ct delete <cluster-task-name>` command. `--trs` flag should delete all the TaskRun(s) started by the `Cluster Task`.

/kind feature

[2020-05-24 13:16] Divyansh42 commented on #994
/assign

[2020-05-25 06:34] SM43 commented on #684
Tracker for --field-selector in different list commands

- [ ] TaskRun
- [ ] PipelineRun
- [ ] Task
- [ ] Pipeline
- [ ] PipelineResource
- [ ] ClusterTask
- [ ] TriggerBinding
- [ ] TriggerTemplate
- [ ] ClusterTriggerBinding
- [ ] EventListener
- [ ] Condition

[2020-05-26 11:06] #972 closed

[2020-05-26 12:53] #413 closed

[2020-05-26 13:20] #969 closed

[2020-05-26 17:23] rvandegrift opened #997 "Debian package has incorrect package name"
The Debian package at [1] provides a binary package named `cli` - this name is not descriptive and makes searching for the package very hard.

According to `tekton/debbuild/control/control` the binary package should be named `tektoncd-cli`.  But either that control file is not used, or something mangles the name.

This isn't using the normal debian packaging tools, so I don't know how to fix.

# A

[2020-05-27 04:09] VeereshAradhya opened #998 "`tkn pr logs <pr-name>` shows `Error: pipelinerun has not started yet` for a Running pipeline"
# Version and Operating System

**tkn Version:**
Latest dev

**Operating System:**
All

# Expected Behavior
`tkn pr logs <pr-name>` should show the logs for running pipeline

# Actual Behavior
`tkn pr logs <pr-name>` shows `Error: pipelinerun has not started yet` for a Running pipeline

# Steps to Reproduce the Problem

1. Create a pipeline and start the pipeline
2. Make sure that the pipeline sta

[2020-05-27 05:46] piyush-garg commented on #998
/kind bug
/assign

[2020-05-27 06:03] NikeNano opened #999 "Resource validation using the CLI?"
# Version and Operating System
 -
**tkn Version:**
-
**Operating System:**
-
# Expected Behavior
Is it possible to validate resources using the tekton CLI? Is this something that are investigated?

It would be great to validate resources structures offline in order to improve workflow and speed.

# Actual Behavior
-
# Steps to Reproduce the Problem
-

# Additional Info
 -

[2020-05-27 10:45] praveen4g0 opened #1000 "interactive pipeline/task run fails with (-f) option"
# Expected Behavior
[code]

# Expected
Should throw validation errors if any while starting task/pipeline

# Actual
But I am seeing below error, when see logs
[code]

# Additional Info
 **workaround:** if we add type explicitly it works as expected, so I guess we need have validation check before starting pipeline or task run

[2020-05-27 13:49] lmserrano commented on #950
Also, it could be interesting to allow 2 different flags, one for specifying the `task.yaml` (`-f`, as you currently have it), and another for specifying the `taskrun.yaml` with all its parameters (`-F`, for example).

As a suggestion, an early version of this could simply invoke `kubectl create -f taskrun.yaml` underneath, but with the advantage of giving the nice output of the `tkn`:

[code]

[2020-05-27 14:39] danielhelfand commented on #999
@NikeNano Thanks for opening this!

Could you expound on what you mean by `validate resources structures`? Perhaps this is similar to #965 in that we need something similar to [`kubectl`'s server-side dry-run](https://github.com/tektoncd/cli/issues/956#issuecomment-627304006)?

[2020-05-27 15:43] NikeNano commented on #999
It is related to this work for kubeflow/kfp-tekton, https://github.com/kubeflow/kfp-tekton/issues/137. Is sound similar, the goal is to be able to validate resources both a sperate command or dry-run command which validates sounds good. Is it today possible to do dry runs for pipeline resources in order to check it the resources are valid, didint really understand from the converstation how to do

[2020-05-28 05:09] #983 closed

[2020-05-28 05:21] anshulvermapatel commented on #970
@VeereshAradhya , I observed that the TR which does not get deleted does not contain the label 'tekton.dev/task:<task_name>' in them. Can you please check from your side if you are observing the same?

[2020-05-28 05:22] anshulvermapatel commented on #970
This may be related to https://github.com/tektoncd/cli/issues/858

[2020-05-28 06:25] piyush-garg commented on #940
@Megan-Wright I am closing this issue considering not valid anymore. Please reopen if you still facing issues

[2020-05-28 06:25] #940 closed

[2020-05-28 06:27] piyush-garg commented on #763
@sudhirverma I am closing this issue. Feel free to reopen if required

[2020-05-28 06:27] #763 closed

[2020-05-29 02:54] anshulvermapatel commented on #970
https://github.com/tektoncd/cli/pull/993 seems to resolve this issue.
The `TaskRuns` were selected by using labels but sometimes the labels do not get applied to some of the `TaskRuns` like what is mentioned in https://github.com/tektoncd/cli/issues/858 for `Pipelines`, because of which they do not get included in the `TR` list for deletion.
The PR mentioned above selects the `TaskRun` on the basi

[2020-05-29 03:06] anshulvermapatel commented on #1000
I can work on this.
/assign

[2020-05-29 07:41] VeereshAradhya commented on #970
@anshulvermapatel Usually the taskruns with status ` Failed(TaskRunValidationFailed)` were not getting deleted with `--trs`. Now `tkn task start` has become interactive and because of that I am not able to create any taskruns with status ` Failed(TaskRunValidationFailed)` hence I am not able to reproduce the issue.

[2020-05-29 11:23] piyush-garg opened #1004 "Add support for Embedded Trigger Binding in Eventlistener"
`tkn evenlistener describe` needs to have support for embedded trigger binding in Eventlistener. This feature got added in latest v0.5.0 release.

# Additional Info

Tkn: v0.9.0
Triggers: v0.5.0

/kind feature

cc @khrm @savitaashture

[2020-05-31 00:24] anshulvermapatel commented on #970
@VeereshAradhya , Yaa I agree with you, they were not getting deleted, because previously the deletion used to happen on the basis of labels if a `TaskRun` had a label referring a particular `Task` (which is being deleted), only those `TaskRuns` were getting deleted. The main issue here was that the `Tasks` when started, did not properly add labels to all the `TaskRuns` because of which while dele

[2020-06-01 10:17] NikeNano commented on #999
friendly ping @danielhelfand

[2020-06-02 06:07] VeereshAradhya commented on #970
Yeah.. Since I am unable to reproduce the issue now, I am closing the issue.

[2020-06-02 06:07] #970 closed

[2020-06-02 08:28] #984 closed

[2020-06-02 09:08] mnuttall opened #1006 "tkn pipeline start --workspace support for volumeClaimTemplates"
# Version and Operating System

**tkn Version:** 0.9.0

**Operating System:**  Tekton Pipeline v0.12.1

# Expected Behavior

[volumeClaimTemplates](https://github.com/tektoncd/pipeline/issues/1986) in Pipelines v0.12.1 are a nice way to start PipelineRuns with a dynamically generated PersistentVolumeClaim (PVC). See [here](https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipeliner

[2020-06-02 09:15] jlpettersson commented on #1006
I could give this a try, haven't contributed to the cli yet.

I can try to implement:

[code]

[2020-06-02 09:45] vdemeester commented on #1006
/kind feature

[2020-06-02 09:46] vdemeester commented on #1006
/assign @jlpettersson

[2020-06-02 10:05] vdemeester commented on #999
Right, `tektoncd/pipeline` does support server-side `dry-run` now as far as I know, so we could add support for this in `tkn`, but this means we need a working kubernetes api-server (and tekton deployed) to validate things. As the validation code is part of the struct we are using, we could also code this directly in `tkn`

[2020-06-02 10:08] NikeNano commented on #999
Would it be of interest to add the validation directly in the CLI, I could work on a contribution if this is something that would fit in to the CLI? For the use case of Kubeflow and kubeflow/kfp-tekton the offline validation is what we are looking for. Thanks

[2020-06-02 10:18] vdemeester commented on #999
This is something we can discuss during today's call (or the next one), but I think it could make sense yeah.

/kind wg-discuss

[2020-06-02 10:21] NikeNano commented on #999
Great @vdemeester. I will sadly not be able to join the meeting but look forward to hear the outcome!

[2020-06-02 10:27] vdemeester commented on #1000
/kind bug

[2020-06-02 10:47] vdemeester commented on #997
/kind bug
/cc @chmouel

[2020-06-02 12:25] vdemeester commented on #999
So, in a gist, for now, `tkn` doesn't handle creation of definition types (we let this on `kubectl`). As discussed a bit during the working group, this would be a bit out of place if we allow validation generated yamls using `tkn` but not allowing for creation. Additionally, this is something we will need for  `tektoncd/catalog` test infrastructure (a bit like https://github.com/tektoncd/catalog/i

[2020-06-02 12:31] piyush-garg commented on #799
We can add the same for clustertriggerbinding and clustertask also

[2020-06-02 13:06] NikeNano commented on #999
Thanks for the update!

[2020-06-02 13:14] NikeNano commented on #999
Would it be of interest to contribute it in the sens of tektoncd/catalog instead? I am pushing this a bit in order to achieve something that will be updated over time instead of use building something that create a big burden to update for Kubeflow/kfp-tekton

[2020-06-02 13:22] vdemeester commented on #999
yeah it would, not sure where to put the code yet :stuck_out_tongue: (most likely more in `experimental` than `catalog` as we don't really want to hold re-usable code in the `catalog`, only re-usable tekton resources :stuck_out_tongue_closed_eyes: )

[2020-06-03 11:07] lstocchi opened #1007 "tkn pr ls <pipeline_name> doesn't show Failed(CouldntGetTask) pr"
# Version and Operating System

**tkn Version:**
0.9.0

**Operating System:**
Linux Fedora

# Expected Behavior
`tkn pr ls <pipeline_name> -n <namespace>` should show all pipelineruns for pipeline {pipeline_name}

# Actual Behavior
`tkn pr ls <pipeline_name> -n <namespace>` doesn't show pr which failed to start

# Steps to Reproduce the Problem

1. Create a pipeline that will never start. E.g a pi

[2020-06-03 13:34] #994 closed

[2020-06-04 03:40] waveywaves commented on #799
@piyush-garg Added ClusterTriggerBinding and ClusterTask to the tracker

[2020-06-04 05:25] Divyansh42 opened #1008 "Refactoring in unit tests"
Just figured out that at many places we are using both `v1alpha1` structs in `unit tests` related to `v1alpha` and `v1beta1` both.

We should use `v1alpha1` structs in `v1alpha1` and `v1beta1` structs in `v1beta1` unit tests.

e.g. https://github.com/tektoncd/cli/blob/master/pkg/cmd/clustertask/delete_test.go#L289-L296

I would also like to work on this Refactoring.

[2020-06-04 05:27] Divyansh42 commented on #1008
/assign

[2020-06-04 06:50] savitaashture commented on #1004
/assign

[2020-06-04 16:24] VeereshAradhya opened #1009 "Enable auto selection of the task for `describe` command if only one task is present"
# Version and Operating System

**tkn Version:**
latest develop

**Operating System:**
All

# Expected Behavior
The `describe` should auto select the task if only one task is present

# Actual Behavior
The `describe` expects user to select the resource even if there is only one task present

# Steps to Reproduce the Problem

1. Create a single task
2. run `tkn task describe`

# Additional Info
Com

[2020-06-05 08:29] #966 closed

[2020-06-08 08:28] piyush-garg commented on #1007
@lstocchi Can you please check one more thing if the `pipeline` name label got added to the failed run? Or also if you can put the yaml here.

When we filter by pipeline name, we basically filter by the label. Here is the code https://github.com/tektoncd/cli/blob/master/pkg/cmd/pipelinerun/list.go#L168

And this label is added by pipeline controller.

[2020-06-08 08:29] piyush-garg commented on #1009
/kind feature

[2020-06-08 08:29] piyush-garg commented on #1009
/king good-first-issue

[2020-06-08 08:31] piyush-garg commented on #1007
/kind bug

[2020-06-08 08:33] PuneetPunamiya commented on #1009
/assign

[2020-06-08 10:21] lstocchi commented on #1007
@piyush-garg ah ok, i see. No there is no pipeline name label, this is why. Below the yaml for the failing run.
[code]

[2020-06-08 12:40] piyush-garg commented on #1007
@vdemeester Something to look into pipeline controller? Is it something like labels get added after validation?

[2020-06-09 04:26] VeereshAradhya opened #1013 "Enable interactive start for the clustertask"
# Version and Operating System

**tkn Version:**
Latest

**Operating System:**
All

# Expected Behavior
the `tkn task start` command is interactive now (it asks for parameter and resource values if not provided while starting the task), but the cluster task is not interactive (if we don't provide the expected parameter or the resource the taskrun fails with error `TaskRunValidationFailed`). The `t

[2020-06-09 11:57] savitaashture commented on #1004
Describe display format
https://gist.github.com/savitaashture/4903807eb7b780640d016d78ca49ad4a

[2020-06-09 23:33] ckadner opened #1015 "tkn no longer shows cluster version after upgrade to v0.13.0"
After installing the [latest Tekton release, v0.13.0](https://github.com/tektoncd/pipeline/releases/tag/v0.13.0) I can no longer verify the cluster version using the `tkn` command line:

`$ tkn version`:
[code]

`$ kubectl describe svc -n tekton-pipelines | grep release`:
[code]

[2020-06-09 23:33] ckadner commented on #1015
https://github.com/tektoncd/pipeline/issues/2786

[2020-06-10 00:28] vincent-pli commented on #1015
@ckadner
The issue has gone in `master` of cli, you can take a try.

[2020-06-10 00:32] danielhelfand commented on #1015
Can confirm this as well. What is in master currently will work with v0.13.0 of pipelines, but we should still look into the root cause to prevent in future versions.

[2020-06-10 08:05] #965 closed

[2020-06-10 08:43] vdemeester commented on #1015
/cc @savitaashture @piyush-garg

[2020-06-10 09:06] #997 closed

[2020-06-10 14:36] chmouel opened #1018 "Remove lint task from the release pipeline"
Since we already do linting on every PR there is really no advantages having it
at release (and the release is already quite long to do with the binary building
for multiple platforms).

/kind cleanup
/assign

[2020-06-10 14:38] chmouel opened #1019 "Use workspaces instead of PipelineResource on release pipeline"
We are using PipelineResources and instead let's move the release pipeline to
use workspaces and git-task.yaml

/kind cleanup

[2020-06-10 21:11] bobcatfish opened #1021 "Propagate kubectl style flags (specifically --context) to example commands"
# Version and Operating System

**tkn Version:**

I've built from checking it out so the version is dev, I built from 1a3c15d97ba73f57b47d480531f7682176494aa5 (june 10)

**Operating System:**

Mac os

# Expected Behavior

I use the `--context` flag a lot with kubectl and tkn so that I can have multiple clusters in my kubeconfig but default to my personal one. I used --context for the dogfooding an

[2020-06-11 06:59] chmouel commented on #1021
/kind feature
/assign

[2020-06-11 09:47] chmouel commented on #1021
Thanks for reporting this, we will get this fixed.

tip, you could probably use `--showlog` if you wanted to show the logs straight away after starting a task/pipeline,

[2020-06-11 14:31] #1021 closed

[2020-06-11 14:56] #1004 closed

[2020-06-12 14:43] danielhelfand commented on #605
/assign

[2020-06-16 23:10] danielhelfand commented on #999
Sorry to come back to this so late, but I think this might be worthwhile to add directly to tkn even if we don’t support creation. I without doubt think it’s an area we could improve on versus kubectl, which doesn’t always provide the most informative parsing errors.

Would definitely be interested in discussing further in working group to see if it would be a good fit to be maintained here.

[2020-06-17 13:16] NikeNano commented on #999
Ok, @danielhelfand are these meetings public? I would be happy to attend if possible to hear about how we progress with it.

[2020-06-17 16:22] danielhelfand commented on #999
@NikeNano Meetings are public. If you can make it or would like to suggest something beforehand, either way would be great.

https://github.com/tektoncd/community/blob/master/working-groups.md#cli

[2020-06-19 14:54] danielhelfand opened #1029 "--use-param-defaults Option for tkn task start"
As originally introduced in #889 for `tkn pipeline start`, the `--use-param-defaults` option allows users to avoid specifying values via interactive prompts if they want to use param default values.

This option should also be available for `tkn task start` now that it features interactive prompts for starting a Task. The design should follow the same pattern outlined in #889.

This should also be

[2020-06-19 16:09] dibyom opened #1030 "EventListener logs support in tkn"
# Expected Behavior

I should be able to get the logs from an EventListener using tkn (just like I can for pipelineruns and taskruns):

`tkn el logs my-listener`

# Actual Behavior

I have to find the EventListener pod and use kubectl to get the logs

# Additional Info

Event Listeners emit structured JSON logs that contain a `trigger` field (due to a bug, the field is actually called `/trigger` a

[2020-06-21 16:01] vinamra28 commented on #1013
/assign

[2020-06-23 12:41] pradeepitm12 opened #1031 "Remove Namespace Validation for tkn subcommands"
### Feature request
Remove namespace validation from all the tkn subcommands
As per the actual discussion [#1011 ](https://github.com/tektoncd/cli/pull/1011) some users may not have access to list the namespaces so we should remove the namespace validation from all the tkn subcommands

#### Scenario:
[code]

[2020-06-23 20:53] Divyansh42 commented on #1029
/assign

[2020-06-24 06:40] NikeNano commented on #999
@danielhelfand As I understand from the meeting yesterday validation in the CLI will be pursued if it is easy to do, based upon that the server allow for dry runs. I also understood it as you where going to check the API to investigate if it was implemented or not. I would be happy to help out with the work.

[2020-06-24 06:52] chmouel commented on #999
👍, thanks for the help @NikeNano

[2020-06-24 08:04] pradeepitm12 opened #1033 "Reuse test resources"
### Feature request
How about putting all the resources required while seeding test data in a `testresource` package or maybe a different name but the main intent is to reduce the repeated work of writing pipeline, task, pipelinerun, taskrun, and other required resources for each test every time.

There are multiple such cases but just to mention as example pipeline start and task start, we have w

[2020-06-24 08:05] pradeepitm12 commented on #1033
area/testing

[2020-06-24 08:37] vdemeester commented on #1033
/area testing

[2020-06-24 13:57] danielhelfand commented on #1031
As mentioned on the cli slack, the following issue also occurs on the dogfooding cluster for Tekton:

[code]

Perhaps we should reclassify this as a bug and discuss formally removing it from `tkn`. My personal thought is to remove it by next release.

[2020-06-24 14:01] danielhelfand commented on #1031
I could repurpose #1026 to address this as it begins to break up the package where namespace validation occurs.

[2020-06-24 14:09] afrittoli opened #1034 "Delete taskruns not owned by a pipelinerun"
### Feature request

I'd like to be able to delete taskruns not owned by a pipelinerun.
Alternatively an ability to filter the taskruns to be deleted that covers the "owner" would also solve the issue.

### Use case

I'm trying to keep the number of runs under control on the dogfooding cluster, using `tkn`.
I will delete everything but the last N pipeline runs, and then everything but the last M t

[2020-06-24 14:38] chmouel commented on #1031
👍

[2020-06-24 15:28] vdemeester commented on #1031
agreed !

[2020-06-25 06:38] #1008 closed

[2020-06-26 20:48] danielhelfand commented on #1034
Could potentially be a good opportunity for `--field-selector` or `--label` based approach with delete.

[2020-06-29 07:39] #291 closed

[2020-06-30 15:36] vdemeester opened #1039 "Extension execution model"
### Feature request

It should be possible to have a simple *extension* execution model. It would be similar to `git` or `kubectl`, in that, if a command is prefixed by `tkn-` it could be seens as a sub command.

[code]

It would, however not be able to *shadow* existing subcommands, aka if I define a `tkn-task` and put it in my `PATH`, it wouldn't affect `tkn`.

### Use case

There is at least tw

[2020-06-30 15:45] chmouel commented on #1039
👍

[2020-06-30 16:05] danielhelfand commented on #1039
For clarification, this would mean every project basically supporting some project-specific cli (e.g. triggers, dashboard, operator, etc.)? Think the only thing needed would be some way to avoid overlap between projects, but in favor of the basic concept.

We might also want to develop some type of CLI style guide to enforce some level of consistency for these projects.

[2020-06-30 16:10] vdemeester commented on #1039
Yeah, *could* if they want.

Definitely :upside_down_face: we could even define some "helper" to make it easy to create those *sub cli*.

[2020-07-01 16:21] wlynch commented on #1039
Generally in support of this (for more validation- this follows a similar model to https://github.com/tektoncd/pipeline/issues/2590).

One question (mainly because I'm not super familiar on how this works) - would this model cause any issues for autocompletion?

[2020-07-01 16:30] vdemeester commented on #1039
Not necessarly. We can "update" our `tkn completion` code to take into account this (and call `tkn-foo completion` to get the completion from the called binaries)

[2020-07-01 19:17] wlynch commented on #1039
/cc @dorismeixing @dibyom

[2020-07-01 21:01] danielhelfand opened #1042 "Show EventListener Status with tkn eventlistener list"
### Feature request

I would like the ability to see whether an EventListener has been created successfully and is available when using `tkn`. This `STATUS` could possibly come from whether the minimum replicas are available for the deployment associated with an EventListener and whether the service exists that is associated with the EventListener.

### Use case

The use case is that a user wants

[2020-07-03 07:44] vdemeester opened #1045 "Task/TaskRun describe: display workspace"
### Feature request

When doing a `tkn task describe` (and `tkn taskrun describe`) I would like to see the declared workspace in the output.

### Use case

Being able to see what workspace I need to provide to execute the task

### UI Example

[code]

[2020-07-03 07:46] vdemeester opened #1046 "Task/TaskRun describe: display result"
### Feature request

When doing a `tkn task describe` (and `tkn taskrun describe`) I would like to see the declared results in the output.

### Use case

Being able to see what results the task provides.

### UI Example

[code]

[2020-07-03 13:53] vdemeester opened #1047 "Pipeline/PipelineRun describe: display result"
### Feature request

When doing a `tkn pipeline describe` (and `tkn pipelinerun describe`) I would like to see the declared results in the output.

### Use case

Being able to see what results the pipeline provides.

### UI Example

[code]

[2020-07-03 13:54] vdemeester opened #1048 "Pipeline/PipelineRun describe: display workspace"
### Feature request

When doing a `tkn pipeline describe` (and `tkn pipelinerun describe`) I would like to see the declared workspace in the output.

### Use case

Being able to see what workspace  I need to provide to execute the pipeline.

### UI Example

[code]

[2020-07-03 14:35] piyush-garg opened #1049 "Bump to tektoncd/pipeline v0.14.0"
Bump the dependency to tektoncd/pipeline v0.14.0

/kind misc
/assign

[2020-07-03 14:37] piyush-garg opened #1050 "Bump to tektoncd/triggers v0.6.0"
Bump the dependency to tektoncd/triggers v0.6.0

/kind misc
/assign

[2020-07-03 15:20] #1031 closed

[2020-07-06 14:43] danielhelfand opened #1053 "Support for EventListener URL with List and Describe"
### Feature request

The URL of an EventListener is one of the more notable properties a user would like to see when working with EventListeners. `tkn` currently does display the URL for describe, but it should also be displayed as part of the `tkn el list` command.

In addition to displaying the URL as part of `tkn el list`, it would be nice to support an `--output` option with `tkn el describe`

[2020-07-06 22:26] danielhelfand commented on #1006
/assign

[2020-07-07 08:51] ckadner opened #1054 "PipelineRun logs do not include finally task logs"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version`:**

[code]

  **Output of `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

  ```v0.14.0```

- Operating System:

[code]

# Expected Behavior

`tkn pipelinerun logs ..

[2020-07-07 08:53] ckadner commented on #1054
@pritidesai

[2020-07-07 08:55] ckadner commented on #1054
Since `finally` is new in https://github.com/tektoncd/pipeline/releases/tag/v0.14.0 I suppose this would be more of a `Feature` rather than a `Bug`

[2020-07-07 09:04] ckadner opened #1055 "Pipeline version shows "devel" instead of "0.14.0""
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version`:**

[code]

  **Output of `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

  ```v0.14.0```

- Operating System:

[code]

# Expected Behavior

`tkn version` should sho

[2020-07-07 09:05] ckadner commented on #1054
/remove-kind bug
/kind feature

[2020-07-07 12:14] vdemeester commented on #1054
/assign @pradeepitm12

[2020-07-07 12:22] vdemeester opened #1057 "Release pipeline: migrate to use workspace and results instead of PipelineResource"
We should use workspace and results instead of PipelineResource, mainly to be able to use up-to-date catalog tasks (from `master`).

Related to https://github.com/tektoncd/pipeline/pull/2897 and https://github.com/tektoncd/plumbing/pull/456 (in pipeline and plumbing).

[2020-07-07 13:03] danielhelfand commented on #1055
@savitaashture Can you comment on if this issue is taking place server side with pipelines, or is this an issue we need to look further into for `tkn`?

https://github.com/tektoncd/pipeline/issues/2898

[2020-07-07 13:14] danielhelfand commented on #1006
I wanted to open this up for further discussion on what `volumeClaimTemplate` properties would be valuable to support as a starting point for this issue? We can always add more later, but it might be better to start with some basic properties. Would the following be a good starting point?

* `spec.resources.requests.storage`
* `spec.StorageClassName`
* `spec.AccessModes` - Only support `ReadWriteO

[2020-07-07 13:16] #1049 closed

[2020-07-07 17:39] vinamra28 commented on #1057
Hi @vdemeester , there is already an existing issue #1019  related to this I guess 😅

[2020-07-07 18:15] ckadner commented on #1055
Unless there is a "patch"-release for Tekton, i.e. `0.14.1` coming soon, I think this would need to be addressed in the upcoming `tektoncd/cli` release, no?

[2020-07-07 22:02] danielhelfand commented on #1055
So I think this will be addressed by https://github.com/tektoncd/pipeline/pull/2900 and appears to have nothing to do with `tkn`'s version implementation. I think the challenge with adding a version case for `v0.14.0` is that `devel` is used as the version when doing development work with pipelines. Putting in a specific case to display `v0.14.0` if `devel` is returned would cause `v0.14.0` to be

[2020-07-07 22:36] ckadner commented on #1055
If the actual `tektoncd/pipelines` `0.14.0` release gets replaced, or if a patch release comes very soon, then I would agree with you. But if the `0.14.0` release remains the latest release for a while, then there may be a lot of future bug reports which ask users to run `tkn version` that won't clearly show which Tekton version was used to produce an error. Unless all the Tekton developers know t

[2020-07-08 00:20] danielhelfand commented on #1055
It looks like something may have been backported already:

[code]

Can you verify it's working for you?

[2020-07-08 04:30] #1050 closed

[2020-07-08 05:34] NikeNano commented on #999
@danielhelfand I have tried to figure out if the backend supports dry run but have not been successful(guess it could be because it don't). Have you had the opportunity to look at it?

[2020-07-08 06:00] vdemeester commented on #1057
Indeed :facepalm:
/close

[2020-07-08 06:00] #1057 closed

[2020-07-08 06:00] vdemeester commented on #1019
Related to tektoncd/pipeline#2897 and tektoncd/plumbing#456 (in pipeline and plumbing).

[2020-07-08 06:01] vdemeester commented on #1055
@danielhelfand @ckadner yeah I fixed the release.yaml for the time being (and there is a bugfix for this not to happen in the next releases, will be in a 0.14.1 too).

[2020-07-08 13:24] vinamra28 commented on #1019
/assign

[2020-07-08 17:46] danielhelfand commented on #1055
@vdemeester Thanks! Going to close this for now, but please feel free to reopen if something isn't working as expected @ckadner.

[2020-07-08 17:46] #1055 closed

[2020-07-08 20:01] ckadner commented on #1055
Verified it works for me as well. Thanks @vdemeester

[2020-07-08 20:06] ckadner commented on #1054
Is there a chance that this might get addressed in time for the next CLI release `0.11.0`?

[2020-07-08 20:07] ckadner commented on #1054
Apologies, I just noticed that @vdemeester added this to the 0.11.0 milestone yesterday

Thanks!

[2020-07-09 04:14] piyush-garg commented on #958
@anshulvermapatel If you have not worked on it yet, I think PR #1051 resolves this also

[2020-07-09 04:14] piyush-garg commented on #958
cc @danielhelfand @vinamra28

[2020-07-09 04:48] PuneetPunamiya commented on #1053
/assign

[2020-07-09 04:48] PuneetPunamiya commented on #1042
/assign

[2020-07-09 05:13] vinamra28 commented on #958
@piyush-garg I agree with you. #1051 resolves this also.

[2020-07-09 05:23] #1009 closed

[2020-07-09 16:09] vdemeester commented on #1006
I think they are a good starting point. We can start with those and see if we need to support more when gather feedback from users :angel:

[2020-07-09 16:13] pradeepitm12 commented on #1006
Should we also create multiple/sub issues so others can also contribute, and having a smaller goal in the issue would make things easier.

[2020-07-10 08:28] praveen4g0 opened #1062 "Bug: cluster task list in nonexistence namespace"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
When we try to list clustertask from nonexistence
[code]

[2020-07-10 08:34] vdemeester commented on #1062
I wonder if that's a bug. Or more accurately, we may print a warning (or error out?) if the user provide a `--namespace`/`-n` when listing ClusterTask… because by definition, the namespace filter doesn't apply :upside_down_face:

[2020-07-10 08:55] piyush-garg commented on #1062
Which version of `tkn` you are using, we have removed the namespace flag from clustertask and clustertriggerbinding using the PR https://github.com/tektoncd/cli/pull/943

[2020-07-10 09:08] piyush-garg commented on #1062
I see the flag is mark hidden, but if someone provide with command it accepts.

may be we need to mark it deprecated and remove later.

[2020-07-10 09:41] praveen4g0 commented on #1062
I agree, but for consistency it's better to restrict user to use namespace flag, as it is misleading in some aspects

[2020-07-10 09:43] praveen4g0 commented on #1062
I am using latest cli build from master

[2020-07-10 10:18] anshulvermapatel commented on #958
@piyush-garg , yes, it resolves it. we should close this issue then.

[2020-07-10 14:09] danielhelfand commented on #1006
I am wondering if it makes sense to support something along the lines of the following UX:

[code]

This would allow a user to define all properties of a volumeClaimTemplate in a file. We could even support a `--volumeClaimTemplate` flag at the TaskRun/PipelineRun level with `tkn t start` and `tkn p start`. I think my worry is that having an approach like `tkn pipeline start [name] --workspace nam

[2020-07-10 16:27] #998 closed

[2020-07-10 17:25] Divyansh42 opened #1065 "Prompt interactive mode if `default` is not provided for some `param` while using `--use-param-defaults` flag in `pipeline start` command"
### Feature request

While using `--use-param-defaults` flag in `tkn pipeline start` command if `default` is not provided in some param then it does not asks for param input via interactive prompt, user has to provide using `-p` flag.
If we can add the feature to prompt interactive mode to take input params if `default` is not provided for that `param`.

### Use case

User will not have to care ab

[2020-07-10 17:28] vinamra28 commented on #958
/assign

[2020-07-10 17:30] Divyansh42 commented on #1065
/assign

[2020-07-10 21:59] danielhelfand commented on #1030
/assign

[2020-07-11 12:41] SM43 commented on #765
/close

[2020-07-11 12:41] #765 closed

[2020-07-12 09:32] pratikjagrut commented on #1042
/assign

[2020-07-12 18:38] piyush-garg commented on #765
Fixed with #962

[2020-07-13 21:12] danielhelfand opened #1067 "Only Display Version of a Particular Tekton Component with tkn version"
### Feature request

The ability to only display a version of a specific Tekton component using `tkn version`.

### Use case

For purposes of scripting using `tkn`:

[code]

It will also aid with helping test `tkn` in e2e scenarios. An example of this is #1066, which is adding support for a feature that doesn't exist in pipelines version v0.10.2, but all e2e tests are run against version v0.10.2 a

[2020-07-13 22:25] danielhelfand opened #1068 "tkn taskrun/pipelinerun describe --last Results in Panic when No TaskRuns or PipelineRuns in Namespace"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

A message is displayed saying No TaskRuns or PipelineRun

[2020-07-13 23:16] anshulvermapatel commented on #1067
/assign

[2020-07-13 23:17] anshulvermapatel commented on #1068
/assign

[2020-07-14 03:04] danielhelfand commented on #999
@NikeNano I have not had the chance to attempt yet with kubectl, but will attempt tomorrow and give an update. I haven’t found any pr or issue with pipeline to indicate it’s been added yet though.

[2020-07-14 10:29] anshulvermapatel commented on #1067
@danielhelfand , So the basic ask for this feature is just to add `--pipeline` and `--triggers` option to print only their version respectively to benefit the CI process which would be able to filter the test against a version. Can you please confirm?

[2020-07-14 15:10] vinamra28 opened #1070 "ClusterTask logs support in tkn"
### Feature request

In order to maintain the consistency, we should add `tkn ct logs` which will interactively ask for the clustertask name and then interactively ask for the taskrun associated with that task or `tkn ct logs <ctname>` which will ask for taskrun associated with it.

### Use case

Being able to see the logs corresponding to a particular clustertask just like we get the logs for `ta

[2020-07-14 21:26] anshulvermapatel commented on #1070
/assign

[2020-07-15 21:40] danielhelfand opened #1072 "Show Param Values Added by Pipelines Controller for PipelineRun/TaskRun Describe"
### Feature request

The ability to see param names/values added by the pipelines controller as opposed to by the user when using `tkn pipelinerun desc` or `tkn taskrun desc`. The pipelines controller will add param values in the case of default values for params that are part of a Task or Pipeline.

If no value is declared for a param for a PipelineRun/TaskRun and the associated Task or Pipeline

[2020-07-16 05:11] Divyansh42 commented on #1072
Are we going to append the params where `default` is provided under `params` section or there will be seperate section for the params that are added by the controller. :thinking:

[2020-07-16 09:03] vdemeester commented on #1072
I would guess keeping one section but having a way to say "this is what the user provided", this is what was "read" by the controller (aka default params).

[2020-07-16 14:57] danielhelfand commented on #999
So I have been able to use `kubectl create -f <resource>.yaml --dry-run=server` with success, and it does appear to also support validation:

[code]

So it does appear that server-side dry-runs should be supported, but maybe what `tkn` could offer here is better UX around the error message assuming a resource fails validation like above.

[2020-07-16 15:47] danielhelfand commented on #1067
@anshulvermapatel Yes, that is correct.

I would say let's wait to discuss this in the working group to make sure this is worthwhile first and see if there are different opinions on it.

[2020-07-16 18:56] Divyansh42 commented on #1072
Can we follow UI something like this ?
[code]
Maybe we can have some better name for `USER PROVIDED VALUE`

[2020-07-16 19:08] danielhelfand commented on #1072
I think if someone wants to see the default value for a param, they should use `tkn task describe` or `tkn pipeline describe`, which will show those values. I think for PipelineRuns/TaskRuns only the information used at run time is what should be shown. So as long as the name of the param and value are shown, I think that should work.

[2020-07-16 19:33] Divyansh42 commented on #1072
@danielhelfand if I am not wrong, current functionality is same as you explained.

`tkn task describe` shows params and their corresponding default values which are present in the task.
and if we go for `tkn tr describe` it shows those params only for which user has provided the value.

Example:
Output for `tkn t describe test-task`
[code]
`tkn t start test-task -p param1=test1 -p param2=test2`

O

[2020-07-16 19:42] danielhelfand commented on #1072
The difference would be that `tkn taskrun describe` or `tkn pipelinerun describe` would also show param default values under the param section even if the user has not specified these values. So it would also include values added by the controller, but would display them along with params specified by the user. For example:

[code]

[2020-07-16 21:17] jlpettersson commented on #1006
@danielhelfand I thought the whole idea with this `tkn` command was to be an _imperative_ way to create pipelineRuns? If you have to declare a file anyway, also `kubectl create -f pipelinerun.yaml` is already available.

[2020-07-16 21:57] danielhelfand commented on #1006
I think the ability to specify the template via `tkn pipeline start` versus having to actually create a PipelineRun definition is an improvement over an approach with kubectl. There should be a simple way to provide the entire template, which is why I would like the file approach to begin with.

However, I do think eventually we should work to also support ways of overriding certain values in a fi

[2020-07-17 10:09] anshulvermapatel commented on #1067
@danielhelfand , sure!

[2020-07-17 15:37] danielhelfand opened #1074 "Add deadcode to golangci"
As was done for pipelines in https://github.com/tektoncd/pipeline/pull/2960, we should look into adding the `deadcode` linter to remove unused code from the cli repository. This will also help prevent dead code from being added in the future.

My suspicion is that there could be quite a bit in the cli, so this issue should also include cleaning up dead code still in the repository as part of intro

[2020-07-17 16:06] #1068 closed

[2020-07-19 13:30] chetan-rns commented on #1046
/assign

[2020-07-20 05:02] vinamra28 commented on #1045
/assign

[2020-07-20 05:03] Divyansh42 commented on #1047
/assign

[2020-07-20 22:38] pierretasci opened #1079 "Darwin CLI should be built with `CGO_ENABLE=1` and/or `GODEBUG=netdns=cgo`"
# Versions and Operating System

- Kubernetes version: any

- Tekton Pipeline version: any

- Operating System: MacOS

# Expected Behavior

When using a VPN on MacOS as many corporations do (especially in a remote environment), `tkn` is able to perform all functions against a Kubernetes cluster.

# Actual Behavior

When using a split-tunnel VPN with custom rules, `tkn` will fail to resolve the hos

[2020-07-21 05:29] NikeNano commented on #999
Cool @danielhelfand I am on vacation but will bick this up wen I am back!

[2020-07-21 12:16] csantanapr commented on #1067
More flexible option for the UX would be to use a single flag and the value the component like "tkn version --component=pipelines" instead

[2020-07-21 16:02] #1006 closed

[2020-07-22 07:21] #1019 closed

[2020-07-22 09:32] #1054 closed

[2020-07-22 10:48] chmouel opened #1080 "Crashing running "tkn pipeline logs --follow""
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

working

# Actual Behavior

[code]

/kind bug

# Steps t

[2020-07-22 15:47] vdemeester commented on #726
I think this can be closed because of https://github.com/tektoncd/pipeline/pull/2489 and https://github.com/tektoncd/pipeline/pull/2444.

[2020-07-23 05:26] pradeepitm12 commented on #1080
closing: Tried with few example pipelines and was not able to reproduce,

[2020-07-23 05:29] pradeepitm12 commented on #1080
/close

[2020-07-23 05:29] #1080 closed

[2020-07-23 07:23] #886 closed

[2020-07-23 10:20] chmouel commented on #1080
Thanks for traxking this @pradeepitm12 i could nto reproduce either...

[2020-07-24 09:35] chmouel opened #1083 "TaskRun sets as Running while it was failing"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

[code]

- Operating System:

`osx`

# Expected Behavior

Set the running as fail

# Actual Behavior

The task shows as Running

[code]

while it has failed :

[code]

The failure is because of a ContainerCreationError :

[code]

<details>
  <summary>Full status of the tas

[2020-07-27 04:39] chetan-rns commented on #1048
/assign

[2020-07-27 14:27] Divyansh42 opened #1085 "Unit tests for `describe` and `list` commands fail on RHEL 8"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**
[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:
[code]

# Expected Behavior
All test should pass. For example:
[code]

# Actual Behavio

[2020-07-27 16:30] chmouel opened #1086 "Runs that get sets a `CreateContainerError` should be shows as `Failed` in CLI."
# Versions and Operating System

- Kubernetes version:

`openshift 4.5.x`

- Tekton Pipeline version:

  `nightly`

- CLI version:

  `compiled from tip`

- Operating System:

  `OSX`

# Expected Behavior

Runs that get sets a `CreateContainerError` should be shows as `Failed`  in CLI.

# Actual Behavior

I have a TaskRun which reference a secret i haven't installed in my namespace, I would expect

[2020-07-27 16:59] chmouel commented on #1086
same issue with `ErrImagePull`

[2020-07-27 22:46] danielhelfand opened #1087 "PipelineRun With Failed Condition Shows NonExistent TaskRun for Log Command"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

The logging information should show that Conditions have

[2020-07-28 13:27] afrittoli commented on #1087
@danielhelfand  I literally opened up issues on tektoncd/cli to file this very same issue, and there it was already on the top of the list!

[2020-07-29 04:54] #1046 closed

[2020-07-29 07:32] vdemeester commented on #107
/remove-lifecycle rotten

[2020-07-29 07:32] vdemeester commented on #107
/remove-lifecycle stale

[2020-07-29 07:47] vdemeester commented on #126
/remove-lifecycle rotten

[2020-07-29 07:47] vdemeester commented on #126
/remove-lifecycle stale

[2020-07-29 07:47] vdemeester commented on #53
/remove-lifecycle stale

[2020-07-29 07:47] vdemeester commented on #53
/remove-lifecycle rotten

[2020-07-29 07:49] vdemeester commented on #121
/remove-lifecycle stale

[2020-07-29 07:49] vdemeester commented on #121
/remove-lifecycle rotter

[2020-07-29 07:49] vdemeester commented on #121
/remove-lifecycle rotten

[2020-07-30 14:51] #958 closed

[2020-07-30 14:51] #1013 closed

[2020-07-31 06:29] chmouel opened #1090 "Get pipeline or task status for scripts"
### Feature request

It would be great if a user with the CLI was able to get the task or pipeline status easily for scripts. This which will just show the status of the pipeline and set the exit code with the status.

### Use case

I have a script which use tkn and I would like to know if my TaskRun has failed or not, the way I am doing is parsing the current describe command with a Regexp :

`/^

[2020-07-31 09:15] chmouel opened #1091 "Better UX for restarting taskrun/pipelinerun"
### Feature request

Have an easy way to restart taskruns or pipelineruns

### Use case

A user can use the feature `--use-taskrun` to `tkn task` or the pipeline equivalent. That's not an obvious wayfor the user who wants to restart a taskrun/pipelinerun for something as common as restarting a pipelinerun/taskrun

### UI Example

Something like this :

`tkn taskrun restart taskrun-abcd`

would do

[2020-07-31 11:39] anshulvermapatel commented on #1067
@danielhelfand @csantanapr , created a [PR](https://github.com/tektoncd/cli/pull/1093) for this. Please review.

[2020-07-31 11:47] vinamra28 commented on #1029
/assign

[2020-07-31 12:35] ppitonak commented on #799
What's the plan for ClusterTriggerBinding, ClusterTask, TriggerBinding, TriggerTemplate, EventListener and Condition?

[2020-07-31 16:38] VeereshAradhya opened #1095 "The status of step stays in `Running` state when the taskrun fails with `TaskRunTimeout`"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
The status of step should be `failed` or `Error` state

#

[2020-07-31 17:11] danielhelfand commented on #1095
This seems to be the status being returned from pipelines for the TaskRun's steps. One thing of curiosity to me is that it seems the TaskRun pod is deleted immediately after it fails from the timeout. But this seems like it could be a pipelines issue as well. `tkn` can only report the status that is returned from the server, which is what it is doing. I can follow up with the resources I used to r

[2020-08-03 10:20] praveen4g0 opened #1097 "Disconnected pipeline-run logs with `-f`"
# Versions and Operating System

- **Description**
  1. create a pipeline with task which has `retires: 1`
  2. Start pipeline
  3. ```tkn pr logs -f```
  4. If task defined in pipeline fails, pipeline run schedules another task run as we mentioned Retries at pipeline level specific to task
  5. pipeline run logs gets disconnected.

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

[2020-08-03 12:26] ppitonak commented on #1045
This should be implemented also in `ClusterTask`.

[2020-08-03 16:28] danielhelfand opened #1099 "Better Error for When Triggers in Not Installed on a Cluster While Using tkn triggers Commands"
# Versions and Operating System

- Kubernetes version:

N/A

- Tekton Pipeline version:

[code]

- Operating System:

OSX

When Triggers are not installed on a Kubernetes cluster, the following error messages will be displayed when trying to list EventListeners:

[code]

The error is confusing in that it doesn't mention anything about how Triggers is not installed like `tkn pipeline list` does:

[

[2020-08-03 16:37] danielhelfand opened #1100 "tkn ct ls Does Not Display New Line When No ClusterTasks Present"
# Versions and Operating System

- Kubernetes version:

N/A

- Tekton Pipeline version:

[code]

- Operating System:

OSX

# Expected Behavior

When no ClusterTasks are present on a cluster, `tkn ct ls` should show an error like below in the same format:

[code]

# Actual Behavior

[code]

# Steps to Reproduce the Problem

1. Run `tkn ct ls` on a cluster with no ClusterTasks

# Additional Info

Th

[2020-08-04 04:57] vinamra28 opened #1102 "ClusterTask describe: display result"
### Feature request
 When doing a `tkn clustertask describe` I would like to see the declared results in the output.

 ### Use case
 Being able to see what results the clustertask provides.

 ### UI Example
[code]

[2020-08-04 04:57] vinamra28 commented on #1102
/assign

[2020-08-04 06:51] kameshsampath opened #1103 "Array parameters are swallowed with `-D` in the parameter array value when using tkn task start"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior

When I run tkn CLI command like

[code]

I expect it to

[2020-08-04 06:56] kameshsampath commented on #1103
based  on conversation with @vinamra28  the following command works
[code]

[2020-08-04 07:37] kameshsampath opened #1104 "Passing Array Parameters as repeated arguments like we do for normal `--param`"
### Feature request

When using `tkn` CLI,  to  pass an array parameter, it is required the array parameter need to be passed as comma seperated  values. This is OK if we have short list of parameters, but the array becomes longer it affects the readability of the command.

 A better Ux and to have consistency with how parameters are passed via CLI it will be better that *Array* parameters are add

[2020-08-04 07:38] kameshsampath commented on #1103
Closing this in favour of https://github.com/tektoncd/cli/issues/1104

[2020-08-04 07:38] #1103 closed

[2020-08-04 07:39] kameshsampath commented on #1104
CC: @chmouel  @piyush-garg @vdemeester @vinamra28

[2020-08-04 10:02] #1100 closed

[2020-08-04 14:31] VeereshAradhya commented on #1095
@danielhelfand shall I file this issue in `pipeline`?

[2020-08-04 14:47] danielhelfand commented on #1095
@VeereshAradhya So I have done some more digging on this, and I guess the reason is that pipelines deletes pods associated with timeout/cancellation TaskRuns and does not update the status of steps for TaskRuns. My personal thought is that pipelines should handle this, but it's tough to know how easy it will be since pipelines needs to really quickly delete the pod to honor a timeout or cancellati

[2020-08-04 14:55] danielhelfand opened #1106 "0 Value for Timeout with tkn tr/pr describe is reported as Seconds"
# Versions and Operating System

- Kubernetes version:

N/A

- Tekton Pipeline version:

[code]

- Operating System:

N/A

# Expected Behavior

The timeout should not be displayed for TaskRuns/PipelineRuns or the value `0` should be translated into something that communicates that no timeout is applied to the TaskRun or PipelineRun.

# Actual Behavior

The timeout is reported as `0s`:

[code]

# S

[2020-08-05 03:01] danielhelfand opened #1107 "Install Triggers on Clusters Used for e2e Tests"
### Feature request

In order to develop e2e tests for Triggers-related resources (e.g. EventListeners, TriggerTemplates, TriggerBindings, and ClusterTriggerBindings), the Triggers component must be installed on the clusters that tests run against. Currently, only pipelines is installed on our clusters.

### Use case

Developing e2e tests for the resources listed above.

[2020-08-05 15:02] vdemeester commented on #1095
I think it's on pipeline side indeed. Pipeline should handle updating the status even after deleting the pod I think. So yeah I think we can transfer this issue to `tektoncd/pipeline`

/cc @bobcatfish @afrittoli

[2020-08-05 20:43] #1102 closed

[2020-08-06 06:27] kameshsampath commented on #1039
@vdemeester  I think this is a great add. Instead of import shall we have it as `install` , so we can have its `uninstall` counterpart ?

[2020-08-06 06:28] sthaha commented on #1039
/assign

[2020-08-06 16:03] danielhelfand commented on #1095
My thought on this would be to iterate over the step statuses of the TaskRun [after the pod deletion](https://github.com/tektoncd/pipeline/blob/3a7a693429c605a67e30efa5b74675e403be79bb/pkg/reconciler/taskrun/taskrun.go#L512), assuming the deletion is successful.

I think a question would be what the terminated status would be for the step? Would we want it to be something along the lines of the re

[2020-08-07 12:23] Divyansh42 opened #1111 "Enable auto selection of the pipeline for `describe` command if only one pipeline is present"
### Feature request

The describe command should auto select the pipeline if only one pipeline is present.

### Use case

User will not have to select the pipeline if only one pipeline is present.

[2020-08-07 12:26] vinamra28 opened #1112 "Enable auto selection of the ClusterTask/TaskRun for `describe` command if only one is present"
### Feature request

The `describe` should auto select the task if only one task is present

### Use case

User will not have to select the ClusterTask/TaskRun if only one is present.

### UI Example

[code]

[2020-08-07 12:27] vinamra28 commented on #1112
/assign

[2020-08-07 12:27] Divyansh42 commented on #1111
/assign

[2020-08-07 12:33] Divyansh42 opened #1113 "Enable auto selection of the PipelineRun for `describe` command if only one PipelineRun is present"
### Feature request

The describe command should auto select the PipelineRun if only one PipelineRun is present.

### Use case

User will not have to select the PipelineRun if only one PipelineRun is present.

[2020-08-07 12:33] Divyansh42 commented on #1113
/assign

[2020-08-07 12:42] chmouel commented on #1113
/kind feature

[2020-08-07 12:43] chmouel commented on #1112
/kind feature

[2020-08-09 14:13] VeereshAradhya opened #1114 "tkn shows only help message and does not throw error for some invalid sub-command"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn` should throw error along with help message

# Actua

[2020-08-10 12:54] danielhelfand commented on #1095
/assign

[2020-08-10 15:24] #668 closed

[2020-08-11 08:36] vinamra28 commented on #1045
What will be the better UX for displaying workspaces in the output of describe command. What I thought was
[code]
or
[code]

[2020-08-11 08:46] ppitonak commented on #1045
There is not much to display for `Task`. In `TaskRun`, I would personally prefer second option. Ideally it would show a string that I can copy&paste into `tkn t start mytask -w ...`

[2020-08-11 08:56] vdemeester commented on #1045
I tend to agree with @ppitonak on the 2nd option :wink:

[2020-08-11 10:14] Shivkumar13 commented on #1097
/assign

[2020-08-11 12:01] danielhelfand opened #1115 "e2e Test Fails to Get Correct PipelineRun Consistently"
The pipeline start command for using `--pod-template` seems unable to correctly get the correct PipelineRun associated with the test. This issue seems related to the approach of getting the PipelineRun shown [here](https://github.com/tektoncd/cli/blob/ac555b84ece260d7a91c90d14279e75b7da30ff7/test/e2e/pipeline/pipeline_test.go#L298).

Due to the Pipeline having previous PipelineRuns associated with

[2020-08-11 13:51] danielhelfand commented on #1115
The issue is that the helper method is [not sorting PipelineRuns by start time](https://github.com/tektoncd/cli/blob/ac555b84ece260d7a91c90d14279e75b7da30ff7/test/builder/builder.go#L149).

[2020-08-12 13:24] VeereshAradhya opened #1116 "`tkn tr delete -t <non-existing-task>` gives success message instead of throwing error"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn tr delete -t non-existing-task` should throw an erro

[2020-08-12 15:54] #1107 closed

[2020-08-12 15:54] #1115 closed

[2020-08-12 16:14] #63 closed

[2020-08-12 16:14] #82 closed

[2020-08-12 18:16] #272 closed

[2020-08-12 18:16] #314 closed

[2020-08-12 21:29] #1047 closed

[2020-08-12 22:19] #88 closed

[2020-08-12 23:20] #497 closed

[2020-08-13 03:23] #523 closed

[2020-08-13 03:23] #527 closed

[2020-08-13 04:24] #479 closed

[2020-08-13 04:24] #524 closed

[2020-08-13 06:24] #520 closed

[2020-08-13 07:24] #649 closed

[2020-08-13 07:40] vdemeester commented on #615
/close

[2020-08-13 07:40] #615 closed

[2020-08-13 07:42] vdemeester commented on #482
/remove-lifecycle rotten
/remove-lifecycle stale
@chmouel is it still something to look at ?

[2020-08-13 07:42] vdemeester commented on #561
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-08-13 07:43] VeereshAradhya commented on #1116
Able to reproduce the same issue with `tkn pr delete -p <non-existing-pipeline>` as well
[code]

[2020-08-13 07:46] vdemeester commented on #561
/lifecycle frozen

[2020-08-13 07:47] vdemeester commented on #61
/remove-lifecycle rotten
/remove-lifecycle stale
/lifecycle frozen

[2020-08-13 07:50] vdemeester commented on #522
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:54] vdemeester commented on #243
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:59] vdemeester commented on #199
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:08] vdemeester commented on #412
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:24] vdemeester commented on #105
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 09:30] vdemeester commented on #688
/remove-lifecycle rotten
/remove-lifecycle stale
/lifecycle frozen
/reopen

[2020-08-13 09:30] vdemeester commented on #617
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 09:31] vdemeester commented on #683
/remove-lifecycle rotten
/remove-lifecycle stale
/lifecycle frozen
/reopen

[2020-08-13 10:27] #690 closed

[2020-08-13 10:27] #695 closed

[2020-08-13 11:28] #725 closed

[2020-08-13 12:04] vdemeester commented on #712
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 12:28] #744 closed

[2020-08-13 13:28] #693 closed

[2020-08-13 15:15] ppitonak commented on #734
/remove-lifecycle rotten

[2020-08-13 15:15] ppitonak commented on #734
/reopen

[2020-08-13 15:29] #771 closed

[2020-08-13 15:32] vdemeester commented on #777
/remove-lifecycle stale
/remove-lifecycle rotten
/reopen

[2020-08-13 16:29] #766 closed

[2020-08-13 22:34] #858 closed

[2020-08-14 08:12] vdemeester commented on #783
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-14 08:13] vdemeester commented on #895
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-14 08:14] vdemeester commented on #798
@savitaashture @danielhelfand is it still an issue ?

[2020-08-14 08:15] vdemeester commented on #571
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-14 08:39] #956 closed

[2020-08-14 09:31] vdemeester commented on #642
/reopen
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-08-14 09:32] vdemeester commented on #790
/reopen
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-08-14 09:32] vdemeester commented on #951
/reopen
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-08-14 10:41] #963 closed

[2020-08-14 13:42] #950 closed

[2020-08-14 17:45] #1007 closed

[2020-08-14 18:45] #1018 closed

[2020-08-14 22:46] #667 closed

[2020-08-15 07:49] #1062 closed

[2020-08-15 10:01] lstocchi commented on #561
Just found out this issue. Did you discuss more about it in any meeting? I am working on the Tekton plugin in IntelliJ and i would be really interested in having this implemented. Can i help you somehow? Let me know.

[2020-08-15 11:46] vinamra28 commented on #1070
/remove-lifecycle rotten

[2020-08-15 11:46] vinamra28 commented on #1070
@anshulvermapatel are you still working on this?

[2020-08-15 11:47] vinamra28 commented on #1070
/reopen

[2020-08-15 16:19] Divyansh42 commented on #1065
/remove-lifecycle rotten

[2020-08-15 16:20] Divyansh42 commented on #1065
/repoen

[2020-08-15 16:21] Divyansh42 commented on #1065
/reopen

[2020-08-15 17:20] SM43 commented on #684
/reopen

[2020-08-15 17:57] piyush-garg commented on #1106
/assign @rudeigerc

[2020-08-15 17:57] piyush-garg commented on #1106
@rudeigerc Can you please omment `/assign` so that issue will be assigned

[2020-08-15 17:58] rudeigerc commented on #1106
OK :)

[2020-08-15 17:59] rudeigerc commented on #1106
/assign

[2020-08-16 03:11] Divyansh42 commented on #1072
/lifecycle frozen

[2020-08-16 03:11] Divyansh42 commented on #1072
/reopen

[2020-08-16 18:25] danielhelfand commented on #561
@lstocchi This has not been discussed further than the discussion in the issue. I still think the idea is valid and would be great to have, but I do think there are some changes in pipelines that may need to come first. I still do not think there is the ability to pause TaskRuns or PipelineRuns, which is needed to support this. However, I imagine we could start putting more emphasis on certain ide

[2020-08-17 03:17] #871 closed

[2020-08-17 05:19] VeereshAradhya opened #1118 "Cancelling a pipelinerun or taskrun which failed with Timeout gives success message"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
When we try to cancel a pipelinerun or taskrun which fail

[2020-08-17 06:51] ppitonak commented on #736
/remove-lifecycle stale

`tkn task start` and `tkn pipeline start` have parameter `--use-param-defaults` but it's missing in `tkn clustertask start`

[2020-08-17 06:52] ppitonak commented on #736
/reopen

[2020-08-17 08:29] rudeigerc commented on #1116
/assign

[2020-08-17 08:52] vdemeester commented on #529
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:52] vdemeester commented on #619
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:52] vdemeester commented on #45
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:52] vdemeester commented on #1034
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:52] vdemeester commented on #1033
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 11:34] afrittoli opened #1119 "Start a task from a taskrun with embedded task"
### Feature request

I would like to be able to re-run a taskrun with embedded task spec.
Today this is not possible:
[code]

The `TaskRun` is defined here: https://github.com/tektoncd/plumbing/blob/bde34da7abdec4bd7f63a607d56828b5bdba5833/tekton/resources/ci/github-template.yaml#L26

### Use case

This is useful to re-run taskruns in Tekton CI.

### UI Example

I see two options:
- allow for the

[2020-08-17 11:36] vdemeester commented on #1119
/cc @danielhelfand

[2020-08-17 13:01] danielhelfand commented on #1118
We should just need to add another check on the status for timeout:
* [PipelineRun](https://github.com/tektoncd/cli/blob/029870a0e86221b648fbc8e5b26782021d0cb730/pkg/cmd/pipelinerun/cancel.go#L76)
* [TaskRun](https://github.com/tektoncd/cli/blob/029870a0e86221b648fbc8e5b26782021d0cb730/pkg/cmd/taskrun/cancel.go#L74)

[2020-08-17 13:29] danielhelfand opened #1120 "Update Pipeline Dependency to v0.15"
v0.12.0 of `tkn` will be built around pipelines v0.15 and so the dependency should be updated to the highest minor version before the next release.  As of now, that is [v0.15.2](https://github.com/tektoncd/pipeline/releases/tag/v0.15.2).

[2020-08-17 13:44] danielhelfand commented on #1119
@afrittoli Somewhat related to this, we have an [open issue](https://github.com/tektoncd/cli/issues/1091) for improving UX around rerunning taskruns. Curious what your opinion is on using the `--use-taskrun` flag versus having a new taskrun command?

In general though, we should adapt our start approaches to support embedded Task specs regardless of with `tkn task start` or with a new command if t

[2020-08-17 13:46] #1029 closed

[2020-08-17 14:07] danielhelfand commented on #1118
/assign

[2020-08-17 14:08] #1106 closed

[2020-08-17 15:47] clux opened #1122 "tkn pipeline start does not present validation errors"
Not sure if this is a bug report or a feature request. Found this a bit strange while goofing around with the yaml from the [kubecon-demo](https://github.com/joellord/handson-tekton) (06-pipeline-order)

# Versions and Operating System
- Kubernetes version:
Minikube 1.18.2

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

[code]

- Operating System:

[code]

# Expected Behav

[2020-08-17 15:58] danielhelfand commented on #1122
@clux Thanks for opening this. Could you please share the Task and Pipeline definitions and clarify what parameter you are referring to? I can try to reproduce the issue or provide some context with a bit more information.

[2020-08-17 16:14] clux commented on #1122
They are the two linked ones from the demo:

- [say-something Task](https://github.com/joellord/handson-tekton/blob/master/demo/04-tasks.yaml)
- [say-things-in-order Pipeline](https://github.com/joellord/handson-tekton/blob/master/demo/06-pipeline-order.yaml)

The last file references the first. If we change the `Pipeline`'s parameter to have a parameter not specified in the `Task` by editing the

[2020-08-17 21:36] danielhelfand commented on #798
This is still an issue. However, it's a bit confusing to know how to proceed since PipelineRun/TaskRuns has different formats for cancellations. It would be nice to have the approach here align with how Pipelines handles this, but it can't be done due to the difference. I have documented more in https://github.com/tektoncd/pipeline/issues/3110.

I think my personal preference would be to just have

[2020-08-18 09:26] GwonsooLee commented on #1072
Can I try to fix this?

[2020-08-18 10:12] Divyansh42 commented on #1072
@GwonsooLee Yes, Please. Thanks :smile:

[2020-08-18 11:10] piyush-garg commented on #1120
/assign

[2020-08-18 11:11] piyush-garg opened #1125 "Update Trigger Dependency to v0.7"
v0.12.0 of tkn will be built around triggers v0.7 and so the dependency should be updated to the highest minor version before the next release. As of now, that is v0.7.0.

[2020-08-18 11:34] GwonsooLee commented on #1072
/assign GwonsooLee

[2020-08-18 12:43] #1118 closed

[2020-08-18 14:57] #1114 closed

[2020-08-18 17:30] rudeigerc commented on #1091
/assign

[2020-08-18 17:55] danielhelfand commented on #1091
@rudeigerc We should probably discuss this a bit more before adding this. You are welcome to put together something for it, but it might be good for us to put together some research on what is the preferred UX for this within the community.

[2020-08-18 18:38] rudeigerc commented on #1091
@danielhelfand Of course! I will keep following the issue.

Actually I have noticed that the dashboard provides the command of rerun for PipelineRun (and only for PipelineRun) with a rerun suffix (i.e., -r-\<new-id\>). Should the same command across the components follow a consistent rule when numbering?

[2020-08-19 03:43] #1120 closed

[2020-08-19 05:01] #1125 closed

[2020-08-19 05:48] VeereshAradhya opened #1132 "tkn crash observed during `tkn pr logs -f` on windows"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn` should not crash

# Actual Behavior
`tkn` got crash

[2020-08-19 06:13] #1099 closed

[2020-08-19 06:32] #1116 closed

[2020-08-19 13:10] VeereshAradhya opened #1133 "`tkn ct start <cluster-task-name> -L` does not use the `--timeout` value of previous run"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn ct start <cluster-task-name> -L` should consider tim

[2020-08-19 13:54] danielhelfand commented on #1133
Should be similar to #863. Just need to add the timeout property from the last run.

[2020-08-19 13:54] danielhelfand commented on #1133
/assign

[2020-08-19 20:30] danielhelfand opened #1135 "--use-taskrun Option for tkn clustertask start"
### Feature request

Similar to how `tkn task start` and `tkn pipeline start` feature `--use-taskrun`/`--use-pipelinerun` options, this option should also exist for `tkn clustertask start`.

It can be implemented in a similar way to how `tkn task start` via #714.

### Use case

`--use-taskrun` allows a user to start a ClusterTask using the run time values from a previous TaskRun. This is helpful i

[2020-08-20 23:19] danielhelfand opened #1137 "Show Version of Dashboard Component"
### Feature request

I would like to see what version of the dashboard I have installed on my Kubernetes cluster via `tkn`.

### Use case

For reporting issues to dashboard, it would be helpful for users to easily see what version of the dashboard is deployed. It's also a convenient way for users to know what features are available in a particular version of the dashboard.

### UI Example

[code]

[2020-08-21 06:43] vinamra28 commented on #1135
/assign

[2020-08-21 08:07] rudeigerc commented on #1137
/assign

[2020-08-21 16:07] VeereshAradhya opened #1139 "Cancelling a pipelinerun which failed with `Failed(Cancelled)` gives success message"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
`tkn` should throw error

# Actual Behavior
`tkn` is show

[2020-08-24 05:46] #1133 closed

[2020-08-24 08:05] kameshsampath opened #1140 "tkn fails when parsing options with spaces as delimentr"
# Versions and Operating System

- Kubernetes version:

[code]

- Tekton Pipeline version:

[code]

- Operating System:

[code]

# Expected Behavior

When running a `tkn` task like

[code]
Its expected to parse the ARGS with *space* as the value for options e.g. `--annotation skupper.io/target=greeter.hybrid-demo`

# Actual Behavior

But the values of the options are passed as extra arugments, res

[2020-08-24 15:50] piyush-garg commented on #782
/remove-lifecycle rotten

[2020-08-24 16:16] piyush-garg commented on #1086
/assign

[2020-08-24 16:16] piyush-garg commented on #1083
/assign

[2020-08-24 19:42] danielhelfand commented on #1119
@afrittoli Whenever you have a chance, could you see if the if the changes from #1134 address this?

[2020-08-25 14:02] #1045 closed

[2020-08-25 14:26] vinamra28 commented on #1048
@chetan-rns needs this urgently so taking this from you :sweat_smile:
/assign

[2020-08-25 16:04] #1083 closed

[2020-08-25 16:04] #1086 closed

[2020-08-25 16:39] nikhil-thomas opened #1143 "Show only CLI and Pipeline version in `tkn version` when Triggers and/or Dashboard are not installed"
At present, the `tkn version` displays `Unknown` for Triggers version even when they are not installed.

[code]
With this patch S[how the version of dashboard #1138](https://github.com/tektoncd/cli/pull/1138) `Dashboard: unknown` will start to appear if the components are not installed. Especially, with OpenShift `Dashboard: unknown` will be almost always the case, as there is a inbuilt webui for

[2020-08-25 16:45] vdemeester commented on #1143
I vote for hiding versions of components that we can't "find" :upside_down_face:

[2020-08-25 16:46] vdemeester commented on #1143
@danielhelfand adding this to 0.12.0 to make sure we discuss this before the release :wink:

[2020-08-25 16:52] Divyansh42 commented on #1143
/assign

[2020-08-25 17:03] chetan-rns commented on #1048
@vinamra28 No issues :) I was actually waiting for your PR to get merged since the functions used in tasks/taskruns can be reused here

[2020-08-25 23:40] danielhelfand commented on #1143
Yes, I think hiding the versions if not installed makes a lot of sense. The argument could even be made for hiding pipelines version as well, but hiding Triggers and similarly the Dashboard version as you pointed out in #1138 I think would be better presentation.

[2020-08-26 04:23] #1065 closed

[2020-08-26 10:15] #1048 closed

[2020-08-26 15:49] piyush-garg opened #1145 "Move from pipeline builders to structs"
Right now, in CLI unit tests and probably e2e test also, pipeline builders are getting used to create test data. Pipeline builders have been marked deprecated and now with the merge of PR https://github.com/tektoncd/pipeline/pull/3124 they will get removed.

As it happens and we bump the pipeline dependency in CLI to that pipeline version, it may break all our tests. Possible solutions to go forwa

[2020-08-26 16:09] danielhelfand commented on #769
Closing for now as #505 has been merged, we have added e2e testing capabilities for both pipelines/triggers, and have begun asking for e2e tests are part of adding new features/addressing bugs.

Our goal moving forward should be to maintain/improve tests and continue building out coverage.

[2020-08-26 16:12] #769 closed

[2020-08-27 10:56] #1095 closed

[2020-08-27 15:44] VeereshAradhya opened #1146 "Logs of regular taskruns appear after logs of finally tasksruns"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
Logs of regular taskruns should appear before logs of fin

[2020-08-28 16:05] PuneetPunamiya commented on #1139
/assign

[2020-09-02 07:41] chmouel commented on #1143
With the addition of dashboard, I would really love to have this, the `tkn version`is becoming busier and busier

[2020-09-02 08:17] #1137 closed

[2020-09-02 09:02] pradeepitm12 commented on #1146
/assign

[2020-09-02 16:32] danielhelfand opened #1150 "v1beta1 and v1alpha1 e2e Tests"
Currently, we only use `v1alpha1` resources for e2e testing. The main reasoning for doing this currently is that we run all tests on a Kubernetes cluster with Tekton `v0.10` installed since it is the highest version with only `v1alpha1` resources available. We need to come up with an approach that allows for testing to be developed that supports both `v1alpha1` and `v1beta1` resources.

The simple

[2020-09-02 18:52] coryrc opened #1151 "Something to help diagnose TaskRuns stuck pending due to PVC"
### Feature request

Indicate why TaskRuns are stuck Pending status when PVCs cannot be bound.

### Use case

Getting PVCs configured the first time is hard. My TaskRun pod get stuck with things like `message: pod has unbound immediate PersistentVolumeClaims (repeated 25 times)` (from `kubectl get pod -o yaml`) but there's no indication in `tkn tr describe` about that.

### UI Example

I think und

[2020-09-07 09:46] chmouel opened #1153 "Slow `tkn` operation"
# Versions and Operating System

- Kubernetes version:

OpenShift 4.6

- Tekton Pipeline version:

nightly

- Operating System:

OSX

# Actual Behavior

`tkn pipeline ls` has been feeling very slow, the released or nightly version :

i.e over 11s for a simple `tkn p ls` :

[code]

or even longer for a `tkn p describe` :

[code]

It doesn't seem to be a latency since kubectl operation takes even le

[2020-09-07 11:17] chmouel commented on #1153
Pinpointed the problem when listing the pipelineruns, i.e: adding timestampping around :

https://github.com/chmouel/tektoncd-cli/blob/master/pkg/pipelinerun/pipelinerun.go#L69-L72

[code]

The results are :

[code]

So basically takes 10s to list the pr of a pipeline and that's for every pipelines...

If i add a new pipeline it takes 11 s more :

[code]

cc @piyush-garg

[2020-09-07 15:47] piyush-garg commented on #1153
/assign

[2020-09-09 10:38] chmouel commented on #1153
After investigation

- it only happens on OpenShift
- different openshift version doesnt seem to change anything (reproduced on 4.4/4.5 and 4.6)
- only happen since tkn cli 0.12.0 :

[code]

[2020-09-09 10:43] chmouel commented on #1153
identified this PR as the offended one : https://github.com/tektoncd/cli/pull/1129/commits

[code]

[2020-09-09 10:55] piyush-garg commented on #1153
This issue is not happening with `tkn version` command, so maybe happening only when querying tekton objects, because in `tkn version` we are querying deployment and that is working fine.

And it is happening with the `client-go` version we are using i.e. 0.17.6 I tried moving back to v0.16.5 and with that it works fine :+1:

[2020-09-09 12:08] chmouel commented on #1153
Tried with latest client-go 0.17.x too and same slowness..

[2020-09-09 16:38] #1053 closed

[2020-09-09 22:20] danielhelfand opened #1155 "Don't Sort TaskRuns/PipelineRuns for tkn tr/pr delete --all"
Currently, the CLI sorts TaskRuns/PipelineRuns even when the `--all` flag is specified with a delete command. If a user is deleting all runs, then the ordering of deletion should not matter and sorting should be skipped to improve performance.

The `allTaskRunNames` func calls `keepTaskRuns` to support the `--keep` option with delete:

https://github.com/tektoncd/cli/blob/1f0312a6f6b25a1b8a3ce8a36

[2020-09-10 11:50] piyush-garg commented on #1042
@pratikjagrut Can we close this issue, seems like the PR is merged

[2020-09-10 14:19] danielhelfand commented on #1042
This was added in v0.12.0. We can close it.

[2020-09-10 14:19] #1042 closed

[2020-09-11 15:40] danielhelfand opened #1160 "golangci-lint 1.31 Updates"
I am using `golangci-lint` 1.31 locally, and there are updates to `gocritic` that need to be addressed for `tkn`:

[code]

These changes should be addressed beforehand to avoid CI issues when plumbing updates golangci-lint to 1.31. The current [version used by plumbing is 1.30](https://github.com/tektoncd/plumbing/blob/405d53e3d79e797fc6017700a4618889a61fe362/tekton/images/test-runner/Dockerfile#L

[2020-09-11 16:42] danielhelfand commented on #1160
/assign

[2020-09-12 03:17] vinamra28 opened #1162 "GenerateName Option for tkn clustertask start"
### Feature request

To maintain the consistency with `tkn pipeline start` and `tkn task start` feature `--prefix-name` should also exist for `tkn clustertask start`.

### Use case

`--prefix-name` flag  will provide an option to allow the user to specify what the `clustertask` should be named at the time of starting.

### UI Example
[code]

/assign

[2020-09-13 00:42] mhaddon opened #1163 "Allow PipelineRuns created by Pipeline Start to embed ownerReference information."
### Feature request

For compatibility with ArgoCD it will need to know the owner of created resources: https://github.com/tektoncd/pipeline/issues/3202

Otherwise they will be automatically pruned.

### Use case

Either as a default for `tkn pipeline start` or `tkn pipeline start --referenceOwner`

[2020-09-14 07:27] #1160 closed

[2020-09-14 08:17] #1155 closed

[2020-09-14 09:32] ppitonak commented on #799
@waveywaves do you have estimate when the rest will be implemented?

[2020-09-14 14:55] piyush-garg opened #1165 "Improve golden file generation functionality"
Right now when we hit `make generated` it generates golden files for test scenarios and also updates the already existent files for test scenarios. But if there is some name change in the test name, it generates a new golden file, and the old one becomes redundant and remains there forever.

This function should be improved to remove all golden files and generate new ones so that we don't end with

[2020-09-14 15:34] danielhelfand commented on #1163
I think it makes sense to add an option both for PipelineRuns/TaskRuns. I think the question here is what should the UX look like?

OwnerReferences is a list of owner references, so would it be better to allow a user to specify several as part of a TaskRun/PipelineRun:

[code]

Or possibly define all the owner references via a file definition:

[code]

[2020-09-14 18:03] mhaddon commented on #1163
It could also just be the parent object. For example, the owner of a pipelinerun could be the pipeline.
I am not sure what the preferred solution is, it makes Tekton play nice with ArgoCD though. See the referenced ticket for more information.

[2020-09-14 20:06] danielhelfand commented on #1163
Yes, I see your point. This may be something that can actually take place server side with pipelines. We can keep this open though until there is further clarity on the right approach, and we can follow along with the pipeline issue.

[2020-09-15 08:23] #1153 closed

[2020-09-15 12:09] danielhelfand commented on #1145
Should we break this down into sub tasks by command and keep a check list?

[2020-09-15 15:09] piyush-garg commented on #1145
Let's keep a checklist

 - [ ] Conditions - @danielhelfand
 - [ ] ClusterTask
 - [ ] Pipeline
 - [ ] PipelineRun
 - [ ] Task
 - [ ] TaskRun
 - [ ] Resource

[2020-09-16 07:51] chmouel opened #1169 "Document the --workspace command line switch"
We have a --workspace switch for `tkn * start` command which accept some obscure
argument like :

[code]

or

[code]

but nothing is documented in the `--help` switch

/kind feature
/kind documentation

[2020-09-16 09:15] chmouel opened #1170 "Move goreleaser from tekton/goreleaser.yaml to official catalog"
We have a release task in [tekton/goreleaser.yaml](https://github.com/tektoncd/cli/blob/d5a15bd20aed5627ddee8d504521aca98d7a3a05/tekton/goreleaser.yml) which
could be useful for other people, let's move it to the official catalog and use
that for release.

/kind cleanup

[2020-09-16 09:28] vinamra28 commented on #1170
/assign

[2020-09-16 11:51] chmouel opened #1171 "rpmbuild release task is broken"
Since we removed the pipelineresource in https://github.com/tektoncd/cli/commit/76a1b1c9d2ae12dd0fe5a0b13452dbe1a7986cc6#diff-f5b24a42e8cf17b55a7c62defeb5bdc5L2-L12 we didn't update the rpmbuild task that references it :

https://github.com/tektoncd/cli/blob/d5a15bd2/tekton/rpmbuild/rpmbuild-run.yml#L12-L13

/kind bug

[2020-09-16 11:57] chmouel commented on #1171
/assign

[2020-09-16 12:30] sthaha commented on #1039
/unassign
/assign vdemeester

[2020-09-16 15:31] danielhelfand opened #1174 "Update release.sh to use tkn pipeline start"
Currently, the [release script uses `kubectl`](https://github.com/tektoncd/cli/blob/ef620e0bbff28c68d6ae6decfe531d4763aa51b3/tekton/release.sh#L144) to create a PipelineRun for releasing `tkn`. We should have all the features in `tkn` to support using `tkn pipeline start`, and this will also help with dogfooding efforts for the project.

The command should be something like the following:
[code]

[2020-09-16 16:00] #1112 closed

[2020-09-16 16:06] danielhelfand opened #1175 "Add tkn Logo to README"
We should make use of the [logo created for `tkn`](https://github.com/cdfoundation/foundation/issues/147) by CDF.

The artwork is available [here](https://github.com/cdfoundation/artwork/tree/main/tekton/additional-artwork/tekton-cli). It would be nice to add this to the top of the README.

[2020-09-16 16:11] bartkalanski commented on #1175
Would you mind if I do this ?

[2020-09-16 16:16] danielhelfand commented on #1175
@bartkalanski That would be awesome. Thank you! I'll go ahead and assign you. For reference, the [triggers project](https://github.com/tektoncd/triggers#tekton-triggers) has done something similar to this, but we're open to suggestions on however you would like to approach this.

/assign @bartkalansk

[2020-09-16 17:16] danielhelfand commented on #1175
Closing from #1176

[2020-09-16 17:16] #1175 closed

[2020-09-17 12:48] danielhelfand commented on #1169
Dupe of https://github.com/tektoncd/cli/issues/895. I'll close it in favor of this, but agree that better examples/descriptions should be provided.

[2020-09-17 12:48] #895 closed

[2020-09-17 13:34] #1171 closed

[2020-09-18 14:22] danielhelfand commented on #1145
I am wondering if the proper approach for this issue would be to eventually only support one version of the Tekton API (`v1beta1`) and remove `v1alpha1` tests all together. We would obviously not be able to do this immediately and should give warning to users. There would also need to be some research in to how well `v1beta1` tests are aligned with `v1alpha1` testing.

[2020-09-18 16:32] vdemeester commented on #1145
/reopen
Didn't meant to close it in #1177 :sweat_smile:

[2020-09-18 20:12] danielhelfand opened #1180 "Prompts for Required Params Skipped if at Least One -p Value is Specified with task start Command"
# Versions and Operating System

- Kubernetes version:

N/A

- Tekton Pipeline version:

[code]

- Operating System:

[code]

# Expected Behavior

If a Task param is defined for a Task with no default value, that param is not specified by a user via `tkn task start`, and the user is not using the `--use-param-defaults` option, there should be a prompt while starting a Task to specify a value for t

[2020-09-18 20:24] piyush-garg opened #1181 "Bump to pipeline v0.16.3 and triggers v0.8.1"
Bump the vendor dependencies of tektoncd/pipeline v0.16.3 and tektoncd/triggers v0.8.1

/assign

[2020-09-18 22:07] #1162 closed

[2020-09-22 20:37] danielhelfand commented on #1030
Since EventListeners now support multiple replicas, I was wondering if there were any thoughts on the UX of this feature as far as how to stream the logs of multiple pods?

Should it be something similar to [`kail -d`](https://github.com/boz/kail) for deployment logs?

Or something even simpler like the following with perhaps some kind of line tail option to control how many most recent log lines

[2020-09-23 14:12] vdemeester commented on #1146
@pradeepitm12 what is the status here ?

[2020-09-23 14:51] dibyom commented on #1030
Good question. The `kail` approach would be excellent to have (especially for tailing logs) though the second one might be an easier way to get started on this feature?

[2020-09-23 15:53] vdemeester commented on #1181
/assign

[2020-09-28 18:27] #1139 closed

[2020-09-28 18:43] danielhelfand opened #1188 "Refactor PipelineRun and TaskRun Cancel to Handle Cancelling Already Completed Run Using Status"
As described in #1185, in the case where a PipelineRun or TaskRun has already completed, `cancel` commands should display an error instead stating the run can't be cancelled since it has completed (either by success or failure). Instead of using the current validation approaches for [PipelineRun](https://github.com/tektoncd/cli/blob/7168e571b304ed9715562054f88b1d37fbe2d5a2/pkg/cmd/pipelinerun/canc

[2020-09-29 03:57] #1143 closed

[2020-09-29 12:55] #1181 closed

[2020-09-29 16:29] #1111 closed

[2020-09-29 20:48] danielhelfand opened #1193 "v0.10 e2e Tests Not Running Version v0.10 of Pipelines"
As discovered in #1189, it seems that e2e tests that test features not supported in v0.10.2 (e.g., finally logs, volumeclaimtemplates) are [running and succeeding in v0.10 e2e tests](https://github.com/tektoncd/cli/pull/1189#discussion_r496360628). There is nothing in logs to show what versions of pipeline is being used, so part of closing this issue should be to add something to the e2e process t

[2020-09-30 06:58] vdemeester commented on #1193
/kind bug

[2020-09-30 07:09] vdemeester commented on #1193
@danielhelfand I think I know what happened, it's *relatively* recent (a month or so…). The commit culprit is https://github.com/tektoncd/plumbing/commit/b1c211c7ec3ff33c39ff02792400a33052f1e62f#diff-406185368ba7839d1459d3d51424f104 (and me :stuck_out_tongue_closed_eyes:). I forgot to add the environment variable back..

[code]

[2020-09-30 07:10] vdemeester commented on #1193
/assign

[2020-09-30 10:08] #1135 closed

[2020-09-30 15:23] danielhelfand commented on #1170
I think we should probably keep this open until we change `release.sh` to use the catalog Task, right?

[2020-09-30 15:30] vinamra28 commented on #1170
ohh....so sorry :sweat_smile:

[2020-09-30 15:33] danielhelfand commented on #1170
@vinamra28 No worries. We can convert process and close this after v0.13.0 is released.

[2020-10-01 16:13] danielhelfand opened #1195 "Consolidate Release Documentation Under Single Doc"
Currently, information about the release process is partially documented under the [`/tekton` folder README](https://github.com/tektoncd/cli/tree/5ac620e70c63379fbc3c6721e0c7304e5d759650/tekton) and partially under [`RELEASE_PROCESS.md`](https://github.com/tektoncd/cli/blob/5ac620e70c63379fbc3c6721e0c7304e5d759650/RELEASE_PROCESS.md). When going through the release process for `tkn`, I very often

[2020-10-06 12:56] danielhelfand opened #1199 "Automate Release Process via Tekton or Prow"
As of now, the release process for the CLI is carried out manually by executing a [release script](https://github.com/tektoncd/cli/blob/763657b92d6e9fe681ae56e28719ece75739ac29/tekton/release.sh) locally and following these [instructions](https://github.com/tektoncd/cli/blob/763657b92d6e9fe681ae56e28719ece75739ac29/RELEASE_PROCESS.md).

Similar to what was accomplished in https://github.com/tekton

[2020-10-07 06:26] #1195 closed

[2020-10-07 18:50] danielhelfand commented on #1193
I am still seeing in recent prs that all tests are running against v0.10. If it is the case that these tests are running against a v0.10 pipelines, then certain tests should be skipped or fail.

[2020-10-12 08:13] Divyansh42 commented on #1113
Fixed in https://github.com/tektoncd/cli/pull/1190

[2020-10-12 08:13] #1113 closed

[2020-10-12 11:01] PuneetPunamiya commented on #1070
@anshulvermapatel  Have you started working on this issue ??

[2020-10-12 12:08] VeereshAradhya opened #1200 "Using a cancelled taskrun/pipelinerun for the tag --use-taskrun/--use-pipelinerun sets the status of newly created taskrun/pipelinerun to cancelled"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
The taskrun/pipelinerun should start and completed succes

[2020-10-12 19:28] danielhelfand opened #1202 "Unit Test Failures with go 1.15"
The following issues occur when running `tkn` unit tests using go 1.15:

[code]

Main issue appears to be the quotations used in the new error from `time.ParseDuration()`.

[2020-10-13 16:32] #1200 closed

[2020-10-14 08:52] anshulvermapatel commented on #1070
@PuneetPunamiya @vinamra28 , I apologize guys for ignoring this as I was really busy on some real personal issues.
I am starting the work on this. I will keep you updated.

[2020-10-14 15:11] danielhelfand commented on #1119
In rethinking this over, it makes more sense in my mind to add support for a `taskrun`/`pipelinerun` rerun command. Given how task/pipeline start are very focused around passing the name arg, it might be simpler and also align better with our current structure to support what is outlined in #1091.

[2020-10-14 15:12] danielhelfand commented on #1091
I think this makes sense to move forward with, but we should probably just formally discuss this in the working group next week to make sure folks are onboard with it.

[2020-10-16 22:48] #798 closed

[2020-10-19 18:28] piyush-garg opened #1204 "tkn pr describe failing with spec having conditions"
# Versions and Operating System

- Kubernetes version:

[code]

- Tekton Pipeline version:

[code]

- Operating System:

[code]

# Expected Behavior

tkn pr desc command should work.

# Actual Behavior

tkn pr desc command failing

[code]

# Steps to Reproduce the Problem

1. Create a Pipeline with 2 tasks (one normal task and one with condition task) and the conditioned task should run after norm

[2020-10-19 19:43] danielhelfand commented on #1204
In debugging this, I am seeing the TaskRun (pipelinerun-fail-success-) come back with a nil status and is experiencing the panic [here](https://github.com/tektoncd/cli/blob/62784644bb602875ddcbea4667f8b294aa257ec3/pkg/pipelinerun/description/description.go#L217). This is similar to #910.

[2020-10-19 22:02] danielhelfand opened #1206 "EventListener Logs e2e Tests Failing"
# Expected Behavior

e2e tests associated with EventListener logs should pass.

# Actual Behavior

Tests are failing due to updates in the format of the logs:

Expecting:
[code]

Actual:
It looks like timestamps for each log line were added in the most recent triggers release, which is causing the [tests' assertions](https://github.com/tektoncd/cli/blob/62784644bb602875ddcbea4667f8b294aa257ec3/tes

[2020-10-20 06:27] #1206 closed

[2020-10-20 07:57] #1204 closed

[2020-10-20 08:15] #1188 closed

[2020-10-20 12:37] danielhelfand commented on #782
Related to #1087 and might be nice to look into solving with supporting this.

[2020-10-20 12:44] danielhelfand commented on #619
It seems we added an environment variable in #1152 to disable color/emojis throughout `tkn`. Only thing left might be to document this somewhere/share https://no-color.org/ docs. User just needs to set environment variable `NO_COLOR` to anything.

[2020-10-20 12:56] danielhelfand commented on #1091
Personal preference would be to have this implemented for `taskrun`/`pipelinerun` commands. `restart` sounds good to me as a subcommand name. My thought is that should be as simple as providing a name arg (name of TaskRun or PipelineRun) to the command, get the previous run, build a new run by adding the spec of the previous run, and then come up with a naming strategy for renaming the new run tha

[2020-10-20 15:13] didier-durand opened #1212 "--kubeconfig for tkn versionn"
Hi there,
"tkn version" does not allow the --kubeconfig parameter as other tkn command do.

For example, with Microk8s on my Mac, I would like to be able to specify --kubeconfig to route the version check of pippeline component to the K8s-hosting VM installed by MicroK8s

Currently, I get this the following:

_"Client version: 0.13.0
Pipeline version: unknown, pipeline controller may be installed

[2020-10-20 15:34] danielhelfand commented on #605
All prs needed to close this issue should be open. Once they are merged, this can be closed.

[2020-10-20 19:19] danielhelfand commented on #1212
Sure, it makes sense to add `--kubeconfig` to `tkn version`. There is a slight conflict that we may need to work out though. Since version features a `--check` option with the shorthand `-c`, it conflicts with another flag that is part of the global flags every command except version has.

The global flags include `--context`, which also has a `-c` shorthand, so we would need to work out how to pr

[2020-10-21 04:11] didier-durand commented on #1212
@danielhelfand : thanks for the quick feedback and the details! I'll be happy to be among the first testers when ready: just ping me when you pushed it. Best, Didier

[2020-10-21 17:12] VeereshAradhya opened #1216 "For a cancelled piprlinerun `tkn pr describe <pr-name>` shows only one taskrun as cancelled in message section"
# Versions and Operating System

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

- Tekton Pipeline version:

  **Output of `tkn version` or `kubectl get pods -n tekton-pipelines -l app=tekton-pipelines-controller -o=jsonpath='{.items[0].metadata.labels.version}'`**

[code]

- Operating System:

[code]

# Expected Behavior
for a cancelled pipelinerun `tkn pr describe <pr-name>` s

[2020-10-21 18:41] danielhelfand commented on #605
Closing this since all related prs are in.

[2020-10-21 18:41] #605 closed

[2020-10-22 03:19] #1202 closed

[2020-10-22 11:51] PuneetPunamiya commented on #1216
/assign @pratap0007

[2020-10-22 11:52] piyush-garg commented on #1165
/assign @vdemeester

[2020-10-26 15:40] #619 closed

[2020-10-26 15:43] chmouel opened #1219 "British spelling of of Colour to the american one Colour"
The british spelling of colour in CLI has bring some confusions (ie: #992) and since most other kubernetes tools used the american spelling we need to think how to handle it.

We can't just replace everything from colour to color since we could break quite a bit of scripts.

My proposal :

1) Add an alias from colour to color
2) Use color as the only documented way
3) Keep --nocolour for the exist

[2020-10-26 16:34] markito opened #1220 "Provide a tkn command to export a pipeline without K8s metadata to be used for version control"
### Feature request

As a user building my pipeline using the vscode plugin or any UI I'd like to export the pipeline using the tkn CLI and store it on Git for version control without the metadata k8s add to the yaml.

[2020-10-26 19:25] danielhelfand commented on #1220
I guess the question comes down to what this currently looks like with `kubectl` and whether it would be worth abstracting to make it simpler through `tkn`.

Also, to clarify what the UX would look like, is the thought to just get the resource definitions from Kubernetes as output and be able to save to a local file?

[code]

Or is it something else?

[2020-10-26 20:10] markito commented on #1220
That's right.  As far as UX I'd expect something similar to what's available for `kn` - The Knative CLI today, modulo the differences between both tools.  In Knative we had to deal with revisions and make sure developers had an option to not export them for example.

The end goal IMO is that I can export this pipeline from my environment A and import it on environment B and "it just works".  Which

[2020-10-26 22:58] nishpa214 commented on #1097
@Shivkumar13 @piyush-garg Can I help w/ this one? @Shivkumar13  if you started already, we can pair and split up work. If not, I can take this one also.

[2020-10-27 13:08] piyush-garg opened #1222 "Support for when expressions"
### Feature request

We need to add support for the new feature - When Expressions in the Cli and also deprecate the conditions along with this.

The new feature we can target is

 - Support in pipeline/pipeleinrun describe commands
 - Support in pipeline/pipeleinrun logs commands.

Feel free to add other things related to this